﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CategoryViewModel
@{
    //var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    //var path = PortalAgent.CurrentPortal.MediaServerUrl;
    //string image = Model.Attributes.FirstOrDefault(x => x.AttributeCode == "CategoryImage").AttributeValues;
    //var CatImage = path + image;
    string HomeCategoryImage = PortalAgent.CurrentPortal.MediaServerUrl + Model.Attributes?.Value("HomeCategoryImage");
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="item b2b-categories">
    <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)">
        <img data-test-selector="imgCategoryImage" id="@Model.CategoryId" src="@HomeCategoryImage" alt="@Html.RenderBlock(Model.Attributes.Value("Categorydisplayname"))" class="img-fluid" data-src="@HomeCategoryImage" />
        <span data-test-selector="lblCategoryName">@Html.RenderBlock(Model.Attributes.Value("Categorydisplayname"))<br /><span class="datenew">@Html.RenderBlock(Attributes.Value(Model.Attributes, "PromoText"))</span></span>
        @*<p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "PromoText"))</p>*@
    </a>
</div>
