﻿@using Znode.Engine.WebStore.ViewModels

@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<ul class="nav navbar-nav" style="height:20px;">
    @*<li class="nav-home"><a href="/" title="Home" data-test-selector="linkZfHome"><i class="zf-home"></i></a></li>*@
    @{
        foreach (var category in Model.Categories)
        {
            var displayName = (category.Attributes?.Value("Categorydisplayname")) != null ? WebUtility.HtmlDecode((category.Attributes?.Value("Categorydisplayname"))) : WebUtility.HtmlDecode(category.CategoryName);
    <li class="dropdown yamm-fw Parent-li">
        <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" data-test-selector="linkCategoryItem" class="Parent-a" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))"><i class="zf-caret-right"></i> @Html.RenderBlock(WebUtility.HtmlDecode(displayName))</a>
        @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
        {
        <ul class="dropdown-menu list-unstyled fadeInUp animated">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <ul class="margin-top-30 set-4">
                            @foreach (var subCategory in category.SubCategoryItems)
                            {
                                <li class="Child-li">
                                    <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList"><i class="zf-arrow-right-small"></i>@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
                                    @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                    {
                                        <ul class="sub-menu-child">
                                            @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-3 text-center">
                        <div class="pull-right mt-4">
                            <a href="#" title="Sale"><img src="../Views/Themes/EquinaviaB2C/Images/nav1.png" data-src="../Views/Themes/EquinaviaB2C/Images/nav1.png" class="img-responsive b-lazy" /></a>
                        </div>
                        <div class="pull-right mt-4">
                            <a href="#" title="Sale"><img src="../Views/Themes/EquinaviaB2C/Images/nav2.png" data-src="../Views/Themes/EquinaviaB2C/Images/nav2.png" class="img-responsive b-lazy" /></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </ul>
            

        }
    </li>
        }
    }
    @*<li><a href="/Blog"><i class="zf-arrow-right-small"></i>@WebStore_Resources.LabelBlog</a></li>*@
</ul>
<script>$('[itemtype = "https://schema.org/SiteNavigationElement"] a').attr("itemprop", "url");</script>