﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BlogNewsCommentViewModel>
@{
    Layout = null;
}
<div class="col-xs-12 nopadding">
    <div class="col-xs-12 nopadding padding-top">
        <div class="col-xs-12 nopadding title margin-bottom">
            <h3>Comments</h3>
        </div>
        @foreach (var blogNewsComment in Model)
            {
            <div class="col-xs-12 nopadding comment-list">
                <div class="comments">
                    <div class="col-xs-12 nopadding comment blog-comment">
                        <div class="col-xs-12 col-sm-2 nopadding comment-info">
                            <div class="col-xs-12 nopadding padding-bottom-10">
                                <strong>@blogNewsComment.UserName</strong>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 nopadding comment-content">
                            <div class="comment-time comment-date-time col-xs-12 nopadding padding-bottom">
                                <p>Created on: @blogNewsComment.CreatedDate.ToDateTimeFormat()</p>
                            </div>
                            <div class="comment-text col-xs-12 nopadding padding-bottom">
                                <p>@blogNewsComment.BlogNewsComment</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

