﻿@using Znode.Engine.WebStore.ViewModels
@model BlogNewsViewModel
@using Znode.Engine.WebStore.Agents
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
    string href = string.Equals(Model.BlogNewsType, @WebStore_Resources.LabelBlog, StringComparison.InvariantCultureIgnoreCase) ? "/blog" : "/news";
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}

<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages blog-news-details">
            <div class="col-xs-12 nopadding wcn-page-title-container">
                <h1>Party Ideas</h1>
                <p class="text-center padding-top-10">@Html.RenderMessage("BlogShortDescription")</p>
            </div>
            <div class="col-xs-12 nopadding">
                @if (!Equals(Model.MediaPath, null))
                {
                    <div class="col-xs-12 nopadding">
                        <img src="@imagePath/@Model.MediaPath" class="img-responsive" data-src="@imagePath/@Model.MediaPath" alt="Image" title="@Model.BlogNewsTitle" />
                    </div>
                }
                else
                {
                    <div class="col-xs-12 nopadding">
                        <img src="@_fileLocation/Images/no-image.png" class="img-responsive" data-src="@imagePath/@Model.MediaPath" alt="Image" title="@Model.BlogNewsTitle" />
                    </div>

                }
                <div class="col-xs-12 nopadding padding-bottom blog-news-date-time">
                    <p>@Model.CreatedDate.ToDateTimeFormat()</p>
                    <div class="pull-right back-btn">
                        <a class="btn-text grey" { onclick="javascript: location.href = '@href';" })><i class="zf-wcn-arrow-left-bold"></i> @WebStore_Resources.ButtonBack</a>
                    </div>
                </div>
                
                <div class="col-xs-12 nopadding padding-bottom">
                    <div id="comments-section" class="success-msg"></div>
                    <div class="col-sm-12 title-container blog-news-title">
                        <h1>@Model.BlogNewsTitle</h1>
                    </div>
                    @if (!string.IsNullOrEmpty(Model?.Tags))
                    {
                        <div class="col-xs-12 nopadding pull-right blog-news-tags"><b>@WebStore_Resources.TextTags:</b> @Model.Tags</div>
                    }
                </div>
                <div class="col-xs-12 nopadding padding-bottom blog-news-text">
                    <p>@Html.RenderBlock(Model.BlogNewsContent)</p>
                </div>
            </div>

            @if (Model.IsAllowGuestComment)
            {
                using (Ajax.BeginForm("SaveComments", "BlogNews", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "BlogNews.prototype.SavedCommentSuccessMessage",
                    UpdateTargetId = "comments-display-section"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("BlogNewsId", Model.BlogNewsId)

                    <div class="col-xs-12 nopadding">
                        <h3>@WebStore_Resources.TextLeaveComment</h3>
                        <div class="col-xs-12 col-sm-6 nopadding">
                            @Html.TextAreaFor(model => model.BlogNewsComment, new { @rows = "10" })
                            @Html.ValidationMessageFor(m => m.BlogNewsComment)
                        </div>
                    </div>
                    <button type="submit" id="submit" class="btn btn-default btn-text red margin-top-10">@WebStore_Resources.ButtonNewComment</button>
                }

                <div id="comments-display-section" class="comments-display-section">
                    @{
                        Html.RenderPartial(@_fileLocation + "/Views/BlogNews/_ComentDisplaySection.cshtml", Model.Comments);
                    }
                </div>
                        }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ajaxStart(function () {
        $("#submit").prop("disabled", true);
    });
    $(document).ajaxStop(function () {
        $("#submit").prop("disabled", false);
    });
</script>