﻿@using Znode.Engine.WebStore.ViewModels
@model BlogNewsListViewModel
@using Znode.Engine.WebStore.Agents

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}

<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages blog-news-list">
            <div class="col-xs-12 nopadding wcn-page-title-container">
                <h1>Party Ideas@*@Model.BlogNewsType*@</h1>
                <p class="text-center padding-top-10">@Html.RenderMessage("BlogShortDescription")</p>
            </div>

            <section class="col-xs-12 nopadding display-flex">
                <div class="side-nav-backdrop"></div>
                <aside id="facets" class="wcn-aside-box side-nav nav-right b2b-side-bar">
                    <button type="button" class="close CloseNav"><span aria-hidden="true">×</span></button>
                    <div id="asideCategoryMenu">
                        <div class="col-xs-12 nopadding">
                            <ul class="wcn-sub-category">
                                <li>
                                    <a href="#" title="Party Ideas"><strong>Party Ideas</strong></a>
                                </li>
                                <li class="aside-category-back">
                                    <a href="/">Back<i class="zf-wcn-arrow-left-bold"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="wcn-category-landing">
                    <div class="col-xs-12 nopadding">
                       @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                        @Html.AntiForgeryToken()
                           if (Model?.BlogNewsList?.Count > 0)
                           {
                            <div class="col-xs-12 nopadding">

                                <ul class="blog-news">
                                    @foreach (var blogNews in Model.BlogNewsList.AsEnumerable().Reverse())
                                    {
                                        <li>
                                            @if (!Equals(blogNews.MediaPath, null))
                                            {
                                                <div class="col-xs-4 col-md-3 nopadding">
                                                    <img src="@imagePath/@blogNews.MediaPath" class="img-responsive" data-src="@imagePath/@blogNews.MediaPath" alt="Image" title="@blogNews.BlogNewsTitle" />
                                                </div>
                                                <div class="col-xs-8 col-md-9 nopadding padding-bottom blog-news-text">
                                                    <div class="col-xs-12 nopadding padding-bottom blog-news-title">
                                                        <h2><a href="@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)" title="@blogNews.BlogNewsTitle">@blogNews.BlogNewsTitle</a></h2>
                                                    </div>
                                                    <div class="col-xs-12 nopadding overview">
                                                        <p>
                                                            <label class="blog-text">@blogNews.BodyOverview</label>
                                                            <button type="button" class="btn btn-default btn-text red" onclick="javascript: location.href = '@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)';">Read More</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-xs-4 col-md-3 nopadding">
                                                    <img src="@_fileLocation/Images/no-image.png" class="img-responsive" data-src="@imagePath/@blogNews.MediaPath" alt="Image" title="@blogNews.BlogNewsTitle" />
                                                </div>
                                                <div class="col-xs-8 col-md-9 nopadding padding-bottom blog-news-text">
                                                    <div class="col-xs-12 nopadding padding-bottom blog-news-title">
                                                        <h2><a href="@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)" title="@blogNews.BlogNewsTitle">@blogNews.BlogNewsTitle</a></h2>
                                                    </div>
                                                    <div class="col-xs-12 nopadding overview">
                                                        <p>
                                                            <label class="blog-text">@blogNews.BodyOverview</label>
                                                            <button type="button" class="btn btn-default btn-text red" onclick="javascript: location.href = '@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)';">Read More</button>
                                                        </p>
                                                    </div>
                                                </div>

                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                           }
                           else
                           {
                            <span>@string.Format(WebStore_Resources.TextForEmptyBlogNewsList, Model.BlogNewsType)</span>
                           }
                       }
                    </div>

                    <div class="col-xs-12 nopadding padding-top-10 wcn-long-description">
                        <p>@Html.RenderMessage("BlogLongDescription")</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>