﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;

@model AccountQuoteViewModel
<div class="col-xs-12 nopadding">
    <div class="d-flex justify-content-between align-items-center">
        <div class="panel-heading">
            <h4 class="panel-title panel-title-edit">@Admin_Resources.LabelQuoteNotes</h4>
        </div>
        <button type="button" class="btn-text btn-text-secondary margin-right-15 margin-top-15 margin-bottom-15" id="Addnote" onclick="Quote.prototype.GetQuoteAdditionalNote()" data-test-selector="btnAdditionalNote">@Admin_Resources.LabelAddOrderNote</button>
    </div>

    <div class="col-sm-12 list-container">
        <div>
            @if ((Model?.OrderNotes?.Count > 0))
            {
                <table class="table table-striped" id="QuoteItems">
                    <thead>
                        <tr>
                            <th>@Admin_Resources.LabelDate</th>
                            <th>@Admin_Resources.LabelUpdatedBy</th>
                            <th>@Admin_Resources.LabelNotes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (OrderNotesViewModel note in Model.OrderNotes)
                        {
                            <tr>
                                <td>
                                    @Html.RenderBlock("<label>" + note.CreatedDate + " </label>")
                                </td>
                                <td>
                                    @Html.RenderBlock("<label>" + note.UserName + " </label>")
                                </td>
                                <td>
                                    @Html.RenderBlock("<label>" + note.Notes + " </label>")
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <div class="col-sm-12 no-record nopadding">
                    <p>@Admin_Resources.NoRecordFoundText</p>
                </div>
            }
        </div>
    </div>
</div>