﻿@model Znode.Engine.Admin.ViewModels.ProfileCatalogListViewModel
@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.LabelAssociateCatalog</h1>
            <div class="pull-right btn-container">
                <button id="cancle-associated-profileCategory" type="button" data-test-selector="linkCancel" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divUnassociatedCatalogListPopup')"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>               
            </div>
        </div>
    </div>
        <div class="col-sm-12 page-container">
            <div id="divAssociatedProfileCatalogsError" class="text-danger" style="display:none">
                <div class="messageBoxContainer error-msg text-center" data-test-selector="valMessageBoxContainer" id="messageBoxContainerId">@Admin_Resources.PleaseSelectAtleastOneRecord</div>
            </div>
            @using (Ajax.BeginForm("GetProfileUnAssociatedCatalogList", "Profiles", new { profileId = Model.ProfileId, portalId = Model.PortalId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(m => m.ProfileId)
            @Html.HiddenFor(m => m.PortalId)
        </div>
    </div>
</div>
<script>
    $('#UnAssociatedProfileCatalogList #grid tbody tr td').click(function (e) {
        e.preventDefault();
        var catalogId = $(this).closest("tr")   // Finds the closest row <tr> 
            .find($("label[data-columnname='PimCatalogId']")).text();     // Gets a descendent with data-columnname="PimCatalogId"         
        Profiles.prototype.AssociateCatalogs(@Model.ProfileId , catalogId);
    });
    
</script>