﻿@import "../_base.scss";

.compare-print{border-bottom:1px solid $base-color-secondary; padding-bottom:6px; margin-bottom:10px;
    a{padding-left:10px;}
}

.compare-product-box {margin:15px 0;border:1px solid $border-bgcolor-default;
    h4{background-color:$base-color-primary;font-size:16px;padding:10px 15px;margin:0;color:$base-color-white;font-family:$base-font-family-bold;margin-bottom:10px;}
    .compare-product{padding:0 10px;}
}

.compare-product-list{border:1px solid $border-bgcolor-default; font-size:11px;float:left; margin-bottom:10px;width:100%;
    img{padding:5px;}
    .remove-compare{position:absolute;top:-10px;right:-10px;color:$base-color-primary;opacity:1;font-size:15px;}
    p{margin:5px 0;}
}
.product-compare-list{padding-left:8px; padding-right:8px;
        .form-group{float:left; width:100%; margin-bottom:10px;}
        .product-item{border:1px solid $border-bgcolor-default;padding:10px 5px;
            label{color:$base-color-primary;}
            img{margin:0 auto;}
            .remove-compare{position:absolute;top:-12px; right:-12px;color:$base-color-primary;opacity:1;font-size:18px;}
        }
        .zf-inactive, .zf-close{color:$error-msg-fgcolor;}
        .zf-active, .zf-ok{color:$success-msg-fgcolor;}
        .zf-file-text{font-size:32px;}
        .product-variants{padding:0;margin:0;border:1px solid $border-bgcolor-default;
            li{list-style:none;padding:3px 5px;border-bottom:1px solid $border-bgcolor-default;}
            li:nth-last-child(1){border-bottom:0;}
        }
        .btn-text{font-weight:normal;}
       
} 
// Media Query
@include screensize(x-small) { 
    .compare-all{padding:0 15px;}
}
@include screensize(small) { 
    .compare-all{padding:0;}
}
@media print{
.product-compare-list .product-item .remove-compare, .btn-text-full, .header .header-link-contain, .header .header-local-container, .compare-print, .header .header-nav-container .navbar-toggle, bl {display:none !important;}
.product-compare-list .product-item {padding:10px; margin:0 0 20px;}
html, body {font-size:20px;}
.product-compare-list {float:none; width:100%; display:block; padding:0;}
header, .header .header-logo {display:none!important;}
.header {height:100px !important; margin:0 0 15px;}
}