﻿@import "../_base.scss";

.panel-heading .accordion-toggle:after {font-family: $znode-icon-font;content:"\e924";float: right;color:$base-color-black;font-size:12px;}
.panel-heading .accordion-toggle.collapsed:after {font-family: $znode-icon-font;content:"\e925";color:$base-color-black;font-size:12px;vertical-align:middle;}
.panel-heading .accordion-toggle.collapsed{color:$base-color-black;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-weight:$base-font-normal;}

.wcn-aside-box {
    .close{position:absolute;top:0;right:0;z-index:1;background-color:$base-color-primary;height:25px;width:25px;opacity:1;color:$base-color-white;}
    .narrow-results-pane{margin-top:1px;float:left;width:100%;
        .product-grid .list-group{margin-bottom:0;}
    }
    .wcn-filters-panel{border:none;border-top:1px solid $border-bgcolor-default;border-bottom:1px solid $border-bgcolor-default;border-radius: 0;box-shadow:none;
        .filters-heading{background:none;}
        span{color:$base-color-black;font-size:$base-font-size + 4;cursor:pointer;line-height:26px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
        .filter-list{
            .filter-item{border:1px solid $border-bgcolor-default;display:inline-block;line-height:19px;padding:7px 5px;}
        }
    }
    .wcn-facet-panel{box-shadow:none;border-radius:0;border:0;
            .panel-heading{padding:0;background:$base-color-white;border-bottom:1px solid $border-bgcolor-default;
                   h4{color:$base-color-black;font-size:18px;padding:15px;cursor:pointer;line-height:26px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
            }
            .panel-body{border-bottom:1px solid $border-bgcolor-default;border-top:0 !important;padding:10px 5px;max-height:195px;overflow:auto;}
    }
    
    .filter-list{padding:0;margin:0;
        li{list-style:none;line-height:30px;
           h4{font-size:16px;font-family:$base-font-family-bold;}
           label{line-height:22px;font-size:16px;font-weight:normal;width:fit-content;width:-moz-fit-content;width:intrinsic;margin-bottom:0;}
        }
        li.filter-item{padding:0 5px;border-radius:4px;color:$base-color-secondary;cursor:pointer;margin:5px 2px 0 0;
                &:hover label{text-decoration:line-through !important;color:$base-color-primary;}
                i{font-size:8px;margin:5px;color:$base-color-black;display:inline-block;vertical-align:top;}
                &:hover i{color:$base-color-primary;}
                label{font-weight:normal;max-width:88%;vertical-align:top;line-height:18px;}
        }
    }
    .clear-filter{cursor:pointer;display:block;text-align:right;margin-top:5px;
                  i{font-size:8px;margin:0 5px;color:$base-color-primary;vertical-align:middle}
    }
}

//  Facets side panel
.side-nav{height:100vh;width:300px;position:fixed;z-index:1050;top:0;transition:0.5s;overflow-x:hidden;background-color:$base-color-white;}
.side-nav-backdrop{position:fixed;top:0;left:0;width:100%;height:100%;opacity:0.4;display:none;z-index:1042;background:$base-color-black;}

.nav-right{
    right:-300px;
}
.navOpen{right:0;}


.b2b-filtered-list{padding:0 10px;
    h4{font-size:$base-font-size + 2;margin-bottom:0;padding-right:10px;line-height:1;margin-top:5px;}
    .b2b-filter-items{padding:3px 0 3px 5px;align-items:center;margin-right:5px;margin-top:5px;
        h4{font-size:$base-font-size;margin-top:0;padding-right:0;}
        .filter-item{line-height:1;align-items:center;margin-left:auto;
            label{margin-bottom:0;padding:0 5px;text-transform:uppercase;font-size:$base-font-size - 1;height:14px;}
            span{margin-right:5px;cursor:pointer;}
        }
    }
    .clear-filter{margin-top:5px;font-size:$base-font-size - 2;}
}

//Media Query
@include screensize(x-small) {
    .side-bar .narrow-results{display:block;padding:6px 0;font-size:16px;color:$base-color-white;position:absolute;top:-70px;right:15px;z-index:999;
           &:after{content:"\f107";float:right;font-family:$znode-icon-font;padding-left:5px;line-height:24px;}
           &.collapsed:after{content:"\f105";}
    }
    .side-bar{padding-left:15px;}
}
@include screensize(small) {
    .side-bar .narrow-results{display:none;}
    .side-bar{padding-left:0;padding-right:0;
         .filter-list li.filter-item label{max-width:85%;}
    }
}
@include screensize(medium) {
    .side-bar{padding-left:0;padding-right:15px;
        .filter-list li.filter-item label{max-width:88%;}
    }
     .wcn-aside-box .close{display:none;}
    //  Facet side panel
    .b2b-side-bar.side-nav{position:relative;height:auto;z-index:auto;right:0;}
}