﻿@import "../_base.scss";

.hawk-searchQuery{background:$base-color-white;-webkit-overflow-scrolling:touch;position:fixed;display:none;margin:5px 0 0 0;border:1px solid #AAAAAA !important;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 4px 1px rgba(50,50,50,0.25); box-shadow:0 0 4px 1px rgba(50,50,50,0.25);z-index:999999;text-align:left;top:50px !important;
    .hawk-sqHeader{padding:5px;color:#646669;font-weight:bold;background:#d9d9d9;}
    .hawk-sqContent{margin:0;padding:0;list-style-type:none;
        .hawk-sqItem{position:relative;display:block;margin:0;padding:6px 10px;text-decoration:none;border:1px solid #fff;cursor:pointer;zoom:1;float:left;width:100%;background-color:$base-color-white;
            &:hover{border-color:#8b2300;}
            .hawk-sqItemName{display:block;margin:0;font-family:$base-font-family;font-size:1em;border:0;line-height:1.35;}
            .hawk-sqItemImage{display:inline;float:left;width:70px;height:auto;margin:0;text-align:center;
                .hawk-sqItemImage-thumb{max-width:70px;max-height:70px;}
            }
            .hawk-sqItemContent{display:block;margin-left:80px;}
        }
        .hawk-sqItemAlt{background-color:#f3f3f3;}
    }
    .hawk-sqFooter{padding:5px;background:#d9d9d9;
        a{display:inline-block;padding:1px 25px 0 0;color:#374351;font-size:0.875em;font-family:$base-font-family-bold;text-decoration:none;}
        div{display:none;}
    }
}