﻿@import "../_base.scss";

.product-list-widget{
    .product-item{margin:5px auto 10px;max-width:263px;position:relative;}
    .view-item{border:1px solid $base-color-white;padding:15px 10px;
        &:hover{
            .item-error-msg{background:rgba(0,0,0,0.2);}
            .btn-quick-view{display:inline-table;}
        }
        .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-family:$base-font-family-bold;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
        }
    }
    .product-img{
        .image{height:auto;width:100%;}
        img{margin:0 auto;max-height:220px;}
        .new-product-tag{position:absolute; top:5px; right:5px;z-index:99;width:40px;height:40px;}
        .btn-quick-view{position:absolute;top:210px;left:34%;font-size:11px;text-transform:uppercase;line-height:27px;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-bold;border-radius:2px;}  
    } 
    .product-details{margin-top:10px;
            h4{font-size:13px;color:#666;line-height:18px;}                     
            .price{margin:5px 0;
                   label{font-size:13px;margin:0;}
            }
            .cut-price{font-size:13px;display:none;}
            a{font-size:12px;}            
    }
    .owl-theme .owl-controls{position:absolute;right:0;text-align:center;top:-56px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{border:1px solid $border-bgcolor-default;border-radius:3px;color:$base-color-primary;height:28px;width:28px;margin:0;line-height:26px;opacity:1;
                &:hover{background-color:$base-color-primary;color:$base-color-white;}
        }
        .owl-buttons .owl-prev{margin-right:5px;}
    }
    .recent-view-items{float:left;width:100%;}
}
#recent-view-products .product-img .image{display:flex;justify-content:center;align-items:center;
    img{max-height:100%;}
}
// Media Query
@include screensize(x-small) {
.product-list-widget .owl-theme .owl-controls{display:none !important;}
#layout-home .product-list-widget {padding:0 5px;}
    .product-grid .product-view .product-item .view-item {padding:0px;
        .product-img{text-align:center;}
    .category-details{text-align:center;
                      h4{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;color:$text-fgcolor-default;}
    }
 }
    .mobile-padding{padding:0 15px;}
}
@include screensize(xl-small) {
    #recent-view-products .product-img{
        a{float:left;width:100%;}
        .image{height:213px;}
    }
    .product-grid .product-view .product-item .view-item{padding:15px 10px;}
}
@include screensize(small) {
    .product-list-widget .owl-theme .owl-controls{display:block !important;}
    #recent-view-products .product-img .image{height:215px;}
    #layout-home .product-list-widget {padding:0;}
    .product-grid .product-view .product-item .view-item .category-details{text-align:center;}
}
@include screensize(medium) {
    #recent-view-products .product-img .image{height:211px;}
    .mobile-padding{padding:0;}
}
@include screensize(desktop) {
    #recent-view-products .product-img .image{height:190px;}
}