﻿@import "../_base.scss";

/*body.modal-open{overflow:visible;}*/
.popup-container{min-width:310px;min-height:400px;padding:10px; background-color:$base-color-white; border:4px solid $base-color-primary;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%) !important;-webkit-transform:translate(-50%, -50%) !important;-moz-transform:translate(-50%, -50%) !important;
        .close{position:absolute;top:-12px; right:-12px;color:$base-color-primary;opacity:1;background-color:$base-color-primary;border-radius:50px;width:25px;height:25px;line-height:1px;
               i{font-size:12px;color:$base-color-white;text-align:center;line-height:24px;}
        }
}

.quick-view-popup{    
    .product-view-details .image-view{min-height:250px;
            img{max-height:370px;margin:0 auto;}
    }
    .quick-product-img{margin:0 auto;text-align:center;padding:15px 0;max-width:170px;}
    .product-customize{max-height:200px; overflow-y:auto;}
    .product-overview h1 {font-family:$base-font-family-bold;}
    .product-overview h1,.product-overview h2{margin:0 0 5px 0 !important;}
    h1,h2,h3{font-size:20px !important;}
    .btn-card{width:100%;}
    .btn-print{display:none;}
    .product-rating,.product-number-details,.product-short-description,.product-description,.highlight-container,.social-share{display:none;}
    
}

//Media Query
@include screensize(small) {
    .quick-view-popup{
        .modal-dialog{width:600px !important;}
        .product-wishlist{display:none;}
    }
}
@include screensize(medium) {
    .quick-view-popup{
        .modal-dialog{width:900px !important;}
        .product-wishlist{display:block;}
    }    
}
@include screensize(desktop) {
    .quick-view-popup .modal-dialog{width:1024px !important;}
}