﻿@import "../_base.scss";

// Quick-Order Widget
.quick-order-li{position:relative;
    z-widget{display:inline-block;position:relative;}
}
.quick-order-container{position:relative;display:inline-block;}
.quick-order{position:absolute;left:-155px;top:30px; display:none;padding:15px 0;border:1px solid $border-bgcolor-default;width:300px;background-color:$base-color-white;border-radius:4px; -webkit-box-shadow: 5px 5px 15px 0px rgba(52,52,52,0.77);-moz-box-shadow: 5px 5px 15px 0px rgba(52,52,52,0.77);box-shadow: 5px 5px 15px 0px rgba(52,52,52,0.77);
    &:after{content:'';display:block;position:absolute;top:-20px;right:75px;width:0;height:0;border-color: transparent transparent $base-color-white transparent;border-style: solid;border-width: 10px;}
    input[type="text"]{margin-bottom:10px;}
    .close{position:absolute;top:-12px; right:-12px;color:$base-color-primary;opacity:1;background-color:$base-color-primary;border-radius:50px;width:20px;height:20px;text-align:center;line-height:10px;
           i{font-size:9px;color:$base-color-white;line-height:19px;}
    }
    .btn-card,.btn-card {font-family:$base-font-family-bold;}
    .twitter-typeahead{display:block !important;}
}

.quick-order-pad-content{border-top:1px solid $border-bgcolor-default;padding-top:15px;margin-top:5px;
    span{width:100%;}
    .remove-item{line-height:32px;color:$base-color-primary;cursor:pointer;}
}
// Media Query.
@include screensize(x-small) {
    .quick-order-pad{padding:0 15px;}
    .quick-order-pad-content{margin-top:40px;}
    .quick-order-details{padding:0;}
}
@include screensize(small) {
    .quick-order-pad{padding:0;}
    .quick-order-pad-content{margin-top:5px;}
    .quick-order-details{padding:0 15px;}
}