﻿@import "../_base.scss";

footer{position:relative;clear:both;}

.footer-container {color:$text-fgcolor-default;
    .wcn-footer-information {display:block;border-top:1px solid $border-bgcolor-default;
             a:hover{text-decoration:underline;}  
             .join-party a{text-decoration:none;}             
            .wcn-footer-flex{display:-webkit-flex;-webkit-flex-wrap: wrap;display:flex;flex-wrap:wrap;}
            .col-item{float:left;width:20%;padding:20px 0;
                .text-editer-widget{padding-top:10px;}
                h3{font-size:17px;font-family:$base-font-family-bold;}
            }
            .link-panel-widget{padding-top:10px;
                 &.remove-padding{padding-top:0;}
                 li{display:block;padding:2px 0;
                    a{font-size:14px;font-family:$base-font-family;color:$base-color-secondary;}
                    img{display:inline-block;height:27px;width:27px;}
                    span{display:inline-block;padding-left:6px;
                          &:hover{text-decoration:underline;}
                    }
                }
            }
    }
    .header-footer {margin-bottom: 10px; 
        h3 {margin:10px 0;text-transform:uppercase;color:$text-fgcolor-default;font-family:$base-font-family;font-size:$base-font-size + 5;padding-left:5px; }
    }
    .footer-contact p,.footer-contact a{padding-left:5px;}    
    .footer-shop{padding-left:5px; padding-right:5px;
         ul li {width: 100%; display: inline-block; list-style: none; background-color: transparent;padding:0;vertical-align:top;
                    a {padding:0;float:left;text-transform:capitalize;font-size:$base-font-size + 1;
                        &:hover {background-color: transparent;}
                    }
                    .sub-menu{display: none;}
                    i{float: left;}
                    .dropdown-menu{display:none;}
                }
         .navbar-nav{height:auto !important;margin:0;}
    }
    .footer-copyright{border-top:1px solid $border-bgcolor-default;padding:20px 0;
        img{width:45px;}
        .footer-copyright-text {display:inline-block; vertical-align:middle;text-align:center;padding-top:10px;}        
    } 
    
    .wcn-payment-getway{padding:20px 0;text-align:center;
        h6{font-size:17px;}
        .link-panel-widget li{padding:4px;
            img{height:40px;width:auto;}
        } 
    }
       
}

@include screensize(x-small){
    .footer-container {
        .wcn-footer-information {
            .col-item{float:left;width:50%;padding:20px 0;}
        }
        .wcn-payment-getway{
            .link-panel-widget li{
                img{height:30px;width:auto;}
            } 
        }
    }
}

@include screensize(small){
    .footer-container {
        .wcn-footer-information {
            .col-item{float:left;width:20%;padding:20px 0;
                &:last-child{padding-left:15px;}
            }
        }
        .wcn-payment-getway{
            .link-panel-widget li{
                img{height:40px;width:auto;}
            } 
        }
    }
}