﻿@import "../_base.scss";
.header{width:100%;z-index:1042;background-color:$base-color-white;margin:0;position:relative;border-bottom:1px solid $border-bgcolor-default;
    .wcn-header{padding:5px 30px;background-color:$base-color-white;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
    .wcn-logo{float:left;width:26%;
        a{display:inline-block;vertical-align:middle;font-family:$base-font-family-bold;line-height:26px;font-size:$base-font-size + 3;
            &.hidden-xs{margin-left:30px;}
        }
        img{max-height:48px;padding:5px 0;}        
        z-widget{display:inline-block !important;}    
    }    
    .wcn-search{float:left;width:44%;position:relative;}
    .wcn-top-cart{float:left;width:30%;padding-top:10px;
        ul li{display:inline-block;list-style:none;padding-left:24px;float:right;vertical-align:middle;
            a{font-family:$base-font-family-bold;line-height:26px;font-size:$base-font-size + 3;}
            &:last-child{padding-left:0;}
            &.sign-in{
                i{padding-left:4px;vertical-align:middle;
                    &.zf-wcn-close{font-size:8px;}
                }                
                span{font-size:10px;display:block;line-height:12px;text-align:center;}
            } 
            &.cart{
                .zf-wcn-shopping-cart{padding-left:6px;font-size:24px;vertical-align:middle;}
                .zf-arrow-down-small{padding-left:8px;vertical-align:middle;color:transparent;}
                .zf-wcn-close{padding-left:8px;vertical-align:middle;font-size:8px;}
                .cartcount{position:absolute;text-align:center;top:10px;margin-left:-3px;border-radius:50px;font-size:$base-font-size - 5px;;width:14px;height:14px;line-height:14px;}
            }
            &.phone{
                i.zf-wcn-phone{font-size: 24px;vertical-align: middle;cursor:pointer;}
            }
        }
    }   
}
.hide-show {display: none;}
.header.shrink{position:fixed;border-bottom:2px solid $border-bgcolor-default;margin:0;}

// For Home page Right Aside Panel
.wcn-login-panel,.wcn-cart-panel,.wcn-account-panel{z-index:1041;padding-right:0 !important;
    .modal-dialog{float:right;height:100%;height:100vh;width:320px;margin:0;padding-top:100px;overflow-y:auto;overflow-x:hidden;background-color:$base-color-white;border:1px solid $border-bgcolor-default;border-right:0;
        .modal-content{border-radius:0;height:100%;box-shadow:none;border:0;}
    } 
}
.wcn-account-panel .account-menu{border:0;
    li{width:100%;border-bottom:1px solid $border-bgcolor-default;
       i{display:none;}
    }
}
.modal-open{padding-right:0 !important;position:relative;}
.has-modal{padding-right:0 !important;overflow:hidden;position:relative;}
//Media Query
//Mobile
@include screensize(x-small){
    .header{
        .wcn-header{padding:5px;}
        .wcn-logo{width:50%;-webkit-box-ordinal-group:1;-ms-flex-order:1;order:1;
            a{
              img{max-height:40px;max-width:118px;}
            }
            .wcn-nav-button{margin-top:-6px;
                span{font-size:$base-font-size - 4px;position:relative;top:17px;}
                i{display:inline-block;font-size:$base-font-size + 6px;}
            }
        }
        .wcn-search{width:100%;padding:0 10px;-webkit-box-ordinal-group:3;-ms-flex-order:3;order:3;} 
        .wcn-top-cart{width:50%;padding:0;-webkit-box-ordinal-group:2;-ms-flex-order:2;order:2;
             ul li{margin:5px auto 0;padding:0 0 0 5px;
                   &:last-child{float:left;}
                   a{font-size:12px;}
                   &.phone{
                       .visible-xs{width:40px;text-align:center;height:40px;
                            .zf-wcn-phone{font-size:$base-font-size + 6px;}
                            span{font-size:$base-font-size - 5px;position:relative;top:-8px;}
                       }
                   }
                &.sign-in{position:relative;white-space: nowrap;width:75px;overflow: hidden;text-overflow: ellipsis;padding-right:20px;color: $base-color-primary;text-align:center;
                    i{position: absolute;top:8px;right:12px;
                        &.zf-wcn-close{top:10px;}
                    }                
                    span{font-size:$base-font-size - 5px;line-height:12px;}
                } 
            }
            .cart-text{display:none;}
            .cart{margin-top:12px !important;}
        }
    }
}

@include screensize(xl-small){
    .header{
        .wcn-header{padding:5px;}
        .wcn-logo{width:50%;
            a{
               img{max-height:48px;max-width:150px;}
             }
            .wcn-nav-button{
                span{top:14px;}
                i{display:inline-block;font-size:20px;}
            }
       }
        .wcn-search{width:100%;} 
        .wcn-top-cart{width:50%;padding:0;
             ul li{margin:5px auto 0;padding:0 0 0 20px;
                   a{font-size:13px;}
                   &:last-child{float:right;}
                   &.phone{
                       .visible-xs{width:50px;
                            span{top:-7px;}
                       }
                   }
                   &.sign-in{width: auto;padding-right:0;
                    i{padding-left:4px;vertical-align:middle;position:inherit;top:auto;right:auto;
                        &.zf-wcn-close{top:auto;}
                    }                
                    span{font-size:$base-font-size - 4px;}
                } 
             }
             .cart-text{display:none;}
       }
   }
}

//Ipad
@include screensize(small){
.header{
    .wcn-header{padding:5px 20px;}
    .wcn-logo{width:50%;}
    .wcn-search{width:100%;}
    .wcn-top-cart{width:50%;
         ul li{display:inline-block;list-style:none;padding-left:24px;float:right;vertical-align:middle;margin: 12px auto 0;
              a{font-family:$base-font-family-bold;line-height:26px;font-size:$base-font-size + 3;}
              &.sign-in{
                    i{
                        &.zf-wcn-close{font-size:10px;}
                    }
                }
              &.cart{
                    .zf-wcn-close{font-size:10px;}
              }   
         }
    }
}
    .wcn-login-panel,.wcn-cart-panel,.wcn-account-panel{
        .modal-dialog{padding-top:120px;} 
    }
}

//Desktop
@include screensize(medium){
.header{
    .wcn-header{padding:5px 30px;}
    .wcn-logo{width:35%;-webkit-box-ordinal-group:1;-ms-flex-order:1;order:1;}
    .wcn-search{width:30%;padding:0;-webkit-box-ordinal-group:2;-ms-flex-order:2;order:2;}
    .wcn-top-cart{width:35%;-webkit-box-ordinal-group:3;-ms-flex-order:3;order:3;
          ul li{padding-left:15px;padding-right:0;margin:13px auto 0;}
    }
}
 //Desktop Home page right aside panel
    .wcn-login-panel,.wcn-cart-panel,.wcn-account-panel{
        .modal-dialog{padding-top:110px;}
    }
}

@include screensize(desktop){
    .header{
        .wcn-top-cart{
            ul li{padding-left:24px;}
       }
    }
}