﻿.site-search {
    display: flex;
    flex-grow: 0;
    position: initial;

    z-widget {
        height: 100%;
        position: absolute;
        top: 100%;
        width: 98%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    .search-widget {
        padding: 0 10px;
        width: 85%;
        display: flex;
        height: 100%;

        form {
            width: 100%;
            align-self: center;
        }

        input {
            padding-left: 30px;
            height: 28px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        input::placeholder {
            color: $base-tertiary-light;
        }

        .b2b-search-btn {
            padding: 2px 10px;
            position: absolute;
            top: 0;
            background: $base-primary;
            border: 0;
            font-size: $base-font-size - 2;
            color: $white;
            cursor: pointer;
            height: 38px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        .hide-search-btn {
            .search-icon:before {
                display: none !important;
            }
        }

        .b2b-search-btn-icon {
            padding: 2px 10px;
            position: absolute;
            top: 8px;
            z-index: 9;
            font-size: $base-font-size - 2;
            color: $base-tertiary-light;
        }
    }
}

.twitter-typeahead {
    width: 100%;
}

.search-page {

    .header-results-text {
        background-color: #fafafa;
        padding: 10px 15px;
        font-size: 1.4rem;
        font-family: $base-font-family-bold;
        color: #505050;
        margin: 1.5rem 0;
    }

    .nav-tabs {
        padding: 0 1rem;
        margin: 0 -15px 1rem -15px;
        border-bottom: 2px solid $base-primary;

        .nav-item {
            margin-bottom: -2px;
        }
    }

    .nav-tabs > li > a {
        color: #555;
        margin-right: 2px;
        border-radius: 0;
        padding: 0.5rem 3rem;
        background: #fafafa;
        border: 1px solid transparent;
        border-bottom: 2px solid $base-primary;
        text-transform: uppercase;
        font-family: $base-font-family-bold;

        &:hover {
            background-color: transparent;
            border: 1px solid #d4d4d4;
            border-bottom: 2px solid #fff;
        }

        @media only screen and (max-width: 480px) {
            padding: 0.5rem 2rem;
        }
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: $base-primary;
        cursor: default;
        background-color: #fff;
        border: 1px solid #949494;
        border-bottom-color: transparent;
    }
}

.blog-search-list-container {
    .blog-header-results {
        background-color: #fafafa;
        padding: 10px 15px;
        font-size: 1.4rem;
        font-family: $base-font-family-bold;
        color: #505050;
        margin-bottom: 1.5rem;
    }

    .blog-list {
        letter-spacing: 0.04rem;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .blog-title a {
            font-size: 1.4rem;
            font-family: $base-font-family-bold;
        }

        .blog-description {
            font-size: 1.1rem;
            line-height: 1.2;
            margin: 7px 0;
            letter-spacing: 0.2px;
        }

        .blog-seo-url a {
            font-size: 1rem;
        }
    }
}


@include screensize(x-small) {
    .site-search {
        .search-widget {
            padding: 8px 8px 0px 8px;
            width:82%;
        }
    }
    }
@include screensize(xl-small) {
    .site-search {
        .search-widget {
            padding: 0px 10px;
        }
    }
    
    }
    @include screensize(small) {
        .site-search {
            display: block;
            flex-grow: 1;

            z-widget {
                display: flex !important;
                position: relative;
                top: 0;
                width: auto;
                box-shadow: none;
                left: 0;
                transform: translate(0,0);
                padding: 0px 0px 0px 0px;
            }

            .search-widget {
                input {
                    height: 38px;
                }
            }
        }
    }

@include screensize(medium) {
    .site-search .search-widget {

        .b2b-search-btn {
            padding: 0px 15px;
        }
    }
}

    @include screensize(large) {
        .site-search z-widget {
            display: flex !important;
            position: relative;
            top: 0;
            width: auto;
            box-shadow: none;
            left: 0;
            transform: translate(0,0);
            padding: 0px 70px 0px 70px;
        }
    }

    @include screensize(xx-large) {
        .site-search z-widget {
            display: flex !important;
            position: relative;
            top: 0;
            width: auto;
            box-shadow: none;
            left: 0;
            transform: translate(0,0);
            padding: 0px 150px 0px 150px;
        }
    }

    @media only screen and (max-width: 767px) {
        .site-search z-widget {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            height: 34px;
            top: 97%;
            padding: 0px 0px;

            .search-widget {
                height: auto;
                margin-bottom: 3rem;

                .keyboard-icon {
                    display: none !important;
                }

                .b2b-search-btn {
                    padding: 0px 10px;
                }

                input {
                    height: 38px;
                }
            }

            .search-widget-mobile {
                .label-que {
                    width: 80%;
                    margin: 0 auto;
                    font-size: 2rem;
                    font-weight: 600;
                    text-align: center;
                }

                .icon-voice, .icon-scan {
                    display: block;
                    font-size: 4rem !important;
                    margin: 15px 25px;

                    &:before {
                        background-color: #ff6f00;
                        color: #fff;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

