﻿.header-top-color {
    background-color: $base-tertiary-light;
}

.header .nav-header {
    .my-accounts-nav {
        .log-off {
            color: $base-tertiary;
        }
    }

    .b2b-username {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        min-width: 100px;
        line-height: 49px;
        i{font-size:$base-font-size - 6;font-style:normal;}
    }
}

.dropdown-toggle:after {
    display: none !important;
}

header {
    z-index: 1042;
    position: absolute;
    width: 100%;
    top: 0;

    .d-lg-block {
        transition: 0.3s;
    }

    .header {
        max-width: 100%;

        > div {
            position: relative;
        }

        .header-locale-container {
            border-bottom: none;
            background-color: #F0F0F0;
            height: 47px;
            //background: #fafafa url("/Views/Themes/WCN/Images/offer-banner.png") no-repeat center;
            .set-top-info {
                text-decoration: none;
                text-align:center;
                a {
                    color: $text-default;
                    text-decoration: none;
                    margin-right: 15px;
                    text-align: center;
                    color: $text-default;
                    font-family: $base-font-family-bold;

                    span {
                        color: $base-primary;
                    }
                }
            }
        }

        .site-logo {
            display: flex;
            align-items: center;
            flex: 1;
            padding: 6px 0;

            img {
                width: 100%;
                transition: 0.3s;
            }
        }

        .site-search, .header-btn-block, .header-btn-block1 {
            flex: 1;
            justify-content: center;
        }

        .cart-btn-block {
            flex: 1;
            justify-content: center;
        }

        .site-search {
            z-index: 0;
        }

        .hamburger-icon {
            font-size: $base-font-size + 6;
        }

        .cartcount-mobile {
            position: absolute;
            top: 3px;
            /*right: -8px;*/
            font-size: $base-font-size;
            border-radius: 50%;
            line-height: 1;
            color: $base-primary;
            font-family: $base-font-family-bold;
            height: 16px;
            min-width: 16px;
            text-align: center;
            padding: 3px;
        }

        .proxy-login-section {
            background: $base-primary-light;

            .proxy-login {
                color: $white;
            }

            .btn-secondary:hover, .btn-secondary:focus {
                background: $base-primary;
                border-color: $base-primary;
            }
        }

        .site-inventory .icon-scan {
            font-size: 28px;
            color: $white;
        }

        .nav-header {
            line-height: 3.2;
        }

        .dropdown:hover {
            .dropdown-menu {
                display: block;
            }
        }

        .my-accounts-nav {
            left: auto;
            top: 38px;
            border: 0px;
            box-shadow: rgb(204, 204, 204) 0px 0px 6px 2px;
            width: 220px;
            right: 30px;

            .nav-tabs {
                border-bottom: none;
            }


            .dropdown-item {
                line-height: 1.4;
                padding: 0;

                a {
                    line-height: 2.2;
                    width: 100%;
                    padding: 0.25rem 0.8rem;
                    display: inline-block;
                }

                &.active, &:active {
                    background-color: $base-primary;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

.scanvoice {
    display: none;
    background-color: rgb(193, 193, 193);
    height: 100vh;
    position: absolute;
    width: 100vw;
    left: 0px;
    top: 40px;

    .scan-label {
        text-transform: uppercase;
        font-size: 30px;
    }
}

.phone-icon-mobile {
    width: 6%;
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: -12px;
}

.logout-mobile{
    label{color:$base-primary;}
}
.header-btn-txt {
    font-size: $base-font-size - 4;
}

@include screensize(x-small) {
    .main-head {
        padding: 0px 15px 0px 15px;
    }

    header {position:relative;height:110px;
        .header {
            .site-logo img {
                width: 160px;
            }
        }
    }

    header .header .site-search {
        flex: 0;
        display: contents;
    }

    header .header .cart-btn-block {
        flex: 0;
        padding-right: 0;
    }

    header .header .header-btn-block, .header-btn-block1 {
        flex: 0;

        .OpenNav {
            cursor: pointer;
        }
    }

    .account-dropdown {
        display: none;

        .nav-header {
            line-height: 2.2;

            .dropdown-toggle {
                color: $white;
            }
        }

        .header-btn {
            padding: 0 10px;
            width: auto;
            min-width: 175px;
        }
    }

    .dropdown-menu:before {
        content: ' ';
        position: absolute;
        top: -20px;
        right: 15%;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
}

@media screen and (max-width: 991px) {
    .nav-header {
        .dropdown-toggle:after {
            display: none !important;
        }
    }

    header .header .my-accounts-nav {
        left: calc(-100% - 106px);
        top: 60px;
        box-shadow: #888 0px 0px 6px 2px;
        width: 220px;
    }

    .dropdown-menu:before {
        right: 45px;
    }
}

@media screen and (max-width: 480px) {
    header .header .my-accounts-nav {
        left: calc(-100% - 107px);
        top: 50px;
    }
}

@include screensize(xl-small) {
    .main-head {
        padding: 0px 30px;
    }

    header {
        position: absolute;
        height: auto;

        .header {
            .header-locale-container {
                height: 35px;
                line-height: 33px;
            }

            .site-logo img {
                width: 200px;
            }
        }
    }

    
}


@include screensize(small) {
    .main-head {
        padding: 0px 20px;
    }

    header .header .site-search {
        flex: 0;
        display: block;
    }
    
    header .header {
        .site-logo, .header-btn-block, .header-btn-block1, .cart-btn-block {
            flex: inherit;
            margin-left: 20px;
        }

        .site-search {
            flex-grow: 1;
        }
    }

    .header-btn-block {
        width: auto;
        min-width: 0px;
        color: $base-primary;
    }

    .header-btn-block1 {
        width: auto;
        min-width: 0px;
        color: $base-primary;
    }
}

@include screensize(medium) {
    .main-head {
        padding: 5px 0px;
    }

    .header-btn-txt {
        font-family: $base-font-family-bold;
    }

    header {
        .header {
            > div {
                height: auto;
            }

            .site-logo {
                height: 85px;
                /*padding-left: 30px;*/
                img {
                    width: 290px;
                }
            }

            .header-btn-txt {
                font-size: 12px;
            }

            .header-nav-links .header-btn {
                width: auto;
            }

            .cart-btn-block {
                /*padding-right: 50px;*/
            }
        }

    }

    .profile-icon {
        display: none;
    }
}


@include screensize(desktop) {
    .header-btn-block {
        width: auto;
        color: $base-primary;
    }

    .header-btn-block1 {
        width: auto;
        min-width: 55px;
        color: $base-primary;
    }

    header {
        .header {
            .site-logo {
                img {
                    width: 300px;
                }
            }

            .header-btn-txt {
                font-size: $base-font-size;
            }
        }
    }

    .header-btn-block {
        min-width: 85px;
        font-family: $base-font-family-bold;
        margin-right:15px;
    }

    .header-btn-block1 {
        min-width: 40px;
    }
}


@include screensize(x-large) {
    header {
        .header {
           
            .header-btn-txt {
                font-size: $base-font-size;
            }
        }
    }

    .header-btn-block {
        min-width: 100px;
        margin-right:15px;
    }

    .header-btn-block1 {
        min-width: 55px;
    }
}

.view-all-dept {
    font-family: Roboto-Regular;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.75px;
    line-height: 18px;
    color: $base-secondary-light;
    margin-left: 20px;
}

.skip-nav {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:active, &:focus, &:hover {
        left: 7%;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
    }
}
