﻿@model WidgetParameter
@*@Html.OfferBannerControl("_OfferBanner", Model)*@
@{
    string divId = $"home-offer-slider-area_{Model.WidgetKey}";
}
@if (!Equals(Model, null) && Model.CMSMode)
{
    <div class="col-xs-12 nopadding template-term-condition min-height-125">
        <div class="widget-cms-overlay">
        </div>
        <div id="@divId" class="home-offer-slider-area"></div>
        <script>$.ajax({ url: "/Home/OfferBanner?cMSMappingId=" +@Model.CMSMappingId+"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $('#@divId').html(t);});</script>
        <div class="col-xs-12 nopadding overlay-btn-admin">
            <button class='order-lay-button cms-configure-btn btn btn-primary' type='button' onclick='enableOverlays(@Model.CMSMappingId,@Model.WidgetKey);'>CONFIGURE</button>
        </div>
    </div>
}
else
{
    <div id="@divId" class="home-offer-slider-area"></div>
    <script>$.ajax({ url: "/Home/OfferBanner?cMSMappingId=" +@Model.CMSMappingId+"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $('#@divId').html(t);});</script>
}