﻿@model WidgetParameter
@if (HttpContext.Current.Request.QueryString["cmsmode"] == "CMS_MODE")
{
    <div class="widget-cms-overlay">
    </div>
    <button class=' order-lay-button cms-configure-btn btn btn-primary' type='button' onclick='enableOverlays(@Model.CMSMappingId,@Model.WidgetKey);'>CONFIGURE</button>
}

<div id="tagmanager" style="height:0 !important;">
    <script>
        var dataLayer = [];
    </script>
    @Html.TagManager("_TagManager", Model)
</div>
<div id="scripts">
    <script>
        $('head').append($("#tagmanager").html());
        $("#tagmanager").closest('z-widget').remove();
    </script>
</div>
