﻿<nav class="header-nav yamm" role="navigation">
    <div class="navbar-collapse collapse" id="navbar-collapse-nav">
        @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId() }); }
    </div>
</nav>
<script>
    LoadDropDown();
</script>