﻿@model WidgetParameter
@{
    string className = "home-categorylist-area" + @Model.WidgetKey;

}
@if (!Equals(Model, null) && Model.CMSMode)
{
    <div class="template-term-condition">
        <div class="widget-cms-overlay">
        </div>

        <button class='order-lay-button cms-configure-btn btn btn-primary' type='button' onclick='enableOverlays(@Model.CMSMappingId,@Model.WidgetKey);'>CONFIGURE</button>
    </div>
    <div class="col-xs-12 nopadding widget-category-list" >

    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class=@className></div>
    </div>
</div>
<script>$.ajax({ url: "/Home/WidgetCategoryList?cMSMappingId=" +@Model.CMSMappingId+"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $(".@className").html(t);});</script>


@*@if (Model.properties != null)
    {
        string PageType = Model.properties["PageName"].ToString();

        switch (PageType)
        {
            case "WidgetPage":
                @Html.CategoryControl("_HomeCategory", Model)
                break;
            case "SeeMorePage":
                @Html.CategoryControl("_SeeMoreCategory", Model)
                break;
        }

    }
    else
    {
        @Html.CategoryControl("_Category", Model)
    }*@








