﻿@model WidgetParameter
@{
    string className = "home-brandlist-area" + @Model.WidgetKey;
}
@if (HttpContext.Current.Request.QueryString["cmsmode"] == "CMS_MODE")
{
    <div class="widget-cms-overlay">

    </div>
    <button class=' order-lay-button cms-configure-btn btn btn-primary' type='button' onclick='enableOverlays(@Model.CMSMappingId,@Model.WidgetKey);'>CONFIGURE</button>
}
<div class="container-fluid">
    <div class="row">
        @*@Html.BrandControl("_Brand", Model)*@
        <div class=@className></div>
    </div>
</div>
<script>$.ajax({ url: "/Home/WidgetBrandList?cMSMappingId=" +@Model.CMSMappingId +"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey', type: "get" }).done(function (t) { $(".@className").html(t);});</script>
