﻿@model WidgetParameter
@{
    if (TempData["CategoryDetails"] != null)
    {
        TempData["CategoryDetails"] = TempData["CategoryDetails"];
    }
}

@*@Html.CategoryGridControl("_CategoryGrid", Model)*@

<div class="sub-category-content-area"></div>
<script>$(".sub-category-content-area").load("/Search/GetSubCategories?cMSMappingId=" +@Model.CMSMappingId +"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey')</script>

