﻿@model WidgetParameter
@if (!Equals(Model, null) && Model.CMSMode)
{
    <div class="col-xs-12 nopadding template-term-condition min-height-125 margin-top">
        <div class="widget-cms-overlay">
        </div>
        @Html.TextControl("_TemplateContent", Model)
        <div class="col-xs-12 nopadding overlay-btn-admin">
            <button class='order-lay-button cms-configure-btn btn btn-primary' type='button' onclick='enableOverlays(@Model.CMSMappingId,@Model.WidgetKey);'>CONFIGURE</button>
        </div>
    </div>
}
else
{
    @Html.TextControl("_TemplateContent", Model)
}