﻿@using Znode.Engine.WebStore.Agents
@{
    string value =  "windycity";//Convert.ToString(PortalAgent.CurrentPortal.Attributes?.Where(w => w.AttributeCode == "HawkSearchEngineName").Select(s => s.AttributeValue)?.FirstOrDefault());
}
<div class="newsletter-widget">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 input-field">
        @if (value == "nightflyer")
        {
            using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
            {
                <div class="input-group" id="newsletter">
                    @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = "Email" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();">Submit</button>
                    </span>
                </div>
            }
        }
        else
        {
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://windycitynovelties.us17.list-manage.com/subscribe/post?u=765999a870fc9c22a3688c28c&amp;id=0dc7c496b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="input-group" id="newsletter">
                            <input type="text" value="" name="EMAIL" class="required" placeholder="Email" id="mce-EMAIL">
                            <span class="input-group-btn">
                                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" onclick="WCNHome.prototype.WCNValidationForEmailID();" class="btn btn-default">Subscribe</button>
                            </span>
                            <input type="text" name="b_765999a870fc9c22a3688c28c_0dc7c496b0" tabindex="-1" value="" style="display:none;">
                        </div>
                        <div id="mce-responses" class="clear error-msg">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                        </div>
                        <div id="mce-responses" class="clear success-msg">
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </div>
                </form>
            </div>
            @*<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>*@
            <script type='text/javascript' src='~/Scripts/lib/MailChimp/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        }
        <p id="newslettererrormessage" style="display:none"></p>
    </div>
</div>
