﻿@model WidgetParameter

@{
    //Read facet values from querystring
    string facetGroup = Convert.ToString(HttpContext.Current.Request.QueryString["FacetGroup"]);
    string isFromSearch = Convert.ToString(HttpContext.Current.Request.QueryString["fromSearch"]);
    string properties = string.Empty;
    string categoryname = HttpUtility.UrlEncode(Model.TypeOfMapping);
    if (!Equals(Model?.properties, null))
    {
        foreach (var x in Model?.properties)
        {

            string value = HttpUtility.UrlEncode(Convert.ToString(x.Value));
            properties += string.IsNullOrEmpty(properties) ? $"{x.Key}={value}" : $"_{x.Key}={value}";

        }
    }
}
<div class="facets-content-area"></div>

<script>$.ajax({ url: "/Search/GetFacets?cMSMappingId=" +@Model.CMSMappingId+"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@categoryname' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey' + "&properties=" + '@properties' + "&facetGroup=" + '@facetGroup' + "&fromSearch=" + '@isFromSearch', type: "get" }).done(function (t) {$(".facets-content-area").html(t);});</script>
@*<script>
    $(document).ready(function(){
        Endpoint.prototype.GetFacets(@Model.CMSMappingId, "@Model.DisplayName", "@Html.RenderBlock(Model.TypeOfMapping)", "@Model.WidgetCode", "@Model.WidgetKey","@properties", function (response) {
            $(".facets-content-area").html(response);
        });
    });
</script>*@
@*<script>$(",.facets-content-area").load("/Search/GetFacets?cMSMappingId=" +@Model.CMSMappingId+"&displayName=" + '@Model.DisplayName' + "&typeOfMapping=" + '@Model.TypeOfMapping' + "&widgetCode=" + '@Model.WidgetCode' + "&widgetKey=" + '@Model.WidgetKey' + "&properties=" + '@properties')</script>*@