﻿@using Znode.Engine.WebStore.ViewModels
@model AddressListViewModel
@using Znode.Libraries.ECommerce.Utilities;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string _addressType = ViewBag.AddressType;
    string addressText = string.Format((Convert.ToString(Request.QueryString["mode"]) == "guest" || Model.SelectedAddressId < 1) ? Custom_Resources.TitleAddAddress : WebStore_Resources.LinkTextChangeAddress, $" {_addressType?.ToProperCase()}");
    AddressViewModel _editAddressModel = Model.AddressList?.FirstOrDefault(x => x.AddressId == Model.SelectedAddressId);

    if (HelperUtility.IsNull(_editAddressModel))
    {
        if (Equals(_addressType, WebStoreConstants.ShippingAddressType))
        {
            _editAddressModel = Model.ShippingAddress;
        }
        else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
        {
            _editAddressModel = Model.BillingAddress;
        } <Content Include="Views\Shared\_DataCapture.cshtml" />
    }

    _editAddressModel.AddressCount = HelperUtility.IsNotNull(Model?.AddressList) ? Model.AddressList.Count : 0;

    string updateContentId = (_editAddressModel?.IsBilling).GetValueOrDefault() ? "billing-content" : "shipping-content";

    List<SelectListItem> _AddressName = new List<SelectListItem>();

    //the address inserted from address book section doesnot have any flag set.(IsBilling,IsShipping,IsDefaultBilling,IsDefaultShipping) 
    List<AddressViewModel> BillingAddressList = Model.AddressList?.Where(o => o.IsBilling ||
                                                                      o.IsDefaultBilling ||
                                                                      (!o.IsBilling && !o.IsShipping && !o.IsDefaultBilling && !o.IsDefaultShipping) ||
                                                                      (Model.SelectedAddressId > 0 && o.AddressId == Model.SelectedAddressId))
                                                         ?.ToList();

    List<AddressViewModel> ShippingAddressList = Model.AddressList?.Where(o => o.IsShipping ||
                                                                               o.IsDefaultShipping ||
                                                                               (!o.IsBilling && !o.IsShipping && !o.IsDefaultBilling && !o.IsDefaultShipping) ||
                                                                               (Model.SelectedAddressId > 0 && o.AddressId == Model.SelectedAddressId))
                                                                  ?.ToList();


    if (Model?.AddressList?.Count > 0)
    {
        if (Model?.AccountId > 0)
        {
            if (string.Equals(Model?.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                _AddressName.Add(new SelectListItem { Text = "Add New Address", Value = "0" });
            }
        }
        else
        {
            _AddressName.Add(new SelectListItem { Text = "Add New Address", Value = "0" });
        }


        switch (_addressType)
        {
            case WebStoreConstants.ShippingAddressType:
                {
                    foreach (var item in ShippingAddressList)
                    {
                        _AddressName.Add(new SelectListItem { Text = item.DisplayName, Value = item.AddressId.ToString() });
                    }

                    break;
                }
            case WebStoreConstants.BillingAddressType:
                {
                    foreach (var item in BillingAddressList)
                    {
                        _AddressName.Add(new SelectListItem { Text = item.DisplayName, Value = item.AddressId.ToString() });
                    }
                    break;
                }
            default:
                {
                    foreach (var item in Model.AddressList)
                    {
                        _AddressName.Add(new SelectListItem { Text = item.DisplayName, Value = item.AddressId.ToString() });
                    }
                    break;
                }
        }
    }


    if (_addressType == WebStoreConstants.ShippingAddressType.ToString().ToLower())
    {
        _editAddressModel.OtherAddressId = Model.BillingAddress.AddressId;
    }
    else if (_addressType == WebStoreConstants.BillingAddressType)
    {
        _editAddressModel.OtherAddressId = Model.ShippingAddress.AddressId;
    }
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
    <h4 class="modal-title">@addressText</h4>
</div>
<div class="modal-body">
    <div class="col-xs-12 nopadding">
        @if (_AddressName?.Count > 0)
        {
            _AddressName.ForEach(x => { x.Selected = x.Value == Convert.ToString(Model.ShippingAddress.AddressId) ? true : false; });
            <div class="form-group">
                <div class="col-xs-12 nopadding">
                    <label>@WebStore_Resources.LabelSelectCustomerAddress</label>
                </div>
                <div class="col-xs-12 nopadding">
                    @using (Ajax.BeginForm("GetAddress", "WCNCheckout", new AjaxOptions() { UpdateTargetId = "Edit-Address-content" }))
                    {
                        @Html.Hidden("addressType", _addressType, new { @id = "addressType" })
                        @Html.Hidden("AddressId");
                        @Html.Hidden("OtherAddressId", _editAddressModel.OtherAddressId);
                        @Html.DropDownListFor(m => Model.SelectedAddressId, _AddressName, new { @id = "ShippingAddress", @onchange = "javascript:$('[name=\"AddressId\"]').val($(this).val());$('#formChange').val(true); $(this).closest('form').submit();" })
                    }
                </div>
            </div>
        }
        @using (Ajax.BeginForm("UpdateAddress", "Checkout", new AjaxOptions() { OnSuccess = "Checkout.prototype.SetAddressErrorNotificationMessage" }, new { @id = "frmEditAddress" }))
        {

            <div id="Edit-Address-content" class="col-xs-12 nopadding">
                @{Html.RenderPartial("_EditAddress", _editAddressModel);}
            </div>
            @Html.Hidden("addressType", _addressType, new { @id = "addressType" })
                    @Html.Hidden("formChange", false, new { @id = "formChange" })
        }
    </div>
</div>

<script>
    $('#frmEditAddress :input').change(function () {
        $("#formChange").val(true);
    });
</script>