﻿@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.CartViewModel
@using Znode.Engine.WebStore.Agents
@{

    string shippingOptionId = ViewData["ShippingOptionId"]?.ToString();
    string shippingAddressId = ViewData["ShippingAddressId"]?.ToString();
    string shippingCode = ViewData["ShippingCode"]?.ToString();
    string paymentSettingId = ViewData["PaymentSettingId"]?.ToString();
    string paymentApplicationSettingId = ViewData["PaymentApplicationSettingId"]?.ToString();
    string clientId = ViewData["ClientId"]?.ToString();
    string sellerId = ViewData["SellerId"]?.ToString();
    bool testMode = Convert.ToBoolean(ViewData["TestMode"]);
    string paymentCode = ViewData["PaymentCode"]?.ToString();

    //for artifi
    string _display = string.Empty;
    bool isGuest = true;
    if (User.Identity.IsAuthenticated)
    {
        _display = Model.UserId < 1 ? "display:block;" : "display:none;";
        isGuest = false;

    }
    else
    {
        _display = Model.UserId < 1 ? "display:block;" : "display:none;";
    }
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<script type="text/javascript">
    window.onAmazonLoginReady = function () {
        amazon.Login.setClientId("@clientId");
    };
</script>
@if (testMode)
{
    <script src="https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js"></script>
}
else
{
    <script src="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js"></script>
}

@*<script type="text/javascript">
        document.getElementById('log-off1').onclick = function () {
           // alert("call logout");
            amazon.Login.logout();
        };
    </script>*@
<script type='text/javascript'>

    new OffAmazonPayments.Widgets.AddressBook({
        sellerId: "@sellerId",
        displayMode: 'Edit',
        design: {
            designMode: 'responsive'
        },
        onOrderReferenceCreate: function (orderReference) {
            // Here is where you can grab the Order Reference ID.
            $("#hdnOrderReferenceId").val(orderReference.getAmazonOrderReferenceId());
        },
        onAddressSelect: function (billingAgreement) {
            WCNCheckout.prototype.AmazonShippingOptions($("#hdnOrderReferenceId").val(), $("#hdnPaymentSettingId").val(), "0");
        },
        onError: function (error) {
            alert(error.getErrorCode() + ":error " + error.getErrorMessage());
        }
    }).bind("AmazonAddressWidget");



</script>
<script type='text/javascript'>

    new OffAmazonPayments.Widgets.Wallet({
        sellerId: "@sellerId",
        amazonOrderReferenceId: $("#hdnOrderReferenceId").val(),
        displayMode: 'Edit',
        design: {
            designMode: 'responsive'
        },
        onPaymentSelect: function (billingAgreement) {
            // this method is triggered when the payment instrument is selected.
            $("#btnContineu").show();
            $("#btnContineu2").show();
        },
        onError: function (error) {
            $("#btnContineu").hide();
            $("#btnContineu2").hide();
            alert(error.getErrorCode() + ": " + error.getErrorMessage());
        }
    }).bind("AmazonWalletWidget");


</script>
<div class="main-wrapper">
    <div class="container">
        <div class="row single-page-checkout amazonpay-checkout">
            <div class="col-xs-12 nopadding wcn-checkout-info">
                <div class="col-xs-12 col-md-9 nopadding wcn-checkout-left-panel">
                    <div class="col-xs-12 wcn-checkout-title">
                        <h1 class="pull-left page-title">@WebStore_Resources.ButtonCheckout</h1>
                    </div>
                    <div class="col-xs-12 col-sm-6 nopadding shipping-address padding-top">
                        <div class="col-xs-12 nopadding margin-bottom shipping-address-content">
                            <h3 class="title"><span>1.</span>@WebStore_Resources.TitleShippingAddress</h3>
                            <div id="AmazonAddressWidget" class="col-xs-12 nopadding padding-top"></div>
                            <div id="WalletLink" style="display:none"></div>
                            <input type="hidden" id="hdnOrderReferenceId" />
                            <input type="hidden" id="hdnBillingAggriment" />
                            @*<input type="hidden" id="hdnShippingOptionId" value="@shippingOptionId" />
                                <input type="hidden" id="hdnShippingAddressId" value="@shippingAddressId" />
                                <input type="hidden" id="hdnShippingCode" value="@shippingCode" />*@
                            <input type="hidden" id="hdnPaymentSettingId" value="@paymentSettingId" />
                        </div>
                        <div class="col-xs-12 nopadding wcn-billing-address shipping-method">
                            <h3 class="title"><span>2.</span>@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
                            <div id="loaderId" style="max-width:380px;" class="padding-top"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 nopadding padding-top">
                        <div class="col-xs-12 nopadding signle-page-payment margin-bottom">
                            <h3 class="title"><span>3.</span>@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
                            <div id="AmazonWalletWidget" class="col-xs-12 nopadding padding-top"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-md hidden-lg nopadding wcn-checkout-btn-top">
                        <div class="quotebutton">
                            @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForDraft()" id="btnSaveDraft" class="btn btn-default btn-text-icon red margin-bottom btn-color-yellow">@WebStore_Resources.ButtonSaveDraft</button>
                            }

                            @if (string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-default btn-text-icon red margin-bottom pull-right btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                            else if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal > Model.BudgetAmount || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase))))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn btn-default btn-text-icon red margin-bottom singlecheckoutsubmitquote btnCompleteCheckout btn-color-yellow">@WebStore_Resources.ButtonSubmitForApproval</button>
                            }
                            else
                            {
                                <button type="submit" id="btnCompleteCheckout" onclick="Checkout.prototype.SubmitOrder()" class="btn btn-default btn-full margin-bottom singlecheckoutsubmitpayment btnCompleteCheckout btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding padding-top">
                        @{ Html.RenderAction("CartReview", "Checkout");}
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 nopadding wcn-aside-panel">
                    <div class="col-xs-12 visible-md visible-lg nopadding wcn-summary-top">
                        <button type="button" style="display: none;" onclick="WCNCheckout.prototype.AmazonPayProcess('@Model.Total','@paymentSettingId','@paymentCode')" id="btnContineu2" class="btn btn-default btn-full margin-bottom-10 btn-color-yellow dev-singlepage-amazon-checkout">@WebStore_Resources.TextCompletePurchase</button>
                    </div>
                    <div class="col-xs-12 nopadding wcn-summary">
                        <button type="button" style="display: none;" onclick="WCNCheckout.prototype.AmazonPayProcess('@Model.Total','@paymentSettingId','@paymentCode')" id="btnContineu" class="btn btn-default btn-full margin-bottom-10 btn-color-yellow dev-singlepage-amazon-checkout">@WebStore_Resources.TextCompletePurchase</button>
                    </div>
                    <div class="col-xs-12 nopadding wcn-checkout-summary" id="cart-review-content">
                        @{Html.RenderAction("WCNCartReview", "WCNCheckout");}
                    </div>
                    <div class="col-xs-12 nopadding wcn-amazon-logout">
                        @*<button type="button" onclick="location.href='@Url.Action("Index", "WCNCheckout")';amazon.Login.logout(); " class="btn btn-default btn-full">Amazon Logout</button>*@
                        <button type="button" id="log-off1" onclick="location.href='@Url.Action("Index", "WCNCheckout")';amazon.Login.logout(); " class="btn btn-default btn-full pull-right"><i class="zf-checkout"></i> Amazon Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="AmazonPaymentModal" role="dialog">
    <div class="modal-dialog compare-product-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p>@WebStore_Resources.TextPaymentMethod</p>
            </div>
        </div>
    </div>
</div>
<!--Error Payment Modal-->
<div class="modal fade" id="ErrorAmazonPaymentModal" role="dialog">
    <div class="modal-dialog compare-product-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p></p>
                <div class="col-xs-12 margin-top-bottom nopadding">
                    <div class="pull-right">
                        <button type="button" class="btn-text btn-bg-secondary btn" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='Single-loader-content-backdrop' class='modal-backdrop fade in' style="display:none"><div id='loading' class='loader loader-body'></div></div>
<script src="~/Scripts/Extensions/ArtifiApi.js"></script>
<script type="text/javascript">
    if (("@isGuest" == "False"))
    {
        GetArtfiCredentials(@portalId, localStorage.getItem("UserId"), true, function(){
        })
        UpdateUserId(localStorage.getItem("UserId"), @Model.UserId,@portalId);
    }
    else {
        GetArtfiCredentials(@portalId, @Model.UserId, true, function(){
        })
    }
</script>
