﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    var consolidatedCartItems = cartItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
    bool isEnableApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
}
<div class="shopping-cart">
    @if (Request.Path.Contains("GetAddressDetails"))
    {
        <h3 class="review-title"><span>4.</span>@WebStore_Resources.SinglePageCheckoutReviewOrder</h3>
    }
    else
    {
        <h3 class="review-title"><span>5.</span>@WebStore_Resources.SinglePageCheckoutReviewOrder</h3>
    }

    <div class="col-xs-12 nopadding cart-products">
        @if (Model.ShoppingCartItems?.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th style="@_displayRemoveLink"></th>
                        <th>@WebStore_Resources.LabelItem</th>
                        <th>@WebStore_Resources.LabelTierPrice</th>
                        <th>@WebStore_Resources.ColumnTitleQuantity</th>
                        <th>@WebStore_Resources.ColumnTitleTotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                    {
                        @Html.Partial("../Cart/_CartRow", cartItem, new ViewDataDictionary { { "isFromSinglePageCheckout", true } })
                    }
                </tbody>
            </table>
        }
    </div>
</div>


@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
        WCNCheckout.prototype.ChangeSubmitOrderButtonText();
        if ('@insufficientQuantity' == 'True') {
            $(".btnCompleteCheckout ").attr("disabled", "disabled");
            $("#paypal-express-checkout").attr("disabled", "disabled");
            $(".dev-singlepage-amazon-checkout").attr("disabled", "disabled");
        }
    });
</script>