﻿@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel
@using Znode.Libraries.ECommerce.Utilities
@using System.Text.RegularExpressions;
@using Znode.Engine.WebStore.Agents
@{
    string _displayAddress = string.IsNullOrEmpty(Model.PostalCode) ? "display:none;" : "display:block;";
    string _linkText = (string.IsNullOrEmpty(Model.PostalCode) || string.IsNullOrEmpty(Model.FirstName)) ? "Add New Address" : "Edit";
    string addressType = this.ViewData.ContainsKey("addressType") ? this.ViewData["addressType"].ToString() : string.Empty;
    string _mode = Convert.ToString(Request.QueryString["mode"]);
    string customId = string.Empty;
    string phoneNumber = string.Empty;
    if (!string.IsNullOrEmpty(Model.PhoneNumber))
    {
        phoneNumber = Regex.Replace(Model.PhoneNumber, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3");
    }
    UserViewModel user = (new WebstoreHelper()).GetUserViewModelFromSession();
    var globalAttributes = user?.UserGlobalAttributes;

    bool enableUserShippingAddressSuggestion = Convert.ToBoolean(globalAttributes?.FirstOrDefault(o => o.AttributeCode == "EnableUserShippingAddressSuggestion")?.AttributeValue);
    bool enableStoreShippingAddressSuggestion = Convert.ToBoolean(PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.FirstOrDefault(o => o.AttributeCode == "EnableStoreShippingAddressSuggestion")?.AttributeValue);

    bool showReceipent = false;
    if (Equals(addressType, "shipping"))
    {
        if (enableStoreShippingAddressSuggestion && enableUserShippingAddressSuggestion)
        {
            showReceipent = true;
        }
        else if (enableStoreShippingAddressSuggestion && !enableUserShippingAddressSuggestion)
        {
            showReceipent = false;
        }
        else if (!enableStoreShippingAddressSuggestion && enableUserShippingAddressSuggestion)
        {
            showReceipent = false;
        }
        else if (!enableStoreShippingAddressSuggestion && !enableUserShippingAddressSuggestion)
        {
            showReceipent = false;
        }
    }

    if (showReceipent)
    {
        //Set logged in user name as recipient if it is available, otherwise set recipient name as that  of available for the address.
        Model.FirstName = user?.FirstName ?? Model.FirstName;
        Model.LastName = user?.LastName ?? Model.LastName;
    }
}

@if (showReceipent)
{
    <div id="SearchShippingAddressContainer" class="col-sm-12 nopadding address-block">
        @{ Html.RenderPartial("../Checkout/_SearchAddressAutocomplete", new AutoComplete(), new ViewDataDictionary { { "addressType", "shipping" } });}
    </div>
    <div class="clearfix"></div>
}

<div class="col-xs-12 nopadding address-block ">
    @if (showReceipent || !string.IsNullOrEmpty(Model.FirstName) || (Equals(addressType, "shipping") && !string.IsNullOrEmpty(Model.EmailAddress)))
    {
        <div class="address-details" style="@_displayAddress">
            @if (showReceipent)
            {
                <p>
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="hidden" value="@user.FirstName" class="address-shopper-firstname" />
                            <input type="hidden" value="@user.LastName" class="address-shopper-lastname" />
                            @Html.Label(WebStore_Resources.RecipientNameLabel, new { @class = "required" })
                            <input type="text" class="address-recipient" onkeyup="Checkout.prototype.SetReceipentNameAddressData('@addressType.ToLower()')" placeholder="FirstName LastName" value="@($"{Model.FirstName} {Model.LastName}")" required />
                        </div>
                    </div>
                    <br />
                </p>
            }
            @if (!string.IsNullOrEmpty(Model.FirstName))
            {
                <p class="address-name">@Model.FirstName @Model.LastName</p>
                <p class="address-name">@Model.CompanyName</p>
                <p class="address-street">@Model.Address1<br />@Model.Address2</p>
                <p class="address-citystate">@Model.CityName, @Model.StateName, @Model.CountryName @Model.PostalCode</p>
                <p class="address-phonenumber">Phone: @phoneNumber</p>
            }
            @if (Equals(addressType, "shipping"))
            {
                <p class="address-emailaddress">Email: @Model.EmailAddress</p>
                customId = "default-shipping-address";
            }
        </div>
    }
    @if (!showReceipent)
    {
        <div class="address-change">
            @Ajax.ActionLink(_linkText, "ChangeAddress", "Checkout", new { AddressId = Model.AddressId, OtherAddressId = Model.OtherAddressId, type = addressType, mode = _mode },
                     new AjaxOptions
                     {
                         UpdateTargetId = "address-popup-content",
                         InsertionMode = InsertionMode.Replace,
                         OnBegin = "$('.address-popup').modal('hide');",
                         OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');$('#IsDefaultShipping').rules('remove');$('#IsDefaultBilling').rules('remove'); ",
                         HttpMethod = "GET"
                     }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup", @data_addressId = Model.AddressId, @class="pull-right", @id = customId })
        </div>
    }
    else if (Equals(addressType, "billing"))
    {
        <div class="address-change">
            @Ajax.ActionLink(_linkText, "ChangeAddress", "WCNCheckout", new { AddressId = Model.AddressId, OtherAddressId = Model.OtherAddressId, type = addressType, mode = _mode },
                        new AjaxOptions
                        {
                            UpdateTargetId = "address-popup-content",
                            InsertionMode = InsertionMode.Replace,
                            OnBegin = "$('.address-popup').modal('hide');",
                            OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');$('#IsDefaultShipping').rules('remove');$('#IsDefaultBilling').rules('remove'); ",
                            HttpMethod = "GET"
                        }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup", @data_addressId = Model.AddressId, @class="pull-right", @id = customId })
        </div>
    }

    @Html.HiddenFor(x => x.AddressId)
    @Html.HiddenFor(x => x.AddressCount)
    @Html.HiddenFor(x => x.RoleName)
    @Html.HiddenFor(x => x.OtherAddressId)
    @Html.Hidden("addressType", addressType)
    @Html.Hidden("accountId", Model.AccountId)
</div>

@*@Html.Partial("_ModalPopUp", new ViewDataDictionary { { "modal-title", WebStore_Resources.LabelConfirmAddress }, { "jqueryFunction", "onclick=User.prototype.HideShowAddressPopUP()" } })*@
<script>
    $(document).ready(function () {
        Checkout.prototype.HideChangeAddressLink()
    });
</script>
