﻿@using Znode.Engine.WebStore.Models
@model List<BaseDropDownOptions>
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@{
    int userId = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0;
    var billingAccountNumber = SessionProxyHelper.GetBillingAccountNumber(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0);
}
<div class="col-xs-12 nopadding" id="allPaymentOptionsDiv">
    <h3 class="title"><span id="paymentOptionSrNo" class="checkoutBoxSrNo">4.</span>@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
    @using (Ajax.BeginForm("GetPaymentProvider", "Checkout", new AjaxOptions() { UpdateTargetId = "payment-provider-content" }))
    {
        @Html.Hidden("paymentOptionsId", new { @id = "paymentOptionsId" });

        foreach (var option in Model)
        {
            <div class="col-xs-12 nopadding styled-radio">
                <input class="input-control" type="radio" id="@option.Type@option.Id" data-isApprovalRequired="@option.Status" data-payment-type="@option.Type" data-isOABRequired="@option.CustomStatus" name="PaymentOptions" value="@option.Value" onclick="Checkout.prototype.ShowPaymentOptions(this);" />
                <label class="input-label" for="@option.Type@option.Id">@option.Text</label>
            </div>
        }

        <div id="div-CreditCard" class="credit-card-container HidePaymentTypeDiv" style="display:none;">
            <div class="col-xs-12 nopadding">
                <div class="Tab-container dynamic-tabs margin-top">
                    <ul id="creditCardTab" class="nav nav-tabs">
                        <li class="active"><a href="#addNewCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.AddNewCreditCardDetails</a></li>
                    </ul>
                    <div id="creditCardPanel" class="tab-content clearfix">
                        <!--Panels 1-->
                        <div class="tab-pane fade in active" id="addNewCreditCard-panel">
                            <h3 class="section-heading">@WebStore_Resources.LabelCreditCardDetails</h3>
                            <div class="col-sm-12 save-cart nopadding">
                                <div id="paymentProviders">
                                </div>
                            </div>
                            <div id="credit-card-div" class="col-xs-12 nopadding">
                                <div class="form-group" id="Save-credit-cardholder-name">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-md">
                                            <input type="text" id="CardHolderName" data-payment="cardholderName" maxlength="100" class="form-input-long" placeholder="Enter Credit Card Holder Name*" />
                                            <div id="errorcardholderName" class="field-validation-error" style="display: none">@Custom_Resources.ErrorCardHolderName</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-md">
                                            <input type="text" data-payment="number" class="creditCardPayment" maxlength="19" id="CredidCardNumber" placeholder="Enter Credit Card Number*" />
                                            <div id="errornumber" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardNumber</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-label">
                                            <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardExpirationDate</label>
                                        </div>
                                        <div class="control-md">
                                            <div class="col-xs-3 nopadding">
                                                <select id="CredidCardExpMonth" class="credit-card-dropdown" data-payment="exp-month">
                                                    <option value="01">01 (Jan)</option>
                                                    <option value="02">02 (Feb)</option>
                                                    <option value="03">03 (Mar)</option>
                                                    <option value="04">04 (Apr)</option>
                                                    <option value="05">05 (May)</option>
                                                    <option value="06">06 (Jun)</option>
                                                    <option value="07">07 (Jul)</option>
                                                    <option value="08">08 (Aug)</option>
                                                    <option value="09">09 (Sep)</option>
                                                    <option value="10">10 (Oct)</option>
                                                    <option value="11">11 (Nov)</option>
                                                    <option value="12">12 (Dec)</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3 col-md-4 ">
                                                <select id="CredidCardExpYear" class="credit-card-dropdown" data-payment="exp-year">
                                                    @for (int i = DateTime.Now.Year; i <= DateTime.Now.AddMonths(240).Year ; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                <div id="errormonth" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidDate</div>
                                                @*<div id="erroryear" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidYear</div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        <div class="control-label">
                                            <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardSecurityNo</label>
                                        </div>
                                        <div class="control-sm">
                                            <div class="col-xs-2 nopadding">
                                                <input type="password" id="CredidCardCVCNumber" data-payment="cvc" maxlength="4" class="creditCardPayment" placeholder="CVV*" />
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                <div id="errorcvc" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorValidCVC</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group" id="Save-credit-card">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-md control-non styled-checkbox">
                                                <input class="input-control" id="SaveCreditCard" name="SaveCreditCard" type="checkbox">
                                                <label class="input-label" for="SaveCreditCard">@WebStore_Resources.SaveCreditCardForFutueUse</label>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Gateway Information*@
            @Html.Hidden("GatewayCurrencyCode", "USD")
            @Html.Hidden("paymentProfileId")
            @Html.Hidden("hdnGatwayName")
            @Html.Hidden("hdnPaymentCode")
            @Html.Hidden("hdnEncryptedTotalAmount")
            @Html.Hidden("BillingAccountNumber", billingAccountNumber)
        </div>
        if (string.IsNullOrEmpty(billingAccountNumber))
        {
            <div class="form-group" id="div-InvoiceMe" style="display:none">
                <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                    <input type="checkbox" class="input-checkbox" name="InvoiceMe" id="InvoiceMe" checked="checked" value="true">
                    <label for="InvoiceMe">@Html.RenderMessage(WebStoreConstants.InvoiceMeTextMessage)</label>
                </div>
            </div>
        }
        @*PayPal Express*@
        @*<div id="paypal-button" style="display:none"></div>*@

        <div id="div-PaypalExpress" class="col-sm-12 nopadding HidePaymentTypeDiv" style="display:none;">
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-lg control-non">
                        <button id="paypal-express-checkout" type="button"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-26px.png" alt="PayPal Checkout"></button>
                        <p class="tinyfade margin-top">@Admin_Resources.LabelPaypalDescription</p>
                    </div>
                </div>
            </div>
        </div>

        @Html.Hidden("PaymentSettingId")
        @*Amazon Pay *@
        if (!Equals(Model, null) && Model.Any(item => Equals(item.Type.ToLower(), "amazon_pay")))
        {
            Html.RenderAction("AmazonPaymentOptions", "Checkout");
        }
        @Html.Hidden("PaymentSettingId")
    }
    <div id="payment-provider-content">
    </div>
</div>

<script>
    //paypal.Button.render({
    //    env: 'sandbox', // Or 'production'
    //    commit: true, // Show a 'Pay Now' button
    //    payment: function () {
    //        Checkout.prototype.ShowLoader();
    //        var paypalResponse = Checkout.prototype.OnClickPayPalExpress();
    //        Checkout.prototype.HideLoader();
    //        return paypalResponse[1];
    //    },
    //    onAuthorize: function (data, actions) {
    //        Checkout.prototype.ShowLoader();
    //        window.location.href = data.returnUrl;
    //    }
    //}, '#paypal-button');
</script>
<script>
    $(document).ready(function () {

        $("input:radio[name=PaymentOptions][data-payment-type=CREDIT_CARD]:first").attr('checked', true).trigger("click");

        $('#CredidCardNumber').payment('formatCardNumber');
    });
</script>