﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.Api.Models
@model ShippingOptionListViewModel
@{
    string _display = (Model?.ShippingOptions?.Any(x => x.Description.Contains("International"))).GetValueOrDefault() ? "display:none" : "display:block";
    if (!Model.ShippingOptions.Any(x => x.IsSelected))
    {
        Model.ShippingOptions?.FirstOrDefault(x => x.IsSelected = true);
    }

}
<div class="col-xs-12 nopadding" id="wcn-dev-shipping-option">
    <h3 class="title"><span id="shippingOptionSrNo" class="checkoutBoxSrNo">3.</span>@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>

    @using (Ajax.BeginForm("CartReview", "Checkout", new AjaxOptions() { UpdateTargetId = "cart-review-content", OnBegin = "Checkout.prototype.ShowPaymentLoader();", OnComplete = "WCNCheckout.prototype.UpdateOrderCostDetails();", OnFailure = "Checkout.prototype.HidePaymentLoader();" }))
    {
        if (Model?.ShippingOptions?.Count > 0)
        {
            if (!Model.ShippingOptions.Any(x => x.IsSelected))
            {
                Model.ShippingOptions.FirstOrDefault(x => x.IsSelected = Model.IsB2BUser && Model.OmsQuoteId > 0 ? true : false);
            }

            foreach (ShippingOptionViewModel option in Model.ShippingOptions)
            {
                <div class="col-xs-12 nopadding styled-radio">
                    <input class="input-control" type="radio" id="@option.ShippingCode.Replace(" ", " _")" data-shippingCode="@option.Description" name="ShippingOptions" value="@option.ShippingId" onclick="Checkout.prototype.CalculateShipping('@option.ClassName');" @( option.IsSelected ? "checked=checked" : "") />
                    <label class="input-label" id="UPS-@option.ShippingCode.Replace(" ", " _")" for="@option.ShippingCode.Replace(" ", " _")">@WebUtility.HtmlDecode(option.ShippingName) @WebUtility.HtmlDecode(option.EstimateDate) - @WebUtility.HtmlDecode(option.FormattedShippingRate)</label>
                    @Html.Hidden("UPS-Rate-" + @option.ShippingCode.Replace(" ", " _"), @WebUtility.HtmlDecode(option.FormattedShippingRate))
                    @Html.Hidden("UPS-Description-" + @option.ShippingCode.Replace(" ", " _"), option.ShippingName)
                    @Html.Hidden("UPS-EstimatedDate-" + @option.ShippingCode.Replace(" ", " _"), @WebUtility.HtmlDecode(option.EstimateDate))
                </div>
            }
            <button type="button" style="@_display" id="btnremaining-shipping" onclick="WCNCheckout.prototype.GetRemainingShippingMethods()" class="btn btn-default btn-shipping-method">@Custom_Resources.LabelExpressShipping</button>
			  if((Model?.ShippingOptions?.Any(x => x.Description.Contains("International"))).GetValueOrDefault())
				{
			      <div> Customs, duties & brokerage fees, are not included and are the customer's responsibility at time of delivery</div>
			    }
		}
		else
		{
			<span>@WebStore_Resources.ErrorAddAddressShippingOption</span>
		}
	}
</div>
