﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "display:block" : "display:none" : "display:block";
    List<CartItemViewModel> cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    var consolidatedCartItems = cartItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
    bool isEnableApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
}
<div class="col-xs-12 nopadding wcn-summary-heading">
    <h1 class="page-title">Summary</h1>
</div>
<div class="col-xs-12 nopadding cart-summary">
    <div class="cart-total">
        @Html.Partial("../_TotalTable", Model)
    </div>
</div>


@if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase)
                                                                || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.DNRA.ToString(), StringComparison.CurrentCultureIgnoreCase)
                                                                || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal <= Model.BudgetAmount) || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                                                || string.Equals(Model.RoleName, ZnodeRoleEnum.Customer.ToString(), StringComparison.CurrentCultureIgnoreCase)
                                                                || string.Equals(Model.RoleName, ZnodeRoleEnum.Admin.ToString(), StringComparison.CurrentCultureIgnoreCase) || Equals(Model.RoleName, null))
{
    if (Model.IsSinglePageCheckout || Model.IsValidShippingSetting)
    {
        @Html.Partial("../_ApplyCoupon", Model)
    }

    if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
    {
        @Html.Partial("../_ApplyGiftCard", Model)
    }
    <div class="form-group margin-top">
        <div class="col-xs-12 nopadding">
            <label for="address_name">@WebStore_Resources.TitleAdditionalInformation</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextAreaFor(model => model.AdditionalInstruction, new { maxlength = 500 })
        </div>
    </div>

}

@Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
@Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
@Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
@Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
@*@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShippingAmazon" })*@


<script>
    $(document).ready(function () {
        Checkout.prototype.ChangeCartReviewSequence();
        WCNCheckout.prototype.ChangeSubmitOrderButtonText();
    });
</script>
