﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.Api.Models
@model ShippingOptionListViewModel
@{
    string _display = (Model?.ShippingOptions?.Any(x => x.Description.Contains("International"))).GetValueOrDefault() ? "display:none" : "display:block";
    ShippingListModel listModel = new ShippingListModel();
    if (!Equals(SessionHelper.GetDataFromSession<ShippingListModel>("ShippingList" + Convert.ToString(PortalAgent.CurrentPortal.PortalId) + ""), null))
    {
        listModel = SessionHelper.GetDataFromSession<ShippingListModel>("ShippingList" + Convert.ToString(PortalAgent.CurrentPortal.PortalId) + "");
    }
}
<div class="col-xs-12 nopadding" id="wcn-dev-shipping-option">
	<h3 class="title"><span>2.</span>@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>

	@using (Ajax.BeginForm("AmazonCartReview", "WCNCheckout", new AjaxOptions() { UpdateTargetId = "cart-review-content", OnSuccess = "WCNCheckout.prototype.ShippingErrorMessage();", OnBegin = "Checkout.prototype.ShowPaymentLoader();", OnComplete = "WCNCheckout.prototype.UpdateOrderCostDetails();WCNCheckout.prototype.ToggleFreeShipping();Checkout.prototype.HidePaymentLoader();", OnFailure = "Checkout.prototype.HidePaymentLoader();" }))
	{
		if (Model?.ShippingOptions?.Count > 0)
		{
			if (!Model.ShippingOptions.Any(x => x.IsSelected))
			{
				Model.ShippingOptions.FirstOrDefault(x => x.IsSelected = Model.IsB2BUser && Model.OmsQuoteId > 0 ? true : false);
			}
			<div class="col-xs-12 nopadding padding-top">
				@foreach (ShippingOptionViewModel option in Model.ShippingOptions)
				{
					string shippingName = Convert.ToString(listModel?.ShippingList?.Where(s => s.Description == option.Description).Select(s => s.ShippingName)?.FirstOrDefault());
					<div class="col-xs-12 nopadding styled-radio">
						<input type="radio" class="input-control" id="@option.ShippingCode.Replace(" ", " _")" data-shippingCode="@option.Description" name="ShippingOptions" value="@option.ShippingId" onclick="Checkout.prototype.CalculateAmazonShipping('@option.ClassName','');" @( option.IsSelected ? "checked=checked" : "") data-wcnshippingclassname="@option.ClassName" />
						<label class="input-label" id="UPS-@option.ShippingCode.Replace(" ", " _")" for="@option.ShippingCode.Replace(" ", " _")">@WebUtility.HtmlDecode(shippingName) - @WebUtility.HtmlDecode(option.FormattedShippingRate)</label>
						@Html.Hidden("UPS-Rate-" + @option.ShippingCode.Replace(" ", " _"), @WebUtility.HtmlDecode(option.FormattedShippingRate))
						@Html.Hidden("UPS-Description-" + @option.ShippingCode.Replace(" ", " _"), shippingName)
					</div>
				}
			</div>
			<div class="col-sm-12 nopadding" id="customerShippingDiv" style="display:none" name="CustomerShipping">
				<div class="form-group">
					<div class="col-sm-12 nopadding">
						<div class="control-label">
							@Html.LabelFor(model => model.AccountNumber, new { @class = "required" })
						</div>
						<div class="control-md">
							@Html.TextBoxFor(model => model.AccountNumber, new { @maxLength = "100" })
							<div id="errorAccountNumber" class="field-validation-error" style="display:none">@WebStore_Resources.ErrorAccountNumber</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12 nopadding">
						<div class="control-label">
							@Html.LabelFor(model => model.ShippingMethod, new { @class = "required" })
						</div>
						<div class="control-md">
							@Html.TextBoxFor(model => model.ShippingMethod, new { @maxLength = "100" })
							<div id="errorAccountNumber" class="field-validation-error" style="display:none">@WebStore_Resources.ErrorShippingMethod</div>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" id="hndShippingclassName" value="" />
			<button type="button" style="@_display" id="btnremaining-amazon-shipping" onclick="WCNCheckout.prototype.GetRemainingAmazonShippingMethods()" class="btn btn-default btn-shipping-method">@Custom_Resources.LabelExpressShipping</button>
			if ((Model?.ShippingOptions?.Any(x => x.Description.Contains("International"))).GetValueOrDefault())
			{
				<span> Customs, duties & brokerage fees, are not included and are the customer's responsibility at time of delivery</span>
			}
		}
		else
		{
			<span>@WebStore_Resources.ErrorAddAddressShippingOption</span>
		}
	}
</div>