﻿@using Znode.Engine.WebStore.ViewModel
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@using Newtonsoft.Json
@model OrdersViewModel

@{
    SessionHelper.RemoveDataFromSession("artifiguestuser");
    string currencyCode = PortalAgent.CurrentPortal.CurrencySuffix;
    string _recieptStoreName = PortalAgent.CurrentPortal.PortalId == 1 ? "Windy City Novelties" : "NightFlyer";
    string promoCode = Model?.CouponCode;
    if (string.IsNullOrEmpty(promoCode))
    {
        string promotionCacheKey = "PromotionList_" + Convert.ToString(PortalAgent.CurrentPortal.PortalId);
        PromotionListViewModel promotionListViewModel = Helper.GetFromCache<PromotionListViewModel>(promotionCacheKey) ?? new PromotionListViewModel();

        promoCode = promotionListViewModel?.PromotionList?.FirstOrDefault(w => w.IsCouponRequired == false && w.Discount == Model.DiscountAmount)?.PromoCode;
        promoCode = string.IsNullOrEmpty(promoCode) && Model.ShippingCost < 1 ? promotionListViewModel?.PromotionList?.FirstOrDefault(w => w.IsCouponRequired == false && w.Discount == 100)?.PromoCode : promoCode;

        promoCode = string.IsNullOrEmpty(promoCode) ? string.Empty : promoCode;
    }
    int shippingId = 0;
    int count = 1;
    string imagePath = string.Empty;
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isLoggedInUser = User.Identity.IsAuthenticated;
    var address = Model.BillingAddressHtml;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout-Checkout.cshtml";

    Model.CouponCode = string.IsNullOrEmpty(Model.CouponCode) ? string.Empty : Model.CouponCode;
    string value = PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.Where(w => w.AttributeCode == "HawkSearchEngineName").Select(s => s.AttributeValue)?.FirstOrDefault();
}
@if (!Equals(Model, null))
{
    <div class="main-wrapper">
        <div class="container">
            <div class="row checkout-reciept">
                <div class="col-sm-12 nopadding complete-order-block text-center">
                    <h4>Thank You For Your Purchase</h4>
                    <div class="completed-order-detail text-left">
                        <p>
                            <i class="zf-caret-right"></i>&nbsp; Your order number is <strong>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @*<a href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId&portalId=@Model.PortalId">#@Model.OrderNumber</a>*@
                                    <a href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId">#@Model.OrderNumber</a>
                                }
                                else
                                {
                                    <span>#@Model.OrderNumber</span>
                                }
                            </strong>
                        </p>

                        <p>
                            <i class="zf-caret-right"></i>&nbsp; An email receipt has been sent to <strong>@Model.EmailAddress</strong>, please keep this email for your records.
                        </p>
                        <div><a href="/CaseRequest/customerfeedback">@WebStore_Resources.TextCustomerFeedback</a></div>
                    </div>
                    <div class="margin-top-bottom">
                        <a href="/" class="btn btn-default">Continue shopping</a>
                    </div>
                </div>
            </div>
            <div id="layout-account-receipt" class="row sp-checkout-receipt padding-top-bottom">
                <div class="container">
                    <div class="row user-account">
                        <div class="col-xs-12 col-sm-11 nopadding">
                            <h3 class="page-title">@Html.RenderBlock(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(), Model.OrderNumber.ToString())) - @_recieptStoreName <small>on @Model.OrderDate.ToDateTimeFormat()</small></h3>
                        </div>
                        <div class="col-xs-12 col-sm-1 nopadding margin-bottom">
                            <a class="receipt-print pull-right btn-text btn-bg-primary" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                        </div>
                        <div class="col-xs-12 account-dashboard nopadding">
                            <div class="col-xs-12 order-receipt nopadding">
                                <div class="col-xs-12 nopadding order-receipt-address">
                                    <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                                        <h4 class="section-header-color">@WebStore_Resources.TextDetails:</h4>
                                        <div><p><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</p></div>
                                        <div><p><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber </p></div>
                                        <div><p><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName </p></div>
                                        @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                                        {<div><p><strong>@Admin_Resources.LabelPurchaseOrderNumber:</strong> @Model.PurchaseOrderNumber</p></div>}
                                        <div><p><strong>@WebStore_Resources.TitleTracking:</strong> @Html.RenderBlock(Model.TrackingNumber)</p></div>
                                        @if (HelperUtility.IsNotNull(Model.CouponCode))
                                        {
                                            <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.RenderBlock(Model.CouponCode)</div>
                                        }
                                    </div>
                                    <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                    </div>
                                    <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                        <h4 class="section-header-color">@WebStore_Resources.TitleBillingTo</h4>
                                        <p>@Html.RenderBlock(Model.BillingAddressHtml)</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                                    <div class="table-responsive">
                                        <table class="table table-tr">

                                            @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                            {
                                                string artifiDesignId = Convert.ToString(items.PersonaliseValueList.Where(w => w.Key.ToLower() == "artifidesignid").Select(s => s.Value)?.FirstOrDefault());
                                                if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                                {
                                                    bool headerFlag = false;
                                                    if (!Equals(shippingId, items.OmsOrderShipmentId))
                                                    {
                                                        <tr class="shipment-address">
                                                            <td colspan="9">
                                                                <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                                    <div class="user-receipt">
                                                                        <h3>@WebStore_Resources.ColumnShipping to:</h3>
                                                                        @Html.RenderBlock(items.ShippingAddressHtml)
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        shippingId = items.OmsOrderShipmentId;
                                                        count++;
                                                        headerFlag = true;
                                                    }
                                                    if (headerFlag)
                                                    {

                                                        <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                                            <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                                            @*<th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>*@
                                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                            @*<th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>*@
                                                            <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                            <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                                            <th class="table-td receipt-column-action"></th>
                                                        </tr>

                                                    }

                                                    <tr class="receipt-item table-tr">
                                                        <td class="table-td receipt-column-item">
                                                            @Html.RenderBlock(items.ProductName)
                                                            @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                                            {
                                                                List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                                                <h5 style="color:red">Product Keys</h5>
                                                                foreach (string item in keys)
                                                                {
                                                                    <div>@Html.RenderBlock(item)</div>
                                                                }
                                                            }
                                                            <br />
                                                            <div class="cart-item-description">
                                                                @if (items?.PersonaliseValueList?.Count > 0)
                                                                {
                                                                    foreach (var item in items?.PersonaliseValueList)
                                                                    {
                                                                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty) && string.IsNullOrEmpty(artifiDesignId) && !Equals(item.Key, "gacategoryname"))
                                                                        {
                                                                            <p>
                                                                                @item.Key: @item.Value
                                                                            </p>
                                                                        }

                                                                    }
                                                                }
                                                            </div>

                                                        </td>
                                                        @*<td class="table-td">
                                                                <div>@Html.RenderBlock(@items.Description)</div>
                                                            </td>*@
                                                        <td class="table-td">
                                                            <div>@items.OrderLineItemState</div>
                                                        </td>
                                                        @*<td class="table-td">
                                                                <div>@Html.RenderBlock(items.TrackingNumber)</div>
                                                            </td>*@
                                                        <td class="table-td receipt-column-quantity">
                                                            @if ((items.Quantity) % 1 == 0)
                                                            {
                                                                @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                            }
                                                            else
                                                            {
                                                                var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                @orderedQuantity
                                                            }
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.Price, Model.CultureCode, items.UOM)
                                                        </td>
                                                        <td class="table-td receipt-column-total">
                                                            @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CultureCode)
                                                        </td>

                                                        <td class="table-td receipt-column-action">
                                                            @*   <a href="/user/ReorderOrderLineItem/@items.OmsOrderLineItemsId">@WebStore_Resources.TextReoder</a> *@
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                    @Html.Partial("../User/_ReceiptCalculation", Model)
                                </div>

                                <div class="col-xs-12 margin-top-bottom nopadding return-item-list shopping-cart">
                                    @if (Model?.ReturnItemList?.ReturnItemList?.Count > 0)
                                    {
                                        <h3>@WebStore_Resources.LabelReturnItemList</h3>
                                        <div class="table-responsive">
                                            <table class="table table-tr">
                                                <tr class="table-heading">
                                                    <th class="table-td receipt-column-item">Product SKU</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                                    @*<th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>*@
                                                    <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                    <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                    <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTax</th>
                                                    <th class="table-td receipt-column-price">@WebStore_Resources.ColumnShipping</th>
                                                    <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                                </tr>

                                                @foreach (var items in Model?.ReturnItemList?.ReturnItemList)
                                                {
                                                    <tr>
                                                        @if (items?.GroupProducts?.Count > 0)
                                                        {
                                                            string mainProductName = items.ProductName;
                                                            foreach (var product in items.GroupProducts)
                                                            {
                                                                <td>
                                                                    @product.Sku
                                                                </td>
                                                                <td>
                                                                    <div class="">@Html.RenderBlock(mainProductName)</div>
                                                                    <div>@Html.DisplayTextFor(model => product.ProductName)</div>
                                                                    <div class="cart-item-description">@Html.RenderBlock(items.CartDescription)</div>
                                                                </td>
                                                                <td>
                                                                    @items.OrderLineItemStatus
                                                                </td>
                                                                <td>
                                                                    @items.ReasonForReturn
                                                                </td>
                                                                @*<td>
                                                                        @items.TrackingNumber
                                                                    </td>*@
                                                                <td class="table-td receipt-column-quantity">
                                                                    @if ((items.Quantity) % 1 == 0)
                                                                    {
                                                                        @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                                    }
                                                                    else
                                                                    {
                                                                        var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                        @orderedQuantity
                                                                    }
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                                </td>
                                                                <td class="table-td receipt-column-total">
                                                                    @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                                </td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(items?.ConfigurableProductSKUs))
                                                                {
                                                                    <span>@items.ConfigurableProductSKUs</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@items.SKU</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <span>@Html.RenderBlock(items.ProductName)</span>
                                                                <div class="cart-item-description">
                                                                    @if (items?.PersonaliseValuesList?.Count > 0)
                                                                    {
                                                                        <p>
                                                                            <img src="@imagePath" style="max-height:45px;max-width:45px;" alt="Alternate Text" />
                                                                        </p>
                                                                    }
                                                                </div>
                                                                @Html.RenderBlock(items.CartDescription)
                                                            </td>
                                                            <td>
                                                                <span>@items.OrderLineItemStatus</span>
                                                            </td>
                                                            <td>
                                                                <span>@items.ReasonForReturn</span>
                                                            </td>
                                                            @*<td>
                                                                    <span>@items.TrackingNumber</span>
                                                                </td>*@
                                                            <td class="table-td receipt-column-quantity">
                                                                @if ((items.Quantity) % 1 == 0)
                                                                {
                                                                    @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                                }
                                                                else
                                                                {
                                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                    @orderedQuantity
                                                                }
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                            </td>
                                                            <td class="table-td receipt-column-total">
                                                                @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Hidden("portalId", portalId)
        </div>
    </div>
    @Html.Hidden("isLoggedInUser", isLoggedInUser)
    @Html.TrackingPixelHtml(ZnodePortalTrackingPixelEnum.CJ.ToString(), new object[] { Guid.NewGuid().ToString(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.First(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.Last(), Model.CultureCode, Model.OmsOrderId, Model.OrderLineItemQueryString }, Model.OrderLineItemQueryString)

}
@* To DO - Need to move in checkout.ts *@
<script src="~/Scripts/Extensions/ArtifiApi.js"></script>
<script>
    $(document).ready(function () {
        // DataLayer creation and PUSH to GTM.
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('require', 'ecommerce');
        var modelData = Checkout.prototype.prepareDataLayer(@Html.Raw(Json.Encode(Model)));
            Checkout.prototype.PutDataIntoDatalayer(modelData);
        ga('ecommerce:send');

        $(window).scrollTop(0);
        if ("@isLoggedInUser" == "False") {
            UpdateUserId(sessionStorage.getItem("UserId"), '@Model.UserId',@Model.PortalId);
        };
        if ("@address" == "") {
            window.location.href = document.location.origin + "/checkout/ordercheckoutreciept?omsorderid=" + @Model.OmsOrderId;
        };

        GetArtfiCredentials(@Model.PortalId, 0, true, function (res) { })
        var userId = 0;
        if (@Model.UserId > 0) {
            // UpdateUserId(sessionStorage.getItem('UserId'), '@Model.UserId',@Model.PortalId)
        }
        else {
            $.ajax({
                url: "/artificheckout/getuseridbyorderid?omsOrderId=" + @Model.OmsOrderId,
                method: "GET",
                dataType: "json",
                async: true,
                success: function (data) {
                    if (data.userId > 0) {
                        UpdateUserId(sessionStorage.getItem('UserId'), data.userId,@Model.PortalId)
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        };
    });
	
	
</script>
@{
    if (value == "windycitynovelties")
    {
@*<script>
 var rakutenModel =  @Html.Raw(Json.Encode(Model));
    console.log(rakutenModel);
     var rm_trans = {

                    affiliateConfig: { ranMID: '43226', discountType: 'item' },
                    displayConfig: { rdMID: '7447' },
                    searchConfig: { rsMID: '54049ca5-4052-4533-9fa0-8f1ba91d7da8' },

                    orderid: rakutenModel.OrderNumber,

                    currency: "USD",

                    customerStatus: rakutenModel.UserId > 0 ? "EXISTING" : "NEW",

                    conversionType: "sale",

                    customerID: rakutenModel.UserId,

                    discountCode: "@promoCode",

                    discountAmount: rakutenModel.DiscountAmount,

                    taxAmount: rakutenModel.TaxCost,

                    lineitems: GetOrderLineItem()
    };

    /*Do not edit any information beneath this line*/
    window.DataLayer ? (DataLayer.events = DataLayer.events || {}, DataLayer.Sale = DataLayer.Sale || { Basket: rm_trans }, DataLayer.Sale.Basket = DataLayer.Sale.Basket || rm_trans) : window.DataLayer = { Sale: { Basket: rm_trans }, events: {} }, DataLayer.events.SPIVersion = "3.3", DataLayer.Sale.Basket.Ready = !0;
    function __readRMCookie(b) { for (var g, d = b + '=', e = document.cookie.split(';'), f = 0; f < e.length; f++) { for (g = e[f]; ' ' == g.charAt(0);)g = g.substring(1, g.length); if (0 == g.indexOf(d)) return g.substring(d.length, g.length) } return '' } function __readRMCookiev2(b, d) { for (var d = d || 'rmStore', e = __readRMCookie(d); e !== decodeURIComponent(e);)e = decodeURIComponent(e); for (var f = e.split('|'), g = 0; g < f.length; g++) { var h = f[g].split(':')[0], l = f[g].split(':')[1]; if (h === b) return l } return '' } function __readParam(b, d, e, f) { var m = f || {}, n = __readRMCookiev2(b || ''), o = m[d || ''], p = m.ignoreCookie || !1; n = p ? 0 : n; var q = n || o || e || ''; return q = 'string' == typeof q && 'false' === q.toLowerCase() ? !1 : q, q } function sRAN() { var b = DataLayer && DataLayer.Sale && DataLayer.Sale.Basket ? DataLayer.Sale.Basket : {}, d = b.affiliateConfig || {}, e = __readParam('atm', 'tagType', 'pixel', d), f = __readParam('adr', 'discountType', 'order', d), g = __readParam('acs', 'includeStatus', 'false', d), h = __readParam('arto', 'removeOrderTax', 'false', d), l = __readParam('artp', 'removeTaxFromProducts', 'false', d), m = __readParam('artd', 'removeTaxFromDiscount', 'false', d), n = __readParam('atr', 'taxRate', 0, d); n = +n; var o = (100 + n) / 100, p = __readParam('ald', 'land', !1, {}) || (d.land && !0 === d.land ? __readRMCookie('ranLandDateTime') : d.land) || !1, q = __readParam('atrv', 'tr', !1, {}) || (d.tr && !0 === d.tr ? __readRMCookie('ranSiteID') : d.tr) || !1, r = !1, t = __readParam('amid', 'ranMID', '', d) || b.ranMID; if (!t) return !1; var u = 'undefined' == typeof d.allowCommission || 'false' !== d.allowCommission; if (!u) return !1; var w = encodeURIComponent(b.orderid || 'OrderNumberNotAvailable'), x = '', y = '', z = '', A = '', B = b.currency || ''; B = encodeURIComponent(B.toUpperCase()); var C = b.taxAmount ? Math.abs(Math.round(100 * +b.taxAmount)) : 0, D = b.discountAmount ? Math.abs(Math.round(100 * +b.discountAmount)) : 0; m && n && (D = Math.round(D / o)); var F = 'pixel' === e ? 'ep' : 'mop' === e ? 'eventnvppixel' : 'ep', G = (b.customerStatus || '') + '', H = document.location.protocol + '//track.linksynergy.com/' + F + '?', I = ''; G && (g && 'EXISTING' == G.toUpperCase() || g && 'RETURNING' == G.toUpperCase()) && (I = 'R_'); for (var J = [], K = 0, L = 0; L < (b.lineitems ? b.lineitems.length : 0); L++) { var M = !1, N = window.JSON ? JSON.parse(JSON.stringify(b.lineitems[L])) : b.lineitems[L], O = +(N.unitPriceLessTax || N.unitPrice || 0); l && n && !N.unitPriceLessTax && (O /= o); for (var Q, P = 0; P < J.length; P++)Q = J[P], Q.SKU === N.SKU && (M = !0, J[P].quantity = +J[P].quantity + +N.quantity, J[P].totalValueLessTax = +J[P].totalValueLessTax + +N.quantity * O, J[P].totalValue = +J[P].totalValue + +N.quantity * +N.unitPrice); M || (N.totalValue = +N.quantity * +N.unitPrice, N.totalValueLessTax = +N.quantity * O, J.push(N)), K += 100 * (+N.quantity * O) } for (var S = {}, L = 0; L < J.length; L++) { var N = J[L], T = encodeURIComponent(N.SKU), U = N.totalValueLessTax || N.totalValue, V = N.quantity, W = encodeURIComponent(N.productName) || '', X = 100 * +U; 'item' === f.toLowerCase() && D && (X -= D * X / K); var Y = N.optionalData; for (var Z in Y) Y.hasOwnProperty(Z) && (S[Z] = S[Z] || '', S[Z] += encodeURIComponent(Y[Z]) + '|'); x += I + T + '|', y += V + '|', z += Math.round(X) + '|', A += I + W + '|' } x = x.slice(0, -1), y = y.slice(0, -1), z = z.slice(0, -1), A = A.slice(0, -1), D && 'order' === f.toLowerCase() ? (x += '|' + I + 'DISCOUNT', A += '|' + I + 'DISCOUNT', y += '|0', z += '|-' + D) : D && 'item' === f.toLowerCase() && (r = !0), h && C && (x += '|' + I + 'ORDERTAX', y += '|0', z += '|-' + C, A += '|' + I + 'ORDERTAX'), H += 'mid=' + t + '&ord=' + w + '&skulist=' + x + '&qlist=' + y + '&amtlist=' + z + '&cur=' + B + '&namelist=' + A + '&img=1&', p && (H += 'land=' + p + '&'), q && (H += 'tr=' + q + '&'), r && (H += 'discount=' + D + '&'); var Y = b.optionalData || {}; for (var Z in b.discountCode && (Y.coupon = b.discountCode), b.customerStatus && (Y.custstatus = b.customerStatus), b.customerID && (Y.custid = b.customerID), D && (Y.disamt = D), Y) Y.hasOwnProperty(Z) && (H += encodeURIComponent(Z) + '=' + encodeURIComponent(Y[Z]) + '&'); for (var Z in S) S.hasOwnProperty(Z) && (H += encodeURIComponent(Z) + 'list=' + S[Z].slice(0, -1), D && 'order' === f.toLowerCase() && (H += 'disamt' == Z || 'margin' == Z ? '|0' : '|DISCOUNT'), C && h && (H += 'disamt' == Z || 'margin' == Z ? '|0' : '|ORDERTAX'), H += '&'); '&' === H[H.length - 1] && (H = H.slice(0, -1)), 2037 < H.length && (H = H.slice(0, 2037), H += '&trunc=true'); var $, _ = document.createElement('img'); _.setAttribute('src', H), _.setAttribute('height', '1px'), _.setAttribute('width', '1px'), $ = document.getElementsByTagName('script')[0], $.parentNode.insertBefore(_, $) } sRAN(); function sDisplay() { var b = null, d = b, e = b, f = b, g = b, h = window.DataLayer && window.DataLayer.Sale && window.DataLayer.Sale.Basket ? window.DataLayer.Sale.Basket : {}, l = h.displayConfig || {}, m = (h.customerStatus || '') + '', n = h.discountAmount ? Math.abs(+h.discountAmount) : 0, p = b, q = '', r = __readParam('dmid', 'rdMID', '', l); if (!r) return !1; var t = __readParam('dtm', 'tagType', 'js', l); t = 'js' === t || 'if' === t || 'img' === t ? t : 'js'; var u = 'if' === t ? 'iframe' : 'img' === t ? t : 'script', w = __readParam('ddn', 'domain', 'tags.rd.linksynergy.com', l), x = '//' + w + '/' + t + '/' + r, y = __readParam('dis', 'includeStatus', 'false', l), z = __readParam('dcomm', 'allowCommission', 'notset', l); 'true' === z || !0 === z || '1' === z || 1 === z ? q = '1' : ('false' === z || !1 === z || '0' === z || 0 === z) && (q = '0'); var A = ''; if (m && (y && 'EXISTING' == m.toUpperCase() || y && 'RETURNING' == m.toUpperCase()) && (A = 'R_'), h.orderid && h.conversionType) { f = 0, e = encodeURIComponent(A + h.orderid), d = '', g = 'conv', p = encodeURIComponent(h.currency || ''); for (var B = 0; B < (h.lineitems ? h.lineitems.length : 0); B++)f += +h.lineitems[B].unitPriceLessTax * +h.lineitems[B].quantity || +h.lineitems[B].unitPrice * +h.lineitems[B].quantity, d += encodeURIComponent(h.lineitems[B].SKU) + ','; f = Math.round(100 * (f - n)) / 100, d = d.slice(0, -1) } else return !1; g && (x = -1 < x.indexOf('?') ? x + '&pt=' + g : x + '/?pt=' + g), d && (x = -1 < x.indexOf('?') ? x + '&prodID=' + d : x + '/?prodID=' + d), e && (x = -1 < x.indexOf('?') ? x + '&orderNumber=' + e : x + '/?orderNumber=' + e), f && (x = -1 < x.indexOf('?') ? x + '&price=' + f : x + '/?price=' + f), p && (x = -1 < x.indexOf('?') ? x + '&cur=' + p : x + '/?cur=' + p), q && (x = -1 < x.indexOf('?') ? x + '&tvalid=' + q : x + '/?tvalid=' + q); var C = document.createElement(u); C.src = x, 'script' == u ? C.type = 'text/javascript' : 'iframe' == u && C.setAttribute('style', 'display: none;'), document.getElementsByTagName('body')[0].appendChild(C) } sDisplay(); function sSearch() { var b = window.DataLayer && window.DataLayer.Sale && window.DataLayer.Sale.Basket ? window.DataLayer.Sale.Basket : {}, d = b.searchConfig || {}, e = 1024, f = encodeURIComponent('...TRUNCATED'), g = __readParam('smid', 'rsMID', '', d); if (!g) return !1; var h = __readParam('said', 'accountID', '113', d), l = function () { var o = { conversionType: encodeURIComponent(__readParam('sct', 'conversionType', b.conversionType && 'sale' !== (b.conversionType + '').toLowerCase() ? b.conversionType : 'conv', d)), revenue: 0, currency: encodeURIComponent(b.currency || 'USD'), orderId: encodeURIComponent(b.orderid || ''), promoCode: encodeURIComponent(b.discountCode || ''), discountAmount: b.discountAmount ? Math.abs(+b.discountAmount) : 0, customerStatus: encodeURIComponent(b.customerStatus || ''), productIDList: '', productNameList: '' }; if (b.lineitems && b.lineitems.length) { for (var p = 0; p < b.lineitems.length; p++)o.revenue += +(b.lineitems[p].unitPrice || 0) * +b.lineitems[p].quantity, o.productIDList += (b.lineitems[p].SKU || 'NA') + ',', o.productNameList += (b.lineitems[p].productName || 'NA') + ','; o.revenue = Math.round(100 * (o.revenue - o.discountAmount)) / 100, o.productIDList = encodeURIComponent(o.productIDList.slice(0, -1)), o.productNameList = encodeURIComponent(o.productNameList.slice(0, -1)), o.productIDList.length > e && (o.productIDList = o.productIDList.substring(0, e - f.length) + f), o.productNameList.length > e && (o.productNameList = o.productNameList.substring(0, e - f.length) + f) } kenshoo.trackConversion(h, g, o) }, m = -1 < document.location.protocol.indexOf('s') ? 'https://' : 'http://'; m += 'services.xg4ken.com/js/kenshoo.js?cid=' + g; var n = document.createElement('script'); n.type = 'text/javascript', n.src = m, n.onload = l, n.onreadystatechange = function () { ('complete' == this.readyState || 'loaded' == this.readyState) && l() }, document.getElementsByTagName('head')[0].appendChild(n) } sSearch();;


    function GetOrderLineItem() {
        var arrList = [];
        console.log(rakutenModel.OrderLineItems);
        $.each(rakutenModel.OrderLineItems, function (v, e) {
            var arr = {};
            arr['productName'] = $('<div />').html(e.ProductName).text();
            arr['SKU'] = e.Sku;
            arr['unitPriceLessTax'] = e.Price;
            arr['unitPrice'] = e.Price;
            arr['quantity'] = e.Quantity;
            arrList.push(arr);
        });
        console.log(arrList);
        return arrList;
        
    }
</script>*@
}
}