﻿@*<script src="https://www.paypalobjects.com/api/checkout.js"></script>*@
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers;
@model Znode.Engine.WebStore.ViewModels.CheckoutViewModel
@{
    string _display = string.Empty;
    bool isGuest = true;
    if ((User.Identity.IsAuthenticated))
    {
        _display = Model.UserId < 1 ? "display:block;" : "display:none;";
        isGuest = false;

    }
    else
    {
        _display = Model.UserId < 1 ? "display:block;" : "display:none;";
    }

    //    string _display = isGuest ? Model.UserId < 1 ? "display:block;" : "display:none;" : "display:none;";
    bool enablePerOrderlimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderLimit)?.AttributeValue);
    bool enableUserOrderAnnualLimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderAnnualLimit)?.AttributeValue);
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    string currencyCode = PortalAgent.CurrentPortal.CurrencyCode;
    string perOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.PerOrderLimit, currencyCode);
    string annualOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.AnnualOrderLimit, currencyCode);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isRegistered = User.Identity.IsAuthenticated;

    //string url = "../Views/Themes/Windy_City/Images/throbber.svg";
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var _consoleLog = console.log;
</script>
<div id="divSinglePageCheckout" class="main-wrapper">
    <div class="container">
        <div class="row single-page-checkout">
            <div class="col-xs-12 nopadding wcn-checkout-info">
                <div class="col-xs-12 col-md-9 nopadding wcn-checkout-left-panel ">
                    <div class="col-xs-12 wcn-checkout-title">
                        <h1 class="pull-left page-title">@WebStore_Resources.ButtonCheckout</h1>
                    </div>
                    <div class="col-xs-12 col-md-6 nopadding shipping-address padding-top">
                        @{ Html.RenderAction("AccountAddress", "Checkout");}
                    </div>
                    <div class="col-xs-12 col-md-6 nopadding padding-top">
                        <div class="col-xs-12 col-sm-6 col-md-12 nopadding shipping-method">
                            <div class="col-xs-12 col-sm-6 col-md-12 nopadding margin-bottom">
                                @{ Html.RenderAction("ShippingOptions", "Checkout");}
                            </div>
                        </div>

                        @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.DNRA.ToString(), StringComparison.CurrentCultureIgnoreCase) ||
(string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase)) ||
(string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal <= Model.BudgetAmount) && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)
|| string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase)) || string.Equals(Model.RoleName, ZnodeRoleEnum.Customer.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Admin.ToString(), StringComparison.CurrentCultureIgnoreCase) || Equals(Model.RoleName, null))
                        {
                            <div class="col-xs-12 col-sm-6 col-md-12 nopadding signle-page-payment margin-bottom">
                                @{ Html.RenderAction("PaymentOptions", "Checkout");}
                            </div>
                        }
                        //if the user other than admin user then payment options should be display for it.
                        else if (!string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.Admin.ToString(), StringComparison.CurrentCultureIgnoreCase)
                                        && !string.Equals(Model.RoleName, ZnodeRoleEnum.Customer.ToString(), StringComparison.CurrentCultureIgnoreCase) && !string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && !Equals(Model.RoleName, null))
                        {
                            <div class="col-xs-12 col-sm-6 col-md-12 nopadding signle-page-payment margin-bottom">
                                @{ Html.RenderAction("PaymentOptions", "Checkout");}
                            </div>
                        }
                    </div>
                    <div class="col-xs-12 hidden-md hidden-lg nopadding wcn-checkout-btn-top">
                        <div class="quotebutton">
                            @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForDraft()" id="btnSaveDraft" class="btn btn-default btn-text-icon red margin-bottom btn-color-yellow">@WebStore_Resources.ButtonSaveDraft</button>
                            }

                            @if (string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-default btn-text-icon red margin-bottom pull-right btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                            else if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal > Model.BudgetAmount || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase))))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn btn-default btn-text-icon red margin-bottom singlecheckoutsubmitquote btnCompleteCheckout btn-color-yellow">@WebStore_Resources.ButtonSubmitForApproval</button>
                            }
                            else
                            {
                                <button type="submit" id="btnCompleteCheckout" onclick="Checkout.prototype.SubmitOrder()" class="btn btn-default btn-full margin-bottom singlecheckoutsubmitpayment btnCompleteCheckout btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="col-xs-12 review-order nopadding" id="cart-review-content">
                            @{
                                if (Model.ShippingId > 0)
                                {
                                    Html.RenderAction("CartReview", "Checkout", new { shippingOptionId = Model.ShippingId });
                                }
                                else
                                {
                                    Html.RenderAction("CartReview", "Checkout");
                                }
                            }
                        </div>
                        @Html.HiddenFor(m => m.QuoteId)
                        @Html.HiddenFor(m => m.OrderStatus)
                        @Html.HiddenFor(m => m.PermissionCode)
                        @Html.HiddenFor(m => m.RoleName)
                        @Html.HiddenFor(m => m.ShippingId)
                        @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
                        @Html.HiddenFor(m => m.UserId)
                        @Html.Hidden("EnablePerOrderlimit", enablePerOrderlimit)
                        @Html.Hidden("EnableUserOrderAnnualLimit", enableUserOrderAnnualLimit)
                        @Html.Hidden("PerOrderLimit", userViewModel?.PerOrderLimit)
                        @Html.Hidden("AnnualOrderLimit", userViewModel?.AnnualOrderLimit)
                        @Html.Hidden("AnnualBalanceOrderAmount", userViewModel?.AnnualBalanceOrderAmount)
                        @Html.Hidden("PerOrderLimitWithCurrency", perOrderLimitWithCurrency)
                        @Html.Hidden("AnnualOrderLimitWithCurrency", annualOrderLimitWithCurrency)
                        @Html.HiddenFor(m => m.IsRequireApprovalRouting)
                        @Html.HiddenFor(m => m.EnableApprovalRouting)
                        @Html.Hidden("hdnPortalId", portalId)
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 nopadding wcn-aside-panel">
                    <div class="col-xs-12 visible-md visible-lg nopadding wcn-summary-top">
                        <div class="quotebutton">
                            @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForDraft()" id="btnSaveDraft" class="btn btn-default btn-text-icon red margin-bottom-10 btn-color-yellow">@WebStore_Resources.ButtonSaveDraft</button>
                            }

                            @if (string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-default btn-text-icon red margin-bottom-10 pull-right btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                            else if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal > Model.BudgetAmount || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase))))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn btn-default btn-text-icon red margin-bottom-10 singlecheckoutsubmitquote btnCompleteCheckout btn-color-yellow">@WebStore_Resources.ButtonSubmitForApproval</button>
                            }
                            else
                            {
                                <button type="submit" id="btnCompleteCheckout" onclick="Checkout.prototype.SubmitOrder()" class="btn btn-default btn-full margin-bottom-10 singlecheckoutsubmitpayment btnCompleteCheckout btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding wcn-summary">
                        <div class="quotebutton">
                            @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.RoleName, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForDraft()" id="btnSaveDraft" class="btn btn-default btn-text-icon red margin-bottom-10 btn-color-yellow">@WebStore_Resources.ButtonSaveDraft</button>
                            }

                            @if (string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn btn-default btn-text-icon red margin-bottom-10 pull-right btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                            else if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal > Model.BudgetAmount || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase))))
                            {
                                <button type="submit" onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn btn-default btn-text-icon red margin-bottom-10 singlecheckoutsubmitquote btnCompleteCheckout btn-color-yellow">@WebStore_Resources.ButtonSubmitForApproval</button>
                            }
                            else
                            {
                                <button type="submit" id="btnCompleteCheckout" onclick="Checkout.prototype.SubmitOrder()" class="btn btn-default btn-full margin-bottom-10 singlecheckoutsubmitpayment btnCompleteCheckout btn-color-yellow">@WebStore_Resources.TextCompletePurchase</button>
                            }
                        </div>
                        @Html.RenderMessage("ShippingTextAfter2PM")
                    </div>

                    <div class="col-xs-12 nopadding wcn-checkout-summary">
                        @{ Html.RenderAction("WCNCartReview", "WCNCheckout");}
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div style="@_display" class="sign-in wcn-customer-login hidden-xs hidden-sm">
                            <a href="javascript:void(0)" onclick="WCNUser.prototype.LoadLogin();">Existing Customer Login</a>
                        </div>
                        <div style="@_display" class="sign-in hidden-xs hidden-sm">
                            <a href="javascript:void(0)" onclick="WCNUser.prototype.LoadRegister();">Create an account for later use</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Loader specific for Single Page checkout-->
    <div id='Single-loader-content-backdrop' class='modal-backdrop fade in' style="display:none">
        <div id='loading' class='loader before loader-body'></div>
        <div id='loading' class='loader loader-body'></div>
        <div id='loading' class='loader after loader-body'></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="PaymentModal" role="dialog">
        <div class="modal-dialog compare-product-popup">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body" style="padding-bottom:30px;">
                    <p class="padding-bottom-10">@WebStore_Resources.TextPaymentMethod</p>
                    <div id="loading" class="loader after loader-body"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Error Payment Modal-->
    <div class="modal fade" id="ErrorPaymentModal" role="dialog">
        <div class="modal-dialog compare-product-popup">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                    <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="pull-right">
                            <button type="button" class="btn-text btn-default btn" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Address Popup-->
<div class="modal fade address-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
            </div>
        </div>
    </div>
</div>
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End Trustbox script -->
<script src="~/Scripts/Extensions/ArtifiApi.js"></script>
<script>
    $(document).ready(function () {
        WCNCheckout.prototype.ShippingOptions();
        Checkout.prototype.CalculateShipping("");
        $(".cart-item-remove").remove();
        var isValid= $("#hdndisablecheckout").val();

        if(isValid!=null && isValid!="" && typeof isValid!='undefined' && isValid.toLowerCase()=="true" )
        {
            $(".btnCompleteCheckout").addClass('disable-anchor');
        }
    });
    $(document).off("click", "#address-popup-content .close");
    //Remove for button reload event for shipping and billing address
    //$(document).on("click", "#address-popup-content .close", function () {
    //    location.reload();
    //});

    if (("@isGuest" == "False"))
    {
        GetArtfiCredentials(@portalId, localStorage.getItem("UserId"), true, function(){
        })
        UpdateUserId(localStorage.getItem("UserId"), @Model.UserId,@portalId);
    }
    else {
        GetArtfiCredentials(@portalId, @Model.UserId, true, function(){
        })
    }
</script>


