﻿@using Znode.Engine.WebStore.ViewModels
@model List<CategoryViewModel>
@{
    WCNCategoryViewModel wcnCategoryViewModel = new WCNCategoryViewModel();
    if (TempData["CategoryDetails"] != null)
    {
        wcnCategoryViewModel = TempData["CategoryDetails"] as WCNCategoryViewModel;
    }
}
@if (Model?.Count > 0)
{
    <div class="col-xs-12 product-grid category-list nopadding">
        @*<a href="#" id="toggle-filters" data-toggle="accordion-category" class="toggle active pull-right">@WebStore_Resources.TextShowHideSubCategory</a>*@
        @*<a data-toggle="collapse" data-parent="#accordion" href="#accordion-category" class="toggle active pull-right category-hide" aria-expanded="true" aria-controls="collapseOne">@WebStore_Resources.TextShowHideSubCategory</a>*@
        <div id="accordion-category" class="collapse in">
            @*<h1>@WebStore_Resources.LabelCategory</h1>*@
            <div class="col-xs-12 product-view nopadding">
                <div class="col-xs-12 product-view nopadding">
                    <ul id="view-option-category" class="product-grid-ul grid-view">
                        @foreach (var _category in Model)
                        {
                            _category.Subcategories = wcnCategoryViewModel?.Category?.Subcategories?.Where(x => x.CategoryId == _category.CategoryId).ToList()?.FirstOrDefault()?.Subcategories;
                            @Html.Partial("_CategoryGridRow", _category)
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="product-grid"></div>
}

