﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<li>
    <article class="product-item">
        <div class="view-item category-item">
            <div class="category-img">
                @if (Model.Subcategories?.Count > 0)
                {
                    <a href='@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)'>
                        <div class="image">
                            <img id="@Model.CategoryId" src="@Model.ImageSmallPath" class="img-responsive" data-src="@Model.ImageSmallPath" />
                        </div>
                        <div class="category-details">
                            <h4 class="title margin-top-10" data-toggle="popover" data-placement="bottom" data-content="@WebUtility.HtmlDecode(Model.CategoryName)">@WebUtility.HtmlDecode(Model.CategoryName)</h4>
                        </div>
                    </a>
                }
                else
                {
                    <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)">
                        <div class="image">
                            <img id="@Model.CategoryId" src="@Model.ImageSmallPath" class="img-responsive" data-src="@Model.ImageSmallPath" />
                        </div>
                        <div class="category-details">
                            <h4 class="title margin-top-10" data-toggle="popover" data-placement="bottom" data-content="@WebUtility.HtmlDecode(Model.CategoryName)">@WebUtility.HtmlDecode(Model.CategoryName)</h4>
                        </div>
                    </a>
                }
            </div>
        </div>
    </article>
</li>
