﻿@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{
    string HomeCategoryImage = PortalAgent.CurrentPortal.MediaServerUrl + Model.Attributes?.Value("HomeCategoryImage");
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<li>
    <article>
        <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)">
            <div class="col-sm-5 nopadding">
                <img id="@Model.CategoryId" src="@HomeCategoryImage" alt="@Html.RenderBlock(Model.Attributes.Value("Categorydisplayname"))" class="img-responsive" data-src="@HomeCategoryImage" />
            </div>
            <div class="col-sm-7 category-title">
                <h2 class="category-title-label">@Html.RenderBlock(Model.Attributes.Value("Categorydisplayname"))</h2>
                <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "PromoText"))</p>
            </div>
        </a>
    </article>
</li>