﻿@model Dictionary<string, object>

<div class="container">
    <div class="main-wrapper">
        <div class="col-xs-12 nopadding wcn-page-title-container">
            <h2>@Model["categoryName"].ToString()</h2>
        </div>
        <div class="col-xs-12 nopadding wcn-seemore-category">
            @{ var WidgetPage = new Dictionary<string, object>
                    {
                    {"PageName", "SeeMorePage"}
                    }; }
            @{ switch (Model["categoryName"].ToString())
            {
                    case "Last Chance":
                        <z-widget>@Html.WidgetPartial("CategoryList", "LastChance", "1990", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Convert.ToInt32(Model["portalId"]), WidgetPage) </z-widget>
                        break;
                    case "Shop Early":
                        <z-widget>@Html.WidgetPartial("CategoryList", "ShopEarly", "1991", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Convert.ToInt32(Model["portalId"]), WidgetPage)</z-widget>
                        break;
                    case "Featured Themes":
                        <z-widget>@Html.WidgetPartial("CategoryList", "FeaturedThemes", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Convert.ToInt32(Model["portalId"]), WidgetPage)</z-widget>
                        break;
                    case "Top Product Categories":
                        <z-widget>@Html.WidgetPartial("CategoryList", "TopProductCategorie", "1995", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Convert.ToInt32(Model["portalId"]), WidgetPage)</z-widget>
                        break;
                }

            }
        </div>
    </div>
</div>






