﻿@using Znode.Engine.WebStore.ViewModels
@model IEnumerable<CategorySubHeaderViewModel>
@using Znode.Libraries.ECommerce.Utilities

@{
    int count = 0;
    int subCount = 0;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@foreach (var subCategory in Model)
{
    subCount = Convert.ToInt32(subCategory?.ParentCategories?.Select(s => s.Attributes)?.FirstOrDefault()?.Value("MegaMenuChildCount"));
    var Displayname = (subCategory?.Attributes?.Value("Categorydisplayname")) != null ? WebUtility.HtmlDecode((subCategory?.Attributes?.Value("Categorydisplayname"))) : WebUtility.HtmlDecode(subCategory.CategoryName);

    if (subCount > 0 && Equals(subCount, count))
    {
        if (HelperUtility.IsNotNull(ViewData["ParentCategorySEOPageName"]))
        {
            <a href="@domainurl@Convert.ToString(ViewData["ParentCategorySEOPageName"])" class="view-all" title="@WebStore_Resources.LabelViewAll">@WebStore_Resources.LabelViewAll...</a>
            break;
        }
    }
    <li>
        <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(Displayname)</a>
        @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
        {
            int megacount = Convert.ToInt32(subCategory.ChildCategoryItems.SelectMany(s => s.ParentCategories).Select(s => s.Attributes)?.FirstOrDefault()?.Value("MegaMenuChildCount"));

            if (megacount > 0)
            {
                <ul class="sub-menu-child">
                    @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems, new ViewDataDictionary { { "ParentCategorySEOPageName", Url.GetCategoryUrl(subCategory.SEOPageName, null, subCategory.CategoryId) } })
                </ul>
            }
        }
    </li>
    count++;
}
