﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<ul class="nav navbar-nav" style="height:20px;">
    @{
        foreach (var category in Model.Categories)
        {
            var displayName = (category.Attributes?.Value("Categorydisplayname")) != null ? WebUtility.HtmlDecode((category.Attributes?.Value("Categorydisplayname"))) : WebUtility.HtmlDecode(category.CategoryName);
            <li class="dropdown yamm-fw">
                <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))">@Html.RenderBlock(WebUtility.HtmlDecode(displayName))</a>
                @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                {
                    <span class="dropdown-click zf-wcn-arrow-down"></span>
                    <ul class="dropdown-menu list-unstyled fadeInUp animated">
                        @Html.Partial("_HeaderSubNav", category.SubCategoryItems)
                    </ul>
                }
            </li>
        }
    }
</ul>
