﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
<li>
    <a href="@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)" title="@WebUtility.HtmlDecode(Model.CategoryName)" >@WebUtility.HtmlDecode(Model.CategoryName)<i class="zf-wcn-arrow-right-bold"></i></a>
</li>

