﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    Dictionary<string, object> searchProperties = new Dictionary<string, object>();
    string pageSize = string.IsNullOrEmpty(Request.QueryString[WebStoreConstants.PageSize]) ? "80" : Request.QueryString[WebStoreConstants.PageSize];
    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@Html.RenderMessage("FreeShippingOnAllOrders")
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding wcn-page-title-container text-center">
                <h1>@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                <!-- Breadcrumb -->
                <input type="hidden" value="@Model.CategoryId" id="categoryId" />
                <div id="breadCrumb" class="breadcrumb-container">@Html.RenderBlock(Model.BreadCrumbHtml)</div>
                <p class="text-center">@Html.RenderBlock(Attributes.Value(Model.Attributes, "ShortDescription"))</p>
            </div>
            <section class="col-xs-12 nopadding display-flex mobile-padding">
                <div class="side-nav-backdrop"></div>
                <aside id="facets" class="wcn-aside-box side-nav nav-right b2b-side-bar">
                    <button type="button" class="close CloseNav"><span aria-hidden="true">×</span></button>
                    <div id="asideCategoryMenu">
                        <div class="col-xs-12 nopadding">
                            <ul class="wcn-sub-category">
                                <li>
                                    <a href="#" class="category-text" title="@WebUtility.HtmlDecode(Model.CategoryName)"><strong>@WebUtility.HtmlDecode(Model.CategoryName)</strong></a>
                                </li>
                                @if (Model != null)
                                {
                                    if (Model?.ParentCategory?.Count > 0)
                                    {
                                        string backUrl = "/" + (string.IsNullOrEmpty(Model?.ParentCategory[0].SEODetails?.SEOUrl) ? "category/" + Model.ParentCategory[0].CategoryId : Model?.ParentCategory[0].SEODetails?.SEOUrl);
                                        <li class="aside-category-back">
                                            <a href='@domainurl@backUrl'><i class="zf-wcn-arrow-left-bold"></i>@WebStore_Resources.ButtonBack</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="aside-category-back">
                                            <a href="/"><i class="zf-wcn-arrow-left-bold"></i>@WebStore_Resources.ButtonBack</a>
                                        </li>
                                    }
                                }


                                <z-widget>@Html.WidgetPartial("CategoryMenuList", "MenuCategoryList", "112", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                            </ul>
                        </div>
                    </div>
                    <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>
                    <div class="col-xs-12 nopadding">
                        <div id="compareProductList">
                        </div>
                    </div>
                </aside>
                <div class="wcn-category-product-landing">
                    <z-widget>@Html.WidgetPartial("ProductGrid", "ProductList", "124", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>

                    <div class="col-xs-12 nopadding wcn-long-description">
                        <p class="text-center">@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<script>
    $(window).ready(function () {
        var flagerror = ZnodeBase.prototype.getCookie("errorflag");
        if (flagerror == 1) {
            ZnodeBase.prototype.deleteCookie("errorflag");
        }
    });
</script>