﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@model  WCNCategoryViewModel
@{
    var _rq = Request.QueryString;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    int CategoryId = Model.Category.CategoryId;
    TempData["CategoryDetails"] = Model;
    ViewBag.Title = Model.Category.CategoryName;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

@Html.RenderMessage("FreeShippingOnAllOrders")
<div id="layout-category" data-category='@Model.Category.CategoryName' data-categoryId='@Model.Category.CategoryId' class="main-wrapper wcn-category">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding wcn-page-title-container text-center">
                <h1>@Html.RenderBlock(Attributes.Value(Model.Category.Attributes, "CategoryTitle"))</h1>
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="breadcrumb-container">@Html.RenderBlock(Model.Category.BreadCrumbHtml)</div>
                <div class="text-center">@Html.RenderBlock(Attributes.Value(Model.Category.Attributes, "ShortDescription"))</div>
            </div>
            <section class="col-xs-12 nopadding display-flex mobile-padding">
                <aside id="facets" class="wcn-aside-box side-nav nav-right b2b-side-bar">
                    <div id="asideCategoryMenu">
                        <div class="col-xs-12 nopadding">
                            <ul class="wcn-sub-category">
                                <li>
                                    <a href="#" class="category-text" title="@WebUtility.HtmlDecode(Model.Category.CategoryName)"><strong title="@WebUtility.HtmlDecode(Model.Category.CategoryName)">@WebUtility.HtmlDecode(Model.Category.CategoryName)</strong></a>
                                </li>
                                @if (Model.Category != null)
                                {
                                    if (Model?.Category?.ParentCategory?.Count > 0)
                                    {
                                        <li class="aside-category-back">
                                            <a href='@domainurl@Model.BackURL'>@WebStore_Resources.ButtonBack<i class="zf-wcn-arrow-left-bold"></i></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="aside-category-back">
                                            <a href="/">@WebStore_Resources.ButtonBack<i class="zf-wcn-arrow-left-bold"></i></a>
                                        </li>
                                    }
                                    foreach (var subCategory in Model.Category.Subcategories)
                                    {

                                        <li>
                                            @if (subCategory.Subcategories?.Count > 0)
                                            {
                                                string setUrl = "/" + (string.IsNullOrEmpty(subCategory?.SEODetails?.SEOUrl) ? "category/" + subCategory.CategoryId : subCategory.SEODetails.SEOUrl);
                                                <a href="@domainurl@setUrl" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subCategory.CategoryName)<i class="zf-wcn-arrow-right-bold"></i></a>
                                            }
                                            else
                                            {
                                                <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEODetails?.SEOUrl, null, subCategory.CategoryId)" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="wcn-category-landing">
                    <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), CategoryId)</z-widget>
                    @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
                    {
                        if (!Helper.InfinityLoading)
                        {
                            <div class="col-xs-12 nopadding">
                                <div class="category-more text-center margin-top-bottom">
                                    @*@Html.ActionLink(WebStore_Resources.LabelViewAll + "" + Model.Category.CategoryName, "Index", "Category", new { category = Model.CategoryName, CategoryId, viewAll = true },new { @class = "btn-text red", })*@
                                </div>
                            </div>
                        }
                    }
                    <div class="col-xs-12 nopadding wcn-long-description">
                        <p>@Html.RenderBlock(Attributes.Value(Model.Category.Attributes, "LongDescription"))</p>
                    </div>
                </div>
            </section>
            <input type="hidden" value="@Model.Category.CategoryId" id="categoryId" />
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/lib/infiniteScroll.js"></script>
}



