﻿@using Znode.Engine.WebStore.Agents

@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _category = ViewBag.category;
    int _categoryId = ViewBag.categoryId ?? 0;
    bool _viewAll = ViewBag.viewAll ?? false;
    bool _fromSearch = ViewBag.fromSearch ?? false;
    bool _bindBreadcrumb = false;
    string _FacetGroup = ViewBag.facetGroup;


    int pageSize = Convert.ToInt32(Request.QueryString["pagesize"]);
    int pageNumber = Convert.ToInt32(Request.QueryString["pagenumber"]);
    string sort = Convert.ToString(Request.QueryString["sort"]);
    Html.RenderAction("CategoryContent", "Category", new { category = _category, categoryId = _categoryId, viewAll = _viewAll, fromSearch = _fromSearch, publishState = PortalAgent.CurrentPortal.PublishState, bindBreadcrumb = _bindBreadcrumb, facetGroup = _FacetGroup, pageSize = pageSize, pageNumber = pageNumber, sort = sort });

    //ViewBag.Title = TempData["Title"];
    //ViewBag.Keywords = TempData["Keywords"];
    //ViewBag.Description = TempData["Description"];
}

@section scripts{
	<script src="~/Scripts/lib/infiniteScroll.js" async></script>
}
@if (Request.IsAjaxRequest())
{
	<script src="@_fileLocation/Scripts/lib/event.min.js"></script>
}


