﻿.cart-products{z-index:1;margin-top:2px;
    .cart-total-title{padding:15px;border-bottom:1px solid $border-light;
        h2{margin:0;font-size:$base-font-size + 1;text-transform:uppercase;}
    }
}
.b2b-cart-page{
    .loged-out-product-details .loged-out-product-title{font-size:18px;}
     .b2b-right-cart-container{padding:20px 0;display:flex;align-items:center;}
     .cart-summary .b2b-coupon-msg .error-msg{padding-bottom:10px;}
     .shopping-cart .b2b-block .shipping-estimator-input .promotion-block {border: 1px solid red; background: rgb(255, 206, 206)}
     .cart-summary{
         .btn-primary{width:100% !important;display:block;border:0px;height:50px;line-height:28px;margin:0px!important;}
     }
}

//Table cart
.table-cart {
    .table-title{width:52%;}
    .table-unitprice{width:15%;}
    .table-qty{width:11%;}
    .table-subtotal{width:15%;text-align:right;}
}
.table thead th{border-bottom:none;border-top:none;}

.b2b-cart{
    .b2b-cart-row{padding:5px 5px;
        
    }
    .b2b-remove-item{width:30px;display:flex;justify-content:center;}
        .b2b-cart-item-details{flex:1;padding:0px 20px 0px 0px;display:flex;
            img{max-width:75px;margin-right:15px;min-height:75px;}
            .cart-description{
                > div{font-size:$base-font-size - 3;}
                .right-icon{font-size:$base-font-size - 4;margin-right:5px;}
                .cart-item-title{font-size:$base-font-size;font-family:$base-font-family-bold;font-weight:normal;color:$text-default;}
                .sku-cart{font-size:$base-font-size;font-family:$base-font-family;font-weight:normal;color:$text-default;text-transform:uppercase;margin-top:10px;}
            }
        }
        .b2b-col-width{flex:1;
            &.cart-item-unitprice,&.cart-item-total,&.cart-item-quantity .quoteQuantity{font-family:$base-font-family-bold;font-size:$base-font-size + 2;line-height:38px;display:contents;}
            .b2b-col-item-title{font-size:$base-font-size;font-family:$base-font-family-bold;line-height:1;margin-bottom:7px;}
            input{width:54px;text-align:center;}
        }
         .error-msg{width:100%;right:20px;padding-top:10px;bottom:5px;}
    .loged-out-product-details .loged-out-product-text{line-height:1.25;}
}
.cart-item-remove{color:$text-default;font-size:$base-font-size - 1;display:flex;
    .close-circle-icon{font-size:$base-font-size + 2;margin:0 5px;line-height:1.2;}
}


.cart-total{
    div{font-family:$base-font-family-bold;font-size:$base-font-size;}
    .total{
        h2{font-size:$base-font-size + 5;margin:10px 0 10px 0;color:$text-default;}
    }
    .border-line{border-bottom:1px solid #cccccc;}
}

.dashboard-loader{
    margin: 0 auto;text-align:center;display:block;
}

.order-summary{
    padding:10px!important;background-color: #f5f5f5;
}
.wcn-update-cart-btn{
    a{background-color:$base-primary;color:$white;padding: 5px;margin-top: 5px;position: absolute;font-size:$base-font-size - 2;text-decoration:none;}
}
#cart-review-content{
    .wcn-update-cart-btn{
        a{display:none;}
    }
}

.b2b-block{padding:0px;
    .form-group{margin:0;}
    .block-title{font-size:$base-font-size + 6;text-transform:uppercase;font-family:$base-font-family-bold;padding:15px;border-bottom:1px solid $border-light;margin:0;
        span{padding:3px 10px;margin-right:10px;color:$white;background-color:$base-primary-light;}
    }
    .block-content{padding:15px 0px 15px 0px;line-height:1.25;
        .address-details{margin-bottom:15px;}
        .block-items-title{font-family:$base-font-family-bold;margin:0 0 5px 0px;}
        .block-items{width:100%;
            .shipping-estimator-input{position:relative;display:flex;flex:1;}
            .cancel-shipping-estimator{position:absolute;align-self:center;cursor:pointer;right:20px;top:10px;background-color:transparent;border:none;}
        }
        .address-details .address-name{font-family:$base-font-family-bold;}
        .styled-input label{margin-bottom:10px;}
    }
    .b2b-coupon-msg{
        > div{padding-left:20px;
            .zf-close{font-size:$base-font-size - 2;padding-right:10px !important;cursor:pointer;}
        }
    }
}

.cart-guarantee-img{
    img{width: 40%;margin-left: auto;margin-right: auto;display: block;margin-bottom: 25px;}
}

.shipping-estimate-details{padding:0 20px;color:$base-primary;
    .form-group{display:flex;padding-bottom:10px;
        > div {
            &:nth-child(1) {
                width:80%;
            }

            &:nth-child(2) {
                text-align: right;
                width: 18%;
                padding-left: 5px;
            }
        }
    }
}

.cart-button{padding-right:30px;}
.remove-cart{display:flex;}

@include screensize(x-small){
        .b2b-cart-page{
        .b2b-right-cart-container{padding:0 15px;align-items:center;margin-bottom:15px;}
       }
        .b2b-cart{
            thead{display:none;}
        }
        .other-td{display:inline-block;border-top: none !important;width:33%;}
        .shopping-cart {
            h1 {
                border: none;
                border-radius: 0px;
                outline: none;
                outline-offset: -5px;
                text-align: left;
                padding: 10px 0px 10px 15px;
                text-transform: uppercase;
                font-size: $base-font-size + 5;
                text-align:center;
            }
        }
}
@include screensize(small){
     .b2b-cart-page{
        .b2b-right-cart-container{padding:20px 0;display:contents;align-items:center;margin-bottom:0;}
     }
      .b2b-cart{
          thead{
              tr{border-bottom:1px solid $border-light}
          }
          tbody{
              tr{border-bottom:1px solid $border-light}
          }
      }
       .other-td{display:table-cell !important;border-top: 1px solid $border-light !important;width:auto;}
      .table td{border-top:none;}
     .shopping-cart {
        h1 {
            border: 1px double #e1e1e1;
            border-radius: 5px;
            outline: 1px solid #e1e1e1;
            outline-offset: -5px;
            text-align: left;
            padding: 10px 0px 10px 15px;
            text-transform: uppercase;
            font-size: $base-font-size + 12;
            text-align:left;
        }
    }
    .cart-products .cart-total-title h2{font-size:$base-font-size + 6;}
    .b2b-cart{
        thead{display:contents;}
        .b2b-cart-row{
            .b2b-remove-item{width:40px;}
            .b2b-col-width{width:120px;flex:initial;}
        }
        .loged-out-product-details .loged-out-product-text{line-height:38px;}
    }
    .b2b-block{
        .block-content{
            .block-items{max-width:385px;
                button{width:auto;margin-top:0;}
            }
        }
    }
}