﻿@using Znode.Engine.Admin.ViewModels
@model TaxClassSKUListViewModel
@using Znode.Engine.Admin.Models

@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    int? TaxClassId = 0;
    string Name = null;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="AssociatedSKUList">
        <div class="col-sm-12 title-container">
            <h1>@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.HeadingTax)<i class="z-minus"></i><span>@Model.Name</span></h1>
            <div class="pull-right btn-container">
                @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "List", "TaxClass", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
                <div class="pull-right padding-left">
                    @Html.AuthorizedPrototypeRawActionLink(PIM_Resources.AssociateProducts, "ProductList", "TaxClass", new { @class = "btn-text btn-text-secondary", @data_test_selector = "linkAssociateProducts", @id = "addTaxClassSKU", onclick = "ZnodeBase.prototype.BrowseAsidePoupPanel('/TaxClass/ProductList','divtaxProductListPopup')" })
                </div>
            </div>
        </div>
        <div class="main-wrapper">
            <!--Left Panel-->
            @Html.Partial("~/Views/TaxClass/_asideTaxPanel.cshtml", Model)
            <!--Main Container-->
            <section class="main-container">
                <div class="col-sm-12 nopadding" id="taxClassSKU">
                    <div id="divAddSKU" class="modal fade" role="dialog">
                        @*Don't delete this div, mainly due to "Add SKU popup" will display in this div*@
                    </div>
                </div>
                @using (Ajax.BeginForm(actionName, controllerName, new { taxClassId = Model.TaxClassId, name = Model.Name }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent">
                        @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
                <div class="col-sm-12 list-container">
                    @{
                        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                    }
                </div>

                @foreach (var model in Model.TaxClassSKUList)
                {
                    TaxClassId = model.TaxClassId;
                    Name = model.Name;
                }
                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "TaxClassSKUDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "TaxClass.prototype.DeleteMultipleTaxClassSKU(this, '"+Model.TaxClassId+"')"}
                         }
                    })
                @Html.HiddenFor(m => m.TaxClassId)
                @Html.HiddenFor(m => m.Name)
            </section>
        </div>
    </div>
</div>
<div id="divtaxProductListPopup" class="aside-popup-panel modal-dialog modal-lg">
</div>