﻿.home-slider{
    .owl-carousel .owl-item .item{display:block;}
    .owl-carousel{
        //  Change later (text-alignment from admin side).
        .carousel-caption{position:relative;padding:20px;top:0;flex:1;transform:translate(0,0);max-width:100%;
            .first{font-size:24px;}
            h3{font-size:35px;}
            div{font-size:18px;}
            button{margin:15px 0 5px 0;}
        }
    }
    
}

//Shipping banner
.shipping-banner-home{
    img{width:100%;border: 1px solid #e1e1e1;border-top: none;}
}

//welcome message
.welcome-banner-msg{
    h1{font-size:$base-font-size;font-weight: normal;text-align: center;margin-top: 15px;margin-bottom: 15px;}
}

// For Home page category widgets & Seemore Category


#advertisement-banner {
    padding-top: 15px;

    .owl-wrapper{display:inline!important;}

    .owl-item {
        padding: 5px 5px 19px;
        width: 100% !important;

        .banner-details{
            color:#333333!important;
            padding-top:10px;
            font-size: $base-font-size + 8;
            font-weight: normal;

            .shop-now{
                color:$base-primary;
                font-weight:normal;
                font-size:$base-font-size - 2;
            }
        }
        .item {
            box-shadow: $box-shadow;
            border-radius: 0;

            &:hover {
                box-shadow: $box-shadow-hover;
            }

            > a {
                display: flex;
                padding: 0px;
                flex-wrap: wrap;
                width: 100%;

                img {
                    order: 1;
                    align-self: center;
                    margin-right: 0px;
                }

                .carousel-caption {
                    text-shadow: none;
                    transform: translate(0,0);
                    top:0px;

                    .promo-title {
                        font-family: $base-font-family-bold;
                        font-size: $base-font-size + 5;
                        color: $text-primary;
                        letter-spacing: 1.25px;
                        text-transform: uppercase;
                    }

                    .promo-description {
                        font-family: $base-font-family;
                        font-size: $base-font-size + 2;
                        color: $base-tertiary;
                        letter-spacing: 0.88px;
                        line-height: 20px;
                        margin: 10px 0;
                    }

                    .btn {
                        border-color: $base-tertiary-light;
                        display: block;
                        margin: 10px auto 0;
                        padding: 15px 20px;
                    }
                }
            }
        }
    }
}
.featured-products{padding-top:40px;padding-bottom:40px;
    .featured-products-block{padding:0;}
}
.carousel-card {
    padding: 2rem 0;
}
.user-promotion-msg{
    font-size:16px;
    color: $base-secondary-light;
    padding: 10px;
}
.loged-out-product-details{padding:10px 0;
    .loged-out-product-title{font-family:$base-font-family-bold;font-size:$base-font-size + 1;}
    .loged-out-product-text{font-size:$base-font-size - 2;}
    a{text-decoration:underline;}
}
.product-list-title{text-align:center;font-size:$base-font-size + 6;}

//  Used on home page and category list page
.view-option-category{padding:0 5px;list-style:none;display:flex;flex-wrap:wrap;margin-top:25px;
    li{width:50%;padding:10px;}
    .b2b-categories{padding:10px;}
    a{width:100%;display:block;
        &:hover{
            img{box-shadow:$box-shadow-hover;}
            label{cursor:pointer;}
        }
        text-align:center;
    }
    img{padding:15px;box-shadow:$box-shadow;width:100%;min-height: 150px;margin-bottom:10px;}
    label, span{width:100%;font-family:$base-font-family-bold;font-size:$base-font-size; color:$text-default;display:block;}
}
//  Used on home page and product list page
.b2b-products {
    padding: 10px;

    .product-item {
        padding: 0px;
        border: 2px solid $white;
        position: relative;
        width: 100%;

        &:hover {
            border: 2px solid $base-primary;

            .title {
                color: $base-primary-light;
            }
        }

        .product-details {
            padding: 0px 10px 0px 10px
        }

        .view-item {
            .image {
                margin-bottom: 15px;
                min-height: 245px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                &:hover {
                    text-decoration: none;
                }
            }

            .title {
                font-size: $base-font-size;
                text-transform: capitalize;
                max-height: 45px;
                overflow: hidden;
                color: $text-default;
                min-height: 45px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 8px;
                letter-spacing: .39px;
                font-family: $base-font-family;
                line-height: 21px;
            }

            .recommend-product-title a {
                color: #424242;
            }

            .product-details {
                .price {
                    font-size: $base-font-size + 2;
                    font-family: $base-font-family-bold;

                    .each-detail {
                        font-size: $base-font-size - 2;
                        font-family: $base-font-family;
                    }
                }

                .product-rating {
                    font-size: $base-font-size - 1.5;
                }
            }
        }
    }
}
.read-reviews{text-decoration:underline;margin-left:10px;}
.quick-view-content{
    .product-overview{padding-top:24px;}
}

//track order
.track-order{float:right;padding-right:10px;
    a{color:$white;font-size:$base-font-size - 1px;}
    i{color:$white; font-style:normal;font-size:$base-font-size + 2px;vertical-align:middle;}
}

.wcn-advertisement-text {
    text-align: center;
    margin: 10px 0;
}

@include screensize (x-small) {
    #advertisement-banner {
        .owl-controls{display:none!important;}
        .owl-item {
            .item {
                > a {
                    .carousel-caption {
                        padding-top: 15px;
                        padding-left: 25px;
                        
                    }
                }
            }
        }
    }

    //Catgegory Home Page
    .category-home-page {
        .b2b-categories{border:1px solid #e1e1e1;position: relative;width: 45%!important;display: inline-block;margin: 8px;float: left;overflow: hidden;
                         &:hover {
                                box-shadow: $box-shadow-hover;
                            }
                        a{display:flex;
                            span{position: absolute;padding-top: 4px;padding-right: 0px;color: $text-default;font-size: $base-font-size - 2;padding-left:0px;background-color: #ffffffd9;font-family:$base-font-family-bold;bottom:0px;width:100%;text-align:center;}
                        }
        }
    }
    .b2b-products{
        .product-item{
            .view-item{
                .image{min-height:175px;}
            }
        }
    }
}

@include screensize(xl-small){
    .home-slider{
        .slider{
            .item{
                a{overflow:visible;display:block;}
                img{height:auto;width:100%;}
            }
        }
    }
    
}
@include screensize(small) {
    .product-list-title {
        font-size: $base-font-size + 4;
        margin-top: 0px !important;
        margin-bottom: 15px;
    }

    .home-slider {
        .owl-carousel {
            .carousel-caption {
                position: absolute;
                background-color: transparent;
                padding: 0;
                top: 50%;
                transform: translate(0,-50%);

                .first {
                    font-size: 24px;
                }

                h3 {
                    font-size: 40px;
                }

                div {
                    font-size: 18px;
                }
            }
        }
    }
    //Catgegory Home Page
    .category-home-page {
        .b2b-categories {
            border: 1px solid #e1e1e1;
            position: relative;
            width: 80% !important;
            margin: 0px 0px 20px 0px;
            display: inline-block;
            float: left;
            overflow: hidden;

            &:hover {
                box-shadow: $box-shadow-hover;
            }

            a {
                display: block;
                img{width:37%;}

                span {
                    position: absolute;
                    padding-top: 10px;
                    padding-right: 15px;
                    color: $text-default;
                    font-size: $base-font-size + 2;
                    padding-left: 15px;
                    font-family: $base-font-family-bold;
                    width: auto;
                    top: 0px;
                }
            }
        }
    }

    #advertisement-banner {
        .owl-controls {
            display: none !important;
        }

        .owl-item {
            .item {
                > a {
                    .carousel-caption {
                        padding-top: 10px;
                        padding-left: 0px;
                        color: $text-default;
                        .shop-now {
                            color: $base-primary;
                            font-family:$base-font-family;
                            margin-top: 30px;
                            font-size: $base-font-size - 2;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    /*.advertisement-banner{padding:30px 5px;
        .owl-item{padding:10px 5px;
            .item{
                > a{flex-wrap:nowrap;
                    img{order:2;}
                    .carousel-caption{order:1;margin-right:10px;margin-top:0;text-align:left;
                        .promo-description{font-size:$base-font-size;}
                        .btn{display:block;margin:0;padding:10px 20px;}
                    }
                }
            }
        }
    }*/
    .b2b-products .product-item:hover .btn-quick-view {
        display: block;
    }

    .view-option-category li {
        width: 25%;
    }
}


@include screensize(medium){
    .view-option-category li{width:16.66%;}
    .advertisement-banner .owl-item .item > a .carousel-caption .btn{padding:10px 15px;}
    .b2b-products .product-item .view-item .image{min-height:245px;}
}

@include screensize(xx-large){
    .view-option-category li{width:12.66%;}
    .b2b-products .product-item .view-item .image{min-height:242px;}
}
