﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="container">
        <div class="news-letter">
            <div class="col-xs-12 nopadding newsletter-container">
                <h3>@Html.RenderMessage("SignupSubscriptTitle")</h3>
                <p class="text-center padding-bottom">@Html.RenderMessage("SignupSubscriptSubText")</p>
                <!--News Letter Widget-->
                <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
        @* Trustpilot Carousel *@
        <!-- TrustBox widget - Carousel -->
        <div class="col-sm-12 trustpilot-widget padding-top-bottom" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="59034f0b0000ff0005a1665a" data-style-height="140px" data-style-width="100%" data-theme="light" data-stars="5">
            <a href="https://www.trustpilot.com/review/windycitynovelties.com" target="_blank">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
        @* End of TP carousel *@
    </div>
    <div class="container">
        <div class="col-xs-12 nopadding wcn-payment-getway">
            <h6 class="text-center padding-bottom">@Html.RenderMessage("FooterSafeSecureShopping")</h6>
            <!--Payment Getway Widget-->
            <z-widget>@Html.WidgetPartial("LinkPanel", "PaymentGateway", "223", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
    <div class="wcn-footer-information">
        <div class="container">
            <div class="wcn-footer-flex">
                <div class="col-item Col_Item">
                    <h3>@Html.RenderMessage("FooterLabelAbout")</h3>
                    <z-widget>@Html.WidgetPartial("LinkPanel", "About", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                </div>
                <div class="col-item Col_Item">
                    <h3>@Html.RenderMessage("FooterLabelContact")</h3>
                    <z-widget>@Html.WidgetPartial("LinkPanel", "Contact", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="link-panel-widget remove-padding">
                            <li>
                                <a href="/User/Dashboard">Your Account</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="link-panel-widget remove-padding">
                            <li>
                                <a href="JavaScript:void(0);" onclick="WCNUser.prototype.LoadLogin()">Sign In</a>
                            </li>
                            <li>
                                <a href="JavaScript:void(0);" onclick="WCNUser.prototype.LoadRegister();">Register</a>
                            </li>
                        </ul>
                    }
                </div>
                <div class="col-item Col_Item">
                    <h3>@Html.RenderMessage("FooterLabelShippingInfo")</h3>
                    <z-widget>@Html.WidgetPartial("LinkPanel", "ShippingInfo", "784965", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                </div>
                <div class="col-item Col_Item">
                    <h3>@Html.RenderMessage("FooterLabelContactWhySpecial")</h3>
                    <z-widget>@Html.WidgetPartial("TextEditor", "WhySpecial", "4587", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    @Html.RenderMessage("OfferPriceGuaranteeFooter")
                </div>
                <div class="col-item join-party">
                    <h3>@Html.RenderMessage("FooterLabelJoinTheParty")</h3>
                    <z-widget>@Html.WidgetPartial("LinkPanel", "JoinTheParty", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId, new Dictionary<string, object>() { { "IsImageRequired", true } })</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="col-xs-12 nopadding footer-copyright-text">
                <p>@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top"><i class="zf-up"></i></a>
<!-- TrustBox script -->
<script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End Trustbox script -->