﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using System.Threading.Tasks;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization= Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x=>x.AttributeCode == "LoginRequired").Select(x=>x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
}

<div class="col-xs-12 nopadding wcn-header">
    <div class="wcn-logo">
        <a href="/">
            @{
                if (string.IsNullOrEmpty(logo))
                {
                    <h1>@title</h1>
                }
                else
                {
                    <img src="@logo" alt="@title" class="img-responsive" />
                    @*<h1 style="display:none">@title</h1>*@
                }
            }
        </a>
        <a class="hidden-xs hidden-sm" href="tel:@Html.RenderMessage("PhoneNumber")">@Html.RenderMessage("PhoneNumber")</a>
        <button type="button" class="wcn-nav-button collapsed" data-toggle="collapse" data-target="#navbar-collapse-nav"><span>Browse</span><i class="zf-wcn-nav-menu"></i></button>
    </div>
    <div class="wcn-search">
        <!--Search Widget-->
        <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
    </div>
    <div class="wcn-top-cart">
        <ul>
            <li class="cart">
                <a href="/Cart/Index"> <span class="cart-text">Cart</span><i class="zf-wcn-shopping-cart"></i> <span id="headerCartCount" class="cartcount"></span><i class="zf-arrow-down-small"></i></a>

            </li>
           <li class="sign-in">
               <div data-purpose="LoginStatusContainer">
                   <a>Loading...</a>
               </div>
            </li>
            <li class="hidden-xs hidden-sm phone chat">
                <a href="javascript:void()" onclick="parent.LC_API.open_chat_window({source:'minimized'})"><i class="zf-wcn-phone zf-chat"></i> Chat</a>
            </li>
            <li class="phone">
                <a class="visible-xs visible-sm" data-toggle="modal" data-target=".wcn-call">
                    <i class="zf-wcn-phone"></i>
                    <span>Call/Chat</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-xs-12 nopadding header-nav-container">
    <div class="container">
        <div class="row">
            <!--Navigation Widget-->
            <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({ url: "/Home/GetCartCount", type: "get" }).done(function (t) { $(".cartcount").html(t); });
        $.ajax({ url: "/WCNUser/LoginStatus", type: "get" }).done(function (t) { $('[data-purpose="LoginStatusContainer"]').replaceWith(t); });
    });
</script>