﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetCategoryListViewModel
@{ var count = 0;}
@if (Model != null && Model?.Categories?.Count > 0)
{
    <div class="col-xs-12 category-list-widget nopadding">
        <ul id="view-option-category">
            @if (Model.Categories[count].CategoryViewModel != null)
            {

                var HomePageCategories = from category in Model.Categories
                                         where category.CategoryViewModel.Attributes.Any(x => x.AttributeCode == "IsVisibleOnHomePage" && x.AttributeValues == "true")
                                         select category;



                foreach (var category in HomePageCategories.ToList())
                {
                    if (!Equals(category.CategoryViewModel, null) && count < 4)
                    {
                        @Html.Partial("_CategoryList", category.CategoryViewModel)
                        count++;
                    }
                }
            }

        </ul>
    </div>
}
