﻿@using Znode.Engine.WebStore.ViewModels
@model List<LinkProductViewModel>

<!---Link Product Widget Such as You may also like, Frequently bought like product List-->
@{bool navigationFlag = false; }
@if (Model?.Count > 0)
{
    ViewBag.FromLink = true;
    int counter = 0;
    foreach (var p in Model)
    {
        navigationFlag = p?.PublishProduct?.Count > 4 ? true : false;
        string _id = $"Link_Products_Widget{counter++}";
        if (p?.PublishProduct?.Count > 0)
        {
            <h2 class="panel-title">@p.AttributeName</h2>
        }
        <div class="owl-carousel Link_Products_Widget" id="@_id">
            @foreach (var item in p.PublishProduct)
            {
                @Html.Partial("../Product/_ProductList", item)
            }
        </div>
        <script>
           $("#@_id").owlCarousel({autoPlay:!1,navigation:@navigationFlag.ToString().ToLower(),items:4,itemsCustom:[[0,1],[320,1],[480,2],[600,2],[768,2],[992,3],[1200,4]],navigationText:["<i class='glyphicon glyphicon-chevron-left'></i>","<i class='glyphicon glyphicon-chevron-right'></i>"]});
        </script>
    }
}

<script>

    if (@Model.Count<= 0) {
        $(".Link_Products_Widget").hide();
        $("#divproductview").removeClass("col-md-9");
    } else {
        $(".bulk-pricing-table").removeClass("col-md-8").addClass("col-md-11");
    }

   // jQuery("img").bind("error", function (a) { this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png" }), $(document).ready(function () { });
   // blazy = new Blazy(); setTimeout(blazy.revalidate, 16000);
</script>