﻿@model Znode.Engine.WebStore.ViewModels.WidgetSliderBannerViewModel
@using Znode.Engine.WebStore.Agents

<div class="banner-widget">
        @{
            int counter = 0;
            string mediaUri = PortalAgent.CurrentPortal.MediaServerUrl;
            if (!Equals(Model.SliderBanners, null))
            {
                foreach (var item in Model.SliderBanners)
                {
                    string mediaPath = $"{mediaUri}{item.MediaPath}";                    
                    <div class="item margin-bottom">
                        <a href="@item.ButtonLink">
                            <img src="@mediaPath" alt="@item.ImageAlternateText" class="img-responsive" />
                            <div class="banner-details @item.TextAlignment">
                                @Html.RenderBlock(item.Description)
                            </div>
                        </a>
                    </div>
                    counter++;
                }
            }
        }
</div>
