﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model WidgetProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.ProductViewModel?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.Value(Model?.ProductViewModel.Attributes, "UOM");
    string ratingText = Model.ProductViewModel?.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.ProductViewModel.Rating, 1), Model.ProductViewModel?.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">
                    <div class="image">
                        <img id="@Model.ProductViewModel.PublishProductId"  class="img-responsive b-lazy" data-src="@Model.ProductViewModel.ImageSmallPath" alt="Product" />
                    </div>
                </a>
            </div>

            <div class="product-details">
                @if (CallForPricing)
                {
                    <div class="price">
                        <label>@callForPricingMessage</label>
                    </div>
                }
                else
                {
                    <div class="price" data-sku="@Model.ProductViewModel.SKU" data-type="@Model.ProductViewModel.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.ProductViewModel.GroupProductPriceMessage))
                            {
                                <label>@Model.ProductViewModel.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                {
                                    <label>
                                        @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CultureCode)
                                    </label>
                                    <span class="wcn-uom">@UOM</span>
                                    if (Model.ProductViewModel.SalesPrice != @Model.ProductViewModel.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price">
                                            @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode) + ")")
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.ProductViewModel.PromotionalPrice > 0)
                                    {
                                        <label>
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode)
                                        </label>
                                        <span class="wcn-uom">@UOM</span>
                                        <span class="cut-price">
                                            @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode) + ")")
                                        </span>
                                    }
                                    else
                                    {
                                        <label>
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode)
                                        </label>
                                        <span class="wcn-uom">@UOM</span>
                                    }

                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.ProductViewModel.SKU" data-type="@productType">Loading...</label>
                        }

                    </div>
                    if (!string.IsNullOrEmpty(disable))
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.ProductViewModel.InventoryMessage</p>
                        </div>
                    }
                }
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">
                    <div class="wcn-product-name">@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</div>
                </a>
            </div>
        </div>
    </div>
</div>
