﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    Layout = null;
    string mediaThumbnailImagePath = MediaPaths.MediaThumbNailPath;
    string mediaPath = MediaPaths.MediaPath;
    string fileName = Model.Attributes?.Value("Image");
    var alternateImages = Model.Attributes?.Value("GalleryImages")?.Split(',');
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value("CallForPricing"));
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<div class="row">
    <div id="layout-product" class="product-meta" data-id="@Model.PublishProductId">
        <div class="product-view-details">
            <div class="col-xs-12 col-lg-6 product-images">
                <div class="col-xs-12 nopadding image-view text-center">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageLargePath) ? "/no-image.png" : Model.ImageLargePath;
                        }
                        <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="@(Model.Attributes?.Value("ImageAltText"))" />
                    </div>

                </div>

                <div class="col-xs-12 nopadding product-altimages">
                    @if (Model?.AlternateImages?.Count > 0)
                    {
                        <div id="alt-images" class="owl-carousel alternate-img">
                            @foreach (var image in alternateImages)
                            {
                                <div class="item">
                                    <a href="@mediaPath@image" data-lightbox="enlarge" title="@image">
                                        <img src="@mediaThumbnailImagePath/@image" class="img-responsive" data-src="@mediaThumbnailImagePath/@image" alt="" />
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </div>

            </div>

            <div class="col-xs-12 col-lg-6 product-overview">
                <h1 class="product-name">@WebUtility.HtmlDecode(Model.Name)</h1>
                @Html.Partial("_ProductInfo", Model)
            </div>
        </div>
        @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
        <input id="isQuickView" name="true" type="hidden" value="true">
    </div>
</div>
<script>
    jQuery('img').bind('error', function (e){this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";});
</script>