﻿@model AutoComplete

<div class="search-widget">
    <form action="/Search" method="GET">
        <div class="left-inner-icon input-group">
            <i class="zf-wcn-search"></i>
            @*@Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "WCNSearch", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = HttpUtility.HtmlDecode("What are you looking for?"), @class = "", @Name = "SearchTerm" } })*@
            <input id="search" placeholder="What are you looking for?" type="text" name="SearchTerm" value="" class="input-text" maxlength="128" autocomplete="off">
            <button type="submit" class="btn-search" id="btnSearchTerm">Search</button>
        </div>
        <div id="typeahead-results" class="ui-autocomplete-home"></div>
    </form>
</div>
<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();
    });
</script>