﻿@model Znode.Engine.WebStore.ViewModels.WidgetTitleListViewModel
@using Znode.Engine.WebStore.Agents
@{
    string imagePath = PortalAgent.CurrentPortal.MediaServerThumbnailUrl;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<ul class="link-panel-widget">
    @foreach (var link in Model?.TitleList)
    {
        if (string.IsNullOrEmpty(link.MediaPath) && link.IsActive)
        {
            <li>
                <a href="@link.Url" target="_blank">@Html.RenderBlock(link.Title)</a>
            </li>
        }
        else if(link.IsActive)
        {
            <li>
                <a href="@link.Url" target="_blank">
                    <img src="@_fileLocation/Images/loader-small.svg" data-src="@imagePath/@link.MediaPath" class="img-responsive b-lazy" alt="Image" title="@link.Title" />
                    <span class="title">@link.Title</span>
                </a>
            </li>
        }

    }
</ul>