﻿@import "_base.scss";
// Font Family.
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../Fonts/Roboto-Regular.ttf') format('truetype');src: url('../../Fonts/Roboto-Regular.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Regular.svg') format('svg');src: url('../../Fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../Fonts/Roboto-Medium.ttf') format('truetype');src: url('../../Fonts/Roboto-Medium.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Medium.svg') format('svg');src: url('../../Fonts/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../Fonts/Roboto-Bold.ttf') format('truetype');src: url('../../Fonts/Roboto-Bold.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Bold.svg') format('svg');src: url('../../Fonts/Roboto-Bold.woff') format('woff');
}

html, body{
  height:100%;
  font:{
    family:$base-font-family;
    size:$base-font-size;
  }
  color:$text-fgcolor-default;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-right:0!important;
}

.nopadding {padding: 0; margin: 0;}
.nopadding-left{padding-left:0;}
.nopadding-right{padding-right:0;}
.required:after {content: ' * '; color:$required-star;}

a {outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor; 
    &:hover,&:active,&:focus{outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor-hover;}
}
.btn-default{background-color:$anchor-tag-fgcolor !important;border-color:$anchor-tag-fgcolor !important;
    &:hover{background-color:$anchor-tag-fgcolor-hover !important;border-color:$anchor-tag-fgcolor-hover !important;}
}
h1{font-family:$base-font-family-bold;font-size:$base-font-size + 8;margin:0;}
h2{font-family:$base-font-family-bold;font-size:$base-font-size + 4;margin:0;}
h3{font-family:$base-font-family-medium;font-size:$base-font-size +4;margin:0;}
h4{font-family:$base-font-family-bold;font-size:$base-font-size +3;margin:0;}
h5{font-family:$base-font-family-bold;font-size:$base-font-size + 2;margin:0;}
h6{font-family:$base-font-family-medium;font-size:$base-font-size + 2;margin:0;}

z-widget{display:block;}
p,ul{margin:0;padding:0;}
.form-group{float:left; width:100%;margin-bottom:10px;}
.display-flex{display:flex;display:-webkit-flex;display:-moz-flex;}

.padding-top {padding-top:20px;}
.padding-bottom {padding-bottom:20px;}
.padding-left{padding-left:20px;}
.padding-right{padding-right:20px;}
.padding-top-bottom {padding:20px 0;}

.padding-top-10 {padding-top:10px;}
.padding-bottom-10 {padding-bottom:10px;}
.padding-left-10{padding-left:10px;}
.padding-right-10{padding-right:10px;}
.padding-top-bottom-10 {padding:10px 0;}

.margin-top {margin-top: 20px;}
.margin-bottom {margin-bottom:20px;}
.margin-top-bottom {margin:20px 0;}

.margin-top-10 {margin-top: 10px;}
.margin-bottom-10 {margin-bottom:10px;}
.margin-top-bottom-10 {margin:10px 0;}

.field-validation-error, .error-msg { color:$error-msg-fgcolor; }
.success-msg { color:$success-msg-fgcolor; }

// Button
.btn{height:48px;padding:6px 40px;line-height:34px;font-family:$base-font-family-medium;font-size:$base-font-size +3;}
.btn-default{background-color:$base-bgcolor-button-default;}
.btn-primary{background-color:$base-bgcolor-button-primary;
    &:hover,&:active,&:focus{background-color:$base-color-primary;color:$base-color-white !important;}
}
.btn-tertiary{background-color:$base-color-white;border:1px solid $border-bgcolor-primary;color:$text-fgcolor-default;
    &:hover,&:active,&:focus{color:$base-color-primary !important;background-color:$base-bgcolor-button-primary;border:1px solid $base-color-primary;}
}
.btn-full{width:100%;}

// Button Add to cart and Quantity spinner 
.btn-add-to-cart,.quantity-spinner{display:inline-block;position:relative;
    .spinner{display:flex;display:-webkit-flex;display:-moz-flex;
        input{text-align:center;width:50px;padding:0;}    
    }
    .input-group-btn-vertical {position:relative;white-space:nowrap;width:20px;vertical-align:middle;display:block;z-index:99;height:48px;      
            > .btn {display:block;float:none;width:100%;max-width:100%;padding:8px;margin-left:-1px;position:relative;border-radius:0;background-color:transparent;color:$base-color-secondary;border:0;left:-2px;
                &:active{border:0;box-shadow:none;}
            }
            > .btn-spinner{background:$base-color-white;
                &:hover{background:#ececec;}
            }
            > .btn-spinner:first-child {height:24px;border:1px solid $border-bgcolor-default;
                   i {position:absolute;bottom:0;left:0;padding:5px;font-size:8px;}
                   
            }
            > .btn-spinner:last-child {height:24px;border:1px solid $border-bgcolor-default;
                    i {position:absolute;top:0;left:0;padding:5px;font-size:8px;}
            }
    }     

    .qty{font-size:8px;color:#bdbcbc;position:absolute;left:18px;top:35px;z-index:99;line-height:1;}
    .btn-lable{display:block;height:48px;background-color:$base-bgcolor-button-default;border:1px solid $base-bgcolor-button-default;color:$base-color-white;border-radius:0 4px 4px 0;margin-left:-22px;
        .zf-cart{display:none;}
    }
}
// To remove focus outline for chrome.
:focus{outline:none!important;}
// Input Field
input[type="text"], input[type="password"], input[type="email"]{ 
  @include input-field;
  height:48px;border-radius:4px;-webkit-appearance:none;
  &::-ms-clear,&::-ms-reveal{display:none;}
  &::-webkit-contacts-auto-fill-button{visibility:hidden;display:none!important;pointer-events:none;position:absolute;right:0;opacity:0;}
}
textarea {
  @include input-field;
  resize:none;overflow-y:auto;border-radius:4px;min-height:48px;
}
html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly]{cursor: not-allowed;background-color:#efefef;}
button[disabled]{cursor: not-allowed;opacity:0.3;}
.disable-anchor{color:#000;cursor: not-allowed;opacity:0.3;pointer-events:none;}
.disable-radio{color:#000;cursor: not-allowed;pointer-events:none;}

// Select
select{color:$select-dropdown-color;font-size:12px;width:100%;height:46px;padding:2px 20px 2px 5px;border:1px solid $border-bgcolor-default;box-shadow:none;outline:medium none;-webkit-appearance:none;-moz-appearance: none;-ms-appearance: none;background: #fff url('../../Images/drop-arrow-night-golfer.png') no-repeat right 5px center;text-indent: 0.01px; text-overflow: ""; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease;background-size:11px;border-radius:4px;
   option:hover { border: 0; box-shadow: none; outline: medium none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
}
select::-ms-expand { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }
.ie select { display: none; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }

// Checkbox & Redio Button
.styled-input input[type=radio] {display: none;}
.styled-checkbox,.styled-radio{display:block;margin-bottom:2px;line-height:26px;}
.styled-checkbox .input-label,.styled-radio .input-label{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:relative;display:block;cursor:pointer;padding:0 6px 3px 28px;font-weight:normal;width:fit-content;width: -moz-fit-content;width: intrinsic;}
.styled-checkbox .styled-checkbox,.styled-radio .styled-checkbox{padding-top:2px}
.styled-checkbox>.input-control:disabled+.input-label::before,.styled-radio>.input-control:disabled+.input-label::before{pointer-events:none;opacity:.7}
.styled-checkbox>.input-control,.styled-radio>.input-control{border:0;position:absolute;top:5px;left:0;width:19px;height:19px;cursor:pointer;opacity:0}
.styled-checkbox>.input-control+.input-label::before,.styled-radio>.input-control+.input-label::before{display:block;content:'';position:absolute;top:5px;left:0;width:19px;height:19px;background-color:#fff}
.styled-checkbox>.input-control+.input-label::before{border:1px solid #888;border-radius:3px;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transition-duration:250ms;transition-duration:250ms;-webkit-transition-property:background-color,border-color;transition-property:background-color,border-color}
.styled-checkbox>.input-control:checked+.input-label::before{background-color:$checkbox-radio-color;border-color:$checkbox-radio-color;}
.styled-checkbox>.input-control:checked+.input-label::after{position:absolute;top:8px;left:7px;width:5px;height:10px;content:"";border-color:#fff;border-style:solid;border-top:0;border-right-width:2px;border-bottom-width:2px;border-left:0;-webkit-transform:rotate(33deg);-ms-transform:rotate(33deg);transform:rotate(33deg);-webkit-animation:checkmark-expand 225ms ease-out forwards;animation:checkmark-expand 225ms ease-out forwards}

@-webkit-keyframes checkmark-expand {
0%{-webkit-transform:scale(0.3) rotate(20deg);transform:scale(0.3) rotate(20deg)}
66%{-webkit-transform:scale(1.2) rotate(33deg);transform:scale(1.2) rotate(33deg)}
100%{-webkit-transform:scale(1) rotate(33deg);transform:scale(1) rotate(33deg)}
}
@keyframes checkmark-expand {
0%{-webkit-transform:scale(0.3) rotate(20deg);transform:scale(0.3) rotate(20deg)}
66%{-webkit-transform:scale(1.2) rotate(33deg);transform:scale(1.2) rotate(33deg)}
100%{-webkit-transform:scale(1) rotate(33deg);transform:scale(1) rotate(33deg)}
}

.styled-radio>.input-control+.input-label::before{border:1px solid #888;border-radius:50%;-webkit-transition:border-color 150ms ease-in;transition:border-color 150ms ease-in}
.styled-radio>.input-control:checked+.input-label::before{border:.1rem solid $checkbox-radio-color}
.styled-radio>.input-control+.input-label::after{position:absolute;display:inline-block;vertical-align:top;white-space:nowrap;top:8px;left:3px;width:13px;height:13px;content:"";background-color:$checkbox-radio-color;border-radius:50%;-webkit-transform:scale(0.7);-ms-transform:scale(0.7);transform:scale(0.7);opacity:0}
.styled-radio>.input-control:checked+.input-label::after{-webkit-transition:-webkit-transform 150ms ease-out,opacity 100ms ease-out;transition:transform 150ms ease-out,opacity 100ms ease-out;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1}
.styled-radio .input-label:hover::after,.styled-radio .input-label:focus::after{-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:.3}
.styled-radio>.input-control:disabled+.input-label{pointer-events:none;cursor:not-allowed}
.styled-radio>.input-control:disabled+.input-label::before{background-position:center;background-size:11px}

// Notification Messages
.notification-msg{z-index:999;
   .alert{position:relative;padding:5px 25px 5px 5px;line-height:21px;margin-bottom:0;border-radius:0;min-height:36px;top:5px;
           .close{/*margin-top:-18px;*/opacity:1;font-size:$base-font-size + 3;position:absolute;top:27%;right:5px;}
    }
    .alert-danger{border:1px solid $alert-msg-danger;
        .close{color:$alert-msg-danger;}
    }
    .alert-success{border:1px solid $alert-msg-success;
        .close{color:$alert-msg-success;}
    }
    .alert-info{border:1px solid $alert-msg-info;
        .close{color:$alert-msg-info;}
    }
}

// General CSS
.star-rating{font-size:$base-font-size;cursor:context-menu;
    .zf-star-full,.zf-star-half{color:$base-color-primary;}
    .zf-star-empty{color:$base-color-primary;}
    .full{color:$base-color-primary;}
    i:hover{color:$base-color-secondary;}
} 
.sub{font-size:$base-font-size -2;color:#8e8e8e;}
.cut-price{color:$base-color-secondary; padding-left:5px;text-decoration:line-through;font-family: HelveticaNeue, Arial, sans-serif;font-size: $base-font-size;text-transform: lowercase;}
.social-share ul{padding:0; margin:0;float:left;
    li{display:inline-block;}
    i{font-size:26px;color:#787878; cursor:pointer;}
}
.text-editer-widget{display:flex;
    img{display:block;max-width:100%;height:auto;}
}

// File Upload
.file-upload {position:relative;
    .file-upload-name{float:left;margin-left:15px;line-height:26px;}
    input[type="file"]{position:absolute;top:0;margin:0;opacity:0;width:70px;min-height:34px;}
    .po-document-details{
        a{cursor:pointer;color:$base-color-primary;padding-right:3px;display:none;float:left;line-height:24px;padding-right:5px;}
        span{float:left;line-height:26px;}
    }
}
.file-upload-btn{position:relative;overflow:hidden;margin-left:0;background:$base-bgcolor-button-primary;}

// Modal PopUp
.modal-header{background-color:$base-color-primary;
        h4{color:$base-color-white;}
        .close {color:$base-color-white;margin-top:5px;}
}
.modal-body,.modal-footer{display:table;width:100%;background-color:$base-color-white;}

body.modal-open{position:fixed !important;width:100%;height:100%;}
body.modal-open .shrink{position:relative !important;}

// loader
.loader-body{top:42% !important;}
.loader,.loader:before,.loader:after{border-radius:50%;width:2.5em;height:2.5em;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:load7 1.8s infinite ease-in-out;animation:load7 1.8s infinite ease-in-out}
.loader{color:$base-color-primary;font-size:10px;margin:20px auto 40px auto;position:fixed !important;left:0;right:0;text-indent:-9999em;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay:-.16s;animation-delay:-.16s}
.loader:before,.loader:after{content:'';position:absolute;top:0}
.loader:before{left:-3.5em;-webkit-animation-delay:-.32s;animation-delay:-.32s}
.loader:after{left:3.5em}
@-webkit-keyframes load7 {
0%,80%,100%{box-shadow:0 2.5em 0 -1.3em}
40%{box-shadow:0 2.5em 0 0}
}
@keyframes load7 {
0%,80%,100%{box-shadow:0 2.5em 0 -1.3em}
40%{box-shadow:0 2.5em 0 0}
}

// Filter Component Section.
.filter-component{position:relative;display:block;min-height:45px;padding:8px 0;background-color:#f8f3f3;line-height:26px;margin-bottom:15px;border:1px solid #f1e8e8;
        .manage-filter{float:left;min-width:140px;border-right:1px solid $border-bgcolor-default;padding:9px 0;background:#f1e8e8;
            a{background-color:transparent;border:0;font-family:$base-font-family;color:$text-fgcolor-default;padding:0 20px;}
            .dropdown-search .right-inner-icon i{line-height:7px;}
            .z-down{font-size:$base-font-size + 1;padding-left:5px;vertical-align:sub;}
        }
        .filter-close{position:absolute;right:0;top:-12px;right:-8px;font-size:$base-font-size + 5;color:$base-color-secondary;}
        .filter-item-content{padding:8px 0;float:left;}
        .filter-option{position:relative;
            .popover.bottom > .arrow::after{border-bottom-color:#f6f6f6;}            
            .popover,.popover-content{border-radius:0;background-color:#f6f6f6;max-width:none;min-width:285px;}
            .parent-content-popover{
                select{min-width:40px;border-radius:0;height:24px;}
                input[type='text']{border-radius:0;border-right:0;height:24px;}
                button{margin-left:0;border-top-left-radius:0;border-bottom-left-radius:0;}
                &:after {content:""; display:block; clear:both;}
            }
            .btn-dropdown{display:inline-block;border-radius:2px;font-size:$base-font-size -2;font-weight:normal;margin:2px 5px;padding:0 10px;height:24px;line-height:21px;text-transform:capitalize;background-color:$base-color-white;color:$text-fgcolor-default;text-align:left;border:1px solid $border-bgcolor-default;
                  &:hover,&:focus,&:active{color:$base-color-secondary;}
                  span{padding:0;}
                  .z-down{font-size:11px;padding-left:2px;color:$base-color-secondary;vertical-align:sub;}
            }
            .option-close i{position:absolute;top:-5px;font-size:$base-font-size + 1;cursor:pointer;right:-2px;}
            button.btn-text{height:24px;line-height:24px;}
            .filter-search-btn{background-color:$base-color-white;height:24px;border-left:0;border-bottom:1px solid $border-bgcolor-default;border-right:1px solid $border-bgcolor-default;border-top:1px solid $border-bgcolor-default;line-height:24px;color:$base-color-primary;outline: medium none !important;padding:0 6px;}
        }         
    }

// Multi Select dropdown.
.btn-dropdown{
  display:inline-block;
  border-radius:4px;
  position:relative;
  font:{ 
      family:$base-font-family;
      size:$base-font-size;
      weight:$base-font-normal;
   }
  padding:0 30px 0 15px;height:44px;line-height:26px;text-transform:capitalize;background-color:$base-color-white;color:$text-fgcolor-default;border:1px solid $border-bgcolor-default;text-align:left;
  &:hover,&:focus,&:active{color:$base-color-secondary;}
  .zf-down{font-size:10px;padding-left:2px;color:$base-color-primary}
  i{font-size:12px;position:absolute;right:8px;top:16px;}
}

.dropdown-box{
    li{padding:12px 15px;
        a{padding:0;display:block;width:fit-content;width:-moz-fit-content;width:intrinsic;
             &:hover{background-color:transparent;}
        }
     }
    &:before{content:"";border-bottom:10px solid $base-color-white;border-right:10px solid transparent;border-left:10px solid transparent;position:absolute;top:-10px;left:16px;z-index:10;}
    &:after {content:"";border-bottom:12px solid $border-bgcolor-default;border-right:12px solid transparent;border-left:12px solid transparent;position:absolute;top:-12px;left:14px;z-index:9;}
}
.dropdown-box.dropdown-menu-right{
    &:before{left:auto;right:16px;}
    &:after {left:auto;right:14px;}
}


.dropdown-list-ul{border-radius:2px;border:1px solid $border-bgcolor-default;margin:0;padding:0;box-shadow:2px 3px 2px $border-bgcolor-default;font-size:$base-font-size;list-style:none !important;min-width:100px;max-height:200px; overflow-y:auto !important;overflow-x:hidden;
    li{list-style:none !important;
         a{color:$text-fgcolor-default;text-transform:capitalize;padding:3px 10px;border-bottom:1px solid #929292;}
         label{font-weight:normal;width:100%;margin-bottom:0;padding:2px 20px 2px 5px;display:block;
             span{width:100%;}
         }
         &:hover{background-color:#3085db;color:$base-color-white;}
         &:nth-last-child(1) a{border-bottom:0 !important;}
      }
}
.dropdown-list-ul:after{content:'';display:block;position:absolute;top:-16px;left:8px;width:0;height:0;border-color: transparent transparent $base-color-white transparent;border-style: solid;border-width: 8px;}
.dropdown-list-multiselect li{display:-webkit-box;display:-moz-box;display:-ms-flexbox;width:100%;border-bottom:1px solid $border-bgcolor-default;line-height:26px!important;
        li:last-child{border-bottom:none;}        
}
.dropdown-list-container{left:0;right:auto;margin:0;padding:0;overflow:hidden !important;font-family:$base-font-family;min-width:200px;
     .dropdown-wrapper{position:static;}
     .dropdown-search{background-color:#f5f5f5;padding:5px;border-top:1px solid $border-bgcolor-default;min-width:150px;}
     .dropdown-submit{background-color:#f5f5f5;padding:5px;border-top:1px solid $border-bgcolor-default;text-align:right;float:left;width:100%;
        button.btn-text{color:$base-color-white;}
     }
     .dropdown-list-ul{box-shadow:none;border:0;position:relative;padding:0;}
     input[type="text"]{height:24px;}
}
.multiselect{color:$base-fgcolor-input;font-size:12px; height:24px;min-width:180px;width:100%;padding:2px 20px 2px 5px;text-align:left;border:1px solid $border-bgcolor-default;border-radius:3px; box-shadow:none;outline: medium none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;background: $base-color-white url('../Images/drop-arrow-night-golfer.png') no-repeat right 5px center;text-indent: 0.01px;text-overflow: ""; border: 1px solid $border-bgcolor-default;
    &:hover,&:focus,&:active{background-color:transparent !important;}
    .caret{display:none;}
}
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0;max-height:200px;overflow-y:auto;
    .input-group{margin:5px}
    li{padding:0;
       a{padding:0;
           &:hover{background-color:#3085db;color:$base-color-white;}
       }
       label.radio,label.checkbox{margin:0}
       label{margin:0;height:100%;cursor:pointer;font-weight:normal !important;color:$base-color-primary !important;padding:3px 20px 3px 25px;
             input[type=checkbox]{margin-bottom:5px}
             &:hover{color:$base-color-white !important;}
       }
       input[type="checkbox"]{opacity:1 !important;}
    }
    li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:normal}
    li.multiselect-group-clickable label{cursor:pointer}
    li.filter{
        .input-group-addon{padding:1px 6px;background-color:$base-color-white;
             i{color:$base-color-secondary;}
        }
        .input-group-btn{padding:0;background-color:$base-color-white;
             button{padding:1px 6px;}
             i{color:$base-color-secondary;}
        }
    }
    li.active a label{color:$base-color-white !important;}
}
.dropdown-tool{position:relative;}

// Back to top
.back-to-top{position:fixed;bottom:0;right:30px;border-top-left-radius:4px;border-top-right-radius:4px;background-color:$base-color-primary;padding:5px 14px;font-size:18px;color:$base-color-white !important;;opacity:0;transition:opacity .3s 0s, visibility 0s .3s;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;
    &:hover{color:$base-color-white;opacity:1 !important;}
}

//Contact Us Capture
.wcn-captcha{
    ul li{list-style:none;color:$error-msg-fgcolor;}
}
.wcn-captcha-panel{
    a{display:block;}
    input[type="text"]{display:block;margin-bottom:10px;}
}

// Error Page
.error-page{padding:20px 15px; min-height:450px;}
//Artifi Preview Popup
.artifi-preview-popup .popup-container{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) !important;width:90%;max-width:1000px;margin:0;max-height:85vh;overflow:auto;
    button.close{background-color:$base-color-white;opacity:0.8;padding:4px 6px;margin-bottom:-2px;}
}

/*IE11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
 .filter-component .filter-option .popover, .filter-component .filter-option .popover-content {min-width:289px;}
 .btn-add-to-cart .btn-lable, .quantity-spinner .btn-lable{margin-left:-17px;}
 .wcn-promotional-adv-popup .modal-dialog .close{right:-32px!important;}
 .header-nav-container .header-nav .navbar-collapse .navbar-nav > .dropdown > a{display:block !important;}
 .header-nav-container .header-nav .navbar-collapse .navbar-nav > .dropdown > .dropdown-menu .drop-down-break{top:0;}
 @include screensize(medium){
   .header-nav-container .header-nav .navbar-collapse .navbar-nav > .dropdown{position:static;}
 }
 @include screensize(desktop){
   .header-nav-container .header-nav .navbar-collapse .navbar-nav > .dropdown > a{padding-top:10px !important;}
 }
}

/* EDGE */
@supports(-ms-ime-align:auto) {
    .product-grid .wcn-products-view-setting .product-size-option{width:-webkit-calc(100% - 225px);width:expression(100% - 225px);width:-moz-calc(100% - 225px);width:-o-calc(100% - 225px);width:calc(100% - 225px);justify-content:flex-end;}
}

/*Safary iPhone only CSS*/
@supports (-webkit-overflow-scrolling: touch) {
    .modal{position:absolute;height:100vh;}
    #modelEmailToFriend{position:fixed;}
}

/*product quantity error message*/

.btn.disabled, .btn[disabled]{background-color:#888  !important;border-color:#888 !important;}

// Media Query

@include screensize(small) {
    .modal-dialog .modal-body{max-height:600px;overflow:auto;}
   
}
@include screensize(medium) {
    .modal-dialog .modal-body{max-height:none;}
}

@include screensize(xl-small-max) {
    .wcn-advertisment-offer img{object-fit:cover;object-position:50% 0%;height:42px;}
}

// Widget and Global File Import
@import "_icons.scss";
@import "widgets/_search.scss";
@import "widgets/_subscribe.scss";
@import "widgets/_link-panel.scss";
@import "widgets/_typeahead.scss";
@import "widgets/_slider.scss";
@import "widgets/_product-list.scss";
@import "widgets/_product-grid.scss";
@import "widgets/_facet.scss";
@import "widgets/_compare-product.scss";
@import "widgets/_datepicker.scss";
@import "widgets/_dynamic-grid.scss";
@import "widgets/_category-list.scss";
@import "widgets/_shipping-progress-bar.scss";
@import "widgets/_hawk-search.scss";
//@import "widgets/_quick-view.scss";
//@import "widgets/_local.scss";
//@import "widgets/_quick-order.scss";
