﻿@import "_base.scss";

.advertisement-banner h3{font-size:20px;margin:40px 0;text-align:center;color:$base-color-secondary}

.home-wide-promo{min-height:40px;border:1px solid $border-bgcolor-default;margin:20px 0;text-align:center; background:$base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: -o-linear-gradient(top,  #ffffff 0,#f1f1f1 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: linear-gradient(to bottom,  #ffffff 0,#f1f1f1 100%);
    h5{color:#252525;line-height:40px;
       span{color:$base-color-primary;font-family:$base-font-family-bold;}
       i{font-size:44px;color:$base-color-primary;padding-left:5px;vertical-align:middle;}
    }    
}
.product-list-title{margin-bottom:30px;}

.track-order{float:right;
    a{color:$base-color-white;padding-right:15px;font-size:$base-font-size - 1;}
}

.banner-widget{padding-top:20px;font-family:$base-font-family-medium !important;
    .item{border:1px solid $border-bgcolor-default;position:relative;border-radius:3px;background:-moz-radial-gradient(#313131, #080808);background:-webkit-gradient(#313131, #080808);background:-o-radial-gradient(#313131, #080808);background:-ms-radial-gradient(#313131, #080808);background:radial-gradient(#313131, #080808);
          &:hover{box-shadow:1px 1px 15px #c6c6c6;}
    }
    .banner-details{position:absolute;top:20px;left:20px;}
}

.trustpilot-widget{display:none;}

// For Home page category widgets & Seemore Category
.wcn-category-list-widget,.wcn-seemore-category{
    .product-list-title{text-align:center;font-family:$base-font-family-bold;font-size:$base-font-size + 9px;margin-bottom:10px;}
    .see-more{display:block;text-align:center;margin-bottom:20px;font-family:$base-font-family-bold;font-size:15px;
        i{font-size:10px;padding-left:4px;}
    }
    .category-list-widget ul {padding:0 10px;
        li{width:100% !important;margin:0 0 15px;box-shadow:none;border:1px solid $border-bgcolor-default;border-radius:3px;
            &:hover{box-shadow:1px 1px 15px #c6c6c6;}
            img{max-height:90px;float:left;padding:0;min-height:90px;max-width:100px;}
            a{display:table;width:100%;font-family:$base-font-family-bold;font-size:$base-font-size + 2.5px;color:$text-fgcolor-default;}
            .category-title{padding:0 15px;}
            .category-title-label{font-weight:normal;color:$text-fgcolor-default;cursor:pointer;text-align:left;padding-top:10px;margin-bottom:0;float:left;width:100%;
                &:hover{color:$text-fgcolor-default;}
            }
        }
    }
}
.wcn-category-list-widget {
    > div > z-widget{display:none;}
}

// Promotional Adv Popup CSS
.wcn-promotional-adv-popup{
    .modal-dialog{position:absolute;top:50%;transform:translate(0,-50%) !important;-webkit-transform:translate(0,-50%) !important;-moz-transform:translate(0,-50%) !important;left:0;right:0;
        .close{position:absolute;top:-25px;background-color:$base-color-white;right:0;line-height:30px;height:25px;width:25px;text-align:center;font-size:$base-font-size;opacity:0.6;
        &:hover{opacity:1;}
        }
        .modal-content .modal-body{
            form{margin-top:15px;float:left;width:100%;
                input{float:left;width:70%;}
                .input-group-btn{float:left;width:30%;
                    button{width:100%;padding:0;}
                }
            }
        }
    }
}
//Media Query
@include screensize(x-small){
    .side-banners.nopadding-right {padding-left: 0;}
    .banner-widget .item{width:100%;margin:0 auto 20px;overflow:hidden;
        a{
            img{margin:auto;border-radius:2px;}
            .banner-details{left:12%;
                p {
                    span{color:$base-color-secondary;}
                    strong{
                        span{color:$base-color-primary;}
                    }
                }
            }
        }
    }

    .wcn-category-list-widget,.wcn-seemore-category{
        .product-list-title,.see-more{float:left;width:100%;}

        .category-list-widget ul {padding:0;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;
            article{width:100%;}
            li{width: 48%!important;display: inline-block;margin: 0 2% 15px 2%;float:left;overflow:hidden;
                div.nopadding{position:initial;}
                &:nth-child(odd) {margin-left: 0;}
                &:nth-child(even) {margin-right: 0;}
                img {float: none;}
                .category-title-label {text-align: center;font-size:$base-font-size + 4;}
                p{font-size:$base-font-size - 2;display:block;text-align:left;float:left;width:100%;}
            }
        }
    }
}

@include screensize(xl-small){
    .banner-widget .item{width:290px;margin:0 auto 20px;
        a{
            .banner-details{left:20px;}
        }
    }
}

@include screensize(small){
  .banner-widget{padding-top:10px;
       .banner-details{left:6px;top:11px;
            .shop-now{font-size:13px !important;}
            p {
                    span{font-size:$base-font-size + 2 !important;}
                    strong{
                        span{font-size:$base-font-size !important;margin-top:10px !important;}
                    }
              }
       }
  }
  .side-banners.nopadding-right {padding-left: 15px;}
  .banner-widget .item{width:auto;}
    
  .wcn-category-list-widget,.wcn-seemore-category{
    .category-list-widget ul{padding:5px 10px;margin: 0 0 15px 0;
        li{width: 100%!important;margin:0 0 15px;
            img{float:left;}
            .category-title-label{text-align:left;font-size:$base-font-size + 2;}
            }
        }
    }
    // For Home page category widgets & Seemore Category
    .wcn-category-list-widget{
        .product-list-title{font-size:$base-font-size + 1px;}
    }
    .category-list-widget ul{
        li {
            img{max-width:60px !important;max-height:60px !important;min-height:60px !important;}
            label{font-size:13px;color:$base-color-secondary;line-height:1;}
            .category-title{padding:0 2px !important;}
        }
    }
    .nf-offer-banner .banner-widget{padding-top:0;
        .item{float:left;width:calc(33.3% - 10px);
            &:nth-child(2){margin:0 15px 20px;}
        }
    }
}

@include screensize(medium){
    .banner-widget{padding-top:15px;
        .banner-details{left:20px;
           .shop-now{font-size:15px !important;color:$base-color-primary;}
           p {
                    span{font-size:$base-font-size + 6 !important;}
                    strong{
                        span{font-size:$base-font-size + 2 !important;margin-top:30px !important;}
                    }
              }
           
        }
    }
    // For Home page category widgets & Seemore Category
    .wcn-category-list-widget{
        .product-list-title{font-size:$base-font-size + 6px;}
    }
    .category-list-widget ul {
        li {
            img{max-width:100px !important;max-height:90px !important;min-height:90px !important;}
            .category-title-label{font-size:$base-font-size + 4 !important;}
            .category-title{padding:0 15px !important;}
        }
    }
}
@include screensize(desktop){
    .banner-widget {padding-top: 20px;
        .banner-details{
            p {
                    span{font-size:$base-font-size + 7 !important;}
                    strong{
                        span{font-size:$base-font-size + 4 !important;}
                    }
              }
        }
    }
}