﻿@import "_base.scss";

// Header Section
@import "widgets/header.scss";

// Main Wrapper
.layout-content{display:block;}
.wrapper{min-height: 100%;}
.main-wrapper{padding:15px 0; min-height:580px;
       .page-title{text-transform:uppercase;font-size:26px;margin:12px 0;}
}

// Footer
@import "widgets/footer.scss";

// breadcrumb
.breadcrumb-container{color:$base-color-secondary;text-align:center;padding:15px 0;
    a{color:$base-color-secondary;padding:0 2px; display:inline-block;font-family:$base-font-family-medium;font-size:$base-font-size;
        &:hover{color:$base-color-primary;}
    }
    span{padding:5px;}
}

@import "_navigation.scss";

// Site Map
.site-map-container{margin-bottom:20px;min-height:500px;
    .section-header{font-size:$base-font-size + 5;font-family:$base-font-family-bold;padding-bottom:8px;border-bottom:1px solid $border-bgcolor-default;}    
    ul{padding:0;margin:0;
       li{list-style:none;}
       .sub-menu{margin-left:20px;}
       .zf-caret-right,.zf-arrow-right-small{padding-right:5px;}       
    }
}

// Media Query
@include screensize(x-small) {
    // Contain Pages
    .contain-pages, .site-map-container{padding:0 15px;}
    .breadcrumb-container{padding:8px 0;}
    .product-meta .breadcrumb-container{display:none;}
}
@include screensize(small) {
    // Contain Pages
    .contain-pages{padding:0;min-height:650px;}
    .site-map-container {padding:0;}
    .breadcrumb-container{padding:15px 0;}
    .product-meta .breadcrumb-container{padding-top:0;display:block;padding-left:5px;}
}