﻿@import "_base.scss";
.single-page-checkout,.single-page-checkout.amazonpay-checkout{
        /*card payment images */
        .save-cart img{width:60px;max-width:100%;}
        .styled-radio .input-label:before{top:5px;}
      
    .cart-promocode{margin-top:15px;}
    .credit-card-dropdown{border-radius:4px;-webkit-appearance:none;background-position:right 8px center;}
    .wcn-update-cart-btn{display:none;}
    .sign-in{display:inline-block;padding:2px;padding-left:0;}
    .address-block{
        .address-name{font-family:$base-font-family-bold;color:#6a6367;}
    } 
    .review-order{
        .cart-summary{background-color: #f7f7f7;border: 1px solid $border-bgcolor-primary;border-top:0;padding:20px;}
        .cart-total{text-align:right; 
             .total{border-bottom:0;}
             .order-total{margin-top:7px;border-top:1px solid $border-bgcolor-default;padding-top:7px;}
        }
        .input-group-btn-vertical,.qty{display:none;}
        
        table tr td:first-child,table tr th:first-child{display:none;}
        .cart-item-quantity{
            form{text-align:center;
                input[type="text"]{border:none;background-color:transparent;pointer-events:none;height:auto;text-align:center;}
            }
            .quantity-spinner{width:100%;}
        }
        .shopping-cart{padding:0;
           .review-title{border-bottom:2px solid $border-bgcolor-default !important;padding-bottom:10px;margin-bottom:5px;}
        }
    }    

    .signle-page-payment{
        .credit-card-container{
            .nav-tabs{display:none!important;
                li a{background-color:#f5eded;color:$base-color-primary;border-color:#f5eded #f5eded transparent}
                li.active a{background-color:$base-color-primary;color:$base-color-white;}
            }
            .tab-content{padding:10px 0;display:block;}
            .section-heading{font-size:$base-font-size + 3;font-family:$base-font-family-bold;color:#6a6367;padding-bottom:10px; display:none;}
            .save-cart{margin-bottom:10px;
                span{padding:0;}
                ul{padding:0;
                    img{float:left !important;}
                }
            }
        }
    }
        
    .cart-total-footnote{display:none;}   
    .wcn-checkout-info{
         .wcn-checkout-left-panel{
             span{padding-right:5px;}
            .title{border-bottom:2px solid $border-bgcolor-default;padding-bottom:10px;margin-bottom:5px;}
             .address-change a.pull-right{float:left !important;color:$base-color-white;background-color:$base-color-primary;border-color:$base-color-primary;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:5px 20px;font-size:$base-font-size;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin-top:5px;}
         }
         .wcn-checkout-summary{padding:0 10px;background:$shopping-summary-bgcolor;
              .cart-summary{padding:5px 0;}
             .wcn-summary-heading{border-bottom:2px solid $border-bgcolor-default;
                .page-title{text-align:center;}
             }  
             .cart-total .order-total{border-top:2px solid $border-bgcolor-default;
                              h2{padding-top:5px;}
               }
                     
         }
    }
    .wcn-checkout-aside-panel{ padding-left:15px;
        button{width:100%;}
    } 
}

button#paypal-express-checkout{border:0;background-color:transparent;padding:0;}
.btn-shipping-method{height:32px;line-height:22px;padding:0 15px;font-family:$base-font-family;font-size:14px;}

.address-popup{    
    .modal-body{display:inline-block;background-color:$base-color-white;}
    .edit-address-form{margin-top:0;padding-right:10px;}
}

.login-container-popup{
    .login-container{margin:0;
        .inner-container{border:0;padding:0 25px;
          .social{width:100%;}
        }
        .login-form-forgotpassword{display:none;}
    }
    .btn-social-login{border:none;background-color:transparent;padding:5px 0;display:inline-block;
        img{max-width:134px;}
    }
}

.ui-dialog{background-color:$base-color-white;box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);z-index:99999 !important;
    .ui-dialog-titlebar{font-size:$base-font-size + 2;font-family:$base-font-family-bold;display:block;line-height:26px;color:$base-color-white;background-color:$base-color-primary;padding:15px;}
    .ui-dialog-content{padding:15px;color:$text-fgcolor-default;}
    .ui-dialog-titlebar-close{font-family:$znode-icon-font;font-weight:normal;font-size:$base-font-size + 2;color:$base-color-secondary;content:"\f057";position:absolute;right:5px;top:5px;}
    .ui-dialog-buttonpane{float:left;width:100%;background-color:$base-color-white;padding:10px 15px;border-top:1px solid $border-bgcolor-default;
            .ui-dialog-buttonset{float:right;
                button{@include btn-text;font-size:$base-font-size;padding:0 15px;margin-left:5px;height:24px;line-height:23px;text-transform:capitalize;color:$base-color-white;background-color:$base-bgcolor-button-primary;overflow:hidden;float:left;border-radius:2px;}
            }        
    }
}
.ui-md-popup{width:600px!important; height:auto;}

// Only for Checkout Page.
#WCNCheckout .footer-container .wcn-payment-getway,#WCNCheckout .footer-container .news-letter{display:none;}

#AmazonAddressWidget {height: 228px;}
#AmazonWalletWidget, #AmazonConsentWidget {height: 228px;}

.wcn-checkout-title{border:1px double $border-bgcolor-default;border-radius:4px;outline:1px double $border-bgcolor-default;outline-offset:-5px;padding-left:10px;
    .page-title{width:100%;text-align:center;}
    .page-title-back{display:none;}
}
#address-popup-content{
    label,.sub{display:none;}
    .input-label{display:block;}
    .edit-address-form{width:100%;padding:0;
        .margin-top{margin-top:10px;}
    }
}
#Edit-Address-content{
    .pull-right,button{width:100%;}
}
//Loader css for IE.
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .loader-body{top:42% !important;}
    .loader,.loader.before,.loader.after{border-radius:50%;width:2.5em;height:2.5em;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:load7 1.8s infinite ease-in-out !important;animation:load7 1.8s infinite ease-in-out !important;}
    .loader{color:$base-color-primary;font-size:10px;margin:20px auto 40px auto;position:fixed !important;left:0;right:0;text-indent:-9999em;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay:-.16s;animation-delay:-.16s;}
    .loader.before,.loader.after{content:'';position:absolute;top:0;}
    .loader.before{left:-7.5em !important;-webkit-animation-delay:-.32s;animation-delay:-.32s;}
    .loader.after{left:7.5em !important;}
     #divSinglePageCheckout .loader:before,#divSinglePageCheckout .loader:after{display:none;}
}


// Media Query.
@include screensize(x-small) {
    .single-page-checkout{padding:0 15px;
        .shipping-method{padding:0 0 15px 0;}
        .signle-page-payment{padding:0;}
        .wcn-checkout-info{
            .wcn-checkout-left-panel{padding-right:0px;
                .review-order .shopping-cart{
                    .cart-item-details{
                        .cart-image img{margin:0 auto 10px;}
                        .cart-description .cart-item-description .action-ui li{display:none !important;padding:0;border:0;text-align:left;}
                        a,img{pointer-events:none !important;}
                        .active-ui{display:none;}
                    }
                }
            .wcn-billing-address{padding:0;margin-bottom:0;}
            }
             .wcn-aside-panel{padding-top:10px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;
              .wcn-summary{order:2;-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;margin-top:10px;}
              .wcn-checkout-summary{order:1;-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;}
              .wcn-amazon-logout{order:3;-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;}
             }
        }
    } 
    .checkout-reciept{padding:0 15px;
        .complete-order-block{
            h4{margin-bottom:15px;}
            .completed-order-detail{width:100%;margin:auto;
                p{margin-bottom:10px;}
            }
        }
    }
    .address-popup{    
        .modal-body{
            .edit-address-form{
                button{width:100%;margin-bottom:5px;}
            }
        }
    }
    //amazonpay-checkout
    .amazonpay-checkout{
        .review-title{border-bottom:2px solid $border-bgcolor-default;padding:10px 0;}
        .quantity-spinner{
            .input-group-btn-vertical,.qty{display:none;}
            .spinner input[type="text"]{border:none;height:auto;pointer-events:none;background-color:transparent;}
        }
        .wcn-checkout-info{
            .wcn-checkout-left-panel{padding-right:0px;
                .review-order .shopping-cart{
                    .cart-item-details{
                        a,img{pointer-events:none !important;}
                    }
                }
            }
        }
    }
}

@include screensize(xl-small) {
    .address-popup{    
        .modal-body{
            .edit-address-form{
                button{width:auto;margin-bottom:0;}
            }
        }
    }
    .single-page-checkout .wcn-checkout-info{
        .wcn-checkout-left-panel{
            .review-order .shopping-cart{
                .cart-item-details{
                    .cart-description .cart-item-description .action-ui li{padding:0 3px;border:0;text-align:left;
                        &:first-child{padding-left:0;padding-right:5px;border-right:1px solid $border-bgcolor-default;}
                    }
                }
            }
        }
        .wcn-aside-panel{
            .wcn-summary{width:calc(50% - 5px);margin-right:5px;}
            .wcn-amazon-logout{width:calc(50% - 5px);margin-left:5px;margin-top:10px;}
        }
    }
    
    .wcn-checkout-btn-top{width:calc(50% - 5px);margin-right:5px;}
    #Edit-Address-content{
        .pull-right,button{width:auto;}
    }
}

@include screensize(small) {
    .single-page-checkout{padding:0;
        .wcn-customer-login{padding:2px 15px 2px 2px;}
        .shipping-address-content{padding-right:5px;
            .address-block{padding-bottom:35px;}
        }
        .shipping-method{padding:0 5px 15px 0;min-height:91px;}
        .cart-promocode{width:50%;padding-right:10px;}
        .cart-giftcart{width:50%;}
        .wcn-checkout-info{
            .wcn-checkout-left-panel{
                .review-order .shopping-cart{
                    .cart-item-details{
                        .cart-image img{margin:0 auto;}
                        .cart-description{padding-left:10px;}
                    }
                }
            .wcn-billing-address{padding:0;margin-bottom:15px;}
            }
        }
    } 
    .checkout-reciept{padding:0;
        .complete-order-block .completed-order-detail{width:600px;}
    }
    
    .wcn-checkout-title{
        .page-title{width:auto;text-align:left;}
        .page-title-back{font-size:$base-font-size + 4;margin:16px 0;display:block;
            i{font-size:$base-font-size;}
        }
    }
    .single-page-checkout,.single-page-checkout.amazonpay-checkout{
        .save-cart img{width:46px;}
        .cart-description{padding-left:10px;}
    }
}
@include screensize(medium) {
    .single-page-checkout{
        .signle-page-payment{padding:0 0 15px 15px;}
        .wcn-customer-login{padding:0;}
        .shipping-address-content{padding-right:0;}
        .shipping-method{padding:0 0 15px 15px;}
        .cart-promocode{width:100%;padding-right:0;
                        .success-msg{padding-top:0;padding-bottom:5px;}
        }
        .cart-giftcart{width:100%;
                       .success-msg{padding-top:0;padding-bottom:5px;}
        }
         .wcn-checkout-info{
              .wcn-checkout-left-panel{padding-right:15px;}
             .wcn-aside-panel{padding-top:0px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap: wrap;flex-wrap:wrap;
                .wcn-summary{width:100%;margin-right:0;}
                .wcn-amazon-logout{width:100%;margin-left:0;margin-top:0;}
             }
             .wcn-aside-panel .quotebutton{text-align:center;
                 button{width:100%;}
             }              
        }
    } 
    .single-page-checkout,.single-page-checkout.amazonpay-checkout{
        .save-cart img{width:60px;}
    }
}
.amazonpay-checkout .shopping-cart .cart-item-details a,.amazonpay-checkout .shopping-cart .cart-item-details img{pointer-events: none !important;}
.amazonpay-checkout .cart-item-description .action-ui{display: none !important;}