﻿@import "_base.scss";

.account-dashboard {border-top:2px solid $base-color-primary;padding-top:15px;min-height:450px;
    .wcn-user-order-details .user-account{padding:0;
        .shopping-cart{padding:0;}
    }
    .tabs-left{border:0;margin-bottom: 15px;
        li{float:none;margin-bottom:2px;margin-right:-1px;
           a{border-radius:4px 0 0 4px;color:$base-color-secondary;display:block;margin-right:0;padding:8px 6px;
             &:hover i{color:$base-color-white;}
           }            
           i{color:$base-color-primary;padding-left:5px;font-size:11px;vertical-align:baseline;}
        }
        
    }
    nav > ul > li > a.selected,nav > ul > li > a:hover{background-color:$base-color-primary !important;color:$base-color-white !important;
        i{color:$base-color-white !important;}
    }
    .right-container{padding-right:0;}
    
    .section-header{font-size:$base-font-size + 5;color:$base-color-secondary;font-family:$base-font-family-bold;border-bottom:1px solid $base-color-secondary;padding-bottom:8px;margin-bottom:5px;}    

    .wishlist-container table{
        tr{border:0; border-bottom:1px solid $border-bgcolor-default;
           td{vertical-align:middle;padding:5px;}
           td.wishlist-item-tocart{min-width:130px;                
                .btn-card{margin-left:0;width:100% !important;                
                    i{color:$base-color-white !important;}
                }
                .zf-cart{display:none;}
           }           
        }
        .wishlist-item-detail a{display:block;font-size:$base-font-size;line-height:26px;overflow:hidden;width:100%;}
        .wishlist-item-image{padding:0 5px 0 0;
            img{max-height:60px;}
        } 
    } 

    .address-book{
        input::-webkit-input-placeholder{color:transparent;}
        #address_name::-webkit-input-placeholder{color:$text-placeholder;}
        .address-list{
            .address-blocks{margin-top:20px;margin-bottom:0;}
            form{display:inline-block;}
        } 
        h5,h3{font-size:$base-font-size + 1;font-family:$base-font-family-bold;color:$base-color-primary;border-bottom:1px solid $base-color-secondary;padding-bottom:6px;}
        .address-title{color:#626262;font-family:$base-font-family-bold;}
        .edit-address-form .form-group,.change-password .form-group{float:left; width:100%; margin-bottom:5px;}        
        .address-list-primary .address-change i.zf-delete{display:none;}  
        .action-links{margin-bottom:10px;}
    }
    .address-change{color:$base-color-primary;        
        i{padding:1px 1px 1px 4px;border:1px solid $base-color-primary;border-radius:4px;font-size:$base-font-size + 5;margin-left:5px;
            &.zf-delete{padding:1px 4px;}
        }        
        button{background:transparent;border:none;padding:0;
            &:hover i{color:#429cff;}
        }
    }
    .dashboard-addresses{
        h5{color:#626262;font-weight:medium;font-size:15px;}        
        .address-change i.zf-delete{display:none;}
    } 
    .address-block p{margin-bottom:1px;}
    .action-links{            
            button{background:transparent;border:none;color:$base-color-primary;padding:0;}       
            .border-left{border-left:1px solid $border-bgcolor-default;padding-left:6px;margin-left:2px;}        
    }
      
    .edit-profile .form-group{float:left; width:100%;margin-bottom:5px;}
    .order-receipt{
        h3{font-size:$base-font-size + 1;font-family:$base-font-family-bold;color:$base-color-secondary;border-bottom:1px solid $base-color-secondary;padding-bottom:6px;}
        .receipt-total{border-top:1px solid $base-color-secondary;}
        .receipt-item-list{
            table{border-left:1px solid $border-bgcolor-default;border-right:1px solid $border-bgcolor-default;
                .shipment-address{background-color:$base-color-white;background-color:#f9f9f9;
                        td{padding:5px;}
                }
                .table-heading th{padding:5px;}    
                .receipt-column-action{border-right:1px solid $border-bgcolor-default;}            
            } 
        }
        .receipt-totals{
            .form-group{float:left; width:100%;margin-bottom:0;line-height:32px;} 
            h2{color: $base-color-primary;padding-top:8px;}
        } 
        .table-responsive{margin-bottom:0;}
    }
    .review-history ul{margin:0; padding:0;
        li{list-style:none; padding:5px 0;}
        .review-item-detail{margin-bottom:5px;display:inline-block;width:100%;
            .review-item-title{font-size:$base-font-size + 3;font-family:$base-font-family-bold;}
            h5{font-family:$base-font-family-bold;}
        }
    }    

    .template-quick-order{
        .quick-order{left:-198px;top:32px; width:305px;}
    }  
    .credit-card-content {
        .credit-card-block {margin:0 0 15px;}
        .card-type {margin:4px 0;
            img {display:inline-block; vertical-align:top; padding-right:10px;} 
            i {padding:1px 1px 1px 4px;border:1px solid $base-color-primary;border-radius:4px;font-size:$base-font-size + 5;margin-left:5px;}       
        }  
        p {margin:0 0 2px;}
    }    
    .cart-products .cart-item-quantity{     
        input[type="text"]{width:48px;}
    }
    .quote-products {
        table{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;margin-bottom:0;
              tr td,tr th{border:1px solid $border-bgcolor-default;vertical-align:middle;padding:5px;}
        }
    }
    .order-history .table .z-podocument{display:none !important;}
}

// Media Query
@include screensize(x-small) { 
.account-dashboard{
    .right-container{padding-right:0;padding-left:0;}
    .tabs-left li a{border-radius:4px;}
}
.user-account{padding:0 15px;
    .page-title{font-size:$base-heading-font-primary - 8;}
    .shopping-cart{padding:0;}
}
#poptreeview .dropdown-list-ul{right:auto;left:-30px;}
}
@include screensize(small) { 
.account-dashboard{
    .right-container{padding-right:0;padding-left:15px;}
    .tabs-left li a{border-radius:4px 0 0 4px;}
    .cart-item-details{
        .cart-image {
            img {max-width:80px;}
            }
    }
    .address-book .edit-address-form{padding-right:8px;
        &.address-form-field{padding-right:0;padding-left:8px;}
    }
}
.user-account{padding:0;
    .page-title{font-size:$base-heading-font-primary - 4;}
}
#poptreeview .dropdown-list-ul{right:0;left:auto;}
}
@include screensize(medium) { 
.account-dashboard{
    .wishlist-item-image img{max-width:60%;}
    .address-list .address-blocks {min-height:235px;}
}
.user-account .page-title{font-size:$base-heading-font-primary;}
}
@include screensize(desktop) { 
.account-dashboard{
    .address-list .address-blocks {min-height:205px;}
    }
}
// Print View
@media print{
header,footer,.account-container-menu,.receipt-print,.product-altimages,.product-extras,.product-variations,.highlight-container,.compare-print{display:none;}
a[href]:after {content: none !important;}
}