﻿//For Mobile Mega Menu
.header-nav{background-color:$base-primary;}

.navigation {
    position: initial;
    flex-grow: 0;
    background-color: $header-nav-link;

    > z-widget {
        height: calc(100% - 47px);
    }

    .parent-nav, .link-panel-widget {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        padding-left: 12px;

        > li {
            font-family: $base-font-family-bold;
            color: $base-tertiary;
            font-size: $base-font-size + 3;
            text-transform: uppercase;
            border-bottom: 5px solid transparent;

            &:hover, &:active {
                color: $base-primary;
                border-color: $base-secondary-light;
            }

            a {
                padding: 12px 20px 6px;
                display: block;
                color: $black;
                font-size: 15px;
            }
        }
    }

    .mobile-nav-btn {
        background-color: transparent;
        border: 0;
        padding: 5px 10px 5px 10px;
        cursor: pointer;
    }

    .dropdown {
        position: initial;

        a {
            padding: 8px 8px 8px 20px;
            text-decoration: none;
            display: block;
            transition: 0.3s;
            width: 100%;
            font-family: $base-font-family-bold;
            color: $black;

            &:hover {
                color: $base-primary-light;
            }
        }

        .open-child-menu {
            font-size: $base-font-size - 4;
            line-height: 37px;
            height: 37px;
            width: 40px;
            text-align: center;
            cursor: pointer;
        }

        .dropdown-menu {
            width: 100%;
            height: 100%;
            top: 0;
            border: 0;
            border-radius: 0;
            background: $input-background;
            margin: 0;
            padding: 0;
            display: block;
            position: absolute;
            border-right: 1px solid $border-light;
            
        }
    }

    .nav-back-btn, .main-nav-back-btn {
        padding: 8px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s;
        font-family: $base-font-family-bold;
        color: $black;

        &:hover {
            color: $base-primary-light;
        }

        span {
            padding: 0 10px;
            font-size: $base-font-size - 2;
            color: $base-secondary-light !important;
        }
    }
}

.mobile-navigation {
    ul {
        margin: 0;
        padding: 0;

        a {
            padding: 8px 8px 8px 20px;
            text-decoration: none;
            display: block;
            transition: 0.3s;
            width: 100%;
            text-transform: uppercase;
            font-family: $base-font-family-bold;
            color: $black;
            cursor: pointer;

            &:hover {
                color: $base-primary-light;
            }
        }
    }
}

.side-nav {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1050;
    top: 0;
    transition: 0.5s;
    background-color: $white;
    overflow-x: hidden;
    padding:0px 15px 0px 0px;

    .nav-header {
        background-color: $base-primary;
        padding-bottom: 10px;

        a {
            color: $white;
            cursor: pointer;
        }

        .nav-label {
            text-align: left;
            font-size: $base-font-size + 3;
            display: flex;
            align-items: center;
            color: $white;
            padding: 0px;
            letter-spacing: 1.25px;
            text-overflow: ellipsis;
            overflow: hidden;

            > span {
                font-size: $base-font-size + 6;
                padding-right: 15px;
            }
        }
    }

    .nav-body {
        padding: 25px;
    }

    .login-container {
        padding: 25px;

        .form-group {
            margin-bottom: 10px;

            .nav-title {
                font-size: $base-font-size + 3;
                font-family: $base-font-family-bold;
                letter-spacing: 1.25px;
            }

            .login-form-forgotpassword-div {
                margin-bottom: 10px;
            }

            .login-form-forgotpassword {
                font-size: $base-font-size - 2;
                text-decoration: underline;
            }

            .b2b-new-customer-text {
                font-size: $base-font-size + 2;
            }
        }

        .btn {
            text-transform: uppercase;
        }
        // Change later...........
        .checkout-guest-container {
            display: none;
        }

        .social {
            display: none;
        }
    }

    .my-accounts-nav {
        padding: 15px 20px;

        .twitter-typeahead {
            width: 96%;
        }

        ul.account-menu {
            display: block;
            border: 0;

            li {
                padding: 8px 0;

                a {
                    color: $black;
                    font-family: $base-font-family-bold;
                    font-size: $base-font-size;
                    text-decoration: none;
                    display: block;
                    transition: 0.3s;

                    &:hover {
                        color: $base-primary-light;
                    }
                }
            }
        }

        .btn {
            text-transform: uppercase;
            margin-top: 10px;
            color: $btn-primary;
        }
    }
}

.side-nav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.4;
    display: none;
    z-index: 1;
}

.nav-right {
    right: -300px;
}

.nav-left {
    left: -300px;

    &.navOpen {
        left: 0;
    }
}

.navOpen {
    right: 0;
}

@include screensize(x-small) {
    .navigation {
        background-color: $white;
    }
    .side-nav{padding:0px 0px 0px 0px;
              .nav-header{padding:10px;
                  a{position:absolute;right:15px;}
              }
    }
    .mega-menu{display:block;}
}

@include screensize(xl-small) {
    .navigation {
        background-color: $white;
    }
}

@include screensize(small) {
    .navigation {
        background-color: $white;
    }
    .side-nav{padding:0px 0px 0px 0px;
              .nav-header{padding:10px;
                  a{position:absolute;right:15px;}
              }
    }
    
}



@include screensize(medium) {
    .navigation {
        flex-grow: 1;
        background-color: $header-nav-link;

        .parent-nav, .link-panel-widget {
            display: flex;
        }
    }
    .mega-menu{display:none;}
}

.mega-menu {
    z-index: 1;
    min-height: 0;

    .sidenav {
        height: auto;
        position: fixed !important;
        background-color: #f1f1f1;
        display: flex;
        margin-top: 3px;

        .catNav {
            margin-left: -300px;
            position: fixed;
            left: 0px;
            top: 0px;
            height: 100vh;
            background: rgb(241, 241, 241);

            .link-panel-widget {
                margin-top: 2px;
            }
        }

        .leftnav {
            min-width: 300px;
            background: #f1f1f1;
            margin-left: -300px;
            transition: all .5s;
            // Hide all dynamic categories
            div[id^="leftNav-cat-"] {
                display: none;
            }

            .scroll-list {
                overflow-y: auto;
                max-height: calc(100vh - 126px);
            }


            .col-icon i {
                width: 43px;
                font-style: normal !important;
                align-self: center;
            }

            a {
                padding: 0;
                text-decoration: none;
                font-size: 14px;
                color: $black !important;
                display: block;
                transition: 0.3s;
                text-transform: uppercase;
                font-weight: bold;
                padding: 10px 0 10px 34px;
                letter-spacing: 1px;
                position: relative;
                cursor: pointer;
                width: 100%;


                span {
                    border: solid #444;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    position: absolute;
                    top: 7px;
                    right: 20px;
                    transform: rotate-(45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }
        }

        .rightnav {
            background: #fff;
            width: 100%;
            max-height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;

            .tabcontent {
                display: none;

                .sub-menu {
                    padding: 0;
                    list-style: none;
                    font-size: 14px;

                    .list {
                        display: block;

                        a {
                            color: $black;
                            margin-bottom: 7px;
                            width: 100%;
                            display: block;

                            &:hover {
                                color: #638fac;
                            }
                        }
                    }

                    .head {
                        font-weight: 700;
                        margin-bottom: 10px;
                        letter-spacing: 1px;

                        a {
                            color: $black;

                            &:hover {
                                color: #638fac;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {

    .mega-menu {
        .sidenav {
            flex-direction: column;
            top: 0;
            height: 100%;
            -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
            transition: width .5s;


            .catNav {
                width: 100vw;
                padding-top: 0;
                margin-left: -101vw;
                transition: all .5s;
                z-index: 1;

                .header {
                    padding: 10px 0;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background: $base-primary;
                    padding: 13px 27px;
                    height: 47px;

                    i {
                        font-style: normal;
                        font-size: 13px;
                    }
                }

                ul {
                    padding-left: 0;
                    margin-top: 20px;

                    li {
                        a {
                            text-decoration: none;
                            font-size: 14px;
                            color: $black !important;
                            display: block;
                            transition: 0.3s;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 10px 0 10px 34px;
                            letter-spacing: 1px;
                            position: relative;
                            cursor: pointer;
                            width: 100%;
                        }

                        i {
                            font-style: normal;
                            width: 43px;
                        }
                    }
                }
            }

            .leftnav {
                width: 100vw;
                height: 100%;
                padding-top: 0;
                margin-left: -101vw;
                transition: all .5s;
                z-index: 2;

                .scroll-list {
                    max-height: calc(100vh - 50px);
                }

                .header {
                    padding: 10px 0;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background: $base-primary;
                    padding: 13px 27px;
                    height: 47px;

                    i {
                        font-style: normal;
                        font-size: 13px;
                    }
                }

                a {
                    width: 80%;
                }

                .col-icon {

                    &:hover {
                        background: $base-primary;

                        a {
                            color: #fff !important;
                        }

                        i {
                            color: #fff !important;
                        }
                    }
                }
            }

            .rightnav {
                position: fixed;
                top: 0;
                height: 100%;
                width: 100vw;
                margin-left: -101vw;
                transition: all .5s;
                background: #f1f1f1;
                z-index: 4;

                .header {
                    label {
                        i {
                            font-style: normal;
                            font-size: 13px;
                        }
                    }
                }

                .tabcontent {

                    .scroll-list {
                        overflow-y: auto;
                        max-height: calc(100vh - 50px);
                    }

                    .sub-menu {

                        .list {
                            display: none;
                            padding-left: 10px;
                            border-bottom: 1px solid #ccc;

                            &.show {
                                display: block;
                                margin-bottom: 20px;
                            }
                        }

                        .btn {
                            width: 62px;
                            display: flex !important;
                            justify-content: flex-end;
                            align-items: center;
                            border: none;
                            padding: 0;
                            background-color: inherit;

                            i {
                                font-style: normal;
                            }
                        }
                    }
                }

                .header {
                    padding: 10px 0;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background: $base-primary;
                    padding: 13px 27px;
                    height: 47px;
                }
            }
        }
    }
}

.mega-menu-overlay {
    position: absolute !important;
    width: 100%;
    height: 150vh;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.4;
    display: none;
    z-index: 102;
}



//For Desktop Mega Menu
.navbar-collapse {
    padding-top: 8px !important;
}

.navbar-nav {
    margin: 0;
    border-bottom: 1px solid #ddd;

    > li {
        &:hover {
            background-color: $white;
            border-bottom: 5px solid $base-primary;
            color: $base-primary;
        }

        > a {
            margin: 20px 0px 4px 0px;
            padding: 0px;
            font-size: $base-font-size + 2;
            color: $white;
            font-family: $base-font-family-bold;
            &:after{

            }
            &:hover, &:active, &:focus {
                background-color: $nav-bgcolor-hover;
                color: $white;
            }
        }

        .brand-filter a {
            font-size: 18px;
            text-align: center;

            &:hover {
                background-color: #f4f4f4;
            }
        }
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu ul {
    padding: 5px 0 10px 15px;

    li {
        line-height: 40px;
        min-height: 24px;
    }
}

.dropdown-menu {
    background-color: $white !important;
    padding: 0px 0;
    border-radius: 0px;
}

.dropdown-menu {
    .rotate {
        width: 50%;
        background-color: #001847;
        color: #ffffff;
        position: relative;
        min-height: 300px;
        padding: 0px;
        text-align: center;
        text-transform: uppercase;

        span {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-size: 46px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 600;
            min-height: 650px;
        }
    }

    .set-4 {
        list-style-type: disc;
        -webkit-columns: 5;
        -moz-columns: 5;
        columns: 5;
        list-style-position: inside;
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        column-gap: 0px;
        height: 360px;
        width: 100%;

        .brand-name a {
            background-color: transparent;
            font-family: $base-font-family;
            color: #000;
            text-transform: none;
            font-size: $base-font-size - 1;
        }
    }

    img {
        width: 100%;
        height: 172px;
    }
}

.navbar-collapse {
    padding: 0;

    .navbar-nav {
        width: 100%;
        display: table;
        text-align: center;

        li {
            display: inline-block;
            float: none;
            margin: 0px 20px 0px 20px;
        }

        .Parent-li {

            &:hover {
                background-color: #2D94AE;
            }
        }
        //line side by side li nivi
        /*.Parent-li:not(:last-child):after {
            content: "";
            min-width: 1px;
            width: 1px;
            height: calc(15% - 0px);
            background: #fff;
            position: absolute;
            opacity: 0.5;
            margin-left: 10px;
            margin-top: 10px;
        }*/
    }
}

.Brandlist ul li a {
    margin-top: 8px !important;
}

.Brandlist ul {
    padding-top: 20px !important;
}

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .dropdown-menu a:hover {
    text-decoration: underline !important;
}

.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.yamm .yamm-content {
    padding: 20px;
}

.yamm .dropdown.yamm-fw a:nth-child(1) {
    text-decoration: none;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
    margin-top: -1px;
}

.yamm .dropdown ul .brand-name {
    display: block;
}

.yamm .dropdown ul li {
    width: 19%;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    line-height: 26px;

    &.view-all a {
        color: $base-primary;
    }

    a {
        font-family: $base-font-family-bold;
        background-color: transparent;
        color: $black;
        white-space: normal !important;
        margin-top: 35px;
        font-size: $base-font-size - 1;
    }

    .sub-menu-child {
        padding-left: 0px;

        li {
            width: 100%;
            list-style: none;
            margin: 0px;

            a {
                background-color: transparent;
                font-family: $base-font-family;
                color: #333333;
                text-transform: none;
                font-weight: normal;
            }

            ul li a {
                font-weight: normal;
            }
        }
    }

    i {
        padding-right: 10px;
        color: $base-primary;
    }
}

.yamm .dropdown ul li a:hover, .yamm .dropdown ul li .sub-menu-child li a:hover {
    color: $base-primary;
}

// Nav Dropdown Code.
.nav-drop {
    right: 0;
    line-height: 50px;
    font-size: 18px;
    color: $white;
    margin-top: -50px;
    margin-right: 20px;

    &:hover, &:active, &:focus {
        color: $base-primary;
    }
}

.nav-drop-container ul {
    background-color: $nav-bgcolor;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -5px;
    width: 50%;
    border-radius: 0;

    li {
        list-style: none;
        display: block;
        position: relative !important;
        color: $white;
        min-height: 24px;
        line-height: 40px;

        a {
            padding: 0 15px;
            color: $white;
            width: 100%;
            display: block;
        }

        &:hover {
            background-color: $base-primary;
            color: $white;
        }

        ul {
            float: none !important;
            position: static !important;
            width: 100%;
            min-height: 50px !important;

            li {
                width: 100% !important;

                a {
                    color: $white !important;
                    padding: 10px 15px;
                }
            }
        }
    }
}

// Media Query.
@include screensize(x-small) {
    .navbar-collapse .navbar-nav li {
        display: block;
        margin: 0px;
    }

    .nav .nav-home {
        display: none;
    }

    .navbar-nav {
        height: auto !important;
        border-bottom: none;
        text-align: left;
    }

    .dropdown:hover .dropdown-menu {
        float: none;
        position: static;
    }

    .yamm .dropdown ul li {
        width: 100%;
    }
    //Mobile View Css
    .dropdown-menu ul {
        padding: 5px 0 10px 0px;
    }

    .panel-title > a.iconnone {
        margin-left: 25px
    }

    .panel-title > a.iconnone:before {
        float: left !important;
        content: "";
    }

    .panel-title > a:before {
        float: left !important;
        content: "-";
        padding-right: 15px;
        line-height: 20px
    }

    .panel-title > a.collapsed:before {
        float: left !important;
        content: "+"
    }

    .panel-title > a:before {
        padding-right: 15px;
        line-height: 11px;
        font-size: $base-font-size + 2;
    }

    .navbar-nav > li > a {
        font-size: $base-font-size - 2;
        text-align: left;
        margin: 15px 20px 15px 20px;
        background-color: transparent !important;
    }

    .navbar-nav > li:hover {
        border-bottom: 0px;
        color: $white;
        background-color: #ffffff00;
    }
    /*.header-nav{position: absolute;margin-top: -130px;width: 100%;background-color: $base-color-white;z-index:9;}*/
    .mobile-close {
        margin-top: -50px !important;
        font-size: 25px;
        background-color: transparent !important;
        border: none;
        color: $white;
    }

    .shopbybrand-mobile {
        background-color: $base-secondary !important;
        color: $white;
        margin: 0px !important;
        padding: 15px 0px 15px 20px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.25px;
        font-family: $base-font-family-bold;
        text-align: left;
    }

    .navbar-collapse {
        padding-top: 0px !important;
        margin-top: 50px;
    }

    .close1 {
        margin-top: 7px;
        margin-right: 22px;
        text-align: left;
        float: left;
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
    }

    .Submenumobile {
        background-color: transparent;
        top: 0px;
        text-align: left;
        position: relative;
        border: 1px solid #eee;

        .modal-content {
            border: none !important;
            border-bottom: 1px solid $footer-bgcolor;

            .mobileexit {
                font-size: 12px !important;
                text-transform: uppercase;
                letter-spacing: 1.45px;
                padding: 5px 0px 5px 0px;
                color: $base-secondary;
                font-family: $base-font-family-bold;

                i {
                    font-size: 9px;
                }
            }

            .mobileViewall {
                font-size: 12px !important;
                text-transform: uppercase;
                letter-spacing: 1.45px;
                padding: 5px 0px 5px 0px;
                color: $base-secondary;
                font-family: $base-font-family-bold;
                margin-left: 25px;
            }
        }

        .submenu-ul {
            padding: 0px;

            .panel-group .panel {
                border-radius: 0px;
                background-color: transparent;
                border-color: transparent;
            }

            .panel-group {
                margin: 0px;

                .panel-default > .panel-heading {
                    color: $base-primary;
                    background-color: transparent;
                    border-color: transparent;
                    margin: 10px 0px 10px 0px;
                    padding: 0px;

                    .panel-title {
                        font-family: $base-font-family-bold;
                        font-size: 12px;
                        letter-spacing: 1.25px;
                        text-transform: uppercase;
                    }
                }
                //.box-shadow-mobile{position: absolute;background-color: $base-color-white;width: 100%;border-top: 5px solid $base-color-primary;background-clip: padding-box;border-radius: 0px;box-shadow: 0px 6px 12px #999;}
            }

            .panel-body {
                padding: 0px;
                margin: 0px;

                ul {
                    padding-right: 0px;
                    padding-left: 25px;
                    margin-bottom: 15px;

                    li {
                        padding: 0px;
                        margin: 0px;
                        margin-bottom: 10px;

                        a {
                            font-family: $base-font-family;
                            font-size: $base-font-size - 1;
                            text-transform: none;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

@include screensize(small) {
    .navbar-toggle {
        display: block;
    }
    /*.header-nav{position: absolute;margin-top: -203px;width: 100%;background-color: #ffffff;z-index:9;}*/
    .mobile-close {
        margin-top: -68px !important;
    }

    .dropdown-menu ul {
        padding: 5px 0 10px 15px;
    }

    .navbar-collapse .navbar-nav li {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    /*.navbar-collapse .navbar-nav .Parent-li > :first-child{
        &:after{display:none;}
    }*/

    .navbar-collapse .navbar-nav .Parent-li {
        height: 50px;
        padding: 0px 10px 0px 10px;

        .Parent-a {
            margin: 0px 0 0px 0;
            width: 99%;
            float: left;
            text-align: center;
            line-height: 20px;
            font-size: $base-font-size - 1;
            height: 50px;
            display: grid;
           
            /*&:after {
                content: "";
                min-width: 1px;
                width: 1px;
                height: 26px;
                background: $white;
                left: 0px;
                top: 0;
                opacity: 0.5;
                margin-top: -35px;
                margin-left: -10px;
                bottom: 0;
            }*/
        }
    }

    .navbar-nav > li > a {
        font-size: $base-font-size - 2;
        text-align: left;
        margin: 15px 20px 15px 20px;
        background-color: transparent !important;
    }

    .navbar-nav > li:hover {
        border-bottom: 0px;
        color: $white;
        background-color: #ffffff;
    }

    nav .nav-home {
        display: block;
    }

    .navbar-nav {
        height: 50px !important;
    }

    .dropdown:hover .dropdown-menu {
        float: left;
        position: absolute;
    }

    .yamm .dropdown ul li {
        width: 48%;
    }

    .yamm .dropdown.yamm-fw .dropdown-menu {
        min-height: 500px;
        max-height: 500px;
        overflow-y: auto;
    }

    .dropdown-menu {
        .rotate {
            span {
                min-height: 363px;
                font-size: 42px;
            }
        }
    }

    .navbar-collapse {
        padding-top: 0px !important;
        margin-top: 0px;
    }

    .dropdown-menu {
        .set-4 {
            list-style-type: disc;
            -webkit-columns: 4;
            -moz-columns: 4;
            columns: 4;
            list-style-position: inside;
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
            -webkit-column-gap: 0px;
            -moz-column-gap: 0px;
            column-gap: 0px;
            height: 360px;
            width: 100%;

            .brand-name a {
                background-color: transparent;
                font-family: $base-font-family;
                color: #000;
                text-transform: none;
                font-size: $base-font-size - 1;
            }
        }
    }
}

@include screensize(medium) {
    .navbar-nav > li:hover {
        border-bottom: 2px solid $base-primary;
        color: $base-primary;
        background-color: transparent;
    }

    .navbar-collapse .navbar-nav .Parent-li {
        //line side by side li nivi
        /*&:not(:last-child):after {
            margin-left: 0px;
        }*/
        height: 50px;
        padding: 0px 0px 0px 0px;

        .Parent-a {
            margin: 0px 0 0px 0;
            width: 99%;
            float: left;
            text-align: center;
            line-height: 20px;
            font-size: $base-font-size - 2;
            height: 50px;
            display: grid;
        }
    }

    .navbar-nav > li > a {
        font-size: $base-font-size;
        margin: 20px 0 5px 0;
    }

    .navbar-collapse .navbar-nav li {
        display: inline-block;
        /*height:50px;*/
    }

    .navbar-collapse {
        padding-top: 0px !important;
        margin-top: 0px;
        display: inline-grid;
        height: 50px;
    }

    .yamm .dropdown ul li {
        width: 100%;
    }

    .dropdown-menu ul {
        padding: 5px 0 10px 0px;
    }
    /*.header-nav{position: relative;margin-top: 0px;}*/
    .yamm .dropdown.yamm-fw .dropdown-menu {
        min-height: 500px;
        max-height: 500px;
        overflow-y: auto;
        box-shadow: 0px 500px 0px 500px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 500px 0px 500px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 100vw 0px 100vw rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 100vw 0px 100vw rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 100vw 0px 100vw rgba(0, 0, 0, 0.5);
    }
}

@include screensize(desktop) {
    .dropdown-menu ul {
        padding: 5px 0 10px 15px;
    }

    .dropdown-menu img {
        width: 90%;
        height: 187px;
    }
    .navbar-collapse .navbar-nav .Parent-li{
        height:50px;
        padding: 0px 10px 0px 10px;
        .Parent-a{
                margin: 0px 0 0px 0;
                width: 99%;
                float: left;
                text-align: center;
                line-height:20px;
                font-size:$base-font-size;
                height:50px;
                display:grid;
        }
    }
}

@include screensize(x-large) {
    .yamm .dropdown.yamm-fw .dropdown-menu {
        min-height: 500px;
        max-height: 500px;
    }

    .dropdown-menu {
        .rotate {
            span {
                min-height: 363px;
            }
        }
    }

    .dropdown-menu {
        top: 100%;
    }

    .dropdown-menu img {
        width: 79%;
        height: 216px;
    }
}

@include screensize(xx-large) {
    .yamm .dropdown.yamm-fw .dropdown-menu {
        min-height: 600px;
        max-height: 600px;
    }

    .navbar-collapse .navbar-nav .Parent-li {
        height: 50px;
        padding: 0px 30px 0px 30px;
        //.Parent-a{width:100%;}
        //line side by side li nivi
        /*&:not(:last-child):after {
            margin-left: 30px;
        }*/
    }

    .dropdown-menu img {
        height: 260px;
    }
}
