﻿.footer {
    border-top:1px solid #ddd;
    .footer-information {
        h6 {
            color: $base-primary;
            margin-bottom: 15px;
            font-size: $base-font-size + 2;
        }

        p {
            color: $base-primary;
            font-size: $base-font-size - 2;
        }

        img {
            width: 8%;
            margin-right: 8px;
        }
    }

    .copyright {
        border-top: 1px solid #ddd;
        height: 30px;
    }

    .footer-block {
        .social-media-link-panel {
            .link-panel-widget {
                li {
                    margin-bottom: 10px;

                    a {
                        text-decoration: none;

                        span {
                            margin-left: 5px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .social-ul {
            list-style: none;
            display: flex;
            margin-left: 100px;

            li {
                img {
                    width: 80%;
                }
            }
        }

        .footer-header {
            font-size: $base-font-size + 2;
            margin-bottom: 15px;
            color: $base-tertiary;
            background-color: transparent;
            text-transform: none;
        }

        .footer-text {
            margin-bottom: 15px;
            font-size: $base-font-size;
            color: $footer-txt;
        }

        .footer-store-number {
            color: $footer-txt;
            font-size: $base-font-size + 1;
            background-color: transparent;
        }

        .extra-links {
            margin-bottom: 15px;
            font-weight: normal;

            a {
                font-size: $base-font-size;
            }
        }

        .social-media {
            display: table-cell !important;
        }

        a {
            color: $base-tertiary;
            font-size: $base-font-size - 2;
        }

        .footer-copyright {
            font-size: $base-font-size - 2;
            color: $base-tertiary;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .footer-terms {
            position: relative;
            margin-top: -26px;
        }

        .why-special {
            img {
                width: 45%;
                margin-top: 15px;
            }
        }

        img {
            width: auto;
            min-width: auto;
        }

        ul.link-panel-widget {
            padding: 0;
            list-style: none;

            li {
                font-size: $base-font-size;
                font-family: $base-font-family;
                margin-bottom: 0px;
            }
        }
    }

    .news-letter {
        border-bottom: 1px solid #ddd;

        .news-letter-container .newsletter-container {
            label {
                font-size: $base-font-size + 4px;
                margin-bottom: 0px;
                font-family: $base-font-family-bold;
            }

            p {
                font-size: $base-font-size - 2;
            }

            input {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                background-color: transparent;
                color: $base-tertiary;
            }


            .btn-newsletter {
                margin-left: 0px;

                button {
                    border-radius: 0px;
                    height: 38px;
                    border: none;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                }
            }
        }
    }

    .secure-shopping{padding-top:30px;padding-bottom:30px;text-align:center;border-bottom: 1px solid #ddd;
        h4{
            font-size:$base-font-size + 2;margin-bottom:25px;
        }
        ul{list-style:none;padding: 0px;
           li{display:inline-flex;margin-left: 10px;
              a{
                  span{display:none;}
              }
           }
        }
    }
}
.Trustpilot {
    padding-top: 35px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
@include screensize(x-small) {
    .footer {
        .secure-shopping {
            ul {
                list-style: none;
                padding: 0px;

                li {
                    display: inline-flex;
                    margin-left: 0px;
                    margin-bottom: 15px;

                    a {
                        span {
                            display: none;
                        }

                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }

        .footer-container {
            margin-bottom: 0px;

            .mt-5 {
                margin-top: 0px !important;
            }
        }

        .news-letter {
            .news-letter-container {
                .newsletter-container {
                    .news-text1 {
                        font-size: $base-font-size + 6;
                    }

                    .news-text2 {
                        font-size: $base-font-size - 3;
                    }

                    .news-text3 {
                        font-size: $base-font-size - 2;
                    }

                    input {
                        width: 100%;
                        margin-bottom: 12px;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }

                    .btn-newsletter {
                        width: 100%;

                        button {
                            width: 100%;
                            margin-bottom: 15px;
                            border-top-left-radius: 25px;
                            border-bottom-left-radius: 25px;
                        }
                    }
                }
            }
        }

        .news-letter-pad {
            padding: 0px 0px 0px 0px;
        }

        .footer-information {
            display: none;
        }

        .boder-bottom-line {
            border-bottom: 1px solid #ddd;
        }

        .footer-block {
            margin-top: 0px !important;

            ul.link-panel-widget {
                margin-bottom: 10px;
            }

            .footer-terms {
                margin-top: 0px;
            }
        }

        .footer-head-2, .social-ul, .social-media {
            text-align: left;
        }

        .social-ul {
            margin: 0px;
            padding: 0px;
            margin-left: 0px !important;
        }

        .copyright {
            height: 60px;

            .footer-copyright {
                text-align: center;
            }
        }
        //Mobile Plus Icon
        .card-header {
            background-color: transparent;
            padding: 0px;
            padding-bottom: 0px !important;
        }

        .widget .card-header a:after {
            content: "+";
            position: absolute;
            right: 25px;
            top: 5px;
            transition: transform 0.25s ease-in-out;
            margin-top: 12px;
            font-size: 23px;
            font-weight: bold;
        }

        .widget .card-header a:hover, .widget .card-header a:focus {
            text-decoration: none
        }

        .widget .card-header a[aria-expanded="true"]:after {
            transform: rotate(45deg)
        }

        .collapse:not(.show) {
            display: none;
        }
        //shopper Approved
        .new-shopper-approved {
            display: block;
        }

        .shopper-approved {
            margin-top: 20px;

            a {
                img {
                    width: auto;
                }
            }
        }
    }
}

@include screensize(small) {
    .footer {
        .secure-shopping{
            ul{list-style:none;padding: 0px;
               li{display:inline-flex;margin-left: 10px;
                  a{
                      span{display:none;}
                      img{width: 100%;}
                  }
               }
            }
        }
        .footer-container {
            margin-bottom: 30px;

            .mt-5 {
                margin-top: 3rem !important;
            }
        }

        .news-letter {
            .news-letter-container {
                .newsletter-container {
                    .news-text1 {
                        font-size: $base-font-size + 14;
                    }

                    .news-text2 {
                        font-size: $base-font-size + 10;
                    }

                    .news-text3 {
                        font-size: $base-font-size - 2;
                    }

                    input {
                        width: auto;
                        margin-bottom: 0px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }

                    .btn-newsletter {
                        width: auto;

                        button {
                            width: 100%;
                            margin-bottom: 15px;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                        }
                    }
                }
            }
        }

        .footer-information {
            display: block;
        }

        .boder-bottom-line {
            border-bottom: none;
        }

        .footer-block {
            .footer-terms {
                margin-top: -26px;
            }
        }

        .footer-head-2, .social-ul, .social-media {
            text-align: right;
        }

        .social-ul {
            margin-left: 120px !important;
            margin-bottom: 40px;
        }

        .copyright {
            height: 30px;
        }

        .card-header {
            padding-top: 0px !important;

            a {
                pointer-events: none;
            }
        }

        .widget .card-header a:after {
            display: none;
        }

        .collapse:not(.show) {
            display: block;
        }
        //shopper Approved
        .new-shopper-approved {
            display: none;
        }

        .shopper-approved {
            margin-top: 85px;

            a {
                img {
                    width: auto;
                }
            }
        }
    }
}

@include screensize(xx-large) {
    .footer .footer-container {
        padding: 0px 60px 0px 60px;
    }
    .footer{
        .news-letter-pad{padding:0px 110px 0px 110px;}
    }
    .copyright .footer-block {
        padding: 0px 110px 0px 110px!important;
    }
}

