﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@model LoginViewModel
@{
    ViewBag.Title = Admin_Resources.TitleLogin + " | " + Admin_Resources.Multifront;
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
}

<div class="login-box">
    <section id="loginForm">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin" }))
        {
            string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
            @Html.AntiForgeryToken()
            <div class="col-sm-12 login-header nopadding text-center">
                <img src="~/Content/Images/header-admin-logo-login.png" alt="Znode Logo Image" class="znode-logo" />
                <h3>@Admin_Resources.HeaderMerchantLogin</h3>
            </div>
            <div class="col-sm-12 login-main nopadding">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label">@Admin_Resources.LabelEmailID</div>
                        <div class="control-md">
                            @Html.TextBoxFor(m => m.Username, new { @id = "btnUsername", @class = "form-control", @placeholder = "Email ID" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @id = "valUserName"})
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label">@Admin_Resources.Password</div>
                        <div class="control-md">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "btnPassword" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @id = "valPassword" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 nopadding">
                    <label for="RememberMe">
                        <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                        <span class="lbl padding-8 login-font-size-14">@Admin_Resources.RememberMe</span><input type="hidden" value="false" name="RememberMe">
                    </label>
                </div>
                <div class="col-sm-12 nopadding">
                    <button type="submit" class="btn-text login-btn" id="Login">@Admin_Resources.LoginButtonText</button>
                </div>
                <div class="col-sm-12 nopadding login-font-size-14">
                    @Html.ActionLink(@Admin_Resources.ForgotPasswordText, "ForgotPassword")
                </div>
            </div>
            @Html.HiddenFor(m => m.ReturnUrl)
        }
    </section>
</div>