﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    string promoCode = string.Empty;
    if (Equals(Model?.Coupons?.Count(), 0))
    {
        string promotionCacheKey = "PromotionList_" + Convert.ToString(PortalAgent.CurrentPortal.PortalId);
        PromotionListViewModel promotionListViewModel = Helper.GetFromCache<PromotionListViewModel>(promotionCacheKey) ?? new PromotionListViewModel();

        promoCode = promotionListViewModel?.PromotionList?.Where(w => w.IsCouponRequired == false && w.Discount == Model.Discount)?.FirstOrDefault()?.PromoCode;
        promoCode = string.IsNullOrEmpty(promoCode) && Model.FreeShipping ? promotionListViewModel?.PromotionList?.Where(w => w.IsCouponRequired == false && w.Discount == 100)?.FirstOrDefault()?.PromoCode : promoCode;

        promoCode = string.IsNullOrEmpty(promoCode) ? string.Empty : promoCode + " successfully applied!";
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<div class="col-xs-12 nopadding cart-promocode">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('coupon')", OnSuccess = "WCNCheckout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyCoupon" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <p>@WebStore_Resources.LabelEnterCouponCode</p>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="input-group" id="cart-apply-promocode">
                    @if (Model.Coupons?.Count > 0)
                    {
                        <input type="text" id="promocode" name="discountCode" value="@Model.Coupons[@Model.Coupons.Count-1].Code" class="form-input" size="40" maxlength="100" />
                    }
                    else
                    {
                        <input type="text" id="promocode" name="discountCode" class="form-input" size="40" maxlength="100" />
                    }
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">@WebStore_Resources.ButtonApply</button>
                    </span>
                </div>
                <div id="coupon-loader" style="display:none;position:absolute;right:120px;top:-5px;width:60px;"><img src="@_fileLocation/Images/throbber.svg" class="img-responsive" /></div>
            </div>
        </div>
    }
    <div id="couponMessageContainer">
        <div class="col-xs-12 nopadding" id="scussesscouponMessageContainer">
            @if (Model.Coupons?.Count > 0)
            {
                foreach (var item in Model.Coupons)
                {
                    <div class=@(item.CouponApplied ? "success-msg padding-top" : "error-msg")>
                        <div class="col-xs-12 nopadding">
                            <i class="@(item.CouponApplied ? "zf-active" : "zf-close")"></i>&nbsp;<b>@item.Code</b><a href="#" style="cursor:pointer;color:#333;position:relative;right:0;top:0;" class="zf-delete pull-right" onclick="Checkout.prototype.RemoveCoupon('@item.Code');" title="Remove Coupon Code"></a>
                        </div>
                        <div class="col-xs-12 nopadding padding-bottom-10">
                            @item.PromotionMessage
                        </div>
                    </div>
                }

            }
            else if (!string.IsNullOrEmpty(promoCode))
            {
                <p class=@("success-msg padding-top") id="autopromotion">

                    @string.Format("{0}", promoCode)
                </p>
            }
        </div>
    </div>
</div>