﻿@using System.Configuration
<div class="col-xs-12 nopadding wcn-captcha-panel g-recaptcha"   data-sitekey="@ConfigurationManager.AppSettings["ReCaptchaSiteKey"]" style="transform:scale(0.9);transform-origin:0;-webkit-transform:scale(0.9); transform:scale(0.9);-webkit-transform-origin:0 0;transform-origin:0 0;">
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>  
