﻿@using Znode.Libraries.Resources
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.Models
@using Znode.Engine.WebStore.ViewModels
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = PortalAgent.CurrentPortal.Name;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _customModule = ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper() == ViewContext.Controller.GetType().Name.Replace("Controller", "") ? string.Empty : $".{ViewContext.Controller.GetType().Name.Replace("Controller", "")}" ;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
	string value = PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.Where(w => w.AttributeCode == "HawkSearchEngineName").Select(s => s.AttributeValue)?.FirstOrDefault();
    OrdersViewModel order = (OrdersViewModel)ViewBag.Order;
    string actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
	}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Scripts.Render("/bundles/jquery")
    @Html.Partial("_LayoutHead")
    <!--Data Layer Initialization-->
    <script>var dataLayer = [];</script>
	
	@if(value == "windycitynovelties")
    {
	    @*<script async>
                    (function (d) {
                        var e = d.createElement('script');
                        e.src = d.location.protocol + '//tag.bounceexchange.com/2794/i.js';
                        e.async = true;
                        d.getElementsByTagName("head")[0].appendChild(e);
                    }(document));
          </script>*@

	   if (controllerName == "checkout" && actionName == "ordercheckoutreceipt")
            {
                <script>
                       var modelData =@Html.RenderBlock(Json.Encode(order));
                       var shoppingCart = [];
                       var bouncex = bouncex || [];
                       bouncex.push(["conversion", {
                           "order_id": modelData.OrderNumber,
                           "email": modelData.EmailAddress,
                           "phone": modelData.BillingAddressHtml == null || modelData.BillingAddressHtml == "undefined" ? "" : modelData.BillingAddressHtml.split("Phone Number :")[1],
                           "goal": "purchase",
                           "transaction_origin": window.location.host,
                           "currency": modelData.CurrencyCode,
                           "coupon": modelData.CouponCode,
                           "total_discount": modelData.DiscountAmount,
                           "subtotal": modelData.SubTotal,
                           "tax": modelData.TaxCost,
                           "shipping": modelData.ShippingTypeName,
                           "amount": modelData.Total,
                           "pay_method": "PAY_METHOD",
                           "item": shoppingCart
                       }]);
                </script>
            }

	
        <!-- START Rakuten Marketing Tracking -->

        <script type="text/javascript">

                (function (url) {

                    /*Tracking Bootstrap

                    Set Up DataLayer objects/properties here*/

                    if (!window.DataLayer) {

                        window.DataLayer = {};

                    }

                    if (!DataLayer.events) {

                        DataLayer.events = {};

                    }

                    DataLayer.events.SiteSection = "1";



                    var loc, ct = document.createElement("script");

                    ct.type = "text/javascript";

                    ct.async = true;

                    ct.src = url;

                    loc = document.getElementsByTagName('script')[0];

                    loc.parentNode.insertBefore(ct, loc);

                }(document.location.protocol + "//intljs.rmtag.com/114557.ct.js"));

            </script>

        <!-- END Rakuten Marketing Tracking -->


    }
	
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()@_customModule" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Home/_StoreAnalyticsInstallation.cshtml"), PortalAgent.CurrentPortal)
     @if (value != "nightflyer" && controllerName == "checkout" && actionName == "ordercheckoutreceipt" && !Equals(order, null))
    {
        <img height=1 width=1 border=0 style="display:none;" src='//api.bounceexchange.com/capture/convert2.gif?website_id=2794&order_id=@order.OrderNumber&email=@order.EmailAddress&amount=@order.Total' />
    }
    <div id="layout" class="wrapper">
        <!--Header Widgets-->
        <header class="header-checkout row header">
            <div class="col-xs-12 nopadding wcn-header">
                <div class="wcn-logo text-center" style="width:100%;">
                    <a href="/">
                        @{
                            if (string.IsNullOrEmpty(logo))
                            {
                                <h1>@title</h1>
                            }
                            else
                            {
                                <img data-src="@logo" alt="@title" class="img-responsive b-lazy" />
                            }
                        }
                    </a>
                </div>
            </div>
        </header>
        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- Notification Msg -->
                    <div class="container">
                        <div class="row">
                            <div class="notification-msg" id="body">
                                <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]"></div>
                                @{
                                    TempData.Remove("Notifications");
                                }
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Footer Widgets-->
        <div class="footer-container">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 nopadding footer-copyright-text">
                            <p>@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--For Login-->
    <div class="modal fade wcn-login-panel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="divLogin">  </div>
                <div id="divRegister"> </div>
                <div id="divForgetPassword"> </div>
                <div id="divConfirmRegistration"></div>
            </div>
        </div>
    </div>
    @Html.Partial("_InlineTemplates")

    @Html.Hidden("hdnPaymentAppUrl", @ZnodeWebstoreSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
    @Scripts.Render("/bundles/CoreJs")
    @Scripts.Render("/bundles/ZnodeCoreJs")
	@*@Scripts.Render("/bundles/CoreJs?v=" + DateTime.Now.ToShortDateString())
    @Scripts.Render("/bundles/ZnodeCoreJs?v=" + DateTime.Now.ToShortDateString())*@
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    
    $(document).ready(function () {
        var notification = new ZnodeNotification();
        notification.DisplayNotificationMessages();
    });
</script>


