﻿@using Znode.Libraries.Resources
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = PortalAgent.CurrentPortal.Name;
    }
    PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.Where(w => w.AttributeCode == "HawkSearchEngineName").Select(s => s.AttributeValue)?.FirstOrDefault();
    OrdersViewModel order = (OrdersViewModel)ViewBag.Order;
    string value = PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.Where(w => w.AttributeCode == "HawkSearchEngineName").Select(s => s.AttributeValue)?.FirstOrDefault();
    string actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _customModule = ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper() == ViewContext.Controller.GetType().Name.Replace("Controller", "") ? string.Empty : $".{ViewContext.Controller.GetType().Name.Replace("Controller", "")}";
    string clientID = Convert.ToString(PortalAgent.CurrentPortal.GlobalAttributes?.Attributes?.FirstOrDefault(w => w.AttributeCode == "HawkSearchTrackingKey")?.AttributeValue);
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_LayoutHead")
    <!--Data Layer Initialization-->
    <script>var dataLayer = [];</script>
    @{
        string controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        if (value == "nightflyer")
        {
            if (controllerName == "home" || controllerName == "category" || controllerName == "checkout")
            {
                <meta name="robots" content="INDEX,FOLLOW" />
            }
            else
            {

                <meta name="robots" content="@Html.RenderMessage("SEOIndex")" />
            }
        }
        else
        {
           @*  <meta name="robots" content="@Html.RenderMessage("SEOIndex")" />

            <script async>
                          (function (d) {
                              var e = d.createElement('script');
                              e.src = d.location.protocol + '//tag.bounceexchange.com/2794/i.js';
                              e.async = true;
                              d.getElementsByTagName("head")[0].appendChild(e);
                          }(document));
                </script> *@


            if (controllerName.ToLower() == "checkout" && actionName.ToLower() == "ordercheckoutreceipt")
            {
                <script>
                           var modelData =@Html.RenderBlock(Json.Encode(order));
                           var shoppingCart = [];
                           var bouncex = bouncex || [];
                           bouncex.push(["conversion", {
                               "order_id": modelData.OrderNumber,
                               "email": modelData.EmailAddress,
                               "phone": modelData.BillingAddressHtml == null || modelData.BillingAddressHtml == "undefined" ? "" : modelData.BillingAddressHtml.split("Phone Number :")[1],
                               "goal": "purchase",
                               "transaction_origin": window.location.host,
                               "currency": modelData.CurrencyCode,
                               "coupon": modelData.CouponCode,
                               "total_discount": modelData.DiscountAmount,
                               "subtotal": modelData.SubTotal,
                               "tax": modelData.TaxCost,
                               "shipping": modelData.ShippingTypeName,
                               "amount": modelData.Total,
                               "pay_method": "PAY_METHOD",
                               "item": shoppingCart
                           }]);
                    </script>
            }

            <!-- START Rakuten Marketing Tracking -->

            @*<script type="text/javascript">

                    (function (url) {

                        /*Tracking Bootstrap

                        Set Up DataLayer objects/properties here*/

                        if (!window.DataLayer) {

                            window.DataLayer = {};

                        }

                        if (!DataLayer.events) {

                            DataLayer.events = {};

                        }

                        DataLayer.events.SiteSection = "1";



                        var loc, ct = document.createElement("script");

                        ct.type = "text/javascript";

                        ct.async = true;

                        ct.src = url;

                        loc = document.getElementsByTagName('script')[0];

                        loc.parentNode.insertBefore(ct, loc);

                    }(document.location.protocol + "//intljs.rmtag.com/114557.ct.js"));

                </script>*@

            <!-- END Rakuten Marketing Tracking -->

            <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/765999a870fc9c22a3688c28c/c36d6c41d93f7b699a9cd1ca6.js");</script>

        }
    }

</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()" onload="javascript: var notification = new ZnodeNotification(); notification.DisplayNotificationMessages();">
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Home/_StoreAnalyticsInstallation.cshtml"), PortalAgent.CurrentPortal)
    @if (value != "nightflyer" && controllerName == "checkout" && actionName == "ordercheckoutreceipt" && !Equals(order, null))
    {
        <img height=1 width=1 border=0 style="display:none;" src='//api.bounceexchange.com/capture/convert2.gif?website_id=2794&order_id=@order.OrderNumber&email=@order.EmailAddress&amount=@order.Total' />
    }

    <script>
        var commandQueue = [];
        var cmp = function (command, parameter, callback) {
            commandQueue.push({
                command: command,
                parameter: parameter,
                callback: callback
            });
        };
        cmp.commandQueue = commandQueue;
        cmp.config = {
            storePublisherData: false,
            gdprAppliesGlobally: false,
            testingMode: 'normal' //change to 'normal' when testing is complete
        };
        window.__cmp = cmp;
    </script>
    <script src='https://cdn.digitrust.mgr.consensu.org/1/cmp.complete.bundle.js' async></script>

    <div id="layout" class="wrapper">
        <!--Header Widgets-->
        <header>
            <z-widget>@Html.WidgetPartial("Header", "Header", "101", "PortalMapping")</z-widget>
        </header>

        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- Notification Msg -->
                    <div class="container">
                        <div class="row">
                            <div class="notification-msg" id="body">
                                <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]"></div>
                                @{
                                    TempData.Remove("Notifications");
                                }
                            </div>
                        </div>
                        <!-- sticky bar wcn-->
                        <div class="row" style="display:none;" data-id="stickyBar">
                            <div class="wcn-static-bar sticky-bar">
                                <div class="container">
                                    <div class="col-xs-11 col-sm-7 nopadding wcn-padding wcn-product-info">
                                        <div class="pull-left padding-right">
                                            <i class="zf-active"></i>
                                        </div>
                                        <div class="image">
                                            <img id="4061" src="~/Content/Images/no-image.png" class="img-responsive" alt="Product">
                                        </div>
                                        <div class="wcn-product-detail">
                                            <div class="padding-left-10 nopadding-right-10"><span class="addtocart-label">Added to cart: </span></div>
                                            <div class="padding-left-10 nopadding-right-10"><span class="sku-label stickProductSKU">SKU: </span></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1 col-sm-5 nopadding wcn-padding wcn-product-info wcn-product-info-btn">
                                        <button type="submit" onclick="window.location.href='/Cart/Index'" class="btn btn-default margin-bottom-10 margin-top-10 pull-right">Cart</button>
                                        <button type="submit" id=" " onclick="window.location.href='/Cart/Index' " class="btn btn-default margin-bottom-10 btn-color-yellow pull-right checkout-btn">Proceed to checkout</button>
                                        <div class="close-btn sticky-btn"><i class="zf-close-circle pull-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="layout-renderbody">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Widgets-->
        @{
            Html.RenderAction("FooterContent", "Home", new { portalId = _portal.PortalId, publishState = _portal.PublishState });
        }
    </div>
    @Html.Partial("_InlineTemplates")

    @Html.Hidden("hdnPaymentAppUrl", @ZnodeWebstoreSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
    @Html.Hidden("hdnPortalId", @PortalAgent.CurrentPortal.PortalId)

    @*@Scripts.Render("/bundles/CoreJs?v=" + DateTime.Now.ToShortDateString())
        @Scripts.Render("/bundles/ZnodeCoreJs?v=" + DateTime.Now.ToShortDateString())*@

    @Scripts.Render("~/bundles/CoreJs")
    @Scripts.Render("~/bundles/ZnodeCoreJs")

    @RenderSection("scripts", required: false)

    @*---Quick View PopUp----*@
    <div class="modal fade quick-view-popup" id="quick-view-popup-ipad" tabindex="-1" role="dialog">
        <div class="popup-container modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="close-quick-view-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
            <div id="quick-view-content">
            </div>
        </div>
    </div>
    @*This div is important for displaying product compare status*@
    <div id="divAddedForCompare" class="modal fade comparepopup" role="dialog">
        <div class="compare-product-popup" id="popUp_content">
        </div>
    </div>
    <button id="btnAddCompare" style="display:none" data-toggle="modal" data-target=".comparepopup">Compare</button>

    @*This div is important for displaying Preview of artifi customized pop-up*@
    <div class="modal fade preview-popup artifi-preview-popup" id="preview-popup-popup-ipad" tabindex="-1" role="dialog">
        <div class="popup-container modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="close-preview-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
            <div id="preview-popup-content">
            </div>
        </div>
    </div>

    <!--For Cart-->
    <div class="modal fade wcn-cart-panel" tabindex="-1" role="dialog" style="display: none">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="divMiniCart">
                    @*//<img src="~/Views/Themes/Windy_City/Images/loader-small.svg" style="position:absolute;top:46%;left:46%" />*@
                </div>
                @*@Html.Partial("MiniCart")*@
            </div>
        </div>
    </div>

    <!--For Login-->
    <div class="modal fade wcn-login-panel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="divLogin">  </div>
                <div id="divRegister"> </div>
                <div id="divForgetPassword"> </div>
                <div id="divConfirmRegistration"></div>
            </div>
        </div>
    </div>
    <!--For Call-->
    <div class="modal fade wcn-call text-center" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="col-xs-12 nopadding">
                    <h3>Contact Us</h3>
                    <a class="close" data-dismiss="modal" aria-label="Close"><i class="zf-wcn-close"></i></a>
                </div>
                <div class="col-xs-12 nopadding">
                    <a class="btn btn-primary btn-bg-secondary" href="tel:@Html.RenderMessage("PhoneNumber")">Call Us</a>
                    <div class="wcn-separator"><span>Or</span></div>
                 <a class="btn btn-primary btn-bg-secondary" href="https://lc.chat/now/8540841/1" target="_blank">Live Chat</a>
                </div>
            </div>
        </div>
    </div>

     <!--For Login User-->
    @if (User.Identity.IsAuthenticated)
    {
       <!--For Login User in-->
        <div class="modal fade wcn-account-panel" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div data-purpose="AccountMenuContainer">
                    <a>Loading...</a>
                </div>
            </div>
        </div>
    }
    <script type="text/javascript" async>
        //Header Slider Efficet
        $(window).on("scroll touchmove", function () { $('.header').toggleClass('shrink', $(document).scrollTop() > 0); });
        //<![CDATA[
        (function (HawkSearch, undefined) {
            HawkSearch.BaseUrl = 'http://dev.hawksearch.info/sites/@value/';
            HawkSearch.HawkUrl = 'http://dev.hawksearch.info/sites/@value/';
            HawkSearch.TrackingUrl = 'http://tracking.hawksearch.com/';
            HawkSearch.RecommenderUrl = 'http://recs.hawksearch.com/';
			HawkSearch.ClientGuid = '@clientID';
            if (HawkSearch.BaseUrl == '') {
                HawkSearch.BaseUrl = HawkSearch.HawkUrl;
            }
            if ("https:" == document.location.protocol) {
                HawkSearch.BaseUrl = HawkSearch.BaseUrl.replace("http://", "https://");
                HawkSearch.HawkUrl = HawkSearch.HawkUrl.replace("http://", "https://");
                HawkSearch.TrackingUrl = HawkSearch.TrackingUrl.replace("http://",
                    "https://");
                HawkSearch.RecommenderUrl =
                    HawkSearch.RecommenderUrl.replace("http://", "https://");
            }
        }(window.HawkSearch = window.HawkSearch || {}));
        document.write(unescape("%3Cscript async src='" + HawkSearch.HawkUrl +
            "/includes/hawksearch.min.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
        //<![CDATA[
        HawkSearch.initAutoSuggest = function () {
            HawkSearch.suggestInit('#search', {
                lookupUrlPrefix: HawkSearch.HawkUrl +
                    '/?fn=ajax&f=GetSuggestions',
                hiddenDivName: '',
                isAutoWidth: true,
            });
        };
        //]]>
    </script>
</body>
</html>

@if (HttpContext.Current.Request.QueryString["cmsmode"] == "CMS_MODE")
{
    <style type="text/css">

        a, button:not(.order-lay-button), .product-item {
            pointer-events: none;
        }
    </style>

    <script>
        function enableOverlays(mappingId, widgetsKey) {
            var data = `{"MappingId":${mappingId},"WidgetsKey":${widgetsKey}}`;
            sendMessage(`Request:${data}`);
        }
        function sendMessage(msg) {
            console.log(`Web Store sending message: "${msg}"`);
            window.parent.postMessage(msg, '*');
        };
    </script>
}
    <script>
        $(document).ready(function () {
            $.ajax({ url: "/WCNUser/UserAccountDetails", type: "get" }).done(function (t) { $('[data-purpose="AccountMenuContainer"]').replaceWith(t); });
        });
    </script>