﻿@using Znode.Engine.WebStore.Agents
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
@{
    string _keyword = Convert.ToString(ViewBag.Keywords);
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string faviconimage = !string.IsNullOrEmpty(_portal.FaviconImage) ? MediaPaths.MediaPath + _portal.FaviconImage : $"favicon.ico";
    string _cssname = $"{_fileLocation}/Content/css/{_portal.Css}.css"; ;

    var currentURL = HttpContext.Current.Request.Url.AbsoluteUri;
    string canonicalURL = "";

    if (currentURL.Contains("?"))
    {
        canonicalURL = currentURL.Substring(0, currentURL.IndexOf('?'));
    }
    else
    {
        canonicalURL = currentURL;
    }

    string title = string.Empty;
    if (string.IsNullOrWhiteSpace(Convert.ToString(TempData["Title"])))
    {
        title = ViewBag.Title;
    }
    else
    {
        title = Convert.ToString(TempData["Title"]);
    }

}
<title>@Html.RenderBlock(title)</title>
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    if (controllerName == "home")
    {
        <meta name="description" content="@Html.RenderBlock(Html.RenderMessage("SEOHomeDescription").ToString())" />
        <meta name="keywords" content="@Html.RenderBlock(Html.RenderMessage("SEOHomeKeywords").ToString())" />
    }
    else
    {
        string description = string.Empty;
        if (string.IsNullOrWhiteSpace(Convert.ToString(TempData["Description"])))
        {
            description = ViewBag.Description;
        }
        else
        {
            description = Convert.ToString(TempData["Description"]);
        }
        <meta name="description" content="@Html.RenderBlock(description)" />
        <meta name="keywords" content="@Html.RenderBlock(_keyword)">
    }
}

@Html.Partial($"{_fileLocation}/Views/Home/_StoreAnalytics.cshtml", PortalAgent.CurrentPortal)

<link href="@faviconimage" rel="shortcut icon" type="image/x-icon" onerror="this.onerror = null; this.src = 'favicon.ico'" />
<link href="@_fileLocation/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="@_cssname" rel="stylesheet" type="text/css" />
<script src="@_fileLocation/Content/bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

@*---For Development use original file-----*@
<script type="text/javascript" src="@_fileLocation/Scripts/lib/event.min.js"></script>
<link rel="canonical" href="@canonicalURL" />