﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{    
        @*@Html.ActionLink(User.Identity.GetUserName(), "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account" })
    <a href="" class="log-off" id="log-off" onclick="User.prototype.Logoff()">@WebStore_Resources.LabelLogoff</a>*@
    <a href="JavaScript:void(0);" data-toggle="modal" data-target=".wcn-account-panel">
        Hi @ViewBag.UserFirstName <i class="zf-arrow-down-small"></i>        
    </a>

}
else
{
    @*@Html.ActionLink(@WebStore_Resources.LabelLoginStatus, "Login", "User", new { area = "" }, htmlAttributes: new { id = "loginLink" })*@
    <a href="JavaScript:void(0);" data-toggle="modal" class="wcnLogin" onclick="WCNUser.prototype.LoadLogin()">
        Sign In<i class="zf-arrow-down-small"></i>
        <span>Register</span>
    </a>
}
