﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@using Znode.Engine.Api.Models
@using Znode.Libraries.Resources
@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int inventoryRoundOffValue = string.IsNullOrEmpty(inventoryRoundOff) ? 0 : Convert.ToInt32(inventoryRoundOff);
    int minQty = Convert.ToInt16(Model?.MinQuantity);
    int maxQty = Convert.ToInt32(Model?.MaxQuantity);
    int incQty = Convert.ToInt16(Model?.MinQuantity);
    decimal inHandQuantity = Convert.ToDecimal(Model.QuantityOnHand);
}

@if (Model.GroupProducts?.Count > 0)
{
    <div class="group-product-container">
        @foreach (AssociatedProductModel product in Model.GroupProducts)
        {
            using (Ajax.BeginForm("UpdateQuantityOfCartItem", "Cart", new { guid = Model.ExternalId, productId = product.ProductId }, new AjaxOptions() { UpdateTargetId = "divShoppingCart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "Cart.prototype.EnableDisableCheckoutButton()" }, new { @class = "frmCartQuantity" }))
            {
                //using (Html.BeginForm("UpdateCartQuantity", "Cart", new { guid = Model.ExternalId, productId = product.ProductId }, FormMethod.Post, new { @class = "frmCartQuantity" }))
                // {
                @Html.AntiForgeryToken()
                <div class="quantity-spinner">
                    <div class="spinner">
                        <input type="text" name='Quantity' id="Quantity" value="@Math.Round(product.Quantity, inventoryRoundOffValue)" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-cart-productId="@product.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="WCNCart.prototype.UpdateCartQauntity(this);">
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-spinner" type="button"><i class="zf-up"></i></button>
                            <button class="btn btn-spinner" type="button"><i class="zf-down"></i></button>
                        </div>
                        <span class="qty">@Custom_Resources.LabelQuantity</span>
                    </div>
                </div>
                if (Model.InsufficientQuantity)
                {
                    <div class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</div>
                }
                <div id="quantity_error_msg_@product.ProductId" class="error-msg"></div>
            }
        }
    </div>
}
else
{
    using (Ajax.BeginForm("UpdateQuantityOfCartItem", "Cart", new { guid = Model.ExternalId, productId = 0 }, new AjaxOptions() { UpdateTargetId = "divShoppingCart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "Cart.prototype.EnableDisableCheckoutButton()" }, new { @class = "frmCartQuantity" }))
    {
        // using (Html.BeginForm("UpdateCartQuantity", "Cart", new { guid = Model.ExternalId, productId = 0 }, FormMethod.Post, new { @class = "frmCartQuantity" }))
        //{
        @Html.AntiForgeryToken()
        string quantity = Helper.GetRoundOffQuantity(Model.Quantity);
        <div class="quantity-spinner">
            <div class="spinner">
                <input type="text" name='Quantity' class="quantity spinnerQuantity_@Model.ProductId" id="Quantity" value="@quantity" min='@minQty' max='@maxQty' data-incqty='@(incQty > 0 ? incQty : 1)' data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="WCNCart.prototype.SpinnerQuantityChange(this);" onkeypress="return isNumber(event)">
                <div class="input-group-btn-vertical">
                    <button  onclick="WCNProduct.prototype.SpinnerUPClick(this)"  class="btn btn-spinner CartSpinner quantity-plus-spinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff"><i class="zf-up"></i></button>
                    <button onclick="WCNProduct.prototype.SpinnerDownClick(this)"  class="btn btn-spinner CartSpinner quantity-minus-spinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff"><i class="zf-down"></i></button>
                </div>
                <span class="qty">@Custom_Resources.LabelQuantity</span>
            </div>
            <div class="wcn-update-cart-btn"><a href="JavaScript:void(0);" value="@quantity" min='@minQty' max='@maxQty' data-incqty='@(incQty > 0 ? incQty : 1)' data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onclick="WCNCart.prototype.UpdateCartQauntity(this);">Update</a></div>
        </div>
        if (Model.Quantity > Model.MaxQuantity)
        {
            <div class="error-msg">
                @string.Format(WebStore_Resources.WarningSelectedQuantity, Model.MinQuantity, Model.MaxQuantity)
                @Html.Hidden("hdndisablecheckout", true)
            </div>
        }

        if (Model.InsufficientQuantity)
        {

            if (inHandQuantity < 1)
            {
                <div id="insufficientQuantity@Model.ProductId" class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</div>
            }
            else
            {
                <div id="dynamic-inventory-inhand-@Model.ProductId" class="error-msg hide-instock-msg dev-dynamic-inventory-inhand-@Model.ProductId">
                    @string.Format(Custom_Resources.ErrorAvailableQuantity, inHandQuantity.ToInventoryRoundOff())
                </div>
            }
        }

        @Html.Hidden("hdnInHandQuantity-" + @Model.ProductId + "", inHandQuantity)
        <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
    }
    <div id="quantity_error_msg" class="error-msg"></div>
}