﻿@model decimal

<span class="star-rating">
    @{
        int integral = 0;
        int totalStar = 5;
        if (Model > 5)
        {
            integral = (int)decimal.Truncate(Model) / 20;
            if(integral>0)
            { 
              <meta itemprop="ratingValue" content="@integral" />
            }
        }
        else
        {
            integral = (int)decimal.Truncate(Model);
            if (integral > 0)
            {
            <meta itemprop="ratingValue" content="@integral" />
            }
        }
        int fraction = (int)((Model - decimal.Truncate(Model))*10);
        for (int item = 1; item <= integral; item++)
        {
            <i class="zf-star-full"></i>
            totalStar = totalStar - 1;
        }
        if (fraction >= 5)
        {
            <i class="zf-star-half"></i>
            totalStar = totalStar - 1;
        }
        for (int item1 = 1; item1 <= totalStar; item1++)
        {
            <i class="zf-star-empty"></i>
        }
    }
</span>
