﻿@model Znode.Engine.WebStore.ViewModels.TemplateCartItemViewModel
@using Znode.Engine.Api.Models
@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int inventoryRoundOffValue = string.IsNullOrEmpty(inventoryRoundOff) ? 0 : Convert.ToInt32(inventoryRoundOff);
}

@if (Model.GroupProducts?.Count > 0)
{
    <div class="group-product-container">
        @foreach (AssociatedProductModel product in Model.GroupProducts)
        {
            using (Html.BeginForm("UpdateTemplateCartQuantity", "User", new { guid = Model.ExternalId, productId = product.ProductId, omsTemplateId = Model.OmsTemplateId }, FormMethod.Post, new { @class = "frmCartQuantity" }))
            {
                @Html.AntiForgeryToken()
                <input type="text" name='Quantity' value="@Math.Round(product.Quantity, inventoryRoundOffValue)" data-cart-productId="@product.ProductId" data-cart-sku="@product.Sku" data-cart-minquantity="@product.MinimumQuantity" data-cart-maxquantity="@product.MaximumQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="WCNCart.prototype.UpdateCartQauntity(this);">
                <div id="quantity_error_msg_@product.ProductId" class="error-msg"></div>
                @Html.HiddenFor(x => x.OmsTemplateId)
            }
        }
    </div>
}
else
{
    using (Html.BeginForm("UpdateTemplateCartQuantity", "User", new { guid = Model.ExternalId, productId = 0, omsTemplateId = Model.OmsTemplateId }, FormMethod.Post, new { @class = "frmCartQuantity" }))
    {
        @Html.AntiForgeryToken()
        <input type="text" name='Quantity' value="@Model.Quantity" data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="WCNCart.prototype.UpdateCartQauntity(this);">
        <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
        @Html.HiddenFor(x => x.OmsTemplateId)
    }
}
<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>