﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    var currencyCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;

    string promoCode = string.Empty;
    if (Equals(Model?.Coupons?.Count(), 0))
    {
        string promotionCacheKey = "PromotionList_" + Convert.ToString(PortalAgent.CurrentPortal.PortalId);
        PromotionListViewModel promotionListViewModel = Helper.GetFromCache<PromotionListViewModel>(promotionCacheKey) ?? new PromotionListViewModel();

        promoCode = promotionListViewModel?.PromotionList?.Where(w => w.IsCouponRequired == false && w.Discount == Model.Discount)?.FirstOrDefault()?.PromoCode;
        promoCode = string.IsNullOrEmpty(promoCode) && Model.FreeShipping ? promotionListViewModel?.PromotionList?.Where(w => w.IsCouponRequired == false && w.Discount == 100)?.FirstOrDefault()?.PromoCode : promoCode;

        promoCode = string.IsNullOrEmpty(promoCode) ? string.Empty : promoCode + " successfully applied!";
    }
}

<div class="form-group total sub-total">
    <div class="col-xs-6 nopadding">
        <p>@WebStore_Resources.LabelSubTotal:</p>
    </div>
    <div class="col-xs-6 nopadding">
        <p class="pull-right">@Helper.FormatPriceWithCurrency(Model.SubTotal, currencyCode)</p>
    </div>
</div>
@if (Model.Discount > 0)
{
    <div class="form-group discount-block">
        <div class="col-xs-6 nopadding">
            <p class="discount-label">@WebStore_Resources.ColumnDiscounts:</p>
        </div>
        <div class="col-xs-6 nopadding">
            <div id="dynamic-discount-amount" class="coupon-successful discount-amount pull-right"> - @Helper.FormatPriceWithCurrency(0 - Model.Discount, currencyCode).Trim('(', ')')</div>
        </div>
    </div>
}
@if (Model.TaxCost > 0)
{
    <div class="form-group">
        <div class="col-xs-6 nopadding">
            <p>@WebStore_Resources.ColumnTax:</p>
        </div>
        <div class="col-xs-6 nopadding">
            <p class="pull-right">@Helper.FormatPriceWithCurrency(Model.TaxCost, currencyCode)</p>
        </div>
    </div>
}
@if (Model.ShippingCost > 0 || Model.FreeShipping)
{
    <div class="form-group">
        @{ string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})"; }
        <div class="col-xs-6 nopadding">
            <p>@WebStore_Resources.LabelShippingCost:</p>
        </div>
        <div class="col-xs-6 nopadding">
            <div id="dynamic-shipping-amount">
                <p class="pull-right">@Helper.FormatPriceWithCurrency(Model.ShippingCost, currencyCode) </p>
            </div>
        </div>
    </div>
}
@if (Model.GiftCardApplied)
{
    <div class="form-group">
        <div class="col-sm-6 nopadding">
            <p>@WebStore_Resources.ColumnGiftCardAmount:</p>
        </div>
        <div class="col-sm-6 nopadding">
            <div id="dynamic-giftcard-amount" class="left-sm-shift text-right">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, currencyCode)</div>
        </div>
    </div>
}
<div class="form-group order-total">
    <div class="col-xs-6 nopadding">
        <h2>@WebStore_Resources.ColumnTitleTotal:</h2>
    </div>
    <div class="col-xs-6 nopadding">
        <div id="dynamic-order-total" class="left-sm-shift pull-right"><h2>@Helper.FormatPriceWithCurrency(Model.Total, currencyCode)</h2></div>
        @Html.Hidden("hdnTotalOrderAmount", Model.Total)
    </div>
</div>

@Html.HiddenFor(m => m.Total)

@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)

@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShippingAmazon" })

@Html.Hidden("hdnPromoCode", promoCode)

@Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })


<script>
    if (typeof Checkout != "undefined") {

        try {
            WCNCheckout.prototype.ShowFreeShippingMessage();

        } catch (e) {

        }
    } else { }
</script>




