﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    var currencyCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
}

<div class="form-group total sub-total">
    <div class="col-xs-6 nopadding">
        <p>@WebStore_Resources.LabelSubTotal:</p>
    </div>
    <div class="col-xs-6 nopadding">
        <p class="pull-right">@Helper.FormatPriceWithCurrency(Model.SubTotal, currencyCode)</p>
    </div>
</div>
@if (Model.Discount > 0)
{
    <div class="form-group discount-block">
        <div class="col-xs-6 nopadding">
            <p class="discount-label">@WebStore_Resources.ColumnDiscounts:</p>
        </div>
        <div class="col-xs-6 nopadding">
            <div id="dynamic-discount-amount" class="coupon-successful discount-amount pull-right"> - @Helper.FormatPriceWithCurrency(0 - Model.Discount, currencyCode).Trim('(', ')')</div>
        </div>
    </div>
}

<div class="form-group order-total">
    <div class="col-xs-6 nopadding">
        <h2>@WebStore_Resources.ColumnTitleTotal:</h2>
    </div>
    <div class="col-xs-6 nopadding">
        <div id="dynamic-order-total" class="left-sm-shift pull-right"><h2>@Helper.FormatPriceWithCurrency(Model.SubTotal - Model.Discount, currencyCode)</h2></div>
        @Html.Hidden("hdnTotalOrderAmount", (Model.SubTotal-Model.Discount))
    </div>
</div>

@Html.HiddenFor(m => m.Total)

@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m=>m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)



