﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents;
@{
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    var accountType = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.RoleName;
    bool isApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
    string enableECert = PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;
    Znode.Engine.Api.Models.ApproverDetailsModel approverDetails = User.Identity.IsAuthenticated?SessionProxyHelper.GetApproverDetails(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey).UserId): new Znode.Engine.Api.Models.ApproverDetailsModel();
}
<ul class="account-menu nav nav-tabs tabs-left">
    <li><a href="@Url.Action("Dashboard", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextYourAccount</a></li>
    @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
    {
        <li><a href="@Url.Action("AccountInformation", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextAccountInformation</a></li>
    }
    <li><a href="@Url.Action("Wishlist", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextWishlist</a></li>
    <li><a href="@Url.Action("History", "User",null)" add-value="/User/OrderReceipt"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextOrderHistory</a></li>
    @if (isApprovalRouting)
    {
        if (userViewModel.PendingOrdersCount > 0)
        {
            <li><a href="@Url.Action("QuoteHistory", "User",null)" add-value="/User/QuoteView"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextPendingOrderHistory</a></li>
        }
        if (approverDetails.IsApprover)
        {
            <li><a href="@Url.Action("QuoteApprovalHistory", "User", null)" add-value="/User/QuoteApprovalHistory"><i class="zf-caret-right"></i> @WebStore_Resources.TextPendingOrderApprovalHistory</a></li>
        }
        if (userViewModel.PendingPaymentCount > 0)
        {
            <li><a href="@Url.Action("PaymentQuoteHistory", "User", null)" add-value="/User/PaymentQuoteHistory"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextPendingPaymentHistory</a></li>
        }
    }
    <li><a href="@Url.Action("AddressBook", "User",null)" add-value="/User/Address"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextAddressBook</a></li>
    <li><a href="@Url.Action("Reviews", "User",null)"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextReview</a></li>
    <li><a href="@Url.Action("EditProfile", "User",null)" add-value="/User/ChangePassword"><i class="zf-caret-right"></i> @WebStore_Resources.LinkTextEditProfile</a></li>
    <li><a href="@Url.Action("GetAllArtifiDesign", "ArtifiUser",null)"><i class="zf-caret-right"></i> @Custom_Resources.LinkTextCustomDesigns</a></li>
    @if (approverDetails.HasApprovers)
    {
        <li><a href="@Url.Action("UserApprovalList", "User", null)" add-value="/User/UserApprovalList"><i class="zf-caret-right"></i> @WebStore_Resources.TextApprovalList</a></li>
    }
    @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
    {
        <li><a href="@Url.Action("eCertificateBalance", "User", null)" add-value="/User/eCertificateBalance"><i class="zf-caret-right"></i> @WebStore_Resources.ECertManageECertificateButtonLabel</a></li>
    }
    <li><a href="javascript:void(0);" class="log-off" id="log-off" onclick="WCNUser.prototype.Logoff()"><i class="zf-caret-right"></i> @WebStore_Resources.LabelLogoff</a></li>
</ul>

<script>
    // Account Tab Selection
    var selectedTabhref = "/" + $("body").attr("id") + "/" + $("body").attr("class");
    $(".account-dashboard .account-menu a").each(function () {
        var arraySelectedTabs = $.trim($(this).attr("add-value")).split(",");
        if ($.trim($(this).attr("href")) === $.trim(selectedTabhref) || $.trim($(this).attr("add-value")) === $.trim(selectedTabhref) || arraySelectedTabs[0] === $.trim(selectedTabhref) || arraySelectedTabs[1] === $.trim(selectedTabhref) || arraySelectedTabs[2] === $.trim(selectedTabhref)) {
            $(this).addClass("selected");
        }
    });
</script>
