﻿@using Microsoft.Owin.Security
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0)
    {
        using (Html.BeginForm("ExternalLogin", "User", new { ReturnUrl = ViewBag.ReturnURL }, FormMethod.Post, new { id = "externalLogin" }))
        {
            <h4 class="top-bottom-space text-center">Sign in with</h4>
            <div id="socialLoginForm">
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <div class="col-sm-12 nopadding">

                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            <button type="submit" class="btn-social-login @p.AuthenticationType-btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><img src="@_fileLocation/Images/socal-@p.AuthenticationType-icon.png" class="img-responsive" /></button>
                        }

                    </div>
                </div>
            </div>
        }
    }
}
