﻿@using Znode.Engine.WebStore.ViewModels
@using CaptchaMvc.HtmlHelpers
@model UserViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<div class="col-xs-12 wcn-forgot-password">
    <h4 class="top-bottom-space text-center">@WebStore_Resources.TextResetPassword</h4>
    <div class="col-xs-12 nopadding btn-back-link">
        <a href="JavaScript:void(0);" id="btn-back-link" onclick="WCNUser.prototype.ShowHideLogin()"><i class="zf-wcn-arrow-left"></i> Back</a>
    </div>
    <div class="col-xs-12 nopadding">
        @using (Ajax.BeginForm("WCNForgotPassword", "WCNUser", new { @class = "", role = "form", @id = "frmForgotPassword" }, new AjaxOptions { OnSuccess = "WCNUser.prototype.GetForgetPwdResult", OnBegin = "WCNUser.prototype.beforeCall" }))
        {
            @Html.AntiForgeryToken()
            string userName = Model?.UserName;
            <div class="form-group">
                <div class="col-xs-12 nopadding">
                    <input class="form-control" data-val="true" data-val-maxlength="Email should not be greater than 100 characters." data-val-maxlength-max="100" data-val-regex="Please use a valid email." data-val-regex-pattern="^([a-zA-Z0-9]+[a-zA-Z0-9._%-]*@@(?:[a-zA-Z0-9-])+(\.+[a-zA-Z]{2,4}){1,2})$" data-val-required="Email is required." id="UserName" name="UserName" placeholder="Email" type="text" value="@userName">
                    <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-xs-12 nopadding">
                <button type="submit" class="btn btn-default btn-full">@WebStore_Resources.ButtonSubmitRequest</button>
            </div>
        }
    </div>
    <div id="dispay-content" class="error-msg text-center padding-bottom-10"></div>
    <div class="col-xs-12 nopadding text-center padding-top-10">
        <a href="JavaScript:void(0);" onclick="WCNUser.prototype.Register('ResetAccount')">Unable to reset password? Click Here</a>
    </div>
</div>
<script src="~/Scripts/lib/jquery.validate.min.js"></script>
<script src="~/Scripts/lib/jquery.validate.unobtrusive.js"></script>