﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model CartItemViewModel
@using Znode.Engine.Api.Models
@{
    string trId = "trQuoteItem_" + Model.ProductId;
    string accountType = Model.RoleName;
    string defaultQuantityRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int inventoryRoundOff = string.IsNullOrEmpty(defaultQuantityRoundOff) ? 0 : Convert.ToInt32(defaultQuantityRoundOff);
    Model.Quantity = Math.Round(Model.Quantity, inventoryRoundOff);
    string productId = !string.IsNullOrEmpty(Model.ConfigurableProductSKUs) ? Convert.ToString(Model.ParentProductId) : Model.ProductId;
    bool removeBtnOnAr = Convert.ToBoolean(string.IsNullOrEmpty(Convert.ToString(Model.OmsQuoteId)));
}

<tr>
    @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZNodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)))
    {
        if (removeBtnOnAr)
        {
            <td class="remove-item">
                @if (Model.QuoteLineItemCount == 1 && Model.OrderStatus.ToLower() == "draft")
                {
                    <a href="#" id="removebtn" class="cart-item-remove" onclick="User.prototype.DeleteDraft()" title="Remove Item"><i class="zf-close"></i></a>
                }
                else
                {
                    using (Html.BeginForm("DeleteQuoteLineItem", ZnodeRoleEnum.User.ToString(), new { omsQuoteLineItemId = Model.OmsQuoteLineItemId, omsQuoteId = Model.OmsQuoteId, quoteLineItemCount = Model.QuoteLineItemCount, orderStatus = Model.OrderStatus, roleName = accountType }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" id="removebtn" class="cart-item-remove" onclick="javascript:$($(this).closest('form').submit());" title="Remove Item"><i class="zf-close"></i></a>
                    }
                }
            </td>
        }
    }
    <td class="cart-item-details">
        <div class="col-xs-2">
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId)"><img src="@Model.ImagePath" class="img-responsive" alt=""></a>
        </div>

        <div class="col-xs-12 col-sm-10 nopadding">
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId)" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>
            <div class="cart-item-description">
                @if (Model?.PersonaliseValuesList?.Count > 0)
                {
                    foreach (var item in Model?.PersonaliseValuesList)
                    {
                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                        {
                            <p>
                                @item.Key: @item.Value
                            </p>
                        }
                    }
                }
            </div>

            <div class="cart-item-description">@Html.RenderBlock(Model.CartDescription)</div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p><i class="zf-caret-right"></i> @item.ProductName</p>
                    }
                }
            </div>
        </div>
    </td>
    <td class="cart-item-unitprice">
        @if (Model?.GroupProducts?.Count > 0)
        {
            foreach (var item in Model.GroupProducts)
            {
                <div class="group-product-list">
                    @Helper.FormatPriceWithCurrency(item.UnitPrice, Model?.CultureCode)
                </div>
            }
        }
        else
        {
            @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model?.CultureCode)
        }
    </td>
    <td class="cart-item-quantity">
        @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase)) && string.Equals(Model.OrderStatus, ZNodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase))
        {
            if (string.Equals(Model.ProductType, "GroupedProduct", StringComparison.CurrentCultureIgnoreCase) && Model.GroupProducts?.Count > 0)
            {
                <div class="group-product-container">
                    @foreach (AssociatedProductModel product in Model.GroupProducts)
                    {
                        using (Html.BeginForm("UpdateQuoteLineItemQuantity", ZnodeRoleEnum.User.ToString(), FormMethod.Post, new { @Id = "frmUpdateQuoteQuantity" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.TextBox("Quantity", @Math.Round(product.Quantity, inventoryRoundOff), new { @onchange = "User.prototype.UpdateQuoteLineItemQuantity(this);", @data_cart_sku = product.Sku, @min_Qty = Model.MinQuantity, @max_Qty = Model.MaxQuantity, @data_inventoryRoundOff = inventoryRoundOff })
                            <div id="quantity_error_msg_@product.Sku" class="error-msg"></div>
                            if (Model.InsufficientQuantity)
                            {
                                <div id="quantity_error_msg_@product.Sku" class="error-msg">@Model.OutOfStockMessage</div>
                            }
                            else
                            {
                                <div class="status-outofstock" id="dynamic_quoteinventory_@product.ProductId" style="display:none"></div>
                            }
                            @Html.Hidden("OmsQuoteId", product.OmsQuoteId)
                            @Html.Hidden("OmsQuoteLineItemId", product.OmsQuoteLineItemId)
                            @Html.Hidden("ParentOmsQuoteLineItemId", product.ParentOmsQuoteLineItemId)
                            @Html.Hidden("OrderLineItemRelationshipTypeId", product.OrderLineItemRelationshipTypeId)
                            @Html.Hidden("Sequence", product.Sequence)
                            @Html.Hidden("CustomText", product.CustomText)
                            @Html.Hidden("SKU", product.Sku)
                            @Html.Hidden("CartAddOnDetails", product.CartAddOnDetails)
                            @Html.HiddenFor(m => m.OrderStatus)
                        }
                    }
                </div>
            }
            else
            {
                using (Html.BeginForm("UpdateQuoteLineItemQuantity", ZnodeRoleEnum.User.ToString(), FormMethod.Post, new { @Id = "frmUpdateQuoteQuantity" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(model => model.Quantity, new { @onchange = "User.prototype.UpdateQuoteLineItemQuantity(this);", @data_cart_sku = Model.SKU, @min_Qty = Model.MinQuantity, @max_Qty = Model.MaxQuantity, @data_inventoryRoundOff = inventoryRoundOff })
                    <div id="quantity_error_msg_@Model.SKU" class="error-msg"></div>
                    if (Model.InsufficientQuantity)
                    {
                        <div id="quantity_error_msg_@Model.SKU" class="error-msg">@Model.OutOfStockMessage</div>
                    }
                    else
                    {
                        <div class="status-outofstock" id="dynamic_quoteinventory_@Model.ProductId" style="display:none"></div>
                    }

                    @Html.HiddenFor(model => model.OmsQuoteId)
                    @Html.HiddenFor(model => model.OmsQuoteLineItemId)
                    @Html.HiddenFor(model => model.ParentOmsQuoteLineItemId)
                    @Html.HiddenFor(model => model.OrderLineItemRelationshipTypeId)
                    @Html.HiddenFor(model => model.Sequence)
                    @Html.HiddenFor(model => model.CustomText)
                    @Html.HiddenFor(model => model.SKU)
                    @Html.HiddenFor(model => model.CartAddOnDetails)
                    @Html.HiddenFor(model => model.OrderStatus)
                }
            }
        }
        else
        {
            if (string.Equals(Model.ProductType, "GroupedProduct", StringComparison.CurrentCultureIgnoreCase) && Model.GroupProducts?.Count > 0)
            {
                <br>
                foreach (AssociatedProductModel product in Model.GroupProducts)
                {
                    <span class="quoteQuantity">@Math.Round(product.Quantity, inventoryRoundOff)</span><br><br>
                    if (Model.InsufficientQuantity)
                    {
                        <div id="quantity_error_msg_@product.Sku" class="error-msg">@Model.OutOfStockMessage</div>
                    }
                    else
                    {
                        <div class="status-outofstock" id="dynamic_quoteinventory_@product.ProductId" style="display:none"></div>
                    }
                }
            }
            else
            {
                <span class="quoteQuantity">@Math.Round(Model.Quantity, inventoryRoundOff)</span>
                if (Model.InsufficientQuantity)
                {
                    <div id="quantity_error_msg_@Model.SKU" class="error-msg">@Model.OutOfStockMessage</div>
                }
                else
                {
                    <div class="status-outofstock" id="dynamic_quoteinventory_@Model.ProductId" style="display:none"></div>
                }
            }
        }
    </td>
    <td class="cart-item-total">
        @Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model?.CultureCode)
    </td>
</tr>
@Html.Partial("_DraftDeleteAllConfirmPopup", Model.QuoteLineItemCount)