﻿@using Znode.Engine.WebStore.ViewModels
@model AddressListViewModel
<div class="col-xs-12 nopadding recommended-address-popup">
    <div class="col-xs-12 nopadding entered-display-address">
        <h5>@WebStore_Resources.LabelEnteredAddress</h5>
        <div class="col-xs-12  nopadding">
            <div class="address-details" id="user-entered-address"> </div>
            <div class="pull-right">
                <a href="#" onclick="User.prototype.SaveChanges(event,null);">Update</a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 nopadding recommended-display-addesss">
        <h5>@WebStore_Resources.LabelRecommendedAddress</h5>

        @if (Model?.AddressList?.Any() ?? false)
            {
                int id = 1;
            <div class="col-xs-12 nopadding">

              @foreach (AddressViewModel item in Model.AddressList)
              {
                <div class="address-details">
                    <div class="address-street">
                        <div id="recommended-address1-@id">@item.Address1</div>
                        @if (!string.IsNullOrEmpty(item.Address2))
                        {
                            <br /><div id="recommended-address2-@id">@item.Address2</div>
                        }
                    </div>
                    <div class="address-citystate">
                        <span id="recommended-address-city-@id">@item.CityName</span>
                        <span id="recommended-address-state-@id">@item.StateName</span>
                        <span id="recommended-address-postalcode-@id">@item.PostalCode</span>
                        <div id="recommended-address-country-@id">@item.CountryName</div>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="#" onclick="User.prototype.SaveChanges(event,@id);">Update</a>
                </div>
              }
            </div>
        }
    </div>
</div>
