﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model RegisterViewModel
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}

<div class="form-group">
    <div class="col-xs-12 nopadding">
        <input data-val="true" data-val-maxlength="First Name cannot be longer than 300 characters."
               data-val-maxlength-max="300" data-val-required="First Name is required." id="FirstName" name="FirstName"
               type="text" value="@Model.FirstName" class="input-validation-error form-control" placeholder="First Name">

        <span class="field-validation-error" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>

    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <input data-val="true" data-val-maxlength="Last Name cannot be longer than 300 characters." data-val-maxlength-max="300"
               data-val-required="Last Name is required." id="LastName" name="LastName" type="text" value="@Model.LastName" class="input-validation-error form-control" placeholder="Last Name">
        <span class="field-validation-error" data-valmsg-for="LastName" data-valmsg-replace="true"></span>

    </div>
</div>

<div class="form-group">
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <div class="col-xs-12 nopadding">
            @Html.PasswordFor(m => m.ReTypePassword, new { @class = "form-control", @placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(m => m.ReTypePassword)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 styled-checkbox nopadding">
        <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox" checked="checked" class="input-control">
        <label for="signup_optin" class="input-label">Email me with big savings!</label>
    </div>
</div>
<div id="abc">
    @Html.Partial(_fileLocation + "/Views/Shared/_Captcha.cshtml")
</div>
<p id="ExistingUserError" class="error-msg" />


<div class="pull-right">
    @{
        string _returnUrl = Convert.ToString(Request.QueryString["returnUrl"]);
    }
    @Html.Hidden("returnUrl", _returnUrl)
</div>
@Html.HiddenFor(x => x.UserName)
@Html.HiddenFor(x => x.Email)
<script>
    $(document).ready(function () {
        $("#user-register").on("click", function () {
            var test = $("#frmRegister1").valid();
        })
    });

    $("#frmRegister1").on("submit", function () {
        $("#ExistingUserError").html("");
    })
</script>


