﻿@using Znode.Engine.WebStore.ViewModels
@model  UserApproverListViewModel
@{
    Layout = null;
}
<div class="col-xs-12 nopadding sp-brand-list-container">
    <div id="user-approver-popup-content">
        <table id="grid" class="test table sp-num">
            @if (Model?.UserApprover.Count > 0)
            {
                <thead>
                    <tr class="grid-header">
                        <th><a>@WebStore_Resources.LabelApprovalOrder</a></th>
                        <th><a>@WebStore_Resources.TextLevel</a></th>
                        <th><a>@WebStore_Resources.TextApproverName</a></th>
                        <th><a>@WebStore_Resources.TextPendingOrderStatus</a></th>
                        <th><a>@WebStore_Resources.LabelFromBudgetAmount</a></th>
                        <th><a>@WebStore_Resources.LabelToBudgetAmount</a></th>
                        <th><a>@WebStore_Resources.TextApprovalTime</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserApproverViewModel userApprover in Model?.UserApprover)
                    {
                        <tr>
                            <td><p>@userApprover.ApproverOrder</p> </td>
                            <td><p>@userApprover.ApproverLevelName</p> </td>
                            <td><p>@userApprover.ApproverName</p></td>
                            <td><p>@userApprover.OmsOrderState</p></td>
                            <td><p>@Helper.FormatPriceWithCurrency(userApprover.FromBudgetAmount, Model.CultureCode)</p></td>
                            <td><p>@Helper.FormatPriceWithCurrency(userApprover.ToBudgetAmount, Model.CultureCode)</p></td>
                            @if(userApprover.OmsOrderState == WebStoreConstants.PendingPayment || userApprover.OmsOrderState == WebStoreConstants.PendingApproval)
                            {
                                <td><p>@string.Empty</p></td>
                            }
                            else
                            {
                                <td><p>@userApprover.StatusModifiedDate</p></td>
                            }
                        </tr>
                    }
                </tbody>

            }
            else
            {
                <tbody>
                    <tr>
                        <td>@WebStore_Resources.TextNoApprovers</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>