﻿@using Znode.Engine.WebStore.ViewModels
@model  UserApproverListViewModel
<div class="main-wrapper">
    <div class="container">
        <div class="row sp-brand-list-container">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.TextApprovalList</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                    <div id="user-approver-popup-content" class="col-xs-12 nopadding">
                        @if (Model?.UserApprover.Count > 0)
                        {
                            <h3 class="section-header">@WebStore_Resources.TextApprovalList</h3>
                            <div class="account-recent-orders table-responsive col-xs-12 nopadding sp-approval-list">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><strong>@WebStore_Resources.TextLevel</strong></th>
                                            <th><strong>@WebStore_Resources.TextApproverName</strong></th>
                                            <th><strong>@WebStore_Resources.LabelFromBudgetAmount</strong></th>
                                            <th><strong>@WebStore_Resources.LabelToBudgetAmount</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (UserApproverViewModel userApprover in Model?.UserApprover)
                                        {
                                        <tr>
                                            <td>
                                                <p>@userApprover.ApproverLevelName</p>
                                            </td>
                                            <td>
                                                <p> @userApprover.ApproverName</p>
                                            </td>
                                            <td>
                                                <p>@Helper.FormatPriceWithCurrency(userApprover.FromBudgetAmount, Model.CultureCode)</p>
                                            </td>
                                            <td>
                                                <p>@Helper.FormatPriceWithCurrency(userApprover.ToBudgetAmount, Model.CultureCode)</p>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <h3 class="section-header">@WebStore_Resources.TextNoApprovers</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>