﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Microsoft.AspNet.Identity
@model UserViewModel
@{
    string budgetAmount = @Helper.FormatPriceWithCurrency(Model?.BudgetAmount.GetValueOrDefault(), DefaultSettingHelper.DefaultCurrency);
}
<div id="layout-account-editprofile" class="main-wrapper">

    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LinkTextEditProfile</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">

                    <div class="col-xs-12 nopadding">
                        <p>@WebStore_Resources.SubTextEditProfile</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 nopadding">


                        @using (Html.BeginForm("EditProfile", "User", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-4 nopadding">
                                            <label>Username</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.UserName, new { @Value = User.Identity.GetUserName(), @readonly = "readonly" })
                                        </div>
                                        @Html.HiddenFor(m => m.UserName)
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="required">@WebStore_Resources.ColumnFirstName</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.FirstName, new { @id = "profile_Firstname" })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName, "", new { @id = "valFirstName" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label class="required">@WebStore_Resources.ColumnLastName</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.LastName, new { @id = "profile_Lastname" })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.LastName, "", new { @id = "valLastName" })</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label>@WebStore_Resources.ColumnPhoneNo</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @id = "profile_PhoneNumber" })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @id = "valPhoneNumber" })</p>
                                        </div>
                                    </div>

                                    @if (string.Equals(Model?.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                    {
                                        <div class="form-group">
                                            <div class="col-xs-12 nopadding">
                                                <label>@WebStore_Resources.LabelBudgetAmount</label>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                @Html.TextBox("BudgetAmountForSRA", budgetAmount, new { @readonly = "readonly" })
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label for="profile_email" class="required">@WebStore_Resources.ColumnEmailAddress</label>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.TextBoxFor(model => model.Email, new { @id = "profile_email" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Email, "", new { @id = "valEmail" })</p>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <a href="/User/ChangePassword" class="pull-right">@WebStore_Resources.TitleChangePassword</a>
                            </div>
                            <div class="col-xs-12 nopadding styled-checkbox">
                                <input type="checkbox" class="input-control" id="signup_optin" name="EmailOptIn" value="true" @(Model.EmailOptIn ? "checked='checked'" : "") /><label class="input-label" for="signup_optin">@WebStore_Resources.CheckBoxTextNewsLetter</label>
                            </div>
                            <div class="col-xs-12 margin-top-bottom nopadding">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default">Update Profile</button>
                                    <a href="Dashboard" class="btn btn-primary">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
