﻿@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{

    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<div class="container">
    <div class="row">
        <div class="col-xs-12 nopadding main-wrapper wcn-forgot-password">
            <h4 class="top-bottom-space margin-bottom">@WebStore_Resources.TextResetPassword</h4>
            <div class="col-xs-12 col-sm-6 nopadding">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = @WebStore_Resources.LabelUsername })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <button type="submit" class="col-xs-12 col-md-6 btn btn-default">@WebStore_Resources.ButtonSubmitRequest</button>
                    </div>
                }
                <div class="col-xs-12 nopadding text-center">
                    <a href="#">Unable to reset password? Click here</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/lib/jquery.validate.min.js"></script>
<script src="~/Scripts/lib/jquery.validate.unobtrusive.js"></script>