﻿
@{
    int portalId = (int)ViewBag.PortalId;
}
<div id="layout-account-editprofile" class="main-wrapper">

    <div class="container wrapper-container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">Artifi Design</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">

                    <div class="col-xs-12 nopadding">
                        <p>@*@WebStore_Resources.SubTextEditProfile*@</p>
                    </div>
                    <ul class="table" id="artifiCustomisedDesign"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Extensions/ArtifiApi.js"></script>
<script>
    GetArtfiCredentials(@portalId, 0, true, function (res) { });
    $(document).ready(function () {
        $.ajax({
            url: "/Artificheckout/getartificredentials",
            method: "GET",
            data: { portalId: $("#hdnPortalId").val() },
            dataType: "json",
            async: false,
            success: function (data) {
                $.ajax({
                    url: "" + data.JsUrl + "/Designer/Services/GetCustomizedProductByUserId?userid=" + data.userId + "&websiteid=" + data.WebsiteCode + "&webApiClientKey=" + data.WebApiClientKey + "&orderstatus=draft",
                    method: "GET",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        if (data.Data != null)
                            $("#artifiCustomisedDesign").html(" ");
                        else
                            $("#artifiCustomisedDesign").html("No Records Found.");

                        var newRowContent = "";
                        if(data != null){
                            jQuery.each(data.Data, function (i, val) {
                                newRowContent = newRowContent + "<li style='display:inline-block;width:20%;'><img src=" + val.CustomDesignModelList[0].ThumbnailImagePath + "' height='100' width='100'><br><a href='#' id='artifi-previewproduct' data-sku='" + val.ProductCode + "' data-userId='" + val.UserId + "' data-custmizeproductid='" + val.Id + "' data-toggle='modal' data-target='.preview-popup'>Preview</a></br>Saved Design Name : " + val.Title + "</li>";
                            });
                        }
                        $("#artifiCustomisedDesign").append(newRowContent);

                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    });
</script>