﻿@*@using Znode.Engine.WebStore.Agents*@
@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    string _isDisplayGuestcheckout = Convert.ToString(Request.QueryString["returnUrl"])?.ToLower() == "~/checkout/index" ? "checkout-guest" : "checkout-new";
    //string storeName = Convert.ToString(PortalAgent.CurrentPortal.Attributes?.Where(w => w.EntityName == "Store").Select(s => s.EntityValue)?.FirstOrDefault());

}
<head>
    <script src="~/Scripts/lib/jquery.validate.min.js"></script>
    <script src="~/Scripts/lib/jquery.validate.unobtrusive.js"></script>
</head>
<div class="col-xs-12 wcn-signin-container" id="wcn-signin-container">
    <div class="col-xs-12 wcn-socal-media-login nopadding">
        @Html.Partial("_ExternalLoginsListPartial")
        <script src="~/Scripts/lib/jquery.validate.unobtrusive.min.js"></script>
        <div class="or-separator"><span>or</span></div>
    </div>
    <div id="LoginPartial" class="col-xs-12 nopadding">
        @using (Ajax.BeginForm("Login", "User", new AjaxOptions { OnSuccess = "User.prototype.GetResult", OnBegin = "WCNUser.prototype.beforeCall" }, new { @id = "loginform" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-xs-12 nopadding">
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @class = "form-control", @placeholder = "Email" })
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Username)</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        @Html.PasswordFor(model => model.Password, new { @id = "login_password", @class = "form-control", @placeholder = "Password" })
                        <span id="ShowPassword" class="password-display">show</span>
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                    </div>
                </div>
                <div class="col-xs-12 nopadding">
                    <button type="submit" class="btn btn-default btn-full">Sign In</button>
                </div>
                <div class="col-xs-12 margin-top-bottom nopadding">
                    <div class="col-xs-12 col-sm-6 nopadding styled-checkbox remember-me">
                        <input @rememberMeStatus type="checkbox" class="input-control" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                        <label for="RememberMe" class="input-label">@WebStore_Resources.RememberMe</label>
                        <input type="hidden" value="false" name="RememberMe">
                    </div>
                    <div class="col-xs-12 col-sm-6 nopadding">
                        @if (ViewBag.CheckoutLogin != null)
                        {
                            @Html.Hidden("returnUrl", "~/Checkout/index")
                        }
                        <a class="login-form-forgotpassword pull-right" title="Forgot Password" onclick="WCNUser.prototype.ForgetPassword()">Forgot Password?</a>
                    </div>
                </div>
                <div id="error-content" class="error-msg text-center padding-bottom-10"></div>
            </div>
        }
    </div>

    <div class="col-xs-12 nopadding wcn-register @_isDisplayGuestcheckout">
        <div id="layout-account-login">
            <div class="col-xs-12 nopadding">
                <h6 class="text-center padding-bottom-10">Don’t have an account?</h6>
                @*<a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn btn-primary btn-full wcn-register-link">Register</a>*@
                <a href="JavaScript:void(0);" class="btn btn-primary btn-full wcn-register-link" onclick="WCNUser.prototype.Register()">Register</a>
            </div>
        </div>
    </div>
    <div>
        <div class="col-xs-12 nopadding margin-top">
            @*<span>Welcome to our new @storeName !</span>*@
            @Html.RenderMessage("LoginExistingCustomerNote")
        </div>
    </div>
</div>

<div class="col-xs-12 wcn-forgot-password">
</div>



<script>
    $("#btn-register-container").click(function () {
        $("#wcn-signin-container").hide();
        $("#wcn-register-container").show();
    });
    $("#btn-back-link").click(function () {
        $("#wcn-register-container").hide();
        $("#wcn-signin-container").show();
    });
    // For Password Hide/Show
    $(function () {
        $('#ShowPassword').on('click', function () {
            if ($(this).text() == 'hide') {
                $(this).text('show');
                $('#login_password').attr('type', 'password');
            } else {
                $(this).text('hide');
                $('#login_password').attr('type', 'text');
            }
        });
    })
</script>