﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model AccountQuoteViewModel
@{
    string accountType = Model.RoleName;
    string currencyCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
    Model.ShoppingCart.CurrencyCode = currencyCode;
    string imagePath = string.Empty;
    bool isEnableApprovalManagement = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
}
@{

    List<CartItemViewModel> quoteItemViewModel = Model.ShoppingCart?.ShoppingCartItems?.ToList();
    var consolidatedOrderLineItems = quoteItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
}

<div id="layout-quote-details" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LabelPendingOrderDetail @Html.RenderBlock(Model.OmsQuoteId.ToString()) - @ViewBag.Title <small>on @Model.CreatedDate</small></h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 add-template right-container">
                    <div class="col-sm-12 nopadding">
                        @using (Html.BeginForm("UpdateQuote", "User", FormMethod.Post, new { @id = "FormQuoteView" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-xs-12 nopadding">
                                <div class="pull-right">
                                    @if (isEnableApprovalManagement)
                                    {
                                        <button type="button" onclick="User.prototype.GetUserApproverList(@Model.OmsQuoteId)" class="btn-text btn-bg-primary margin-bottom" data-toggle="modal" data-target="#user-approver-popup-ipad">See Approver History</button>
                                    }
                                    @if (!Equals(Model.UserId, Model.LoggedInUserId))
                                    {
                                        if (!Model.IsLevelApprovedOrRejected)
                                        {
                                            if (!string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase) &&
                                            !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                            {
                                                if (!Model.IsLastApprover)
                                                {
                                                    <button type="submit" id="btnTopApprove" class="btn-text btn-bg-primary red margin-bottom">@WebStore_Resources.ButtonApprove</button>
                                                }
                                                else
                                                {
                                                    <button type="button" id="btnTopApprove" onclick="Checkout.prototype.ConvertQuoteToOrder()" class="btn-text btn-bg-primary green margin-bottom btn-green">@WebStore_Resources.LabelApproveAndPlaceOrder</button>
                                                }
                                                <button type="submit" id="btnTopReject" class="btn-text btn-bg-primary red margin-bottom">@WebStore_Resources.ButtonReject</button>
                                            }
                                        }
                                        else
                                        {
                                            if (!string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase) &&
                                                                                            !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                            {
                                                <button type="submit" id="btnTopApprove" class="btn-text btn-bg-primary red margin-bottom" disabled="disabled">@WebStore_Resources.ButtonApprove</button>

                                                <button type="submit" id="btnTopReject" class="btn-text btn-bg-primary red margin-bottom" disabled="disabled">@WebStore_Resources.ButtonReject</button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <h3 class="section-header">@WebUtility.HtmlDecode(Model.ShippingName)</h3>
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                @if (Model?.ShippingAddressId > 0 && !Equals(Model?.ShippingAddressModel, null))
                                {
                                    Model.ShippingAddressModel.RoleName = Model.RoleName;
                                    @Html.Partial("../User/_DisplayAddress", Model.ShippingAddressModel ?? new AddressViewModel())
                                }
                                else
                                {
                                    <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                }

                            </div>

                            @Html.HiddenFor(model => model.OmsQuoteId)
                            @Html.HiddenFor(model => model.PortalId)
                            @Html.HiddenFor(model => model.UserId)
                            @Html.HiddenFor(model => model.OmsOrderStateId)
                            @Html.HiddenFor(model => model.ShippingId)
                            @Html.HiddenFor(model => model.RoleName)
                            @Html.HiddenFor(model => model.OrderStatus)
                            @Html.HiddenFor(model => model.ShippingAddressId)
                            @Html.HiddenFor(model => model.BillingAddressId)
                            @Html.HiddenFor(model => model.ApproverUserId)
                            @Html.HiddenFor(model => model.AdditionalInstruction)
                            @Html.HiddenFor(model => model.QuoteOrderTotal)
                            @Html.HiddenFor(model => Model.ShoppingCart)
                            @Html.HiddenFor(model => Model.CartItemCount)
                            @Html.HiddenFor(model => Model.PaymentSettingId)
                            @Html.HiddenFor(model => Model.PurchaseOrderNumber)
                            @Html.HiddenFor(model => Model.PODocumentName)
                            @Html.HiddenFor(model => Model.AccountNumber)
                            @Html.HiddenFor(model => Model.ShippingMethod)

                            {
                                <div class="col-xs-12 nopadding shopping-cart padding-top-bottom">
                                    <div class="col-xs-12 quote-products table-responsive nopadding">
                                        <table class="table" id="quoteView">
                                            <thead>
                                                <tr>
                                                    @if (string.Equals(accountType, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(accountType, ZnodeRoleEnum.Manager.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)) || (string.Equals(accountType, ZnodeRoleEnum.User.ToString(), StringComparison.CurrentCultureIgnoreCase) && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase)))
                                                    {
                                                        <th></th>
                                                    }
                                                    <th>@WebStore_Resources.LabelItem</th>
                                                    <th>@WebStore_Resources.ColumnTitleItemPrice</th>
                                                    <th>@WebStore_Resources.ColumnTitleQuantity</th>
                                                    <th>@WebStore_Resources.ColumnTitleTotal</th>
                                                </tr>
                                            </thead>
                                            <tbody id="quoteViewRow">
                                                @for (int i = 0; i < Model?.ShoppingCart?.ShoppingCartItems?.Count(); i++)
                                                {
                                                    if (Model.ShoppingCart.ShoppingCartItems[i].InsufficientQuantity)
                                                    {
                                                        Model.InventoryOutOfStockCount++;
                                                        Model.ShoppingCart.ShoppingCartItems[i].OutOfStockMessage = string.IsNullOrEmpty(Model.OutOfStockMessage) ? WebStore_Resources.OutofStockMessage : Model.OutOfStockMessage;
                                                    }

                                                    Model.ShoppingCart.ShoppingCartItems[i].QuoteLineItemCount = Model.ShoppingCart.ShoppingCartItems.Count();
                                                    Model.ShoppingCart.ShoppingCartItems[i].OrderStatus = Model.OrderStatus;
                                                    Model.ShoppingCart.ShoppingCartItems[i].RoleName = Model.RoleName;
                                                    Model.ShoppingCart.ShoppingCartItems[i].CurrencyCode = currencyCode;
                                                    @Html.Partial("_QuoteRow", Model.ShoppingCart.ShoppingCartItems[i])
                                                    @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].Quantity)
                                                    @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].OmsQuoteLineItemId)
                                                }
                                                @Html.Hidden("ShoppingCartItemsCount", Model.ShoppingCart.ShoppingCartItems.Count())
                                                @Html.HiddenFor(model => Model.InventoryOutOfStockCount)
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-12 cart-summary nopadding">
                                        <div class="col-xs-12 nopadding cart-total">
                                            <div class="col-sm-offset-5 col-md-offset-6">
                                                @{
                                                    Model.ShoppingCart.ShippingName = @WebUtility.HtmlDecode(Model.ShippingName);
                                                }
                                                @Html.Partial("_TotalTable", Model.ShoppingCart)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("_QuoteConfirmPopup")
                                <div class="col-xs-12 nopadding margin-top-bottom text-right">
                                    @if (isEnableApprovalManagement)
                                    {
                                        <button type="button" onclick="User.prototype.GetUserApproverList(@Model.OmsQuoteId)" class="btn-text btn-bg-primary margin-bottom" data-toggle="modal" data-target="#user-approver-popup-ipad">See Approver History</button>
                                    }
                                    @if (!Equals(Model.UserId, Model.LoggedInUserId))
                                    {
                                        if (!Model.IsLevelApprovedOrRejected)
                                        {
                                            if (!string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase) &&
                                            !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                            {
                                                if (!Model.IsLastApprover)
                                                {
                                                    <button type="submit" id="btnBottomApprove" class="btn-text btn-bg-primary red margin-bottom">@WebStore_Resources.ButtonApprove</button>
                                                }
                                                else
                                                {
                                                    <button type="button" id="btnBottomApprove" onclick="Checkout.prototype.ConvertQuoteToOrder()" class="btn-text btn-bg-primary green margin-bottom btn-green">@WebStore_Resources.LabelApproveAndPlaceOrder</button>
                                                }
                                                <button type="submit" id="btnBottomReject" class="btn-text btn-bg-primary red margin-bottom">@WebStore_Resources.ButtonReject</button>
                                            }
                                        }
                                        else
                                        {
                                            if (!string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase) &&
                                                                                        !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                            {
                                                <button type="submit" id="btnBottomApprove" class="btn-text btn-bg-primary red margin-bottom" disabled="disabled">@WebStore_Resources.ButtonApprove</button>

                                                <button type="submit" id="btnBottomReject" class="btn-text btn-bg-primary red margin-bottom" disabled="disabled">@WebStore_Resources.ButtonReject</button>
                                            }
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (isEnableApprovalManagement)
{
    <div class="modal fade" id="user-approver-popup-ipad" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content col-xs-12 nopadding">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="close-user-approver-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
                    <h4 class="modal-title">@WebStore_Resources.LabelApproverHistory</h4>
                </div>
                <div class="modal-body col-xs-12 modal-display-block">
                    <div id="user-approver-popup-content" class="col-xs-12 nopadding">
                        Loading....
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var quoteConfirm = '@WebStore_Resources.QuoteConfirmMessage';
    $(document).ready(function () {
        User.prototype.HideAddressChangeLink();
    });
</script>

