﻿@using Znode.Engine.WebStore.ViewModels

@model RegisterViewModel

@{
    bool isAjax = Request.IsAjaxRequest();
}
<div class="col-xs-12 wcn-register-container margin-bottom">
    <h4 id="TitleRegisterAccount" class="top-bottom-space text-center">@WebStore_Resources.TitleRegisterAccount</h4>
    <div class="col-xs-12 nopadding btn-back-link">
        <a href="JavaScript:void(0);" id="btn-back-link" onclick="WCNUser.prototype.SignIn()"><i class="zf-wcn-arrow-left"></i> Back</a>
    </div>
    @if (isAjax)
    {
    <div id="ajaxRegisterForm" class="col-xs-12 nopadding margin-bottom">
        @using (Ajax.BeginForm("signup", "WCNUser", new AjaxOptions() { OnSuccess = "WCNUser.prototype.SetUserCreationStatusMessage", OnBegin = "WCNUser.prototype.beforeCall" }, new { id = "frmRegister1" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_Register", Model)            
            @Html.Hidden("isSinglePageCheckout", true)
            <button type="submit" class="btn btn-default btn-full margin-bottom" id="user-register">Register</button>
        }
    </div>
    }

</div>

<script src="~/Scripts/lib/jquery.validate.min.js"></script>
<script src="~/Scripts/lib/jquery.validate.unobtrusive.js"></script>