﻿@model Znode.Engine.WebStore.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = WebStore_Resources.TextResetPassword;
}
<head>
    <script src="~/Scripts/lib/jquery.validate.min.js"></script>
    <script src="~/Scripts/lib/jquery.validate.unobtrusive.js"></script>
</head>
<div class="margin-bottom">
    <div class="container-fluid" id="NewUserForgotPassword">
        <div class="row register-container">
            @using (Ajax.BeginForm("ResetWebstorePassword", "User", new AjaxOptions { OnSuccess = "User.prototype.GetResult" }))
            {
                <!--Main Container-->
                <div class="col-sm-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.TextResetPassword</h1>                    
                </div>
                <div class="col-sm-12 nopadding reset-admin-password margin-top-10">                    
                    <div class="col-sm-12 nopadding margin-bottom">
                        <p>@WebStore_Resources.ForgotPasswordMessage</p>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="form-group">
                            <div class="control-label">
                                @Html.Label(WebStore_Resources.LabelOldPassword, new { @class = "required" })
                            </div>
                            <div class="control-md left-inner-icon">

                                @Html.PasswordFor(m => m.OldPassword, new { @type = "password" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                @Html.Label(WebStore_Resources.LabelNewPassword, new { @class = "required" })
                            </div>
                            <div class="control-md left-inner-icon">

                                @Html.PasswordFor(m => m.NewPassword, new { @type = "password" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                @Html.Label(WebStore_Resources.LabelConfirmPassword, new { @class = "required" })
                            </div>
                            <div class="control-md left-inner-icon">

                                @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password" })
                                <p class="sub">@WebStore_Resources.ValidPassword</p>
                                @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                            </div>

                        </div>
                        <div>
                            <button type="submit" class="btn btn-default btn-full btn-text red">@Admin_Resources.ButtonSave</button>
                        </div>
                        <div id="error-content" class="error-msg text-center padding-bottom-10"></div>
                        @Html.HiddenFor(x => x.UserName)
                    </div>
                </div>
            }
        </div>
    </div>
</div>

