﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@{

}

<!--Main Container-->
<div class="main-wrapper">
    <div class="container">
        <div class="row register-container">
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.ButtonResetPassword</h1>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    @if (string.IsNullOrEmpty(Model.PasswordToken))
                    {
                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label class="control-label required">@WebStore_Resources.LabelOldPassword</label>
                            </div>
                            <div class="col-xs-12 left-inner-icon nopadding">

                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="control-label required">@WebStore_Resources.LabelNewPassword</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">

                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label class="control-label required">@WebStore_Resources.LabelReTypeNewPassword</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">

                            @Html.PasswordFor(m => m.ReTypeNewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-default btn-text red" value="@WebStore_Resources.ResetPasswordButtonText" />
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.PasswordToken)
                    @Html.HiddenFor(x => x.UserName)
                </div>
            }
        </div>
    </div>
</div>
