﻿@using Znode.Engine.WebStore.ViewModels
@model ProductViewModel
@{
    string productSku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    int addonGroupId = 1;
    string UOM = Attributes.Value(Model?.Attributes, "UOM");
}
@if (Model?.AddOns?.Count > 0)
{
    if ((Model?.AddOns?.Any(x => x.IsAutoAddon == false)).GetValueOrDefault())
    {
        <h4 class="section-header">@WebStore_Resources.TitleAddonOption</h4>
    }
    foreach (var addon in Model.AddOns)
    {
        if (!addon.IsAutoAddon)
        {
            if (addon.DisplayType == "DropDown")
            {
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label for="AddOn-@addon.AddOnId">@addon.GroupName</label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @if (addon.IsRequired)
                            {
                                <select id="AddonId_@addon.AddOnId" data-addOnGroupId=@addonGroupId data-sku="@productSku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" class="AddOn" onchange="Product.prototype.OnAddonSelect(this)">
                                    @foreach (var addonValues in addon.AddOnValues)
                                {
                                    string addonText = addonValues.SalesPrice > 0 ? $"{addonValues.Name}{" + "}{@Helper.FormatPriceWithCurrency(addonValues.SalesPrice, addonValues.CultureCode, UOM)}" : addonValues.Name;
                                        <option value="@addonValues.SKU" data-addonsku="@addonValues.SKU">@addonText</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select id="AddonId_@addon.AddOnId" data-addOnGroupId=@addonGroupId data-sku="@productSku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" class="AddOn" onchange="Product.prototype.OnAddonSelect(this)">
                                    <option value="0">@WebStore_Resources.TextSelect</option>
                                    @foreach (var addonValues in addon.AddOnValues)
                                {
                                    string addonText = addonValues.SalesPrice > 0 ? $"{addonValues.Name}{" + "}{@Helper.FormatPriceWithCurrency(addonValues.SalesPrice, addonValues.CultureCode, UOM)}" : addonValues.Name;
                                        <option value="@addonValues.SKU" data-addonsku="@addonValues.SKU">@addonText</option>
                                    }
                                </select>
                            }
                            <div id="dynamic-addOninventory" style="display:none" class="error-msg"></div>
                        </div>
                    </div>
                </div>
                addonGroupId++;
            }

            if (addon.DisplayType == "RadioButton")
            {
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label>@addon.GroupName</label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @foreach (var addonValues in addon.AddOnValues)
                            {
                                <div class="styled-input">
                                    <input type="radio" id="AddOnValue-@addonValues.PublishProductId" data-sku="@productSku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" name="AddOnValue_@addon.GroupName" value="@addonValues.SKU" class="AddOn" @((addon.IsRequired && addon.SelectedAddOnValue.Contains(addonValues.PublishProductId)) ? "checked=checked" : "") onchange="Product.prototype.OnAddonSelect(this)" />
                                    @if (!Equals(addonValues.SalesPrice, null))
                                {
                                        <label for="AddOnValue-@addonValues.PublishProductId">@addonValues.Name (+@Helper.FormatPriceWithCurrency(addonValues.SalesPrice, addonValues.CultureCode, UOM))</label>
                                    }
                                    else
                                    {
                                        <label for="AddOnValue-@addonValues.PublishProductId">@addonValues.Name</label>
                                    }
                                </div>
                            }
                            <div id="dynamic-addOninventory" style="display:none" class="error-msg"></div>
                        </div>
                    </div>
                </div>
            }

            if (addon.DisplayType == "CheckBox")
            {
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label>@addon.GroupName</label>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <div class="chk-product-addons" id="chk-@addon.AddOnId" data-addOnGroupId=@addonGroupId data-isoptional="@addon.IsRequired" data-addonid="@addon.GroupName">
                                @foreach (var addonValues in addon.AddOnValues)
                            {
                                    <div class="styled-input">
                                        <input type="checkbox" id="AddOnChk-@addonValues.PublishProductId" data-sku="@productSku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" name="AddOnValueId_@addon.GroupName" value="@addonValues.SKU" class="AddOn" @((addon.IsRequired && addon.SelectedAddOnValue.Contains(addonValues.PublishProductId)) ? "checked=checked" : "") onchange="Product.prototype.OnAddonSelect(this)" />
                                        @if (!Equals(addonValues.SalesPrice, null))
                                        {
                                            <label for="AddOnChk-@addonValues.PublishProductId">@addonValues.Name (+@Helper.FormatPriceWithCurrency(addonValues.SalesPrice, addonValues.CultureCode, UOM))</label>
                                        }
                                        else
                                        {
                                            <label for="AddOnChk-@addonValues.PublishProductId">@addonValues.Name</label>
                                        }
                                    </div>
                                }
                            </div>
                            <p id="paraComment-@addonGroupId" style="display:none" class="error-msg">@string.Format(WebStore_Resources.rfvAddOnCheckBox, addon.GroupName)</p>
                            <div id="dynamic-addOninventory" style="display:none" class="error-msg"></div>
                        </div>
                    </div>
                </div>
                addonGroupId++;
            }
        }
    }
}
