﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<div class="col-xs-12 product-wishlist nopadding">
    <div class="col-xs-12 nopadding">

        <label>Share</label>
        <div class="wcn-social-share">
            <ul class="wcn-email-to-friend">
                <li><a data-toggle="modal" data-target="#modelEmailToFriend"><i class="zf-wcn-envelope" title="Email A Friend"></i></a></li>
            </ul>
            <z-widget>@Html.WidgetPartial("LinkPanel", "SocalMediaPDP", "141422", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>
@Html.Action("EmailToFriend", "Product")
<script>
    $(window).on("onload",function (){$("#ProductName").val($(".product-name").html());jQuery('#modelEmailToFriend').trigger('click');});
</script>

