﻿@using Znode.Engine.WebStore.ViewModels
@model  ConfigurableAttributeViewModel
@using Znode.Engine.WebStore.Agents
@{
    Layout = null;
    var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}

@if (attributes?.Count > 0)
{
    foreach (var att in attributes)
    {
        switch (att.IsSwatch)
        {
            case "true":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding margin-top-10">
                            <label class="margin-bottom">@att.AttributeName</label><span>: @att.SelectedAttributeValue[0]</span>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch color-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    <li class="styled-input scratch-attribute-img ">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"><img src="@image.ImagePath" class="SwatchImage img-responsive" title="@image.AttributeValue" /><i class="zf-wcn-check-circle swatch-tick"></i></label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "false":
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding margin-top-10">
                            <label class="margin-bottom">@att.AttributeName</label><span>: @att.SelectedAttributeValue[0]</span>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch color-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    var test = image.SwatchText;
                                    <li class="styled-input">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-image @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")"> <i class="zf-wcn-swatch-image" style="color:@test !important;text-shadow:0px 0px 1px #9E9E9E;" title="@image.AttributeValue"></i><i class="zf-wcn-check-circle swatch-tick"></i> </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            default:
                <div class="col-xs-12 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding margin-top-10">
                            <label class="margin-bottom">@att.AttributeName</label><span>: @att.SelectedAttributeValue[0]</span>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <ul class="swatch-img size-swatch">
                                @foreach (var image in att.ConfigurableAttribute?.OrderBy(x => x.DisplayOrder))
                                {
                                    <li class="styled-input">
                                        <input type="radio" class="ConfigurableAttribute" name="@att.AttributeCode" Onchange="Product.prototype.OnAttributeSelect(this);" id="@att.AttributeCode-@image.AttributeValue" code="@att.AttributeCode" value="@image.AttributeValue" @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "checked=checked" : "") />
                                        <label for="@att.AttributeCode-@image.AttributeValue" class="scratch-text @( image.IsDisabled ? "scratchattribute" : "") @( att.SelectedAttributeValue.Contains(image.AttributeValue) ? "active" : "")">@image.AttributeValue<i class="zf-wcn-check-circle swatch-tick"></i></label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                break;
        }
    }
}
@if (!string.IsNullOrEmpty(Model.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @Model.CombinationErrorMessage
        </span>
    </div>
}
@if (Request.IsAjaxRequest())
{
    <script src="@_fileLocation/Scripts/lib/event.min.js"></script>
}
