﻿@using Znode.Engine.WebStore.ViewModels
@model EmailAFriendViewModel
@{
    Layout = null;
}
<div id="modelEmailToFriend" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                <h4 class="modal-title">@Admin_Resources.EmailAFriend</h4>
            </div>
            @using (Ajax.BeginForm("SendMailToFriend", "Product", new AjaxOptions { OnBegin = " return validateform();", OnSuccess = "Product.prototype.EmailToFriendSuccess();", OnFailure = "Product.prototype.EmailToFriendFailure();", HttpMethod = "Post" }))
            {
			<div class="modal-body">

				<div>
					<div class="form-group">
						@Html.HiddenFor(model => model.ProductName)
						@Html.TextBoxFor(model => model.YourMailId, new { @class = ".form", @placeholder = "Your Email address" })
						@Html.ValidationMessageFor(model => model.YourMailId)
                    </div>
				</div>
				<div>
					<div class="form-group">
						@Html.TextBoxFor(model => model.FriendMailId, new { @class = "", @placeholder = "Friend's Email address" })
						@Html.ValidationMessageFor(model => model.FriendMailId)
					</div>
				</div>
				<div class="form-group">
					<div class="g-recaptcha" data-sitekey="6LcDx3YUAAAAAJFlumnvKTKTPRz35mcN37Ffvh99"></div>
					<div>
						<span id="rfvCaptcha" class="error field-validation-error" style="display:none;">Captcha validation is required.</span>
					</div>
				</div>
			</div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button id="btnSendMail" class="btn btn-default btn-text red pull-right" type="submit">Share Product</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    $(document).ready(function () {
        $("#ProductName").val($(".product-name").html());
        $.validator.unobtrusive.parse($("#btnSendMail").closest("form"));
	});
    function validateform() {
		var captcha_response = grecaptcha.getResponse();
		if (captcha_response.length == 0) {
			$('#rfvCaptcha').show();
			return false;
		}
		else {
			Product.prototype.EmailToFriendBegin();
			grecaptcha.reset();
		}
	}
</script>