﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  List<GroupProductViewModel>
@{
    Layout = null;
    string message = Convert.ToString(ViewBag.GroupProductMessage);
    bool isMainProductCallForPricing = Convert.ToBoolean(ViewBag.IsMainProductCallForPricing);
    string productTotalPrice = Helper.FormatPriceWithCurrency(Model.Sum(x => (x.ChangedQuantity != string.Empty) ? !Equals(x.SalesPrice, null) ? x.SalesPrice : x.RetailPrice : 0M), Model.FirstOrDefault()?.CultureCode);
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int customizeDesignId = 0;
}
@if (Model?.Count > 0)
{
    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
        @foreach (GroupProductViewModel product in Model?.OrderBy(x => x.AssociatedProductDisplayOrder))
        {
            string UOM = Attributes.ValueFromSelectValue(product?.Attributes, "UOM");
            bool isOutOfStock = (Attributes.CodeFromSelectValue(product?.Attributes, ZnodeConstant.OutOfStockOptions) == "DontTrackInventory");
            <div class="form-group">
                <div class="col-xs-12 group-product-list">
                    <img src="@product.ImageThumbNailPath" class="img-responsive" />
                    @if (product.IsCallForPricing)
                    {
                        <div class="col-lg-6 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>
                        </div>
                        <div class="price"><label>@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</label></div>
                    }
                    else if (isMainProductCallForPricing)
                    {
                        <div class="col-lg-6 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-7 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>

                            @if (product.ShowAddToCart)
                            {
                                
                                
                                <div class="product-details-quantity">
                                    <div class="pull-left padding-right">
                                        <input type="text" id="@product.PublishProductId" data-inventory="@isOutOfStock" class="quantity" name="@product.SKU" style="width:50px;" data-sku="@product.SKU" data-inventoryRoundOff="@inventoryRoundOff" data-productId="@product.PublishProductId" onchange="Product.prototype.OnAssociatedProductQuantityChange(this)" />
                                        <span class="quantity-state">@WebStore_Resources.ColumnTitleQuantity</span>
                                    </div>
                                    <div id="instock-count" class="status-outofstock hvr-pulse error-msg pull-left inventory-stock">
                                        <span class="product-count-inventory padding-left">@Html.RenderBlock(WebStore_Resources.TextInstock)</span>
                                        @if (product.Quantity > 0)
                                        {
                                            <span class="padding-left-5">@Html.RenderBlock("(" + product.Quantity + ")")</span>
                                        }
                                    </div>
                                </div>
                                <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg"></div>
                            }
                            else
                            {
                                <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg">@product.InventoryMessage</div>
                            }
                        </div>
                        <div class="pull-right">
                            @if (!Equals(product.SalesPrice, null))
                            {
                                <span class="dynamic-product-price_@product.SKU pull-right original-price text-right">@Helper.FormatPriceWithCurrency(product.SalesPrice, product.CultureCode, UOM)</span>
                                if (product.SalesPrice != @product.RetailPrice)
                                {
                                    <span class="cut-price pull-right text-right">
                                        @Helper.FormatPriceWithCurrency(product.RetailPrice, product.CultureCode, UOM)
                                    </span>
                                }
                            }
                            else
                            {
                                <span class="dynamic-product-price_@product.SKU pull-right original-price text-right">@Helper.FormatPriceWithCurrency(product.RetailPrice, product.CultureCode, UOM)</span>
                            }
                        </div>
                    }
                    @if (Convert.ToBoolean(product.Attributes.Value("ArtifiPersonalize")))
                    {
                        <div class="col-xs-12 col-sm-5 nopadding pull-right quick-view">
                            <button type="button" class="btn-text-full red margin-bottom" id="artifi-design-call" data-productId="@product.PublishProductId" data-artifigroupsku="@product.SKU" data-custmizeproductid="@customizeDesignId"><i class="zf-edit"></i>Personalize</button>
                        </div>
                    }
                </div>
            </div>

        }
    </div>

}

<script>
    $("#groupproductmessage").html('@message');var mainProductId = $("#scrollReview form").children("#dynamic-productid").val();jQuery('img').bind('error', function (e){this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";});
</script>