﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{
    TempData[WebStoreConstants.ProductCount] = Model?.Products?.Count;

    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string fromSearch = Request.QueryString["SearchTerm"]?.ToString().ToLower();
    string pgSize = Request.QueryString["pageSize"]?.ToString() ?? "80";
    string pgNo = Request.QueryString["pagenumber"]?.ToString() ?? "1";
    string searchValue = string.IsNullOrEmpty(Model.SuggestTerm) ? Model.SearchKeyword : Model.SuggestTerm;
    string TrackingId = Model.TrackingId;
    string _gacategoryName = /*WebUtility.HtmlDecode(*/Model.Products?.FirstOrDefault()?.CategoryName/*)*/;
    string _gaproductName = /*WebUtility.HtmlDecode(*/Model.Products?.FirstOrDefault()?.Name/*)*/;

    string _gaproductSKU = string.IsNullOrEmpty(Model.Products?.FirstOrDefault()?.ConfigurableProductSKU) ? Model.Products?.FirstOrDefault()?.SKU : Model.Products?.FirstOrDefault()?.ConfigurableProductSKU;
}

@if (!string.IsNullOrEmpty(Model.Location))
{
    <script type="text/javascript">
        window.location.href = '@Model.Location';
    </script>
}


@if (Model?.Products?.Count > 0)
{
    var categoryName = Model.Products.First()?.CategoryName;
    <input type="hidden" id="hdnhawkpg" value="@pgNo" />
    <input type="hidden" id="hdnhawkmpp" value="@pgSize" />
    <input type="hidden" id="hdnTrackingId" value="@Model.TrackingId" />
    <input type="hidden" id="hdnhawkkeywordfield" value="SearchTerm" />
    <input type="hidden" id="hdnhawktrackingid" value="@Model.TrackingId" />
    <input type="hidden" id="hdnhawktrackingversion" value="v2" />
    <input type="hidden" id="hdnhawkssfid" value="451" />
    <input type="hidden" id="hdnhawkkeyword" value="@searchValue" />
    <div class="col-xs-12 product-grid nopadding">
        <div class="col-xs-12 nopadding wcn-products-view-setting">
            <div id="pagingsearching">
                @Html.Partial("../Search/_PagingSearching", Model)
            </div>
        </div>
        <div class="col-xs-12 nopadding b2b-facets-btn visible-xs visible-sm quotebutton">
            <button data-target="#facets" class="OpenNav btn btn-full btn-default margin-top">Sort &amp; Filter</button>
        </div>
        <div class="col-sm-12 nopadding">
            @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
                {
                    <div class="col-sm-12 nopadding margin-top-bottom">
                        <p>Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                        <p>Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
                    </div>
                }
                else if (!Equals(Model.SearchResultCountText, null))
                {
                    @*<p class="search-result">@Html.RenderBlock(Model.SearchResultCountText.ToString())</p>*@
                    @Html.Partial("../Search/_WCNPagination", Model)
                }
            }
        </div>

        <div class="col-xs-12 product-view nopadding">
            <ul id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
                @{
                    if (!Equals(Model, null))
                    {
                        int count = 1;

                        foreach (var p in Model.Products)
                        {
                            ViewBag.TrackingId = Model.TrackingId;
                            ViewBag.ProductIndex = count;
                            <li>
                                <article class="product-item">
                                    @Html.Partial("../Product/_ProductTile", p)
                                </article>
                            </li>
                            count++;
                        }
                    }
                }
            </ul>
            @* New pagination *@
            @Html.Partial("../Search/_WCNPagination", Model)
            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
            <div id="loading" class="loader" style="display:none;"></div>
        </div>
    </div>
}
else
{
    if (!string.IsNullOrEmpty(Model.SearchTextName) && Model.SearchTextName != "Search")
    {

        <div class="col-sm-12 text-center margin-bottom">
            @string.Format(WebStore_Resources.ErrorProductSearchResult, Model.SearchTextName)
        </div>
    }
    else
    {
        <div class="col-sm-12 nopadding margin-bottom">
            @Html.RenderMessage("NoProductSearchFound")

        </div>
    }
}
<script>
    $(document).ready(function ()
    {
            var async = '@Helper.IsAsyncPrice';
            if (async == 'True')
            {
                Product.prototype.GetPriceAsync();
            }
            $("input[name=SearchTerm]").val('@Html.RenderBlock(searchValue)');

        });
    window.onload = function ()
    {
        HawkSearch.Tracking.track('searchtracking', { trackingId: '@TrackingId' });
    }
</script>

<script>
// Ecommerce - impressions event.
    $(document).ready(function () {
        var quantity = parseInt($(".spinnerQuantity_" + '@(Model?.Products?.FirstOrDefault()?.PublishProductId)' + "").val());
        quantity = (quantity == "" || quantity == null || typeof (quantity) == 'undefined' || !quantity) ? 1 : quantity;
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('require', 'ec');
        ga('ec:addImpression', {
            'id': $('<div />').html('@_gaproductSKU').text(),
            'name': $('<div />').html('@_gaproductName').text(),
            'sku': $('<div />').html('@_gaproductSKU').text(),
            'category': $('<div />').html('@_gacategoryName').text(),
            'brand': 'WCN',
            'quantity': quantity,
            'revenue': parseFloat($("#hdnwcnproductprice_" + '@(Model?.Products?.FirstOrDefault()?.PublishProductId)' + "").val()),
            'list': $('<div />').html('@_gacategoryName').text(),
            'position': 1
        });
        ga('ec:setAction', 'productListingPage');
    });

// Ecommerce - impressions event.
    $(document).ready(function () {
        var quantity = parseInt($(".spinnerQuantity_" + '@(Model?.Products?.FirstOrDefault()?.PublishProductId)' + "").val());
        quantity = (quantity == "" || quantity == null || typeof (quantity) == 'undefined' || !quantity) ? 1 : quantity;
        dataLayer.push({
            'event': 'productListingPage',
            'ecommerce': {
                'addImpression': {
                    'actionField': { 'list': $('<div />').html('@_gacategoryName').text() },
                    'products': [{
                        'name': $('<div />').html('@_gaproductName').text(),
                        'sku': $('<div />').html('@_gaproductSKU').text(),
                        'id': $('<div />').html('@_gaproductSKU').text(),
                        'price': parseFloat($("#hdnwcnproductprice_" + '@(Model?.Products?.FirstOrDefault()?.PublishProductId)' + "").val()),
                        'brand': 'WCN',
                        'quantity': quantity,
                        'revenue': parseFloat($("#hdnwcnproductprice_" + '@(Model?.Products?.FirstOrDefault()?.PublishProductId)' + "").val()),
                        'category': $('<div />').html('@_gacategoryName').text(),
                        'list': $('<div />').html('@_gacategoryName').text()
                    }]
                }
            }
        });
    });
</script>
