﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model ProductViewModel

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.Value(Model?.Attributes, "UOM");
    //string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.WCNTextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    string ratingText = Model.Rating > 0 ? string.Format(Custom_Resources.WCNTextRating, Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<div class="view-item">
    <div class="product-img">
        @if (Model.EnableProductCompare)
        {
        }
        <a class="itemLink wcn-ga-category" data-wcn-ga-category="@Model.PublishProductId" onclick="HawkSearch.link(event,'@ViewBag.TrackingId',@ViewBag.ProductIndex,'@Model.SKU',0);  HawkSearch.Tracking.track('searchtracking', { trackingId: '@ViewBag.TrackingId'}); WCNProduct.prototype.SetCategoryNameforGA('@Model.PublishProductId');" href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
            @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
            {
                <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
            }

            <div class="image">
                @{
                    string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                }
                <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive productimage" alt="Product" />
            </div>
        </a>
    </div>
    <div class="product-details">
        @if (CallForPricing)
        {
            <div class="price"><label>@callForPricingMessage</label></div>
        }
        else
        {
            <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                @if (!Helper.IsAsyncPrice)
                {
                    if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                        <label>@Model.GroupProductPriceMessage</label>
                    }
                    else
                    {
                        if (!Equals(Model.SalesPrice, null))
                        {
                            <label>
                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)
                            </label>
                            <span class="wcn-uom">@UOM</span>

                            @Html.Hidden("hdnwcnproductprice_" + Model.PublishProductId + "", Model.SalesPrice.ToPriceRoundOff())

                            if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                            {
                                <span class="cut-price">
                                    @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                                </span>
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                <label>
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)
                                </label>
                                <span class="wcn-uom">@UOM</span>
                                <span class="cut-price">
                                    @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                                </span>
                                @Html.Hidden("hdnwcnproductprice_" + Model.PublishProductId + "", Model.PromotionalPrice.ToPriceRoundOff())
                            }
                            else
                            {
                                <label>
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                                </label>
                                <span class="wcn-uom">@UOM</span>
                                @Html.Hidden("hdnwcnproductprice_" + Model.PublishProductId + "", Model.RetailPrice.ToPriceRoundOff())
                            }
                        }

                    }

                }
                else
                {
                    <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                }

            </div>
            if (!string.IsNullOrEmpty(disable))
            {
                <div class="item-error-msg">
                    <p class="error-msg">@Model.InventoryMessage</p>
                </div>
            }
        }
        <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())">
            <div class="wcn-product-name" data-toggle="popover" data-placement="bottom" data-content="@WebUtility.HtmlDecode(Model.Name)">@Html.RenderBlock(Model.Name)</div>
        </a>

        <div class="product-rating">
            @Html.Partial("_StarRating", Model.Rating)
            @ratingText<a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scroll-to-review" id="jumpto-readreviews-productTile">Leave review</a>
        </div>

        <div class="col-xs-12 nopadding">
            @Html.Partial("../Product/ProductQuantityDropdown", Model)
            <button type="button" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="btn-wishlist button-wishlist" onclick="WCNProduct.prototype.AddToWishList(this)"><i class="zf-wcn-heart"></i>Wish List</button>
            <div class="col-xs-12 nopadding padding-top-10 wishlist-status"><a id="accountWishList_@Model.PublishProductId" href="" class=""></a></div>
        </div>
    </div>
</div>
