﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model ProductViewModel
@{
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    bool IsCustomizable = Convert.ToBoolean(Model.Attributes?.Value("IsCustomizable"));
    bool _ArtifiPersonalize = Convert.ToBoolean(Model.Attributes.Value("ArtifiPersonalize"));
    bool _IsArtifiPersonalizeRequired = Convert.ToBoolean(Model.Attributes.Value("IsArtifiPersonalizeRequired"));
    int customizeDesignId = 0;
    ViewBag.FromPDP = true;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<div class="col-xs-12 product-info">
    @{
        string _displayAddToCart = _IsArtifiPersonalizeRequired ? "style=display:none" : string.Empty;
    }

    <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
    <div class="col-xs-12 nopadding">
        @{
            if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
            {
                Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
            }
        }
    </div>

    <div class="col-xs-12 product-variations nopadding" id="scrollReview">
        <div class="col-xs-12 product-customize nopadding">
            <div class="col-xs-12 nopadding">
                @if (PersonliseValues?.Count > 0)
                {
                    Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
                    PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                }
                @*@if (_ArtifiPersonalize)
                    {
                        <div class="col-xs-12 col-md-6 nopadding pull-right quick-view">
                            <button type="button" class="btn-text-full red" id="artifi-design-call" data-artifisku="@Model.SKU" data-custmizeproductid="@customizeDesignId"><i class="zf-edit"></i>Personalize</button>
                        </div>
                    }*@
            </div>
            <div class="col-xs-12 addons-attributs">
                @if (isGroupProduct)
                {
                    var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                    <div id="groupProductList">
                        @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId });}
                        <div id="quantity-error-msg" class="status-outofstock hvr-pulse"></div>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                        @Html.Partial("_ProductAttributes")
                    </div>
                }
                <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                    @Html.Partial("_AddOns")
                </div>
                <div class="col-xs-12 nopadding margin-top" id="dynamic-product-addtocart">
                    <div class="inner-loader">
                        <img src="@_fileLocation/Images/throbber.svg" />
                    </div>

                    @Html.Partial("../Product/ProductQuantityDropdown", Model)
                    <button type="button" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="btn-wishlist button-wishlist" onclick="WCNProduct.prototype.AddToWishList(this)"><i class="zf-wcn-heart"></i>Wish List</button>
                    <div class="col-xs-12 nopadding padding-top-10 wishlist-status"><a id="accountWishList_@Model.PublishProductId" href="" class=""></a></div>
                </div>

            </div>
            <div class="col-xs-12 nopadding wcn-tier-price">

                @{ var count = 0;}
                @if (Model.TierPriceList?.Count > 0)
                {

                    if (Model.TierPriceList.Count > 3)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-8 nopadding bulk-pricing-table bulk-view-more margin-top-bottom">
                            <table class="table">
                                <thead>
                                    <tr class="thead">
                                        <td colspan="3">Bulk Pricing - Save Big</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="sub-head">
                                        <td>Item Qty</td>
                                        <td>Price/Item</td>
                                        <td>You Save</td>
                                    </tr>
                                    @foreach (var item in Model.TierPriceList)
                                    {
                                        if (count < 3)
                                        {
                                            <tr itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
                                                <td>@Convert.ToDouble(item.Quantity)</td>

                                                <td itemprop="price">@Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode)</td>
                                                @* Calculates the % savings on tier pricing *@
                                                <td>
                                                    @if (Model.ProductPrice != null)
                                                    {
                                                        <span>@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</span>
                                                    }
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-tertiary btn-full" data-toggle="modal" data-target="#ViewMoreSaving">@Custom_Resources.ViewMoreSaving</button>
                            <div id="ViewMoreSaving" class="modal fade" role="dialog">
                                @Html.Partial("../Product/_ViewMoreSavingsPopup", Model)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-6 col-md-8 nopadding bulk-pricing-table  margin-top-bottom">
                            <table class="table">
                                <thead>
                                    <tr class="thead">
                                        <td colspan="3">Bulk Pricing - Save Big</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="sub-head">
                                        <td>Item Qty</td>
                                        <td>Price/Item</td>
                                        <td>You Save</td>
                                    </tr>
                                    @foreach (var item in Model.TierPriceList)
                                    {
                                        if (count < 3)
                                        {
                                            <tr itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
                                                <td>@Convert.ToDouble(item.Quantity)</td>

                                                <td itemprop="price">@Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode)</td>
                                                @* Calculates the % savings on tier pricing *@
                                                <td>@Math.Round((decimal)(100 - ((100 / Model.RetailPrice) * item.Price)))%</td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                }

            </div>
        </div>
        @Html.Partial("_AddToWishList", Model)
        @*<div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href=""></a></div>*@
    </div>
</div>
<div id='Single-loader-content-backdrop' class='modal-backdrop fade in' style="display:none"><div id='loading' class='loader loader-body'></div></div>
<script>
    $(function () { if (localStorage.getItem("isCustomize") == "true") { localStorage.removeItem("isCustomize"); } })
</script>