﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Libraries.Resources
@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomeField)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div class="col-xs-12 nopadding wcn-product-details-tabs margin-top padding-right" id="product-content">
    <div id="Tab-panel" class="col-xs-12 nopadding desktop-padding-right">
        <div class="wcn-tab padding-top-bottom">
            <ul id="myTab" class="tab-panel-heading">
                <li class="active">
                    <a class="product-details">
                        @Html.RenderMessage("WCProductDetails")
                        <i class="zf-wcn-arrow-right"></i>
                    </a>
                </li>
                <li><a class="reviews">@Html.RenderMessage("WCReviews")</a></li>
                @if (Model.Attributes.Value("Imprintable") == "true")
                {
                    <li><a class="fast-imprinting">@Html.RenderMessage("FastImprintingLabel")</a></li>
                }
            </ul>
        </div>
        <div class="wcn-tab-panel">
            <div id="panel-1" class="panel-body nopadding details active">
                <h2 class="panel-title">@Html.RenderMessage("WCProductDetails")</h2>
                <div class="inner-container" itemprop="description">
                    <div class="longDescription">
                        @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("LongDescription")))
                    </div>
                    <a href="javascript:void(0);" class="morelink">read more</a>
                </div>
            </div>
            <div id="panel-3" class="panel-body nopadding">
                <h2 class="panel-title">@Html.RenderMessage("WCReviews")</h2>
                <div class="inner-container">
                    <div class="ask-que-button">
                        <div id="wcn-dev-authenticatedwriteReview">
                            @*allowing only logged in uer to write a review*@

                            <a href="/Product/writereview?id=@productId&name=@Model.Name" id="button-writeReview" class="btn-text">@WebStore_Resources.LinkTextWriteReview</a>
                        </div>
                        @Html.Partial("_ProductReviews", Model.ProductReviews)
                        <div id="wcn-dev-qa-sign-register">

                            <p class="qa-sign-register"><a href="javascript:void(0)" onclick="WCNUser.prototype.LoadLogin();">sign In</a> or <a href="javascript:void(0)" onclick="WCNUser.prototype.LoadRegister();">register</a> @Custom_Resources.TextForReview</p>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Attributes.Value("Imprintable") == "true")
            {
                <div id="panel-5" class="panel-body nopadding">
                    <h2 class="panel-title">@Html.RenderMessage("FastImprintingLabel")</h2>
                    <div class="inner-container">
                        @Html.RenderMessage("FastImprintingDetails")
                    </div>
                </div>
            }
            <div class="panel-body nopadding">
                <div class="recently-viewed-products">
                    <!--Recently View Product Widget-->
                    <z-widget>@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "1126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    scrollingfunction();
</script>
<script>
    $(document).ready(function () {
        if ($("#hdnwcnisauthenticated").length) {
            if ($("#hdnwcnisauthenticated").val() == "True") {
                $("#wcn-dev-authenticatedwriteReview").show();
                $("#wcn-dev-qa-sign-register").hide();
            }
            else {
                $("#wcn-dev-authenticatedwriteReview").hide();
                $("#wcn-dev-qa-sign-register").show();
            }
        }
    });
</script>