﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string UOM = Attributes.Value(Model?.Attributes, "UOM");
    ViewBag.FromPDP = true;
}
<div class="col-xs-6 col-lg-7 nopadding wcn-padding">
    <div class="col-xs-12 nopadding wcn-tab">
        <ul id="myTab" class="tab-panel-heading">
            <li>@Model.Name</li>
        </ul>
    </div>
</div>
<div class="col-xs-6 col-lg-5 nopadding wcn-padding">
    <div class="pull-right padding-right">
        <div class="product-price nopadding">
            @if (!IsCallForPricing && !isGroupProduct)
            {
                <h2>
                    @if (!Equals(Model.SalesPrice, null))
                {
                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)
                        <span class="wcn-uom">@UOM</span>
                        if (Model.SalesPrice != @Model.RetailPrice)
                        {
                            <span class="cut-price">
                                @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                            </span>
                        }
                    }
                    else
                    {
                        if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                        {
                            @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)<span class="wcn-uom">@UOM</span>
                            <span class="cut-price">
                                @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                            </span>
                        }
                        else
                        {
                            <span class="black-price">
                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                            </span><span class="wcn-uom">@UOM</span>
                        }
                    }

                </h2>
            }
            @if (isGroupProduct)
            {
                <h2>
                    <span id="groupproductmessage"></span>
                </h2>
            }
        </div>
        @Html.Partial("../Product/ProductQuantityDropdown", Model)
        <button type="button" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="btn-wishlist button-wishlist" onclick="WCNProduct.prototype.AddToWishList(this)"><i class="zf-wcn-heart"></i>Wish List</button>
    </div>
</div>

