﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string mediaThumbnailImagePath = MediaPaths.MediaThumbNailPath;
    string mediaPath = MediaPaths.MediaPath;
    var alternateImages = Model.Attributes?.Value("GalleryImages")?.Split(',');
}
<div class="col-xs-12 nopadding wcn-image-view">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }

    <div class="easyzoom easyzoom-overlay easyzoom-with-thumbnails">
        <a href="@Model.OriginalImagepath" class="easyzoom-img">
            <img itemprop="image" src="@Model.ImageLargePath" class="img-responsive" />
        </a>
    </div>
    <div class="col-xs-12 nopadding product-altimages">
        <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
            @if (!Equals(alternateImages, null))
            {
                @*<div class="item">
                        <a href="@Model.OriginalImagepath" data-standard="@Model.OriginalImagepath">
                            <img src="@Model.ImageLargePath" class="img-responsive" />
                        </a>
                    </div>*@
                foreach (var image in alternateImages)
                {
                    <div class="item">
                        <a href="@mediaPath@image" data-standard="@mediaPath@image">
                            <img src="@mediaThumbnailImagePath/@image" alt="" class="img-responsive"/>
                        </a>
                    </div>
                }
                @*if (!string.IsNullOrEmpty(Model.Attributes?.Value("VideoURL")))
                    {
                        <div class="item alt-video">
                            <a href="JavaScript:void(0);" data-toggle="modal" data-target=".alt-video-popup" title="Click here for play video">
                                <i class="zf-youtube-square"></i>
                            </a>
                        </div>
                    }*@
            }
        </div>
    </div>

</div>

@*Alt Video Popup*@
<div class="modal fade alt-video-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                    <h4 class="modal-title">Featured Video</h4>
                </div>
                <div class="modal-body text-center">
                    <div id="product-youtubevideo-container">
                        @if (!string.IsNullOrEmpty(Model.Attributes?.Value("VideoURL")))
                        {
                            @Html.Video(Model.Attributes?.Value("VideoURL"))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".Product_Altimages").owlCarousel({ autoPlay: false, navigation: true, items: 4, itemsCustom: [[0, 1], [320, 4], [480, 4], [600, 4], [768, 6], [992, 5], [1200, 6]], navigationText: ["<i class='glyphicon glyphicon-chevron-left'></i>", "<i class='glyphicon glyphicon-chevron-right'></i>"] });
    });
</script>
