﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    var alternateImages = Model.Attributes?.Value("GalleryImages")?.Split(',');
    string imageExtention = Model.OriginalImagepath?.Substring(Model.OriginalImagepath.LastIndexOf('.') + 1);
}
<div class="col-xs-12 col-md-11 nopadding image-view">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }

    <div class="simpleLens-gallery-container '" id="ImageZoom">
        <div class="simpleLens-container">
            <div class="simpleLens-big-image-container image">
                <a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.OriginalImagepath">
                    @if (imageExtention == "gif")
                    {
                        <img id="product-image" src="@_fileLocation/Images/throbber.svg" data-src="@Model.OriginalImagepath" alt="@(Model.Attributes?.Value("ImageAltText"))" class="simpleLens-big-image b-lazy" />
                    }
                    else
                    {
                        <img id="product-image" src="@_fileLocation/Images/throbber.svg" data-src="@Model.ImageLargePath" alt="@(Model.Attributes?.Value("ImageAltText"))" class="simpleLens-big-image b-lazy" />
                    }
                </a>
            </div>
        </div>
        <div class="col-xs-12 nopadding product-altimages">
            <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
                @if (Model?.AlternateImages?.Count > 0 && !Model.IsQuickView)
                {
                    foreach (var image in Model.AlternateImages)
                    {
                        string extention = image.OriginalImagePath?.Substring(image.OriginalImagePath.LastIndexOf('.') + 1);

                        if (extention == "gif")
                        {
                            <div class="item">
                                <a href="JavaScript:void(0);" class="simpleLens-thumbnail-wrapper"
                                   data-lens-image="@image.OriginalImagePath"
                                   data-big-image="@image.OriginalImagePath">
                                    <img src="@_fileLocation/Images/throbber.svg" data-src="@image.OriginalImagePath" class="b-lazy productimage">
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <a href="JavaScript:void(0);" class="simpleLens-thumbnail-wrapper"
                                   data-lens-image="@image.OriginalImagePath"
                                   data-big-image="@image.ImageLargePath">
                                    <img src="@_fileLocation/Images/throbber.svg" data-src="@image.OriginalImagePath" class="b-lazy productimage">
                                </a>
                            </div>
                        }

                    }
                }
                @if (!string.IsNullOrEmpty(Model.Attributes?.Value("VideoURL")))
                {
                    <div class="item alt-video">
                        <a href="JavaScript:void(0);" data-toggle="modal" data-target=".alt-video-popup" title="Click here for play video">
                            <i class="zf-youtube-square"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Alt Video Popup*@
<div class="modal fade alt-video-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                    <h4 class="modal-title">Featured Video</h4>
                </div>
                <div class="modal-body text-center">
                    <div id="product-youtubevideo-container" itemprop="video">
                        @if (!string.IsNullOrEmpty(Model.Attributes?.Value("VideoURL")))
                        {
                            @Html.Video(Model.Attributes?.Value("VideoURL"))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".Product_Altimages").owlCarousel({ autoPlay: false, navigation: true, items: 4, itemsCustom: [[0, 1], [320, 4], [480, 4], [600, 4], [768, 6], [992, 5], [1200, 5]], navigationText: ["<i class='glyphicon glyphicon-chevron-left'></i>", "<i class='glyphicon glyphicon-chevron-right'></i>"] });
    });
</script>
<script src="@_fileLocation/Scripts/lib/jquery.simpleGallery.js"></script>
<script src="@_fileLocation/Scripts/lib/jquery.simpleLens.js"></script>
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery(); $('#ImageZoom .simpleLens-big-image').simpleLens();
    // PDP Static Bar
    $(window).on("scroll touchmove", function () { $('.wcn-static-bar').toggleClass('stick', $(document).scrollTop() > 0); });
</script>
