﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model ProductViewModel

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty);
    string UOM = Attributes.Value(Model?.Attributes, "UOM");
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                        }
                        <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive productimage" alt="Product" />
                    </div>
                </a>

            </div>
            <div class="product-details product-detail-info">
                @*<div class="product-rating">
                        @Html.Partial("_StarRating", Model.Rating)
                        @ratingText <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
                    </div>*@
                @if (CallForPricing)
                {
                    <div class="price"><label>@callForPricingMessage</label></div>
                }
                else
                {
                    <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                            {
                                <label>@Model.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.SalesPrice, null))
                                {
                                    <label>
                                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)
                                    </label>
                                    <span class="wcn-uom">@UOM</span>
                                    if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price">
                                            @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.PromotionalPrice > 0)
                                    {

                                        <label>@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)</label><span class="wcn-uom">@UOM</span>
                                        <span class="cut-price">
                                            @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                                        </span>
                                    }
                                    else
                                    {
                                        <label>
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                                        </label>
                                        <span class="wcn-uom">@UOM</span>
                                    }

                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }
                    </div>
                    <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                        <div class="wcn-product-name">@WebUtility.HtmlDecode(Model.Name)</div>
                    </a>
                }
            </div>
            @if (Convert.ToBoolean(ViewBag.FromLink))
            {
                <div class="col-xs-12 nopadding margin-bottom-10 padding-top-10">
                    @Html.Partial("../Product/ProductQuantityDropdown", Model)
                </div>
            }
        </div>
    </div>
</div>
