﻿@using Znode.Engine.WebStore.ViewModels
@model ProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    string UOM = Attributes.Value(Model?.Attributes, "UOM");
    string _gaproductSKU = string.IsNullOrEmpty(Model?.ConfigurableProductSKU) ? Model?.SKU : Model?.ConfigurableProductSKU;
}
@using Znode.Libraries.ECommerce.Utilities;
<h1 class="product-name" itemprop="name">@WebUtility.HtmlDecode(Model.Name)</h1>
<div class="product-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
    @Html.Partial("_StarRating", Model.Rating)
    @{
        int totalreviews = 0;
        totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
        string ratingText = Model.Rating > 0 ? string.Format(Custom_Resources.WCNTextRating, totalreviews) : string.Empty;
    }
    <a class="leave-reviews">
        <span itemprop="reviewCount">@ratingText</span>
        <span class="review-text">Leave review</span>
    </a>
</div>
@if (Model.Attributes.Value("Imprintable") == "true")
{
    <div class="col-xs-12 nopadding">
        @Html.RenderMessage("FastCustomImprinting")
    </div>
}
<div class="col-xs-12 nopadding">
    <div class="col-xs-12 product-price nopadding margin-top">
        @if (!IsCallForPricing && !isGroupProduct)
        {
            <h2>
                @if (!Equals(Model.SalesPrice, null))
                {
                    @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode)
                    <span class="wcn-uom" itemprop="priceCurrency">@UOM</span>
                    if (Model.SalesPrice != @Model.RetailPrice)
                    {
                        <span class="cut-price" itemprop="price">
                            @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                        </span>
                    }
                    @Html.Hidden("hdnwcnproductprice_" + Model.PublishProductId + "", Model.SalesPrice.ToPriceRoundOff())
                }
                else
                {
                    if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                    {
                        @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode)
                        <span class="wcn-uom" itemprop="priceCurrency">@UOM</span>
                        <span class="cut-price" itemprop="price">
                            @Html.RenderBlock("(was " + Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode) + ")")
                        </span>
                        @Html.Hidden("hdnwcnproductprice_" + Model.PublishProductId + "", Model.PromotionalPrice.ToPriceRoundOff())
                    }
                    else
                    {
                        <span class="black-price">
                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode)
                        </span>
                        <span class="wcn-uom">@UOM</span>
                        @Html.Hidden("hdnwcnproductprice_" + Model.PublishProductId + "", Model.RetailPrice.ToPriceRoundOff())
                    }
                }

            </h2>
        }
        @if (IsCallForPricing)
        {
            <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
        }
        @if (isGroupProduct)
        {
            <h2>
                <span id="groupproductmessage"></span>
            </h2>
        }
    </div>
    <div class="col-xs-12 product-sku margin-top">
        @if (!string.IsNullOrEmpty(Model.SKU))
        {
            <span>SKU:</span>
            string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
            <item itemprop="sku">@Html.RenderBlock(sku)</item>
        }
    </div>
    @if (Model.ShowAddToCart)
    {
        <div class="col-xs-12 product-availablity margin-top" id="dev-product-availablity">
            <span>Availablity: </span>@WebStore_Resources.TextInstock
        </div>
    }
    else
    {
        <div class="col-xs-12 product-availablity margin-top" id="dev-product-availablity">
            <span>Availability: </span>@WebStore_Resources.TextOutofStock
        </div>
    }
</div>


<script>
// Ecommerce - Product Click event.
$(document).ready(function () {
dataLayer.push({
    'event': 'productClick',
    'ecommerce': {
      'currencyCode': '@Model.CurrencyCode',
      'click': {
        'actionField': { 'list': $('<div />').html('@Model.CategoryName').text() },      // Optional list property.
        'products': [{
         'name': $('<div />').html('@Model.Name').text(),                      // Name or ID is required.
         'id': $('<div />').html('@_gaproductSKU').text(),
         'sku': $('<div />').html('@_gaproductSKU').text(),
         'price': parseFloat('@Model.ProductPrice.ToPriceRoundOff()'),
         'brand': 'WCN',
         'category': $('<div />').html('@Model.CategoryName').text(),
         'position': 1,
         'list': $('<div />').html('@Model.CategoryName').text()
         }]
       }
     }
  });
})
// Ecommerce - Detail event.
    $(document).ready(function () {
        dataLayer.push({
            'event': 'productDetailPage',
            'ecommerce': {
                'currencyCode': '@Model.CurrencyCode',
                'detail': {
                    'products': [{
                        'name': $('<div />').html('@Model.Name').text(),
                        'sku': $('<div />').html('@_gaproductSKU').text(),
                        'id': $('<div />').html('@_gaproductSKU').text(),
                        'price': parseFloat('@Model.ProductPrice.ToPriceRoundOff()'),
                        'brand': 'WCN',
                        'category': $('<div />').html('@Model.CategoryName').text(),
                        'list': $('<div />').html('@Model.CategoryName').text(),
                        'position': 1
                    }]
                }
            }
        });
    });

</script>