﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    var costomizeproduct = Model?.Attributes?.Where(x => x.AttributeCode == "IsCustomizable")?.ToList();
    bool IsCustomizable = Convert.ToBoolean(Model.Attributes?.Value("IsCustomizable"));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
}

@if (IsCustomizable && Model.ConfigurableData != null)
{
    @Html.Partial("_ConfigurableCustomizableAttribute", Model.ConfigurableData)
    @*@Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)*@
}
else if (Model.IsConfigurable)
{
    @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
}

    @*@switch (IsCustomizable)
        {
            case true:
                @Html.Partial("_ConfigurableCustomizableAttribute", Model)
                break;
            case false:
                @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
                break;
        }*@

    @*@if (Model.IsConfigurable && IsCustomizable)
        {
            @Html.Partial("_ConfigurableCustomizableAttribute", Model)
        }*@
    @*else if (Model.IsConfigurable)
        {
            @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
        }*@
    @{
        @*<div class="col-xs-12 nopadding">
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        <label for="Quantity">@WebStore_Resources.ColumnTitleQuantity</label>
                    </div>
                    <div class="col-xs-12 nopadding product-details-qty" id="product-details-quantity">
                        <input type="text" name='Quantity' value="@quantity" data-sku="@sku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) ? "disabled" : "") id="Quantity" onchange="Product.prototype.OnQuantityChange(this);">
                        <div id="quantity-error-msg" class="error-msg"></div>
                        <div id="dynamic-inventory" class="@inventoryMessageClass error-msg">@Model.InventoryMessage</div>
                    </div>
                </div>
            </div>*@
    }
