﻿<div id="recent-view-products" class="recent-view-items">
</div>
<script type="text/javascript">
    var ProductId = $("div[id='layout-product']").attr("data-id"); $.ajax({ url: "/Product/GetRecentViewProducts?productId=" + ProductId, type: "get" }).done(function (t) { $(".recent-view-items").html(t); typeof ZnodeBase!="undefined"?ZnodeBase.prototype.onImageError():""; });
</script>
