﻿@model Znode.Engine.WebStore.ViewModels.ProductReviewViewModel
<div class="col-xs-12 nopadding product-review padding-top-10">
    <div class="col-xs-12 nopadding review-title">
        <h5>@Html.Partial("_StarRating", Model.Rating) &nbsp; @Html.RenderBlock(Model.Headline)</h5>
    </div>
    <div class="col-xs-12 nopadding review-meta">@string.Format(WebStore_Resources.ReviewCreateTime, Model.UserName, Model.UserLocation, Model.CreatedDate)</div>
    <div class="col-xs-12 nopadding review-body">
        @Html.RenderBlock(Model.Comments)
    </div>
</div>

