﻿@using Znode.Engine.WebStore.ViewModels
@model ProductViewModel
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="zf-close-circle"></i></button>
            <h4 class="modal-title">@Custom_Resources.ViewMoreSaving</h4>
        </div>
        <div class="modal-body">
            <div class="col-xs-12 nopadding tier-price">
                @if (Model.TierPriceList?.Count > 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Item Qty</th>
                                <th>Price/Item</th>
                                <th>You Save</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TierPriceList)
                            {
                                <tr>
                                    <td>@Convert.ToDouble(item.Quantity)</td>

                                    <td>@Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode)</td>
                                    @* Calculates the % savings on tier pricing *@
                                    <td>@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</td>
                                </tr>


                            }
                          
                        </tbody>
                    </table>
                   
                }

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>


