﻿@model Znode.Engine.WebStore.ViewModels.ProductAllReviewListViewModel
@using Znode.Engine.WebStore.Models
@{
    string sort = Request.QueryString["Sort"] ?? "0";
}
<div id="layout-allreviews" class="main-wrapper">
    <div class="container">
        <div class="row all-reviews">
            <div class="col-xs-12 nopadding page-title">
                <h1 class="location-title">@WebStore_Resources.TextCustomerReviews</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <div id="layout-search">
                    <div class="search-sorting pull-right">
                        <div class="btn-group select" id="Sort" name="Sort">
                            <button type="button" class="btn-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-text">
                                    @switch (sort)
                                    {

                                        case WebStoreConstants.NewestFirst:
                                            <span>@WebStore_Resources.TextNewestFirst</span>
                                            break;
                                        case "OF":
                                            <span>@WebStore_Resources.TextOldestFirst</span>
                                            break;
                                        case "HRF":
                                            <span>@WebStore_Resources.TextHighestRatingFirst</span>
                                            break;
                                        case "LRF":
                                            <span>@WebStore_Resources.TextLowestRatingFirst</span>
                                            break;
                                        default:<span>@Custom_Resources.DropdownNewest</span>;
                                        break;
                                }
                                    <i class="zf-wcn-arrow-down"></i>
                                </div>
                            </button>
                            <ul class="dropdown-menu dropdown-box select dropdown-menu-right" id="Select_BestMatch">
                                <li value="NF"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.TextNewestFirst</a></li>
                                <li value="OF"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.TextOldestFirst</a></li>
                                <li value="HRF"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.TextHighestRatingFirst</a></li>
                                <li value="LRF"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.TextLowestRatingFirst</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="layout-paging">
                    <div class="search-paging">
                        @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
                    </div>
                </div>
                @*<div id="layout-search">
                        <div class="search-sorting col-xs-7 col-sm-2 nopadding">
                                @Html.DropDownList("Sort", new[] {
                               new SelectListItem() {Text = WebStore_Resources.TextNewestFirst, Value = WebStoreConstants.NewestFirst,  Selected = sort == WebStoreConstants.NewestFirst},
                               new SelectListItem() {Text = WebStore_Resources.TextOldestFirst, Value = WebStoreConstants.OldestFirst,  Selected = sort == WebStoreConstants.OldestFirst },
                               new SelectListItem() {Text = WebStore_Resources.TextHighestRatingFirst, Value = WebStoreConstants.HighestRatingFirst ,Selected = sort == WebStoreConstants.HighestRatingFirst},
                               new SelectListItem() {Text = WebStore_Resources.TextLowestRatingFirst, Value = WebStoreConstants.LowestRatingFirst,  Selected = sort == WebStoreConstants.LowestRatingFirst} })
                        </div>
                    </div>*@
            </div>
            <div class="col-xs-12 nopadding margin-top-bottom">
                <div class="col-xs-12 nopadding">
                    <h3 class="review-productname margin-bottom">
                        @if (!string.IsNullOrEmpty(Model.ProductName))
                        {
                            @Html.RenderBlock(Model.ProductName)
                        }
                    </h3>
                    <div class="wcn-all-review-btns">
                        <a href="@Url.GetProductUrl(Model.AllReviewsList.FirstOrDefault().SEOUrl, Convert.ToString(Model.ProductId))" class="btn btn-default">@WebStore_Resources.SubTitleProductReview</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink(WebStore_Resources.LinkTextWriteReview, "Writereview", "Product", new { id = Model.ProductId, name = @Model.ProductName }, new { @class = "btn btn-default write-review-btn" })
                        }
                        else
                        {
                            <a class="btn btn-default write-review-btn" href="JavaScript:void(0);" onclick="WCNUser.prototype.LoadLogin()">Write a review</a>
                        }
                    </div>
                </div>
                <div id="reviewrowlist">
                    @foreach (var item in Model.AllReviewsList)
                    {
                        @Html.Partial("_ReviewRow", item)
                    }
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.ProductId)
        @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
        <div class="search-paging search-paging-review col-xs-12 margin-bottom nopadding">
					<div class="col-xs-12 search-pagination">
						@* Paging Arrows *@
						<ul>
							<li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeftBottom" id="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button prev-page-search" title="Previous"><i class='zf-wcn-arrow-left-bold'></i></a></li>
							<li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRightBottom" id="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button next-page-search" title="Next"><i class='zf-wcn-arrow-right-bold'></i></a></li>
						</ul>
						@Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
					</div>

        </div>
    </div>

</div>
<script>
	$(document).ready(function () {
		ZSearch.prototype.Init();
	});
</script>
