﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    //    Request.QueryString["mode"]) != "guest"
    bool IsArtifiCartLoad = Request.QueryString["ArtifiLoadCart"] == "true" ? true : false;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId">

    <div class="container" id="main-content">
        <!-- Breadcrumb -->
        <div id="breadCrumb" class="breadcrumb-container"></div>
        <div class="row">
            @Html.Partial("_QuickViewProductView", Model)
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    <div id="Artifi-Designer-parent" class="container">
        <div id="artifi-product-name"></div>
        <div id="Artifi-Designer">
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>

<!--Template Level Script-->
<script src="@_fileLocation/Scripts/lib/jquery.simpleGallery.js"></script>
<script src="@_fileLocation/Scripts/lib/jquery.simpleLens.js"></script>

<!--Product Zoom Effect-->
<script>
    $(window).on("onload", function () { if (IsArtifiCartLoad) { } }); $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery(); $('#ImageZoom .simpleLens-big-image').simpleLens();
</script>