﻿<div id="layout-product" class="main-wrapper product-meta big-view-template">
    
    <div class="wrapper-container" id="main-content">
        <!-- Breadcrumb -->
        <div id="breadCrumb" class="breadcrumb-container"></div>

    </div>
    <div id="Artifi-Designer-parent" class="container">
        <div id="artifi-product-name"></div> 
        <div id="Artifi-Designer">
        </div>
    </div>

    <div id="successMessageDiv" style="display:none">
    </div>

</div>

<script src="~/Scripts/Extensions/ArtifiApi.js"></script>