﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string CurrController = Convert.ToString(ViewContext.RouteData.Values["controller"]).ToLower();
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    int minQty = Convert.ToInt16(Model.Attributes?.Value("MinimumQuantity"));
    int maxQty = Convert.ToInt32(Model.Attributes?.Value("MaximumQuantity"));
    int incQty = Convert.ToInt16(Model.Attributes?.Value("QtyIncrement"));
    bool IsCustomizable = Convert.ToBoolean(Model.Attributes?.Value("IsCustomizable"));
    bool _ArtifiPersonalize = Convert.ToBoolean(Model.Attributes.Value("ArtifiPersonalize"));
    bool _IsArtifiPersonalizeRequired = Convert.ToBoolean(Model.Attributes.Value("IsArtifiPersonalizeRequired"));
    int customizeDesignId = 0;
    decimal inHandQuantity = Convert.ToDecimal(Model.Quantity);
    bool isOutOfStock = (Attributes.CodeFromSelectValue(Model?.Attributes, ZnodeConstant.OutOfStockOptions) == "DontTrackInventory");

    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";

    //for add to cart
    if (Model != null)
    {
        if (Model.CartParameter == null)
        {
            string skucart = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.Attributes.Value(ZnodeConstant.ProductSKU);
            Model.CartParameter = new Dictionary<string, string>();
            Model.ProductType = Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
            Model.CartParameter.Add("ProductId", Model.PublishProductId.ToString());
            Model.CartParameter.Add("SKU", skucart);
            Model.CartParameter.Add("ProductType", Model.ProductType);
            Model.CartParameter.Add("Quantity", Model.Attributes.Value(ZnodeConstant.MinimumQuantity));
            Model.CartParameter.Add("ParentProductId", Model.ParentProductId.ToString());
            Model.CartParameter.Add("ConfigurableProductSKUs", Model.Attributes?.Value("DefaultSkuForConfigurable"));
            Model.CartParameter.Add("AddOnProductSKUs", string.Empty);
            Model.CartParameter.Add("PersonalisedCodes", string.Empty);
            Model.CartParameter.Add("PersonalisedValues", string.Empty);
            Model.CartParameter.Add("GACategoryName", Convert.ToString(Model.CategoryName));

            if (Model.AddOns?.Count > 0)
            {
                Model.CartParameter.Add("AutoAddonSKUs", string.Join(",", Model.AddOns.Where(x => x.IsAutoAddon)?.Select(y => y.AutoAddonSKUs)));
            }
            switch (Model.ProductType)
            {
                case ZnodeConstant.GroupedProduct:
                    Model.CartParameter.Add("GroupProductSKUs", string.Empty);
                    Model.CartParameter.Add("GroupProductsQuantity", string.Empty);
                    break;
                case ZnodeConstant.BundleProduct:
                    Model.CartParameter.Add("BundleProductSKUs", string.Empty);
                    break;
                default:
                    break;
            }
            disable = "";

        }
        //disable = Equals(Convert.ToDecimal(Model.Quantity), 0.0m) ? "disabled" : string.Empty;
    }
}

<div class="btn-add-to-cart">
    <div class="input-group spinner">
        @*don't remove the div #CartscrollReview*@
        @if (!IsCustomizable)
        {
            if (Model.Quantity > 0 || isOutOfStock || Convert.ToBoolean(ViewBag.FromPDP))
            {
                <div class="spinner">
                    @*<input type="text" name='Quantity' id="Quantity" class="quantity" value="@minQty" min='@minQty' max='@maxQty' data-productId="@Model.PublishProductId" data-incqty='@(incQty>0? incQty : 1)' data-sku="@sku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) ? "disabled" : "") onchange="Product.prototype.OnQuantityChange(this);" onkeypress="return isNumber(event)">*@
                    <input type="text" name='Quantity' id="Quantity" class="quantity spinnerQuantity_@Model.PublishProductId" value="@minQty" min='@minQty' max='@maxQty' data-productId="@Model.PublishProductId" data-incqty='@(incQty > 0 ? incQty : 1)' data-sku="@sku" data-parentsku="@Model.SKU" data-producttype="@Model.ProductType" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) ? "disabled" : "") onchange="WCNProduct.prototype.SpinnerQuantityChange(this);" onkeypress="return isNumber(event)" data-wcn-productname="@Model.Name">
                    <div class="input-group-btn-vertical">
                        <button onclick="WCNProduct.prototype.SpinnerUPClick(this)" class="btn btn-spinner ProdSpinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty > 0 ? incQty : 1)' data-sku="@sku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) || disable == "disabled" ? "disabled" : "")><i class="zf-up"></i></button>
                        <button onclick="WCNProduct.prototype.SpinnerDownClick(this)" class="btn btn-spinner ProdSpinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty > 0 ? incQty : 1)' data-sku="@sku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) || disable == "disabled" ? "disabled" : "")><i class="zf-down"></i></button>
                    </div>
                    <span class="qty">@Custom_Resources.LabelQuantity</span>
                </div>
                <div id="CartscrollReview">
                    @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/WCNProduct/AddProductToCart", Model.CartParameter, "btn btn-lable", "WCNProduct.prototype.BindAddOnProductSKU(this,event)", disable, "WCNProduct.prototype.DisplayAddToCartResult")
                </div>
            }
            else
            {
                <div class="col-xs-12 nopadding quick-view">
                    <button type="button" class="btn btn-lable quick-view-btn" onclick="javascript: location.href= '@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())'; WCNProduct.prototype.SetCategoryNameforGA('@Model.PublishProductId');">View Details</button>
                </div>
            }
        }
        else
        {
            if (_ArtifiPersonalize)
            {
                if (CurrController == "navigation" || CurrController == "search" || CurrController == "category" || Convert.ToBoolean(ViewBag.FromLink))
                {
                    <div class="col-xs-12 nopadding quick-view">
                        <button type="button" class="btn btn-lable quick-view-btn" onclick="javascript: location.href= '@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())'; WCNProduct.prototype.SetCategoryNameforGA('@Model.PublishProductId');">View Details</button>
                    </div>
                }
                else
                {
                    <div class="spinner">
                        <input type="text" name='Quantity' id="Quantity" class="quantity ArtifiClick spinnerQuantity_@Model.PublishProductId" artifi-qty-click="true" value="@minQty" min='@minQty' max='@maxQty' data-productId="@Model.PublishProductId" data-incqty='@(incQty>0? incQty : 1)' data-sku="@sku" data-parentsku="@Model.SKU" data-producttype="@Model.ProductType" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) ? "disabled" : "") onkeypress="return isNumber(event)" onchange="WCNProduct.prototype.SpinnerQuantityChange(this);" data-wcn-productname="@Model.Name">
                        <div class="input-group-btn-vertical">
                            <button onclick="WCNProduct.prototype.SpinnerUPClick(this)" class="btn btn-spinner ProdSpinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-sku="@sku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) || disable == "disabled" ? "disabled" : "")><i class="zf-up"></i></button>
                            <button onclick="WCNProduct.prototype.SpinnerDownClick(this)" class="btn btn-spinner ProdSpinner" type="button" min='@minQty' max='@maxQty' data-incqty='@(incQty>0? incQty : 1)' data-sku="@sku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) || disable == "disabled" ? "disabled" : "")><i class="zf-down"></i></button>
                        </div>
                        <span class="qty">@Custom_Resources.LabelQuantity</span>
                    </div>
                    <div id="CartscrollReview" style="display:none">
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/WCNProduct/AddProductToCart", Model.CartParameter, "btn btn-lable", "WCNProduct.prototype.BindAddOnProductSKU(this,event)", disable, "WCNProduct.prototype.DisplayAddToCartResult")
                    </div>

                    <div class="col-xs-12 col-md-6 nopadding pull-right quick-view">
                        <button type="button" class="btn btn-lable" id="artifi-design-call" data-artifisku="@Model.SKU" data-custmizeproductid="@customizeDesignId">Customize</button>
                    </div>
                }
            }

        }
    </div>
    <div id="dynamic-inventory-@Model.PublishProductId" class="@inventoryMessageClass error-msg hide-instock-msg dev-dynamic-inventory-@Model.PublishProductId">@Model.InventoryMessage</div>

    <div id="dynamic-inventory-inhand-@Model.PublishProductId" class="@inventoryMessageClass error-msg hide-instock-msg dev-dynamic-inventory-inhand-@Model.PublishProductId"></div>

    @Html.Hidden("hdnInHandQuantity-" + @Model.PublishProductId + "", inHandQuantity)
    @Html.Hidden("hdnOutOfStockOptions-" + @Model.PublishProductId + "", isOutOfStock)
    @Html.Hidden("hdnwcngapublishproductid_" + @Model.PublishProductId + "", @Model.PublishProductId)
    @Html.Hidden("hdnwcngacategoryname_" + @Model.PublishProductId + "", @Model.CategoryName)
    @Html.Hidden("hdnwcngacurrencycode", @Model.CurrencyCode)
</div>



<script>

    $(window).on("onload",function () {
        $("#dynamic-inventory-" +@Model.PublishProductId +"").show();
        if ($("#dynamic-inventory-" +@Model.PublishProductId +"").text() == "In-stock") {

            $("#dynamic-inventory-" +@Model.PublishProductId +"").text('');
        }
    });
</script>
