﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<div class="container">
    <div class="col-sm-12 nopadding">
        <div class="col-sm-9 nopadding">
            <z-widget>@Html.WidgetPartial("TextEditor", "Advertisment", "5557", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            <!--Home Page Slider Widget-->
             <z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
        <div class="col-sm-3 side-banners nopadding-right">
            <z-widget>@Html.WidgetPartial("OfferBanner", "AdvertisementBanner", "110", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
   @{ var WidgetPage = new Dictionary<string, object>
        {
        {"PageName", "WidgetPage"}
        }; 
       }

    <div class="col-xs-12 nopadding nf-offer-banner margin-bottom">
        <z-widget>@Html.WidgetPartial("OfferBanner", "NightFlyerAdvertisementBanner", "2996", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
    </div>

    <div class="col-sm-12 wcn-category-list-widget nopadding">
            <div class="col-sm-3 nopadding">
                <h3 class="product-list-title">@Html.RenderMessage("LastChance")</h3>
                <z-widget>@Html.WidgetPartial("CategoryList", "LastChance", "2990", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId, WidgetPage)</z-widget>
            </div>
            <div class="col-sm-3 nopadding">
                <h3 class="product-list-title">@Html.RenderMessage("ShopEarly")</h3>
                <z-widget>@Html.WidgetPartial("CategoryList", "ShopEarly", "2991", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId, WidgetPage)</z-widget>
            </div>
            <div class="col-sm-3 nopadding">
                <h3 class="product-list-title">@Html.RenderMessage("FeaturedThemes")</h3>
                <z-widget>@Html.WidgetPartial("CategoryList", "FeaturedThemes", "2992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId, WidgetPage)</z-widget>
            </div>
            <div class="col-sm-3 nopadding">
                <h3 class="product-list-title">@Html.RenderMessage("TopProductCategories")</h3>
                <z-widget>@Html.WidgetPartial("CategoryList", "TopProductCategorie", "2995", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId, WidgetPage)</z-widget>
            </div>

        </div>

</div>

<!---Promotional adv popup-->
@*<div class="modal fade wcn-promotional-adv-popup" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="zf-close"></i></button>
                <div class="modal-body">
                    <z-widget>@Html.WidgetPartial("TextEditor", "PromotionalAdvertismentPopup", "41478", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    @using (Ajax.BeginForm("WCNSignUpForNewsLetter", "WCNUser", null, new { @id = "WCNsearchform" }))
                    {
                        <div id="WCNnewsletter">
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">@Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required" })</div>
                            </div>
                            <div class="form-group">
                                @Html.TextBox("WCNtxtNewsLetterSignUp", "", new { placeholder = "Email" })
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="WCNbtnNewsLetterSignUp" type="button" onclick="Home.prototype.WCNValidationForEmailID();">Submit</button>
                                </span>
                            </div>
                        </div>
                    }
                    <p id="WCNnewslettererrormessage" style="display:none"></p>
                </div>
            </div>
        </div>
    </div>*@