﻿@using Znode.Engine.WebStore.ViewModels

@model List<StoreLocatorViewModel>

<div id="layout-content">
    <div class="col-xs-12 margin-top-bottom nopadding">
        <table class="table">
            <thead>
                <tr>
                    <th>@WebStore_Resources.TextStoreName</th>
                    <th>@WebStore_Resources.ColumnAddress</th>
                    <th>@WebStore_Resources.LabelPostalCode</th>
                    <th>@WebStore_Resources.TitlePhone</th>
                    <th>@WebStore_Resources.TitleMapLink</th>
                </tr>
            </thead>
            <tbody>
                @foreach (StoreLocatorViewModel store in Model)
                {
                    string DisplayAddress = $"{store.Address1}, {store.Address2}," + (string.IsNullOrEmpty(store.Address3) ? "" : $",{store.Address3} ,") + $" {store.CityName}, {store.StateName}";
                    <tr>
                        <td class="recent-order-title"><span class="recent-order-product">@WebUtility.HtmlDecode(store.StoreName)</span></td>
                        <td class="recent-order-date">@DisplayAddress</td>
                        <td class="recent-order-id"> @store.PostalCode</td>
                        <td class="recent-order-total">@store.PhoneNumber</td>
                        <td class="recent-order-reorder"><a href="@store.MapQuestURL" target="_blank">@WebStore_Resources.TitleMapLink</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>