﻿@using Znode.Engine.Admin.ViewModels;
@model TouchPointConfigurationListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@ERP_Resources.TextAssignTouchpoints</h1>
            <div class="pull-right btn-container" id="divSaveCancel">
                <button type="button" class="btn-text-icon" data-dismiss="modal" onclick="ZnodeBase.prototype.CancelUpload('UnassignedTouchPointsAsidePannel')"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right" id="divSave">
                    <button type="button" data-test-selector="popLinkSave" class="btn-text btn-text-secondary margin-left-10" id="unassignTouchpointId" onclick="ERPConfigurator.prototype.AssignTouchPointToActiveERP()">@Admin_Resources.ButtonSave</button>
                </div>

            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="asidePannelmessageBoxContainerId" style="display:none">
                <div class="col-sm-12 text-center error-msg margin-bottom" style="position:relative;">@Admin_Resources.ErrorSelectRecord</div>
            </div>
            @using (Ajax.BeginForm("GetUnAssignedTouchPointsList", "TouchPointConfiguration", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>

<script>
    ERPConfigurator.prototype.ShowHideSaveCancelButton();
</script>