﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}

<div class="row footer-container">
    <div class="col-12 col-lg-12 col-xl-12 mt-5">
        <div class="row" itemscope itemtype="http://schema.org/WebPage">
            <div class="col-12 col-md-2 footer-block mt-4 mt-md-5 p-lg-0 boder-bottom-line">
                <div id="accordion1" role="tablist" aria-multiselectable="true" class="widget">
                    <div role="tab" id="headingOne">
                        <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h3 class="footer-header" data-test-selector="lblFooterHelpHeading">@WebStore_Resources.LableAbout</h3>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            <div class="footer-help-section-link">
                                <z-widget>@Html.WidgetPartial("LinkPanel", "About", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-2 footer-block mt-4 mt-md-5 p-lg-0 boder-bottom-line">
                <div id="accordion2" role="tablist" aria-multiselectable="true" class="widget">
                    <div role="tab" id="headingTwo">
                        <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h3 class="footer-header" data-test-selector="lblFooterHelpHeading">@WebStore_Resources.LableContact</h3>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">
                            <div class="footer-help-section-link">
                                <z-widget>@Html.WidgetPartial("LinkPanel", "Contact", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 footer-block mt-4 mt-md-5 p-lg-0 boder-bottom-line">
                <div id="accordion3" role="tablist" aria-multiselectable="true" class="widget">
                    <div role="tab" id="headingThree">
                        <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3 class="footer-header" data-test-selector="lblFooterHelpHeading">@WebStore_Resources.ColumnShipping</h3>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-block">
                            <div class="footer-help-section-link">
                                <z-widget>@Html.WidgetPartial("LinkPanel", "ShippingInfo", "784965", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 footer-block boder-bottom-line">
                <div id="accordion4" role="tablist" aria-multiselectable="true" class="widget">
                    <div role="tab" id="headingFour">
                        <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h3 class="footer-header" data-test-selector="lblFooterStoreInfo">@WebStore_Resources.TitleSpecial</h3>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingFour">
                        <div class="card-block">
                            <div class="footer-help-section-link why-special">
                                <z-widget>@Html.WidgetPartial("TextEditor", "WhySpecial", "4587", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                                @Html.RenderMessage("OfferPriceGuaranteeFooter")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 footer-block boder-bottom-line">
                <div id="accordion5" role="tablist" aria-multiselectable="true" class="widget">
                    <div role="tab" id="headingFive">
                        <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h3 class="footer-header" data-test-selector="lblFooterStoreInfo">@WebStore_Resources.LableParty</h3>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="collapse desktop-collapse collapsefooter" role="tabpanel" aria-labelledby="headingFive">
                        <div class="card-block">
                            <div class="footer-help-section-link social-media-link-panel">
                                <z-widget>
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "JoinTheParty", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId, new Dictionary<string, object>() { { "IsImageRequired", true } })</z-widget>
                                </z-widget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#layout" class="back-to-top" data-test-selector="linkBackToTop" aria-hidden="true" tabindex="-1"><span class="up-icon"></span></a>
