﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    bool isEnableVoiceBasedSearch = (bool)PortalAgent.CurrentPortal.PortalFeatureValues.Where(x => x.Key.Contains(HelperUtility.StoreFeature.Enable_Voice_Based_Search.ToString()))?.FirstOrDefault().Value;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}

<div class="container header">
    <!--Start Skip Navigation-->
    <a href="#layout-content" class="skip-nav">@WebStore_Resources.SkipToContent</a>
    <!--End Skip Navigation-->
    @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>
        (WebStoreConstants.ImpersonationSessionKey) != null)
    {
        ImpersonationModel impersonation = SessionHelper.GetDataFromSession<ImpersonationModel>
    (WebStoreConstants.ImpersonationSessionKey);

        <div class="row proxy-login-section">
            <div class="container proxy-login d-flex justify-content-center align-items-center">
                <span>
                    @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                </span>
                <a href="/User/Logout" aria-label="logout" class="log-off btn btn-secondary px-2 py-1 mx-2 my-1" id="log-off" data-test-selector="linkLogOff"> @WebStore_Resources.LabelLogOff</a>
            </div>
        </div>
    }

    <!--Shiping Info Message Top Header-->
    @*<div class="row header-locale-container">
            <div class="container-fluid">
                <div class="row justify-content-center set-top-info d-none d-md-block">
                    @Html.RenderMessage("TopHeaderShippingInfo")
                </div>
            </div>
        </div>*@

    <div class="container p-0">
        <div class="row align-items-center main-head">
            <div class="site-logo justify-content-center order-2 order-lg-1">
                <a href="/" class="header-logo">
                    @{
                        if (string.IsNullOrEmpty(logo))
                        {
                            <h1>@title</h1>
                        }
                        else
                        {
                            <img data-src="@logo" src="@logo" alt="@title" class="img-fluid b-lazy" />
                        }
                    }
                </a>
            </div>
            <div class="col site-search order-6 order-md-2 order-lg-2">
                <!--Search Widget-->
                @*<button class="mobile-search-btn d-md-none"><span class="search-icon"></span></button>*@
                <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>

            <div class="site-login header-btn-block order-3 order-lg-3 header-nav-links">
                <span class="d-none d-lg-block">
                    <a href="tel:@customerServicePhoneNumber" alt="@customerServicePhoneNumber">@customerServicePhoneNumber</a>
                </span>   
                <span class="d-sm-none">
                    <a href="#" data-toggle="modal" data-target="#modelcallchat" alt="Call/Chat"><img src="../Views/Themes/WCN/Images/phone.svg" class="phone-icon-mobile"/></a>
                </span>
            </div>

            <div id="my_account" class="site-login header-btn-block order-4 order-lg-3 header-nav-links d-none d-lg-block">
                @Html.Action("LoginStatus", "User")
            </div>

            <div class="d-flex cart-btn-block justify-content-md-end order-3 order-md-3 order-lg-5 cart-button">
                <a href="/cart" class="cart-btn align-self-center " alt="Cart-Btn">
                    <span class="cart-icon"></span><div class="count-set"><span class="cartcount">@Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount())</span></div>
                </a>
            </div>
            <div class="w-100 d-none d-lg-block order-lg-5"></div>
            <div class="col p-0 d-flex navigation order-1 order-lg-7 align-items-center">
                <button class="mobile-nav-btn d-lg-none" title="Navigation" onclick="openCat()"><span class="icon hamburger-icon"></span></button>
            </div>
        </div>
    </div>
    @{ Html.RenderAction("GetMegaMenuList", "Category", new { profileId = Helper.GetProfileId(), portalId = Helper.GetCurrentPortalId(), localeId = Helper.GetLocaleId(), publishState = Helper.GetPublishState(), accountId = Helper.GetUserAccountId(), catalogId = Helper.GetUserProfileCatalogId() }); }
</div>

<div class="header-nav-container d-none d-lg-block">
    <div class="container-fluid">
        <div class="row">
            <!--Navigation Widget-->
            <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
        </div>
    </div>
</div>

<div class="side-nav-backdrop"></div>
<div id="mobile-navigation" class="mobile-navigation side-nav nav-left">
    <div class="col-12 text-right nav-header">
        <a href="JavaScript:void(0);" aria-label="Close" class="CloseNav p-0 close-icon"></a>
    </div>
    <ul class="parent-nav mr-auto align-self-stretch py-3">
        <li>
            <a data-target="#navigation" class="OpenMobileNav" href="JavaScript:void(0);">CATEGORIES</a>
        </li>
        <z-widget>@Html.WidgetPartial("LinkPanel", "Mobile Navigation", "22530", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
    </ul>
</div>

<div id="navigation" class="navigation side-nav nav-left">
    <div class="col-12 text-right nav-header">
        <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon"></a>
    </div>
</div>

<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get" }).done(function (t) { $(".cartcount").html(t); });
    if ($(".proxy-login-section").length > 0) {
        $('body').css("padding-top", "150px");
    }

    // Calculate header height and add padding top to body Starts
    $("body").css('padding-top', $("header").height());
    $(window).resize(function () {
        $("body").css('padding-top', $("header").height());
    });
    // Calculate header height and add padding top to body Ends

    // Start ADA Skip Nav Function
    $(document).ready(function () {
        $(".skip-nav").click(function (event) {
            var skipTo = "#" + this.href.split('#')[1];
            $(skipTo).attr('tabindex', -1).on('blur focusout', function () {
                $(this).removeAttr('tabindex');
            }).focus();
        });
    });
    // End ADA Skip Nav Function
</script>
