﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.Api.Models
@model  PromotionListViewModel
@{ //for shipping bar

    ShoppingCartModel shoppingCartModel = SessionHelper.GetDataFromSession<ShoppingCartModel>(WebStoreConstants.CartModelSessionKey);
    string cultureCode =  DefaultSettingHelper.DefaultCulture ;
    string shippingMsg = string.Empty;
    string showappliedoffer = string.Empty;
    string discountStr = " You are only @DISAMTDIFF away from ";
    var totalOrderAmt = shoppingCartModel?.SubTotal;
    string remainingAmtdisplay = null;
    List<string> prefreeshippingStr = new List<string>();
    Boolean nodeActive = false;
    string addClass = string.Empty;
    string OnHoverAppliedMsg = string.Empty;
    string OnHoverAmtOffMsg = string.Empty;
    string OnHoverAppliedAmount = string.Empty;
    int loopcount = 0;
    string DisAmtHover = "@DISAMT";
    decimal? minimumOrder = 0;
    string and = "and ", freeShpAmt = "";

    List<PromotionViewModel> promotionList = Model?.PromotionList?.Where(x => (x.PromotionTypeName == "Percent Off Shipping" || x.PromotionTypeName == "Percent Off Shipping With Carrier" || x.PromotionTypeName == "Amount Off Order") && x.IsCouponRequired == false).ToList();

    string currencyCode = shoppingCartModel?.CultureCode;
}
@if (Model?.PromotionList?.Count > 0)
{
    <div class="wcn-shipping-progress">
        @foreach (var item in promotionList)
        {
            <!--Start Step-->
            if (loopcount == 0)
            {
                <!--Start Step-->
                <div class="wcn-progress-start wcn-progress-step complete fist-child">
                    <div class="starting-point">
                        $0
                    </div>
                    <div class="text-center wcn-step-title">1</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="JavaScript:void(0);" data-trigger="hover" class="wcn-step-dot" data-toggle="popover" data-placement="top" title="" data-content="$0"></a>
                    <div class="wcn-step-info text-center">
                        1
                    </div>
                </div>
                    minimumOrder = promotionList[loopcount].OrderMinimum;

                    and = "";
                }
                if (totalOrderAmt < item.OrderMinimum)
                {
                    var remainingAmt = item.OrderMinimum - totalOrderAmt;
                    remainingAmtdisplay = remainingAmt.ToString();
                    discountStr = discountStr.Replace("@DISAMTDIFF", @Helper.FormatPriceWithCurrency(remainingAmt, currencyCode));
                    // discountStr = discountStr.Replace("@DISAMT", "$" + item.Discount.ToString() + "!");
                    DisAmtHover = DisAmtHover.Replace("@DISAMT",  @Helper.FormatPriceWithCurrency(item.Discount, currencyCode) + " off!");
                    nodeActive = false;

                }
                else
                {
                    //make the node active
                    nodeActive = true;
                    var lastIndex = Model.PromotionList.Count();
                    var index = Model.PromotionList.IndexOf(item);
                    if (index != lastIndex - 1)
                    {
                        var nextItem = Model.PromotionList[index + 1];
                        minimumOrder = nextItem.OrderMinimum;
                        and = "and ";
                    }
                    prefreeshippingStr.Add(@Helper.FormatPriceWithCurrency(item.Discount, cultureCode) + " off");
                    //OnHoverAppliedAmount = item.Discount.ToString
                    OnHoverAppliedAmount = item.OrderMinimum.ToString();


                }
                addClass = nodeActive ? "active" : "disabled";
                if (item.PromotionTypeName == "Percent Off Shipping With Carrier")
                {
                    if (item.Discount == 100)
                    {
                    <div class="wcn-progress-step wcn-free-shipping wcn-bar-15 @addClass">
                        <div class="text-center wcn-step-title">Free Shipping</div>
                        <div class="popover permanent-popover top in"><div class="arrow" style="left: 50.4545%;"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">Free Shipping</div></div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="JavaScript:void(0);" data-trigger="hover" class="wcn-step-dot" data-toggle="popover" data-placement="top" title="" data-content="Free Shipping"></a>
                        <div class="wcn-step-info text-center">
                            @*$@item.OrderMinimum*@
                            @Helper.FormatPriceWithCurrency(item.OrderMinimum, cultureCode)
                        </div>
                    </div>
                }
            }
            else
            {

                if (Model.PromotionList.IndexOf(item) != Model.PromotionList.Count - 1)
                {
                    <!--Free Shipping Step-->
                    <div class="wcn-progress-step wcn-bar-15 @addClass">
                        <div class="text-center wcn-step-title">@Helper.FormatPriceWithCurrency(item.Discount,cultureCode) off</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="JavaScript:void(0);" data-trigger="hover" class="wcn-step-dot" data-toggle="popover" data-placement="top" title="" data-content="@Helper.FormatPriceWithCurrency(item.Discount,cultureCode) off"></a>
                        <div class="wcn-step-info text-center">
                            @*$@item.OrderMinimum*@
                            @Helper.FormatPriceWithCurrency(item.OrderMinimum, cultureCode)
                        </div>
                    </div>
                }
                else
                {
                    // this is the last item
                    <!--End Step-->
                    <div class="wcn-progress-end wcn-progress-step @addClass">
                        <div class="ending-point">
                            @Html.RenderBlock(Helper.FormatPriceWithCurrency(item.OrderMinimum + 1, cultureCode) + " +")

                        </div>
                        <div class="text-center wcn-step-title">@Helper.FormatPriceWithCurrency(item.Discount, cultureCode) off</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="JavaScript:void(0);" data-trigger="hover" class="wcn-step-dot" data-toggle="popover" data-placement="top" title="" data-content="@Helper.FormatPriceWithCurrency(item.Discount,cultureCode) off"></a>
                        <div class="wcn-step-info text-center">
                            @Helper.FormatPriceWithCurrency(item.OrderMinimum, cultureCode)
                        </div>
                    </div>
                }

            }
            loopcount = loopcount + 1;
        }
    </div>
    //set the display message for shipping and order off bar.
    if (prefreeshippingStr.Count > 0)
    {
        if (prefreeshippingStr.Count == 1)
        {
            showappliedoffer = (prefreeshippingStr[0].Contains($"{@Helper.FormatPriceWithCurrency(100, cultureCode)} off") ? prefreeshippingStr[0].Replace($"{@Helper.FormatPriceWithCurrency(100, cultureCode)} off", "Free Shipping ") : prefreeshippingStr[0]);
            OnHoverAppliedMsg = showappliedoffer + " on Order " + "$" + OnHoverAppliedAmount;
        }
        else
        {
            showappliedoffer = (prefreeshippingStr[0].Contains($"{@Helper.FormatPriceWithCurrency(100, cultureCode)} off") ? prefreeshippingStr[0].Replace($"{@Helper.FormatPriceWithCurrency(100, cultureCode)} off", "Free Shipping ") : prefreeshippingStr[0]) + " + " + prefreeshippingStr[prefreeshippingStr.Count - 1];
        }

    }


}
@{
    var showappliedofferstrhtml = "<span class='wcn-green-underline' data-trigger='hover' data-toggle='popover' data-placement='bottom' title='" + @showappliedoffer + " applied!" + "'>" + showappliedoffer + "</span>";
    DisAmtHover = DisAmtHover.Contains($"{@Helper.FormatPriceWithCurrency(100, cultureCode)} off!") ? DisAmtHover.Replace($"{@Helper.FormatPriceWithCurrency(100, cultureCode)} off!", "") : DisAmtHover;
    freeShpAmt = DisAmtHover == "" ? "Free Shipping!" : DisAmtHover;
    var showdisAmtstrhtml = "<span class='wcn-block-in-minicart'>" + discountStr + "</span>" + "<span class='wcn-green-underline' data-trigger='hover' data-toggle='popover' data-placement='bottom' data-content='*exclusions apply' title ='" + "Free Shipping " + and + @DisAmtHover + " on orders " + @Helper.FormatPriceWithCurrency(minimumOrder, cultureCode) + "+" + "'>" + freeShpAmt + "</span>";
    var shopMore = "<a class='wcn-shop-more-btn' href='/' data-dismiss='modal'> Shop More <i class='zf-wcn-arrow-right-bold'></i></a>";
    shippingMsg = showappliedoffer != "" ? showappliedofferstrhtml + " applied! " + showdisAmtstrhtml + shopMore : showdisAmtstrhtml + shopMore;
}
@if (shippingMsg.Contains("DISAMTDIFF"))
{
    shippingMsg = showappliedofferstrhtml + " applied! " + shopMore;
}
@if (loopcount > 0)
{
    <div class="col-xs-12 shipping-bar-status">@Html.RenderBlock(shippingMsg)</div>
}
<script>
    $(document).ready(function () { $('[data-toggle="tooltip"]').tooltip(); $('[data-toggle="popover"]').popover(); });
</script>
