﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{
    string mediaThumbnailImagePath = MediaPaths.MediaThumbNailPath;
    string mediaPath = MediaPaths.MediaPath;
    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    object imagePath = string.Empty;
    // Model.PersonaliseValuesList?.TryGetValue("ArtifiImagePath", out imagePath);
    // imagePath = !string.IsNullOrEmpty(imagePath?.ToString()) ? imagePath.ToString() : @Model.ImagePath;

    imagePath = Convert.ToString(Model?.PersonaliseValuesDetail?.Where(w => w.PersonalizeCode.ToLower() == "artifiimagepath")?.Select(s => s.PersonalizeValue)?.FirstOrDefault());

    imagePath = !string.IsNullOrEmpty(imagePath?.ToString()) ? imagePath.ToString() : @Model.ImagePath;

    bool isArtifiDesignId = Convert.ToBoolean(Model?.PersonaliseValuesDetail?.Any(a => a.PersonalizeCode.ToLower() == "artifidesignid"));
    bool isFromSinglePageCheckout = this.ViewData.ContainsKey("isFromSinglePageCheckout") ? Convert.ToBoolean(this.ViewData["isFromSinglePageCheckout"]) : false;

}
<tr>
    <td class="remove-item" style="@_displayRemoveLink">
        @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:void(0)" class="cart-item-remove" onclick="javascript:$($(this).closest('form').submit());" title="Remove Item"><i class="zf-wcn-cancel-circle"></i></a>
        }
    </td>
    <td class="cart-item-details">
        <div class="col-xs-12 col-sm-3 col-md-2 nopadding cart-image">
            @if (isArtifiDesignId)
            {
                <img src="@imagePath" class="img-responsive" alt="">
            }
            else
            {
                <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" data-src="@Model.ImagePath"><img src="@imagePath" data-src="@Model.ImagePath" class="img-responsive  b-lazy" alt=""></a>
            }
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 nopadding cart-description">
            @if (isArtifiDesignId)
            {
                <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a><br />
                string artifiSKU = !string.IsNullOrEmpty(Model.ConfigurableProductSKUs) ? Model.ConfigurableProductSKUs : Model.SKU;
                <span>SKU: @Html.RenderBlock(artifiSKU)</span>
            }
            else
            {
                <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a><br />
                <span class="cart-item-title"> SKU:</span> @Html.RenderBlock(String.IsNullOrEmpty(Model.ConfigurableProductSKUs) ? Model.SKU : Model.ConfigurableProductSKUs)

            }

            <div class="cart-item-description">
                @if (Model?.PersonaliseValuesDetail?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesDetail)
                    {
                        if (!Equals(item.PersonalizeCode, null) && !Equals(item.PersonalizeValue, string.Empty))
                        {
                            if (Equals(item.PersonalizeCode.ToLower(), "artifidesignid"))
                            {
                                decimal productQuantity = 0M;

                                productQuantity = productQuantity > 0 ? productQuantity : Model.Quantity;
                                <ul class="action-ui">
                                    @if (!isFromSinglePageCheckout)
                                    {
                                        <li>
                                            <a href="#" data-sku="@Model.SKU" data-productname="@Model.ProductName" data-configurablesku="@Model.ConfigurableProductSKUs" data-quantity="@productQuantity" data-productid="@productId" data-custmizeproductid="@item.PersonalizeValue" id="artifi-design-edit" class="cart-item-title">@Artifi_Resource.LabelEditDesign</a>
                                        </li>
                                    }
                                    <li>
                                        <a href="#" data-sku="@Model.SKU" data-configurablesku="@Model.ConfigurableProductSKUs" data-custmizeproductid="@item.PersonalizeValue" id="artifi-previewproduct" class="cart-item-title" data-toggle="modal" data-target=".preview-popup">@Artifi_Resource.LabelPreview</a>
                                    </li>
                                </ul>
                            }
                            else if (item.PersonalizeCode.ToLower() != "artifidesignid" && item.PersonalizeCode.ToLower() != "artifiimagepath" && !Equals(item.PersonalizeCode, "gacategoryname"))
                            {
                                <p>@item.PersonalizeCode : @item.PersonalizeValue</p>
                            }
                        }
                    }
                }
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p><i class="zf-caret-right"></i>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-description">@Html.RenderBlock(Model.CartDescription)</div>
            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>

    </td>
    <td class="cart-item-unitprice">

        @if (Model?.GroupProducts?.Count > 0)
        {
            foreach (var item in Model.GroupProducts)
            {
                <div class="group-product-list">
                    @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                </div>
            }
        }
        else
        {
            @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, Model.UOM)
        }


    </td>
    <td class="cart-item-quantity">
        @Html.Partial("_Quantity", Model)
    </td>
    <td class="cart-item-total">
        @Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)
    </td>
</tr>
<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>