﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{
    string mediaThumbnailImagePath = MediaPaths.MediaThumbNailPath;
    string mediaPath = MediaPaths.MediaPath;
    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    object imagePath = string.Empty;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    Model.PersonaliseValuesList?.TryGetValue("ArtifiImagePath", out imagePath);
    imagePath = !string.IsNullOrEmpty(imagePath?.ToString()) ? imagePath.ToString() : @Model.ImagePath;

}
<div class="col-xs-12 mini-cart-row padding-top">
    <div class="col-xs-1 nopadding remove-item">
        <a href="javascript:void(0)" class="cart-item-remove" onclick="Cart.prototype.DeleteMiniCartRow('@Model.ExternalId','@Model.ConfigurableProductSKUs','@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())')" title="Remove Item"><i class="zf-wcn-cancel-circle"></i></a>
    </div>
    <div class="col-xs-3 nopadding">
        @if (Model.PersonaliseValuesList.ContainsKey("ArtifiDesignId"))
        {
            <img src="@imagePath" class="img-responsive" alt="">
        }
        else
        {
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@imagePath" class="img-responsive" alt=""></a>
        }
    </div>
    <div class="col-xs-8 nopadding padding-left-10">
        @if (Model.PersonaliseValuesList.ContainsKey("ArtifiDesignId"))
        {
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>
        }
        else
        {
            <a href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>
        }
        <div class="cart-item-description">
            @if (Model?.PersonaliseValuesList?.Count > 0)
            {
                foreach (var item in Model.PersonaliseValuesList)
                {
                    if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                    {

                        if (item.Key == "ArtifiDesignId")
                        {
                            string groupoProductSku = string.Empty;
                            string productName = Model.ProductName;
                            decimal productQuantity = 0M;

                            if (Model.GroupProducts.Count > 0)
                            {
                                groupoProductSku = Model.GroupProducts.Select(s => s.Sku).FirstOrDefault();
                                productQuantity = Model.GroupProducts.Select(s => s.Quantity).FirstOrDefault();
                                productName = Model.GroupProducts.Select(s => s.ProductName).FirstOrDefault();
                            }
                            productQuantity = productQuantity > 0 ? productQuantity : Model.Quantity;
                            <ul class="action-ui">
                                <li>
                                    <a href="#" data-groupsku="@groupoProductSku" data-sku="@Model.SKU" data-productname="@productName" data-configurablesku="@Model.ConfigurableProductSKUs" data-quantity="@productQuantity" data-productid="@productId" data-custmizeproductid="@item.Value" id="artifi-design-edit" class="cart-item-title">@Artifi_Resource.LabelEditDesign</a>
                                </li>
                                <li>
                                    <a href="#" data-groupsku="@groupoProductSku" data-sku="@Model.SKU" data-configurablesku="@Model.ConfigurableProductSKUs" data-custmizeproductid="@item.Value" id="artifi-previewproduct" class="cart-item-title" data-toggle="modal" data-target=".preview-popup">@Artifi_Resource.LabelPreview</a>
                                </li>
                            </ul>
                        }
                        else if (item.Key != "ArtifiDesignId" && item.Key != "ArtifiImagePath")
                        {
                            <p>@item.Key : @item.Value</p>
                        }
                    }
                }
            }
        </div>
        <div class="group-product-list">
            @if (Model?.GroupProducts?.Count > 0)
            {
                foreach (var item in Model.GroupProducts)
                {
                    <p><i class="zf-caret-right"></i> @item.ProductName</p>
                }
            }
        </div>
        <div class="cart-item-description">@Html.RenderBlock(Model.CartDescription)</div>
        @if (!Model.IsAllowedTerritories)
        {
            <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
        }
    </div>
</div>
<div class="col-xs-12 nopadding mini-cart-price padding-top-bottom">
    <div class="col-xs-3 nopadding cart-item-quantity padding-left">
        <div class="col-xs-12 nopadding quantity-value">
            <p>Qty</p>
            @Html.Partial("_Quantity", Model)
        </div>
    </div>
    <div class="col-xs-4 nopadding cart-item-unitprice padding-left-10">
        @if (Model?.GroupProducts?.Count > 0)
        {
            foreach (var item in Model.GroupProducts)
            {
                <div class="group-product-list">
                    <p>Unit Price</p>@Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                </div>
            }
        }
        else
        {
            <p>Unit Price</p> @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
            <span>@Model.UOM</span>
        }
    </div>
    <div class="col-xs-4 nopadding cart-item-total padding-left-10">
        <p>@WebStore_Resources.LabelSubTotal</p>
        <p class="pull-right padding-right">@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</p>
    </div>
    <div class="col-xs-12 nopadding">
        @*@{decimal? maxQty =  Model.QuantityOnHand == 0 ? Model.MaxQuantity : Model.QuantityOnHand;}
        @if (Model.Quantity > maxQty)
        {
            <span class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</span>
            <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
        }*@
    </div>

</div>
<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>