﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    int portalId = PortalAgent.CurrentPortal.PortalId;
}

<div class="col-xs-12 nopadding padding-bottom advertisement-zwidget">
    <z-widget>@Html.WidgetPartial("TextEditor", "Advertisment", "55588", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
</div>
@if (Model?.ShoppingCartItems?.Any() ?? false)
{
    <div class="col-xs-12 col-sm-9 wcn-shopping-details nopadding margin-bottom">
        <div class="col-xs-12 nopadding wcn-cart-title">
            <h1 class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
        </div>
        <div class="col-xs-12 table-responsive cart-products nopadding">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Custom_Resources.LabelProductTitle</th>
                        <th>@Custom_Resources.ColumnTitleUnitPrice</th>
                        <th>@WebStore_Resources.ColumnTitleQty</th>
                        <th>@WebStore_Resources.LabelSubTotal</th>
                    </tr>
                </thead>
                <tbody>
                    @*To show the recently added product on the top of cart.*@
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                    {
                        @Html.Partial("_CartRow", cartItem)
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 nopadding" id="wcn-cart-promotionbar">
            <!--promotion & shipping bar-->
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 nopadding">
        <div class="col-xs-12 wcn-shopping-summary">
            <div class="col-xs-12 nopadding wcn-summary-heading">
                <h1 class="page-title">Summary</h1>
            </div>
            <div class="col-xs-12 cart-summary nopadding">
                <div class="col-xs-12 nopadding cart-total">
                    <img src="~/Views/Themes/Windy_City/Images/loader-small.svg" style="width:50px;height:50px;margin: 10px auto;display:block;" />
                    <p class="text-center">Calculating...</p>
                    <script>
                        $.get("/cart/CalculateCart", function (res) {
                            $(".cart-total").html(res);
                            $.get("/wcncheckout/GetPromotionBar", function (res) {
                                $("#wcn-cart-promotionbar").html('');
                                $("#wcn-cart-promotionbar").html(res);
                            });
                        });
                    </script>

                </div>
                <div class="col-xs-12 nopadding">

                    <a href="/WCNCheckout/Index" class="btn btn-default btn-full checkOut-link btn-color-yellow" id="checkOut-link">@WebStore_Resources.ButtonCheckout</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 nopadding text-center">
            @Html.RenderMessage("OfferPriceGuarantee")
        </div>
    </div>
}
else
{
    <div class="col-xs-12 nopadding cart-summary">
        <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
    </div>
}

<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get" }).done(function (t) { $(".cartcount").html(t); });
</script>



