﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries
@using Znode.Libraries.Resources
@model CartViewModel

@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
}

<div id="divShoppingCart">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding shopping-cart">
                    <div id="divShoppingCart">
                        @Html.Partial("_shoppingCart", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Extensions/ArtifiApi.js"></script>
<script>
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            $(".checkOut-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
        if ((@Model.UserId > 0))
        {
            GetArtfiCredentials(@portalId, sessionStorage.getItem("UserId"), true, function(){
            });
            UpdateUserId(sessionStorage.getItem("UserId"), @Model.UserId,@portalId);
        }
        else {
            GetArtfiCredentials(@portalId, sessionStorage.getItem("UserId"), true, function(){
            });
        }
        //GetArtfiCredentials(@portalId,localStorage.getItem("UserId"),true, function(response){})
    }
</script>

<script>
    var isValid = $("#hdndisablecheckout").val();

    if(isValid!=null && isValid!="" && typeof isValid!='undefined' && isValid.toLowerCase()=="true" )
    {
        $(".checkOut-link").addClass('disable-anchor');
    }
</script>
