﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel

@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();

    string isLaunchArtifi = Convert.ToString(Model?.ShoppingCartItems?.Any(x => x.PersonaliseValuesList.ContainsKey("ArtifiDesignId")));

    string errorMessage = string.Empty;
    foreach (CartItemViewModel item in Model?.ShoppingCartItems ?? new List<CartItemViewModel>())
    {
        if (item.InsufficientQuantity)
        {
            errorMessage = errorMessage + "<li class='error-msg padding-bottom-10'>" + @item.ProductName + " is currently not available." + "</li>";
        }
    }
}

<div id="divShoppingCart" class="mini-cart-popup">
    <div class="col-xs-12 nopadding mini-cart">
        <div class="col-xs-12 nopadding wcn-cart-title padding-top-bottom">
            <h1>Cart Summary</h1>
        </div>
        @if (Model?.ShoppingCartItems?.Any() ?? false)
        {
            <div class="col-xs-12 nopadding cart-total">
                @*hiding gift card amount on mini cart*@
                @Html.Partial("../_TotalTableForMiniCart", Model)
            </div>
            <div class="col-xs-12 nopadding checkout-button">
                <a href="/Cart/Index" class="btn btn-default btn-full checkOut-link btn-color-yellow" id="checkOut-link">View Cart & Checkout</a>

                <div style="display:none" id="dev-ShowOutOfStock-Message">
                    <ul class="padding-top-10">
                        @Html.RenderBlock(errorMessage)
                    </ul>

                </div>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 table-responsive cart-products nopadding">

                    @*To show the recently added product on the top of cart.*@
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                    {
                        // @Html.Partial("../Cart/_MiniCartRow", cartItem)

                        string mediaThumbnailImagePath = MediaPaths.MediaThumbNailPath;
                        string mediaPath = MediaPaths.MediaPath;
                        int productId = cartItem.ParentProductId > 0 ? cartItem.ParentProductId : !string.IsNullOrEmpty(cartItem.ProductId) ? Convert.ToInt32(cartItem.ProductId) : 0;
                        object imagePath = string.Empty;
                        string _displayRemoveLink = Request.Path.Contains("Checkout") ? cartItem.IsAllowedTerritories ? "display:none" : "" : "";
                        cartItem.PersonaliseValuesList?.TryGetValue("ArtifiImagePath", out imagePath);
                        imagePath = !string.IsNullOrEmpty(imagePath?.ToString()) ? imagePath.ToString() : @cartItem.ImagePath;

                        <div class="col-xs-12 mini-cart-row padding-top">
                            <div class="col-xs-1 nopadding remove-item">
                                <a href="javascript:void(0)" class="cart-item-remove" onclick="Cart.prototype.DeleteMiniCartRow('@cartItem.ExternalId','@cartItem.ConfigurableProductSKUs','@Url.GetProductUrl(cartItem?.SeoPageName, productId.ToString())')" title="Remove Item"><i class="zf-wcn-cancel-circle"></i></a>
                            </div>
                            <div class="col-xs-3 nopadding">
                                @if (cartItem.PersonaliseValuesList.ContainsKey("ArtifiDesignId"))
                                {
                                    <img src="@imagePath" class="img-responsive" alt="">
                                }
                                else
                                {
                                    <a href="@Url.GetProductUrl(cartItem?.SeoPageName, productId.ToString())"><img src="@imagePath" class="img-responsive" alt=""></a>
                                }
                            </div>
                            <div class="col-xs-8 nopadding padding-left-10">
                                @if (cartItem.PersonaliseValuesList.ContainsKey("ArtifiDesignId"))
                                {
                                    <a href="@Url.GetProductUrl(cartItem?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(cartItem.ProductName)</a>
                                }
                                else
                                {
                                    <a href="@Url.GetProductUrl(cartItem?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(cartItem.ProductName)</a>
                                }
                                <div class="cart-item-description">
                                    @if (cartItem?.PersonaliseValuesList?.Count > 0)
                                    {
                                        foreach (var item in cartItem.PersonaliseValuesList)
                                        {
                                            if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                            {

                                                if (item.Key == "ArtifiDesignId")
                                                {
                                                    string groupoProductSku = string.Empty;
                                                    string productName = cartItem.ProductName;
                                                    decimal productQuantity = 0M;

                                                    if (cartItem.GroupProducts.Count > 0)
                                                    {
                                                        groupoProductSku = cartItem.GroupProducts.Select(s => s.Sku).FirstOrDefault();
                                                        productQuantity = cartItem.GroupProducts.Select(s => s.Quantity).FirstOrDefault();
                                                        productName = cartItem.GroupProducts.Select(s => s.ProductName).FirstOrDefault();
                                                    }
                                                    productQuantity = productQuantity > 0 ? productQuantity : cartItem.Quantity;
                                                    <ul class="action-ui">
                                                        <li>
                                                            <a href="#" data-groupsku="@groupoProductSku" data-sku="@cartItem.SKU" data-productname="@productName" data-configurablesku="@cartItem.ConfigurableProductSKUs" data-quantity="@productQuantity" data-productid="@productId" data-custmizeproductid="@item.Value" id="artifi-design-edit" class="cart-item-title">@Artifi_Resource.LabelEditDesign</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-groupsku="@groupoProductSku" data-sku="@cartItem.SKU" data-configurablesku="@cartItem.ConfigurableProductSKUs" data-custmizeproductid="@item.Value" id="artifi-previewproduct" class="cart-item-title" data-toggle="modal" data-target=".preview-popup">@Artifi_Resource.LabelPreview</a>
                                                        </li>
                                                    </ul>
                                                }
                                                else if (item.Key != "ArtifiDesignId" && item.Key != "ArtifiImagePath")
                                                {
                                                    <p>@item.Key : @item.Value</p>
                                                }
                                            }
                                        }
                                    }
                                </div>
                                <div class="group-product-list">
                                    @if (cartItem?.GroupProducts?.Count > 0)
                                    {
                                        foreach (var item in cartItem.GroupProducts)
                                        {
                                            <p><i class="zf-caret-right"></i> @item.ProductName</p>
                                        }
                                    }
                                </div>
                                <div class="cart-item-description">@Html.RenderBlock(cartItem.CartDescription)</div>
                                @if (!cartItem.IsAllowedTerritories)
                                {
                                    <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 nopadding mini-cart-price padding-top-bottom">
                            <div class="col-xs-3 nopadding cart-item-quantity padding-left">
                                <div class="col-xs-12 nopadding quantity-value">
                                    <p>Qty</p>
                                    @Html.Partial("_Quantity", cartItem)
                                </div>
                            </div>
                            <div class="col-xs-4 nopadding cart-item-unitprice padding-left-10">
                                @if (cartItem?.GroupProducts?.Count > 0)
                                {
                                    foreach (var item in cartItem.GroupProducts)
                                    {
                                        <div class="group-product-list">
                                            <p>Unit Price</p>@Helper.FormatPriceWithCurrency(cartItem.UnitPrice, cartItem.CultureCode)
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Unit Price</p> @Helper.FormatPriceWithCurrency(cartItem.UnitPrice, cartItem.CultureCode)
                                    <span>@cartItem.UOM</span>
                                }
                            </div>
                            <div class="col-xs-4 nopadding cart-item-total padding-left-10">
                                <p>@WebStore_Resources.LabelSubTotal</p>
                                <p class="pull-right padding-right">@Helper.FormatPriceWithCurrency(cartItem.ExtendedPrice, cartItem.CultureCode)</p>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @*@{decimal? maxQty =  Model.QuantityOnHand == 0 ? Model.MaxQuantity : Model.QuantityOnHand;}
                                    @if (Model.Quantity > maxQty)
                                    {
                                        <span class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</span>
                                        <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
                                    }*@
                            </div>

                        </div>
                    }

                </div>
            </div>
            <div class="col-xs-12 nopadding cart-promo-bar">
                @Html.Partial("../Cart/_CartPromotionBar", Model)
            </div>
            <div class="col-xs-12 nopadding">
                @*hiding gift card amount on mini cart*@
                @Html.Partial("../_TotalTableForMiniCart", Model)
            </div>
            <div class="col-xs-12 col-sm-12 wcn-shopping-summary nopadding">
                <div class="col-xs-12 cart-summary nopadding">
                    <div class="col-xs-12 nopadding checkout">
                        <a href="/Cart/Index" class="btn btn-default btn-full checkOut-link btn-color-yellow" id="checkOut-link">View Cart & Checkout</a>
                        <span id="spnCartCount" style="display:none">@Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount())</span>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-xs-12 nopadding cart-summary">
                <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
            </div>
            <span id="spnCartCount" style="display:none">@Helper.GetRoundOffQuantity(WidgetHelper.GetCartCount())</span>
        }
    </div>
</div>
<script>
    if ('@isLaunchArtifi'=='True')
    {
        $.getScript('/Scripts/Extensions/ArtifiApi.js',function(){
            if ((@Model.UserId > 0))
            {
                GetArtfiCredentials(@portalId, localStorage.getItem("UserId"), true, function(){
                });
                UpdateUserId(localStorage.getItem("UserId"), @Model.UserId,@portalId);
            }
            else {
                GetArtfiCredentials(@portalId, localStorage.getItem("UserId"), true, function(){
                });
            }
        });
    }
    $(document).ready(function () {
        if ('@insufficientQuantity' == 'True') {
            $(".checkOut-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');

            $("#dev-ShowOutOfStock-Message").show();
        }
        else
        {
            $("#dev-ShowOutOfStock-Message").hide();
        }
        @*if(window.LaunchArtifi)
        {
            if ((@Model.UserId > 0))
            {
                GetArtfiCredentials(@portalId, localStorage.getItem("UserId"), true, function(){
                });
                UpdateUserId(localStorage.getItem("UserId"), @Model.UserId,@portalId);
            }
            else {
                GetArtfiCredentials(@portalId, localStorage.getItem("UserId"), true, function(){
                });
            }
        }*@
        var isValid= $("#hdndisablecheckout").val();

        if(isValid!=null && isValid!="" && typeof isValid!='undefined' && isValid.toLowerCase()=="true" )
        {
            $(".checkOut-link").addClass('disable-anchor');
        }
    });
</script>
