﻿@using Znode.Engine.Admin.ViewModels;
@model SearchAttributesListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="dirtyignore">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.LabelAddSearchableAttributes</h1>
            <div class="pull-right">
                <button id="CancelDisplayOrder" type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('addAttributesPanel')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button type="button" class="btn-text btn-text-secondary margin-left-10" onclick="Search.prototype.AddAttributes()" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <section class="col-sm-12 page-container">
            <div class="col-sm-12 nopadding">
                <div class="taxClassMessageBoxContainer error-msg text-center margin-bottom" id="attributeMessageBoxContainerId" data-message=""></div>
            </div>
            @using (Ajax.BeginForm("GetCatalogBasedAttributes", "Search", new { publishCatalogId = Model.PublishCatalogId, associatedAttributes = Model.AssociatedAttributes, isAddAttributes = true }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>