﻿@{
    ViewBag.Title = "SiteMap";
}
<div id="layout-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 site-map-container">
                <div class="col-xs-12 nopadding margin-top-bottom">
                    <h1 class="page-title">Site Map</h1>
                </div>
                <div class="col-xs-12 col-sm-3 nopadding">
                    <h4 class="section-header">Content Pages</h4>
                    <ul id="SiteMapMenu"></ul>
                </div>
                <div class="col-xs-12 col-sm-9 nopadding category-list">
                    <h4 class="section-header margin-bottom">Catalog Map</h4>
                    <ul id="ulCatelogMap"></ul>
                    <div id="divCatelogMap" class="margin-top">
                        <button onclick="SiteMap.prototype.LoadCatalog(1,1)" class="btn btn-primary">Load More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>