﻿@using System.Linq;
@using Znode.Engine.WebStore.Agents
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}

<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId">
    <div style="margin-top:-15px;">@Html.RenderMessage("FreeShippingOnAllOrders")</div>
    <div class="container" id="main-content">
        <!-- Breadcrumb -->
        <div id="breadCrumb" class="breadcrumb-container" itemscope itemtype="http://schema.org/BreadcrumbList">
            <a href='/' itemprop="title">Home</a> / <span id='breadcrumb-productname' itemprop="title">@Model.Name</span>
        </div>
        <div class="row product-view-details" itemscope itemtype="http://schema.org/Product">
            <!--Get Product Images-->
            <div class="col-xs-12 col-md-6 nopadding product-images">
                @Html.Partial("_ProductImage", Model)
                @*@Html.Partial("_ProductImageZoomEffect", Model)*@
            </div>
            <!--Get Product details like short decription and higlights-->
            <div class="col-xs-12 col-md-6 nopadding product-overview">
                @Html.Partial("_ProductOverview", Model)

                @Html.Partial("_ProductInfo", Model)
            </div>
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    <div id="Artifi-Designer-parent" class="container">
        <div id="dev-artifi-close" class="dev-artifi-close"><button type="button" class="btn-primary btn pull-right btn-artifi-close" id="dev-button-artifi-close" onclick="WCNProduct.prototype.CloseArtifiIFrame();"><i class='zf-close'></i></button></div>

        <div id="Artifi-Designer">
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
    <div class="wcn-static-bar" data-stick="product-sticky">
        @Html.Partial("../Product/_ProductStaticBar", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = '@Html.RenderBlock(Model.SEOTitle)';
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
<!--Template Level Script-->
<script src="@_fileLocation/Scripts/lib/jquery.simpleGallery.js"></script>
<script src="@_fileLocation/Scripts/lib/jquery.simpleLens.js"></script>

<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery(); $('#ImageZoom .simpleLens-big-image').simpleLens(); $(window).on("scroll touchmove", function () { $('.wcn-static-bar').toggleClass('stick', $(document).scrollTop() > 0); });
</script>