﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    //schema tags variables

    string sch_name = Model.Name;
    string sch_image = Model.ImageLargePath;
    string sch_url = "https://www.windycitynovelties.com" + "/" + Model.SEOUrl;
    string sch_desc = Model.SEODescription;
    string sch_currencycode = Model.CurrencyCode;
    string sch_price = Convert.ToString(Model.ProductPrice);
    string sch_lowprice = Convert.ToString(Model?.TierPriceList?.LastOrDefault()?.Price);
    string sch_highprice = Convert.ToString(Model?.TierPriceList?.FirstOrDefault()?.Price);
}

<div id="layout-product" class="main-wrapper product-meta medium-view-template" data-id="@productId">
    <div style="margin-top:-15px;">@Html.RenderMessage("FreeShippingOnAllOrders")</div>
    <div class="container" id="main-content">
        <!-- Breadcrumb -->
        <div id="breadCrumb" class="breadcrumb-container" itemscope itemtype="http://schema.org/BreadcrumbList">
            <a href='/' itemprop="title">Home</a> / <span id='breadcrumb-productname' itemprop="title">@Model.Name</span>
        </div>
        <div class="row product-view-details" itemscope itemtype="http://schema.org/Product">

            <div class="col-xs-12 col-md-9 product-item" id="divproductview">
                <!--Get Product Images-->
                <div class="col-xs-12 col-md-6 nopadding product-images ">
                    @Html.Partial("_ProductImage", Model)
                </div>
                <!--Get Product details like short decription and higlights-->
                <div class="col-xs-12 col-md-6 nopadding product-overview">
                    @Html.Partial("_ProductOverview", Model)
                    @Html.Partial("_ProductInfo", Model)
                </div>

                <!--Get Product content like features and cutomer reviews-->
                @Html.Partial("_ProductContent", Model)
            </div>
            <div class="col-xs-12 col-md-3 nopadding wcn-product-details-tabs">
                <div id="panel-4" class="panel-body nopadding panel-products-link">
                    <div class="inner-container-panel">
                        <z-widget>@Html.WidgetPartial("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)</z-widget>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    <div id="Artifi-Designer-parent" class="container">
        <div id="artifi-product-name"></div>
        <button id="ArtifiBackId" style="display:none" class="btn btn-default pull-right margin-bottom-10" type="button" onClick="window.location.reload();">Back</button>
        <div id="Artifi-Designer">
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
    <div class="wcn-static-bar" data-stick="product-sticky">
        @Html.Partial("../Product/_ProductStaticBar", Model)
    </div>
</div>
@if (Convert.ToBoolean(Model.Attributes?.Value("IsCustomizable")))
{
    <script src="~/Scripts/Extensions/ArtifiApi.js"></script>
}
@*Schema Volcabulary tags*@
<script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "Product",
    "name": "@sch_name",
    "image": ["@sch_image"],
    "url": "@sch_url",
    "description": "@sch_desc",
    "sku": "@Model.SKU",
    "brand": {
    "name": "Windy City Novelties"
    },
    "offers": {
    "@@type": "AggregateOffer",
    "priceCurrency":  "USD",
    @*"price": "@sch_lowprice",*@
    "lowprice": "@sch_price","highprice": "@sch_price","price": "@sch_price",
    "offerCount": "1",
    "itemCondition": "http://schema.org/NewCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
    "@@type": "Organization",
    "name": "Windy City Novelties"
    }
    }
    }

</script>