﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{
    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveSingleCartItem(this,'" + Url.Encode(Model.SKU) + "')" : "javascript:$($(this).closest('form').submit());";
}

<div class="row b2b-cart-row align-items-center position-relative">
    <tr>
        <td class="remove-cart">
            <div class="b2b-remove-item" style="@_displayRemoveLink">
                @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <a href="JavaScript:void(0);" class="cart-item-remove" onclick=@removeItemOnClickEvent title="Remove Item"><span class="close-circle-icon"></span></a>
                }
            </div>
            <div class="b2b-cart-item-details d-flex">
                <a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-fluid b-lazy" alt="@Html.RenderBlock(Model.ProductName)"></a>

                <div class="b2b-col-item-title font-weight-bold">
                    <div class="cart-description d-flex flex-wrap align-content-center">
                        <a data-test-selector="linkCartItemName" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>
                        <p class="sku-cart">SKU: @Html.RenderBlock(Model.SKU)</p>
                        <div class="col-12 p-0 cart-item-description" data-test-selector="divCartItemDescription">
                            @if (Model?.PersonaliseValuesDetail?.Count > 0)
                            {
                                foreach (var item in Model.PersonaliseValuesDetail)
                                {
                                    if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                                    {
                                        <p data-test-selector="paraCartItemDescription">@item.PersonalizeName : @item.PersonalizeValue</p>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="col-12 p-0 group-product-list">
                        @if (Model?.GroupProducts?.Count > 0)
                        {
                            foreach (var item in Model.GroupProducts)
                            {
                                <p><span class="right-icon"></span>@Html.RenderBlock(item.ProductName)</p>
                            }
                        }
                    </div>
                    <div class="col-12 p-0 cart-item-description" data-test-selector="divCartItemDescription">@Html.RenderBlock(Model.CartDescription)</div>
                    @if (!Model.IsAllowedTerritories)
                    {
                        <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
                    }
                </div>
            </div>
        </td>

        <td class="other-td">
            <div class="b2b-col-width pl-4 pb-4 p-md-0 cart-item-unitprice" data-test-selector="colCartItemUnitPrice">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        @*if store level flag - 'show price to logged-in users only' is set to yes and user is logged off then do not show price to users.*@
                        if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
                        {
                            <div class="loged-out-product-details p-0">
                                <div class="loged-out-product-text">
                                    <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                                    @WebStore_Resources.TextOR
                                    <a href="/User/Signup/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">@WebStore_Resources.LabelRegister</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                        }
                    }
                }
                else
                {
                    if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
                    {
                        <div class="loged-out-product-details p-0">
                            <div class="loged-out-product-text">
                                <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                                @WebStore_Resources.TextOR
                                <a href="/User/Signup/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">@WebStore_Resources.LabelRegister</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, Model.UOM)
                    }
                }
            </div>
        </td>

        <td class="other-td">
            <div class="b2b-col-width pb-4 px-3 p-md-0 cart-item-quantity">
                @Html.Partial("_Quantity", Model)
            </div>
        </td>
        <td class="other-td text-right">
            @if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
            {
                <div class="b2b-col-width pb-4 px-3 p-md-0 cart-item-total">
                    <div class="loged-out-product-details p-0 pl-2">
                        <div class="loged-out-product-text">
                            <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                            @WebStore_Resources.TextOR
                            <a href="/User/Signup/@("?returnUrl=" + HttpContext.Current.Request.Url.LocalPath.ToString())">@WebStore_Resources.LabelRegister</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="b2b-col-width pb-4 px-3 p-md-0 cart-item-total text-right" title="@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)">
                    <span class="pl-3" data-test-selector="spnCartRowPrice">@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</span>
                </div>
            }
        </td>
    </tr>

</div>

<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>