﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    bool isShoppingCartContainsItems = Model?.ShoppingCartItems?.Any() ?? false;
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    bool isQuoteRequestEnabled = GlobalAttributeHelper.IsQuoteRequestEnabled();
    string removeItemOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "SendEcommerceDataForRemoveAllCartItems(this)" : "javascript:$($(this).closest('form').submit());";
    string checkoutButtonOnClickEvent = Helper.IsEnhancedEcommerceTrackingEnabled() ? "ValidateAndSendCheckoutData();" : "Cart.prototype.ValidateProductQuantity();";
    bool isCartRecommendationEnabled = (PortalAgent.CurrentPortal?.RecommendationSetting?.IsCartRecommendation).GetValueOrDefault();
    string CartPageAdSpaceContainerPartialViewPath = "~/Views/Themes/Templates/_CartPageAdSpace.cshtml";
}
<div class="container-fluid">
    <div class="row plp-shipping-info-banner">
        <!--Shiping Banner-->
        @Html.RenderMessage("GlobalShippingBanner")
    </div>
</div>
<div class="container">
    <div id="divShoppingCart" class="col-md-12 p-0">
        <div class="b2b-cart-page">
            <div class="">
                <div class="col-12 shopping-cart p-0 margin-top-20">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h1 class="page-title" data-test-selector="hdgShoppingCartHeading">@WebStore_Resources.LabelShoppingCart</h1>
                            @if (Model?.ShoppingCartItems?.Any() ?? false)
                            {
                                <div class="row">
                                    <div class="col-12 col-lg table-responsive">
                                        <div class="cart-products">
                                            <table class="table table-cart b2b-cart">
                                                <thead>
                                                    <tr>
                                                        <th class="table-title">Product Title</th>
                                                        <th class="table-unitprice">@WebStore_Resources.ColumnTitleUnitPrice</th>
                                                        <th class="table-qty">@WebStore_Resources.ColumnTitleQty</th>
                                                        <th class="table-subtotal">@WebStore_Resources.LabelSubTotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*To show the recently added product on the top of cart.*@
                                                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().Reverse())
                                                    {
                                                        @Html.Partial("_CartRow", cartItem)
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>

                            }
                            else
                            {
                                <div class="col-12 p-0 mb-5 cart-summary">
                                    <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
                                </div>
                            }
                        </div>
                        <div class="col-12 col-lg-4 b2b-right-cart-container pl-md-4 justify-content-end flex flex-column flex-sm-row">
                            @if (!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated)
                            {
                            <div class="col-12 col-lg-4 cart-summary pl-md-4 pr-md-0 p-0">
                                <div class="row">
                                    <div class="col-12 cart-total">
                                        @* Do not remove order-summary class *@
                                        <div class="b2b-block order-summary" id="summary-details">
                                            <div class="carttotalcontentarea"> <img src='../Content/Images/loading.svg' alt="Loading" class="dashboard-loader d-flex justify-content-center"> </div>
                                            <script>
                                                $.get("/cart/CalculateCart", function (res) {
                                                    $(".carttotalcontentarea").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); $(".dashboard-loader").hide();
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <a href="/Checkout" class="btn btn-default btn-full btn-color-yellow" id="checkOut-link" onclick="return @checkoutButtonOnClickEvent" data-test-selector="lnkCheckout">@WebStore_Resources.ButtonCheckout</a>
                                <div class="col-12 margin-top-15 cart-guarantee-img">
                                    @Html.RenderMessage("FooterGuaranteeImage")
                                </div>
                            </div>
                                
                            }
                        </div>
                    </div>
                    <div class="row">
                        <!--promotion & shipping bar-->
                        <div class="cart-promotion-bar col-xs-12 nopadding"></div>
                        <script>$.get("/cart/CartPromotionBar", function (res) { $(".cart-promotion-bar").html(res); });</script>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<script>
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            $("#checkOut-link").addClass('disable-anchor');
            $("#requestQuote-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    }
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        var data = @Html.RenderBlock(Json.Encode(Model.GetEcommerceCartItemsData()));
        function SendEcommerceDataForRemoveAllCartItems(control) {
            GoogleAnalytics.prototype.SendRemoveFromCartsForAllCartItems(data);
            $(control).closest('form').submit();
        }
        function SendEcommerceDataForRemoveSingleCartItem(control, sku) {
            var dec = decodeURI(sku);
            $.each(data, function (v, e) {
                if (dec == e.SKU) {
                    GoogleAnalytics.prototype.SendRemoveFromCartsForSingleCartItem(e);
                }
            });
            $(control).closest('form').submit();
        }
        function ValidateAndSendCheckoutData() {
            var isValid = new Boolean(Cart.prototype.ValidateProductQuantity());
            if (isValid) {
            GoogleAnalytics.prototype.SendEcommerceCheckoutData(data);
        }
        return isValid;
    }
    </script>
}
