﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
<div class="b2b-product-count page-top">
    @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
        {
            <div class="search-result">
                <p data-test-selector="paraSearchResult">Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                <p>Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
            </div>
        }
        else if (!Equals(Model.SearchResultCountText, null))
        {
            <p class="search-result" data-test-selector="paraSearchResult">@Html.RenderBlock(Model.SearchResultCountText)</p>
        }
    }
</div>
<div class="b2b-facets-btn ml-md-auto d-lg-none">
    <button data-target="#facets" class="OpenNav nav-link btn-block btn btn-secondary m-md-auto">Sort & Filter</button>
</div>
<div class="b2b-filters ml-md-auto d-none d-lg-block">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        @Html.Partial("../Search/_PagingSearchingBottom", Model)
        <div id="layout-paging" class="b2b-paging">
            <div class="search-paging">
                @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page" }))
            </div>
        </div>
    </div>
</div>
<div id="layout-search" class="b2b-sorting">
    <div class="search-sorting">
        @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2" }))
    </div>
</div>

