﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<footer id="layout-footer" class="footer" role="contentinfo">
    <div class="col-12 news-letter">
        <div class="container">
            <div class="row news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                <div class="col-12 col-sm-12 col-lg-12 col-xl-12 p-0 newsletter-container">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>

    <!--Trustpilot Code-->
    <div class="Trustpilot">
        <!-- TrustBox widget - Carousel -->
        <div class="col-sm-12 trustpilot-widget padding-top-bottom" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="59034f0b0000ff0005a1665a" data-style-height="140px" data-style-width="100%" data-theme="light" data-stars="5">
            <a href="https://www.trustpilot.com/review/windycitynovelties.com" target="_blank">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
    </div>

    <!--Payment Getway Widget-->
    <div class="secure-shopping">
        <div class="container p-0">
            <h4>@Html.RenderMessage("FooterSafeSecureShopping")</h4>
            <z-widget>@Html.WidgetPartial("LinkPanel", "PaymentGateway", "223", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>

    <z-widget>@Html.WidgetPartial("Footer", "Footer", "102", "PortalMapping")</z-widget>

    <!--Copyright-->
    <div class="copyright">
        <div class="container padding-0">
            <div class="">
                <div class="col-12 col-md-12 footer-block p-0">
                    <div class="footer-copyright mt-2 key-FooterCopyrightText">@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- TrustBox script -->
<script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End Trustbox script -->