﻿@using Znode.Engine.WebStore.Agents

@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isHomeRecommendationEnabled = (PortalAgent.CurrentPortal?.RecommendationSetting?.IsHomeRecommendation).GetValueOrDefault();
    //string ContentContainerPartialViewPath = "~/Views/Themes/Templates/_Container.cshtml";
    //string HomePageTickerContainerPartialViewPath = "~/Views/Themes/Templates/_HomePageTicker.cshtml";
    //string AdSpacePartialViewPath = "~/Views/Themes/Templates/_HomePageAdSpace.cshtml";
}

@if (Request.IsAuthenticated)
{
    string message = GlobalAttributeHelper.GetUserMessage();
    if (!string.IsNullOrEmpty(message))
    {
        <div class="container">
            <div class="row">
                <div class="col p-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center user-promotion-msg text-break">
                                @message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-9 p-0">
            <!--Shipping Banner + Text-->
            <div class="col p-0 shipping-banner-home">
                <z-widget>@Html.WidgetPartial("TextEditor", "Advertisment", "5557", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
            <div class="col p-0 home-slider">
                <!--Home Page Slider Widget-->
                <z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
        <div class="col-12 col-md-3 padding-right-0">
            <!--Advertisement Banner Widget-->
            <z-widget>@Html.WidgetPartial("OfferBanner", "FeatureBanner", "110", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>

<div class="col-12 p-0 margin-bottom">
    <z-widget>@Html.WidgetPartial("OfferBanner", "NightFlyerAdvertisementBanner", "2996", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
</div>

<div class="col-12 carousel-card">
    <div class="container">
        <div class="row">
            <!--Home Page Feature Category Widget 1-->
            <div class="col-md-3 col-12 padding-0">
                <div class="col p-0">
                    <h3 class="product-list-title key-FeaturedDepartmentTitle">@Html.RenderMessage("LastChance")</h3>
                    <z-widget>@Html.WidgetPartial("CategoryList", "LastChance", "2990", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
            <!--Home Page Feature Category Widget 2-->
            <div class="col-md-3 col-12 padding-0">
                <div class="col p-0">
                    <h3 class="product-list-title key-FeaturedDepartmentTitle">@Html.RenderMessage("ShopEarly")</h3>
                    <z-widget>@Html.WidgetPartial("CategoryList", "ShopEarly", "2991", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
            <!--Home Page Feature Category Widget 3-->
            <div class="col-md-3 col-12 padding-0">
                <div class="col p-0">
                    <h3 class="product-list-title key-FeaturedDepartmentTitle">@Html.RenderMessage("FeaturedThemes")</h3>
                    <z-widget>@Html.WidgetPartial("CategoryList", "FeaturedThemes", "2992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
            <!--Home Page Feature Category Widget 4-->
            <div class="col-md-3 col-12 padding-0">
                <div class="col p-0">
                    <h3 class="product-list-title key-FeaturedDepartmentTitle">@Html.RenderMessage("TopProductCategories")</h3>
                    <z-widget>@Html.WidgetPartial("CategoryList", "TopProductCategorie", "2995", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>

