﻿<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">
        <h3>@ERP_Resources.TitleERPConfigurator</h3>
        <ul class="aside-panel">
            <li>@Html.AuthorizedRawActionLink("<i class='z-touch-points-configuration'></i>" + $"<span>{Admin_Resources.TitleTouchPointsConfiguration}</span>", "List", "TouchPointConfiguration", null, new { @class = "tab-selected" })</li>
        </ul>
    </div>
</aside>
