﻿@using Znode.Engine.WebStore.ViewModels
@model SearchResultViewModel

@if (!string.IsNullOrEmpty(Model.Location))
{

    <script type="text/javascript">
        window.location.href = '@Model.Location';
    </script>
}

@if (Model?.Facets?.Count > 0)
{
    int count = 0;
    foreach (var item in Model.Facets)
    {
        <div class="list-group">
            <div class="panel panel-default wcn-facet-panel">
                <div class="panel-heading">
                    <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@count"><span>@item.AttributeName</span></h4>
                </div>
                <div id="collapseOne_@count" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="filter-list">
                            @foreach (var facetValue in item.AttributeValues)
                            {
                                bool? isChecked = Model.FacetFilters?.Any(facetFilter => facetFilter.Item1 == facetValue.AttributeCode && facetFilter.Item2.Any(x => x.Key == facetValue.Label));
                                if (!string.IsNullOrEmpty(facetValue.AttributeValue))
                                {
                                    string data = $"{item.AttributeName}{facetValue.AttributeValue}";
                                    <li class="styled-checkbox">
                                        <input id="@data" type="checkbox" onchange="Search.prototype.GetFilterResult('@HttpUtility.JavaScriptStringEncode(facetValue.RefineByUrl)',this)" class="FacetFilter input-control" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />
                                        <label for="@data" class="input-label">@Html.RenderBlock(facetValue.Label)@*<sup>(@facetValue.FacetCount)</sup>*@</label>
                                    </li>
                                }
                            }
                        </ul>
                        @*for Facets dropdown*@

                        @if (item.AttributeName != "Price Retail")
                        {<div id="facetHtml_@count" style="display:none">
                                <div class="btn-group">
                                    <button type="button" class="btn-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @item.AttributeName <i class="zf-wcn-arrow-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-box select">
                                        @foreach (var facetValue in item.AttributeValues)
                                        {
                                            bool? isChecked = Model.FacetFilters?.Any(facetFilter => facetFilter.Item1 == facetValue.AttributeCode && facetFilter.Item2.Any(x => x.Key == facetValue.Label));
                                            if (!string.IsNullOrEmpty(facetValue.AttributeValue))
                                            {
                                                string data = $"{item.AttributeName}{facetValue.AttributeValue}";
                                                <li class="styled-checkbox">
                                                    <input id="@data" type="checkbox" onchange="Search.prototype.GetFilterResult('@HttpUtility.JavaScriptStringEncode(facetValue.RefineByUrl)',this)" class="FacetFilter input-control" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />
                                                    <label for="@data" class="input-label">@Html.RenderBlock(facetValue.AttributeValue)</label>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        count++;
    }
}

<script>
    $(document).ready(function () { $(".show-facet-html .btn-group:last-child ul").addClass("dropdown-menu-right"); if (screen.width >= 1200) { $(".show-facet-html .btn-group:first-child ul").removeClass("dropdown-menu-right"); } });
</script>
<script>
    if ($('div[id^="facetHtml_"]').length > 0) {
        var elehtml = "";
        $('div[id^="facetHtml_"]').each(function (index, value) {
            elehtml = elehtml + $(value).html();
        });
        $("#showFacetHtml").html(elehtml);
    }
</script>
