﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel

<div id="layout-paging">
    <div class="search-paging col-xs-12 col-sm-8 margin-top nopadding">
        <div class="col-xs-4 nopadding">
            @Html.Partial("../Search/_FooterPaging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
        </div>
    </div>
</div>