﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Libraries.Resources
<form name="SearchPaging" data-test-selector="frmSearchPaging">
    @Html.AntiForgeryToken()
    @{
        string pageSize = Request.QueryString["PageSize"] ?? "0";

        if (!Equals(SessionHelper.GetDataFromSession<int?>("PageSizeValue"), null))
        {
            pageSize = Convert.ToString(SessionHelper.GetDataFromSession<int?>("PageSizeValue"));
        }
    }
    <div class="btn-group select" id="PageSize" name="PageSize">
            <button type="button" class="btn-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_PageSize">
                @switch (pageSize)
                {

                    case "40":
                        <span value="40">@Custom_Resources.Show40</span>
                        break;
                    case "80":
                        <span value="80">@Custom_Resources.Show80</span>
                        break;
                    case "120":
                        <span value="120">@Custom_Resources.Show120</span>
                        break;
                    default:<span>@Custom_Resources.DropdownNamePageSize</span>;
                        break;
                }
                <i class="zf-wcn-arrow-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-box dropdown-menu-right" id="Select_PageSize">
                <li value="40"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchPaging()">@Custom_Resources.Show40</a></li>
                <li value="80"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchPaging()">@Custom_Resources.Show80</a></li>
                <li value="120"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchPaging()">@Custom_Resources.Show120</a></li>
            </ul>
        </div>

</form>
<script src="~/Scripts/lib/purl.js"></script>
<script>
    $(document).ready(function () {
        totalPages = parseInt($("#hdnTotalPages").val(), 10);
        var pageno = ZSearch.prototype.GetQueryStringParameterByName("pagenumber");
        if (totalPages == 1) {
            $('.prev-page-button').hide();
            $('.next-page-button').hide();
            return false;
        }
        if (parseInt(pageno) == 1 || pageno == "") {
            $('.prev-page-button').hide();
            return false;
        }
        if (parseInt(pageno) == (totalPages)) {
            $('.next-page-button').hide();
            return false;
        }
    });
</script>