﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel

<div id="showFacetHtml" class="show-facet-html">
</div>
<div class="product-size-option">
    <div id="layout-paging" class="layout-paging">
        <div class="search-paging">
            <div class="view-mode">
                <a href="javascript:void(0);" onclick="Category.prototype.changeProductViewDisplay()" class="productview list-view-opt" title="List View"><i class="zf-list-view"></i></a>
                <a href="javascript:void(0);" onclick="Category.prototype.changeProductViewDisplay()" class="productview grid-view-opt-active" title="Grid View"><i class="zf-grid-view"></i></a>
            </div>
            <div class="page-size">
                @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
            </div>
        </div>
    </div>
    <div id="layout-search" class="layout-search">
        <div class="search-sorting">
            @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
        </div>
    </div>
</div>
<script src="~/Scripts/lib/purl.js"></script>
