﻿@using Znode.Libraries.ECommerce.Utilities
<form name="SearchSort">
    @Html.AntiForgeryToken()
    @{
        string sort = Request.QueryString["Sort"] ?? "0";
        if (!Equals(SessionHelper.GetDataFromSession<string>("PageSizeValue"), null))
        {
            sort = SessionHelper.GetDataFromSession<string>("PageSizeValue");
        }
    }

    <div class="btn-group select" id="Sort" name="Sort">
        <button type="button" class="btn-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-text">
                @switch (sort)
                {
                    case "3":
                        <span>@WebStore_Resources.DropdownPriceHighToLow</span>
                        break;
                    case "4":
                        <span>@WebStore_Resources.DropdownPriceLowToHigh</span>
                        break;
                    case "5":
                        <span>@WebStore_Resources.DropdownNameAtoZ</span>
                        break;
                    case "6":
                        <span>@WebStore_Resources.DropdownNameZToA</span>
                        break;
                    case "7":
                        <span>@WebStore_Resources.DropdownOutOfStock</span>
                        break;
                    case "8":
                        <span>@WebStore_Resources.DropdownInStock</span>
                        break;
                    default:<span>@Custom_Resources.DropdownNameBestMatch</span>;
                    break;
            }
                <i class="zf-wcn-arrow-down"></i>
            </div>
        </button>
        <ul class="dropdown-menu dropdown-box select dropdown-menu-right" id="Select_BestMatch">
            @*<li value="1"><a href="javascript:void(0)" onclick="ZSearch.prototype.SearchSort()">@WebStore_Resources.DropdownHighestRating</a></li>
                <li value="2"><a href="javascript:void(0)" onclick="ZSearch.prototype.SearchSort()">@WebStore_Resources.DropdownMostReview</a></li>*@

            <li value="0"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@Custom_Resources.DropdownNameBestMatch</a></li>

            <li value="3"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.DropdownPriceHighToLow</a></li>
            <li value="4"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.DropdownPriceLowToHigh</a></li>
            <li value="5"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.DropdownNameAtoZ</a></li>
            <li value="6"><a href="javascript:void(0)" onclick="WCNZSearch.prototype.SearchSort()">@WebStore_Resources.DropdownNameZToA</a></li>
        </ul>
    </div>

    @*  @Html.DropDownList("Sort", new[] {
        new SelectListItem() { Text ="Sort by", Value = "0",  Selected = sort == "0"},
        new SelectListItem() {Text = WebStore_Resources.DropdownHighestRating, Value = "1",  Selected = sort == "1"},
        new SelectListItem() {Text = WebStore_Resources.DropdownMostReview, Value = "2",  Selected = sort == "2"},
        new SelectListItem() {Text = WebStore_Resources.DropdownPriceHighToLow, Value = "3",  Selected = sort == "3" },
        new SelectListItem() {Text = WebStore_Resources.DropdownPriceLowToHigh, Value = "4",  Selected = sort == "4"},
        new SelectListItem() {Text = WebStore_Resources.DropdownNameAtoZ, Value = "5",  Selected = sort == "5"},
        new SelectListItem() {Text = WebStore_Resources.DropdownNameZToA, Value = "6",  Selected = sort == "6"}*@
</form>
