﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{
    int currentPage = Convert.ToInt16(Request.QueryString["pagenumber"].IsEmpty() ? "1" : Request.QueryString["pagenumber"]);
    int NumOfPageShow = 7;
    int totalPages = Model.TotalPages;
    int range = NumOfPageShow / 2;
    int pageRangeStart = currentPage - range;
    int pageRangeEnd = currentPage + range;

    if (pageRangeStart < 1)
    {
        pageRangeStart = 1;
    }
    if (pageRangeEnd > totalPages)
    {
        pageRangeEnd = totalPages;
    }
}
@if (Model.TotalPages > 0)
{
    if (totalPages > 1)
    {
        <div class="col-xs-12 nopadding category-pagination-arrow search-pagination">
            <div class="col-xs-12 col-md-6 margin-bottom-10 text-center text-md-left"><h4>@Html.RenderBlock(Model.SearchResultCountText.ToString())</h4></div>
            <div class="col-xs-12 col-md-6 search-pagination text-center text-md-right">
                <ul class="wcn-page-list">
                    <li class="search-more-nav prev-page-button arrow-left"><a href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button prev-page-search" title="Previous"><i class="zf-wcn-arrow-left"></i></a></li>
                    @for (int i = pageRangeStart; i <= pageRangeEnd; i++)
                    {
                        if (currentPage == i)
                        {
                            <li><a href="javascript: void(0)" class="wcn-page-number wcn-current-page" data-pageno="@i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="javascript: void(0)" class="wcn-page-number" data-pageno="@i">@i</a></li>
                        }
                    }
                    <li class="search-more-nav next-page-button arrow-right"><a href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button next-page-search" title="Next"><i class="zf-wcn-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12 nopadding category-pagination-arrow search-pagination">
            <div class="col-xs-12 col-md-6 text-center text-md-left"><h4>@Html.RenderBlock(Model.SearchResultCountText.ToString())</h4></div>
        </div>
    }
}