﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@model Dictionary<int, string>
@{
    //Check if category ID is present or not
    if (Model.Keys.FirstOrDefault() <= 0)
    {
        string title = PortalAgent.CurrentPortal.WebsiteTitle;
        ViewBag.Title = string.IsNullOrEmpty(title) ? "Search" : title;
    }


    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    string pageSize = string.IsNullOrEmpty(Request.QueryString[WebStoreConstants.PageSize]) ? "80" : Request.QueryString[WebStoreConstants.PageSize];
    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    searchProperties.Add("SearchTerm", Model.Values.FirstOrDefault());
    searchProperties.Add(WebStoreConstants.UseSuggestion, Request.QueryString[WebStoreConstants.UseSuggestion]);

    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout.cshtml";
}
@Html.RenderMessage("FreeShippingOnAllOrders")	
<div id="layout-category" data-category="@Model.Values.FirstOrDefault()" data-categoryId="@Model.Keys.FirstOrDefault()" class="main-wrapper">
    <div class="container">
        <div class="col-xs-12 nopadding display-flex padding-top-10 search">
            <div class="side-nav-backdrop"></div>
            <aside id="facets" class="wcn-aside-box side-nav nav-right b2b-side-bar">
                <button type="button" class="close CloseNav"><span aria-hidden="true">×</span></button>
                <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="wcn-category-landing search-page">
                <z-widget>@Html.WidgetPartial("ProductGrid", "ProductList", "124", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>
                <div class="col-xs-12 nopadding">
                    <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "Recently View Product", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>

