﻿@import "../_base.scss";

.product-grid .wcn-products-view-setting{border:1px solid $border-bgcolor-default;padding:7px 15px;border-radius:4px;text-align:left;    
        .view-mode{font-size:13px;
            a{padding-left:5px;display:inline-block;text-align:center;}
            i{font-size:30px;padding:5px;border:1px solid $border-bgcolor-default;border-radius:4px;color:$border-bgcolor-default;
                &:hover{background-color:$base-color-primary;color:$base-color-white;border-color:$base-color-primary;}
            }
            a.grid-view-opt-active > i,a.list-view-opt-active > i{background-color:$base-color-white;color:$base-color-primary;border:1px solid $base-color-primary;}
        }        
        .show-facet-html .btn-dropdown{font-size:$base-font-size + 1;font-family:$base-font-family-medium;}
        .show-facet-html .dropdown-box{
            .styled-checkbox{padding:3px 15px; 
                             label{padding:0 6px 0px 28px;margin-bottom:0;}
            }
        }
        .product-size-option{
                .view-mode,.page-size,.search-sorting,.layout-search{display:flex;display:-webkit-box;display:-ms-flexbox;}       
                .btn-dropdown{font-size:15px;font-family:$base-font-family-medium;margin-left:5px;}  
         }   
}

// CSS Use in both category list and product list.

.product-grid .product-view{
    .product-item{margin: 15px auto;max-width: 263px;position: relative; 
        .swatch-img-container{position:absolute;right:5px;bottom:110px;
                ul{margin:0; padding:0;
                    li{display:block;cursor:pointer;width:25px;height:25px;margin-bottom:5px;}
                }
        }
        .view-item{border:1px solid $base-color-white;
            .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-family:$base-font-family-bold;position:relative;font-size:$base-font-size + 4;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
            }      
            .product-rating,.product-availablity,.btn-wishlist{display:none;}    
        }
        .product-img{
            .image{min-height:212px;}
            .new-product-tag{position:absolute; top:5px; right:5px;z-index:99;width:40px;height:40px;}
            img{margin:0 auto;max-height:212px;
                 &:hover{box-shadow:1px 1px 15px #c6c6c6;}
            }
           
            .btn-quick-view{display:none;position:absolute;top:210px;left:34%;font-size:11px;text-transform:uppercase;line-height:27px;z-index:99;padding:0 10px;font-family:$base-font-family-bold;border-radius:2px;}  
        } 
        .product-details{margin-top:10px;
            .wcn-product-name{font-family:$base-font-family;font-size:$base-font-size;color:$base-color-secondary;margin:5px 0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:relative;}            
            .price{margin:5px 0;
                   label{font-size:$base-font-size;margin:0;}
            }
            .cut-price{display:none;}
            .wishlist-status a{font-size:$base-font-size;cursor:pointer;display:none;}
            a{font-size:11px;display:block;height:26px;position:relative;}
            .btn-add-to-cart .btn-lable{padding:6px 20px 6px 36px;
                &.quick-view-btn{margin:0;border-radius:3px;padding:6px 35px;}
            }
            .popover{margin-top:-22px;border-radius:3px;padding:0;border:0;left:0;right:0;
                .arrow{display:none;}
                .popover-content{padding:2px 5px;}
            }
            .popover.bottom{margin-top:-22px !important;}
        }
    }        
    .category-item{
        .image{min-height:212px;max-height:212px;}
        .short-description p{height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
        .btn-card{width:100%;display:none;}
        .category-img img{margin:0 auto;max-height:212px;}
        .category-details h5{font-family:$base-font-family;font-size:$base-font-size;color:$base-color-secondary;line-height:18px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
    }    

    // Product View Changes    
    .list-view > li{width: 100%;}
    .list-view li .product-item{max-width:100% !important;}
    .list-view .product-item .product-details .wishlist-status a{display:inline;}
    .list-view li{
        .product-item .view-item{
            .product-details .popover{display:none !important;}
             float:left;width:100%;border-bottom:1px solid $border-bgcolor-default;
            .item-error-msg{width:26%;left:24px;}
            .product-rating{display:block;padding-bottom:5px;
                            a{display:inline-block;padding-left:8px;}
            }
            .product-availablity{display:block;padding-bottom:5px;}
            .product-availablity span{font-family:$base-font-family-bold;}
            .product-rating a{font-size:$base-font-size;text-decoration:underline;}
            .star-rating{padding-right:5px;}
            .btn-wishlist{display:inline-block;background-color:transparent;border:0;font-family:$base-font-family;text-align:center;line-height:1;height:48px;font-size:10px;vertical-align:top;padding:0;margin-left:12px;
                i{display:block;font-size:20px;}
            }  
        }
        .product-img{float:left;width:30%;padding:0 10px;            
            .btn-quick-view{left:11%;} 
        }
        .product-details{float:left;width:70%;margin-top:0;
            .title{margin:0 0 6px 0;} 
        }        
    }    
}

// Product View Changes
.product-grid-ul{margin:0;padding:0;
            li{list-style:none;padding:0;margin:0;display:inline-block;}
    }

.search-paging{
    .search-pagination{padding:0 5px 0 0; 
        ul{text-align:center;float:right;margin:0;padding:0;
            li{display:inline-block;list-style:none;
               a{padding:8px;}
               a.disabled{opacity:0.3;cursor:not-allowed;}
            }
            .arrow-right{float:left;width:32px;height:32px;line-height:32px;border:1px solid $border-bgcolor-default;border-radius:4px;color:$base-color-primary;}
            .arrow-left{@extend .arrow-right;margin-right:5px;}
            
    }
   }
}
.search-paging-review .search-pagination{margin:0 auto;
    ul{float:none;width:100%;
       li{float:none !important;}
    }
}

// Compare product vertical center
.compare-product-popup{position:fixed;top:50%;transform:translate(0, -50%) !important;-webkit-transform:translate(0, -50%) !important;-moz-transform:translate(0, -50%) !important;left:0;right:0;}

// Compare Link on product view.
.compare-link{
    a{color:$base-color-primary;border:1px solid $base-color-primary;padding:10px;background-color:$base-color-white;}
    i{vertical-align:middle; text-align:center;font-size:22px;}
}

// Category Landing
.category-list h1{border-bottom:5px solid $base-color-primary;margin-top:0;padding-bottom:10px;}

.wcn-product-details-tabs .btn-add-to-cart .btn-lable {padding: 6px 20px 6px 36px;
    &.quick-view-btn {margin: 0;border-radius: 3px;padding: 6px 35px;}
}

// Media Query
@include screensize(x-small) {
    .grid-view > li{width: 100%;}    
    .product-list-widget .view-item:hover .btn-quick-view,.product-grid .product-view .view-item:hover .btn-quick-view{display:none;}
    .product-grid .product-view{
        .product-item .product-details{text-align:center;}
        .list-view li .product-img{
            .image{min-height:70px;}
        }
        .grid-view li .product-img{
            .image{height:212px;display:table-cell;vertical-align:middle;}
        }
     }
    .compare-link{opacity:1;
            a{padding:5px;
              i{font-size:15px;}
            }
    }
    // Category Landing
    .category-list {
      h1{font-size:$base-font-size + 4px;display:none;}
      .grid-view >li{width:49.33%;}
    }
    .category-hide{display:none;}
    .product-grid .wcn-products-view-setting {
        > div{display:flex;
            .show-facet-html > .btn-group .btn-dropdown{margin-bottom:5px;}
        }
        .view-mode a{display:none;}
        .product-size-option {
            .page-size{display:none !important;}
        }
    }
    .product-grid .product-view .category-item .image{min-height:120px;padding-top:10px;}
    .product-size-option{float:none;display:flex;display:-webkit-flex;display:-ms-flexbox;margin-left:auto;
        .dropdown-menu{min-width:140px;}
        .btn-dropdown{
            .dropdown-text{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
        }
    }
    .all-reviews,.write-review{padding:0 15px;
        .wcn-all-review-btns{float:left;
            .write-review-btn{margin-top:10px;display:block;}
        }
    }
    .show-facet-html{display:none;}
 }     
@include screensize(xl-small) {
    .grid-view > li{width: 49%;}
     .product-grid .product-view .category-item .image{min-height:175px;padding-top:0px;}
    .product-grid .wcn-products-view-setting .view-mode a{display:none;}
}
@include screensize(small) {
    .grid-view > li{width: 49.02%;}
    .product-grid .product-view{
        .product-item .product-details{text-align:left;
            .btn-add-to-cart .btn-lable{padding:6px 22px 6px 34px;}
        }
        .list-view li {
            .product-item .view-item .btn-add-to-cart .btn-lable{min-width:200px;}
            .product-img{
            .image{min-height:150px;}
            .btn-quick-view{top:150px;left:8%}
            }
        }
    }    
    .compare-link{
          a{padding:10px;
            i{font-size:22px;}
          }
    } 
    .category-list h1{font-size:$base-font-size + 8px;display:block;} 
    .category-hide{display:block;}
    .product-grid .wcn-products-view-setting .view-mode { 
               a{display:inline-block;} 
               i{line-height:43px;margin-right:5px;}
    }
    .product-grid .wcn-products-view-setting .product-size-option{
        .layout-paging .search-paging{display:flex;display:-webkit-box;display:-ms-flexbox;margin-bottom:5px;}
        .layout-search .search-sorting{margin-left:auto;}
        .page-size{display:block !important;} 
    }
    .all-reviews,.write-review{padding:0;
        .review-productname{float:left;}
        .wcn-all-review-btns{float:right;
            .write-review-btn{margin-top:0;display:inline-block;}
        }
    }
}

@include screensize(medium) {
    .grid-view > li{width: 32.9%;}
    .product-grid .product-view{
        .list-view li {
            .product-item .view-item .btn-add-to-cart .btn-lable{min-width:230px;}
            .product-img{
            .image{min-height:212px;}
            .btn-quick-view{top:210px;left:11%;}
            }
        }
    }
    .product-grid .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:12px;}
        .btn-quick-view,.btn-add-cart{padding:0 12px 0 7px;font-size:12px;}
    }   
      // Category Landing
  .category-list {
       .grid-view >li{width:32.9%;}
      h1{font-size:$base-font-size + 8px;display:block;} 
  }
   .category-hide{display:block;}
   .product-grid .wcn-products-view-setting .view-mode { 
               a{display:inline-block;} 
               i{line-height:43px;margin-right:5px;}
   }
    .product-grid .wcn-products-view-setting .product-size-option{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;
        .layout-paging .search-paging{margin-bottom:0;}
    }
    .show-facet-html .btn-group .btn-dropdown{margin-bottom:0 !important;}  
    .show-facet-html{display:block;}
}
@include screensize(desktop) {  
    .grid-view > li{width: 24.65%;}    
    .product-grid{
        .product-view .list-view li .product-item .view-item .btn-add-to-cart .btn-lable{min-width:230px;}
        .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:16px;}
        .btn-quick-view,.btn-add-cart{padding:0 15px 0 10px;font-size:13px;}
    }
    }
    
    // Category Landing
  .category-list {
      h1{font-size:$base-font-size + 8px;display:block;} 
      .grid-view >li{width:24.65%;}
  }
   .category-hide{display:block;}
   .product-grid .wcn-products-view-setting .view-mode { 
               a{display:inline-block;} 
               i{line-height:43px;margin-right:5px;}
   }
   .product-grid .wcn-products-view-setting .product-size-option .page-size,.product-grid .wcn-products-view-setting .product-size-option .layout-search{float:right;} 
   .product-grid .wcn-products-view-setting .product-size-option{float:right !important;}
    .show-facet-html{float:left !important;margin:0;width:auto;} 
}
//PDP page Loader css
.inner-loader{position: relative;top:10px;height: 20px;z-index: 999;right: 10px;display:none;
              img{height:70px;width:70px;}
}

@include screensize(xl-small-max) { 
    .grid-view > li{width: 49.02%;
            .product-item .view-item .product-details{
                .btn-add-to-cart{
                    .spinner input{width:40px;}
                    .qty{left:14px;}
                    .btn-lable{padding: 6px 10px 6px 24px;font-size:14px;}
                }
            }
    }  
}