﻿@import "../_base.scss";
#Search .wcn-aside-box{
    .product-grid{
        .list-group{
            &:first-child .wcn-facet-panel .panel-heading{border-top:1px solid $border-bgcolor-default;}
            &:nth-last-child(2) .wcn-facet-panel .panel-body{border-bottom:0;}
            &:last-child {margin-top:15px;}
            &:first-child {margin-top:0;}
        }
    }
}
// Search Text Box Widget
.search-widget{padding-top:5px;font-family:$base-font-family;
    .input-group{display:block;
         i{position:absolute;height:34px;top:16px;color:$base-color-black;line-height:4px;z-index:999;left:12px;color:$base-color-tertiary;}
    }    
    input::-webkit-input-placeholder {color:$text-placeholder;opacity:1;}    
    input:-moz-placeholder {color:$text-placeholder;opacity:1;}        
    input::-moz-placeholder {color:$text-placeholder;opacity:1;}    
    input:-ms-input-placeholder {color:$text-placeholder;opacity:1;}  
    input[type="text"]{font-family:$base-font-family;font-size:$base-font-size;border-radius:25px;padding:0 0 0 30px;height:40px;border:1px solid #a1a1a1;
        &:focus{border-color:#a1a1a1;}
    }
   .btn-search{position:absolute;right:0;top:0;font-family:$base-font-family-bold;background-color:$base-color-primary;border:0;font-size:13px;color:$base-color-white;line-height:$base-font-size;height:40px;padding:5px 15px;border-radius:0 25px 25px 0;margin:0;z-index:3;-webkit-transition: opacity 450ms ease-out;-moz-transition: opacity 450ms ease-out;transition: opacity 450ms ease-out;outline:none;}
   .twitter-typeahead{display:block !important;font-family:$base-font-family;
         .tt-hint{top:-4px !important;}
   }    
   .tt-dropdown-menu{margin-top:0;}
   .typeahead{position:relative;}
} 
#typeahead-results .close{color:$base-color-secondary;font-size:15px;opacity:0.7;padding:2px 3px;
    &:hover{color:$base-color-primary;opacity:1;}
}
.search-page{
    .product-grid{margin-bottom:40px;}
}