﻿@import "../_base.scss";

// Shipping Progress Bar
.wcn-shipping-progress{display:flex;display:-webkit-flex;display:-moz-flex;}
.wcn-progress-start,.wcn-progress-end{width:30%;}
.wcn-bar-15{width:15% !important;flex:1;}
.wcn-bar-20{width:20% !important;flex:1;}
.starting-point{position:absolute;top:40%;left:15%;flex:1;}
.ending-point{position:absolute;top:40%;right:15%;flex:1;}
.popover.top>.arrow{bottom:-10px;}
.wcn-shipping-progress > .wcn-progress-step{padding:0;position:relative;display:inline-block;
        .permanent-popover{display:block;top:-15px;left:calc(50% - 41px);z-index:1040;
            .popover-content{padding:5px 10px;width:80px;}
        }
        &:first-child{
            .wcn-step-title{visibility:hidden;}
            .wcn-step-info{visibility:hidden;}
        }
        .wcn-step-title{color:$shipping-fill-bar;font-size:$base-font-size + 2;margin-bottom:5px;height:22px;line-height:18px;}
        .bs-wizard-info{color:$base-color-black;font-size:$base-font-size}
        > .wcn-step-dot{position:absolute;width:18px;height:18px;display:block;background:$shipping-fill-bar;border:2px solid $base-color-white;top:45px;left:50%;margin-top:-7px;margin-left:-8px;border-radius:50%}
        > .progress{position:relative;border-radius:0;height:5px;box-shadow:none;margin:23px 0;background-color:$shipping-progress-bar;overflow:hidden;background:$shipping-fill-bar;
            > .progress-bar{width:0;box-shadow:none;background:$shipping-fill-bar;}
        }
        &.complete > .progress > .progress-bar{width:100%}
        &.active > .progress > .progress-bar{width:50%}
        &.disabled > .progress {background:#f5f5f5;}
        &:first-child.active > .progress > .progress-bar{width:0}
        &:last-child.active > .progress > .progress-bar{width:100%}
        &.disabled > .wcn-step-dot{background-color:$shipping-progress-bar;
                        &:after{opacity:0}
        }
        &:first-child > .progress{left:50%;width:50%}
        &:last-child > .progress{width:50%}
  
}

.wcn-shipping-progress > .wcn-progress-step.disabled a.wcn-step-dot:hover{border-color:$shipping-fill-bar}
.wcn-shipping-progress .popover-content{padding:9px 14px;text-align:center}
.wcn-shipping-progress .popover{background-color:$shipping-fill-bar;color:$base-color-white;border-radius:10px}
.wcn-shipping-progress .popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:$shipping-fill-bar;border-bottom-width:0}

.shipping-bar-status{padding-bottom:10px;text-align:center;
    i{font-size:10px;}
    .wcn-green-underline{color:$shipping-fill-bar;text-decoration:underline;padding-right:5px;cursor:pointer;}
    .popover{text-align:center;width:150px;
        .arrow:after{border-bottom-color:#f7f7f7;top:2px;}
        .popover-title{font-family:$base-font-family;border-bottom:0;font-size:$base-font-size + 2;line-height: 22px;padding-bottom:0;}
        .popover-content{background-color:#f7f7f7;padding:6px 0;font-size:$base-font-size - 2;}
    }
}

//  Responsive Design Start
@include screensize(x-small){
    .starting-point{position:absolute;top:40%;left:0}
    .ending-point{position:absolute;top:40%;right:-15%}
    .wcn-shipping-progress{padding:50px 20px 20px 0;}
    .wcn-shipping-progress > .wcn-progress-step{
        &.wcn-free-shipping{
            a.wcn-step-dot{pointer-events:none;}
            &.active a.wcn-step-dot{pointer-events:all;}
        }
        &.active .permanent-popover{display:none;}
        .wcn-step-title{font-size:$base-font-size;visibility:hidden;}
    }
    .shipping-bar-status .wcn-shop-more-btn{font-family:$base-font-family-bold;display:block;}
}

@include screensize(xl-small){
    .starting-point{left:25%}
    .ending-point{right:0}
    .wcn-shipping-progress > .wcn-progress-step{
        .wcn-step-title{visibility:visible;}
        &.wcn-free-shipping .wcn-step-title{visibility:hidden;}
        &.active.wcn-free-shipping .wcn-step-title{visibility:visible;}
    }
}

@include screensize(small){
    .starting-point{left:30%}
    .shipping-bar-status .wcn-shop-more-btn{display:inline-block;}
    .wcn-shipping-progress{padding:50px 0 20px 0;}
}

@include screensize(medium){
    .ending-point{right:15%}    
}

@include screensize(desktop){
    .wcn-shipping-progress > .wcn-progress-step{
        .wcn-step-title{font-size:$base-font-size + 2px;}
    }
}
