﻿@import "../_base.scss";

.news-letter{padding:20px 0;border-bottom:1px solid $border-bgcolor-default;border-top:1px solid $border-bgcolor-default;display:inline-block;width:100%;}
.newsletter-container{
    h3{font-size:$base-font-size + 6;font-family:$base-font-family-bold;text-align:center;padding-bottom:10px;}    
    // Subscribe Widget
    .newsletter-widget{float:left;width:100%;
        .input-field{padding-left:0;padding-right:0;
              input[type="text"]{height:40px;border-radius:25px 0 0 25px;padding-left:15px;}
              button {border-radius:0 25px 25px 0;height:40px;line-height:26px;font-size:16px;}
        }
    }
}

