﻿@import "../_base.scss";

// Product Tab 

.wcn-product-details-tabs{
   .wcn-tab{border: 1px double $border-bgcolor-default;outline: 1px solid $border-bgcolor-default;outline-offset: -5px;border-radius:5px;padding:15px 0;
        .tab-panel-heading{padding:0;margin:0;
             li{list-style:none;display:inline-block;padding:0 10px !important;border-left:1px solid $border-bgcolor-default;
                a{text-transform:capitalize;font-size:22px;font-family:$base-font-family-bold;color:$base-color-secondary;cursor:pointer;
                 .zf-wcn-arrow-right{font-size:12px;}   }
             }
            li:first-child{padding-left:20px !important;border-left:none;}
           .active a{color:$base-color-primary !important;}
         }
    }
    .wcn-tab-panel{
        .panel-body{
            &.active .panel-title{color:$base-color-primary;}
            .panel-title{padding:15px 0;text-align:center;font-size:22px;text-transform:capitalize;}
            .inner-container{min-height:140px;padding:20px;border-bottom:1px solid $border-bgcolor-default;border-top:1px solid $border-bgcolor-default;display:inline-block;width:100%;
             .ask-que-button{
                 .btn-text {border:none;border-radius:4px;color:$base-bgcolor-button-primary;display:inline-block;font-size:18px;font-family:$base-font-family-bold;height:47px;line-height:43px;margin-left:5px;min-width:340px;padding:0 10px;text-align:center;text-transform:capitalize;background-color:$base-color-primary;}
             }   
             .qa-sign-register{
                 font-size:18px;padding:10px 20px !important;
                 a{text-decoration:underline;text-transform:capitalize}
             }        
            }
        }
    }
}


// Product Review
.product-review{margin-bottom:15px;
        .review-title{margin:5px 0;
            h3{font-size:$base-font-size;font-family:$base-font-family-bold;}
        }
}

// Media Query
@include screensize(x-small) {  
    .product-details-tab ul li{width:100%;padding-right:0;} 
    .wcn-product-details-tabs{ 
        .wcn-tab-panel{
            .panel-body{
                        &.active .panel-title{color:$base-color-black;}
             }
        }
    }
}
@include screensize(small) {  
    .product-details-tab{
        ul li{width:auto;padding-right:5px;}
        .tab-content{max-height:400px;}
    } 
   .wcn-product-details-tabs{ 
        .wcn-tab-panel{
            .panel-body{
                        &.active .panel-title{color:$base-color-primary;}
             }
        }
    }
}