﻿<div class="py-4">
    <div class="newsletter-widget align-items-center b2b-new-customer-text b2b-newsletter">
        <div class="col-xs-12 col-sm-12 p-0 text-center">
            @Html.Label(WebStore_Resources.LabelSignUpNewsletter, new { @data_test_selector = "lblSubscribeNewsLetter" })
            <p>@Html.RenderMessage("SignupSubscriptSubText")</p>
        </div>
        <div class="cpl-xs-12 col-sm-12 d-flex margin-top-20">
            <div class="col-md-4 col-lg-3 d-none d-lg-block"></div>
            <div class="col-xs-12 col-md-4 col-lg-6 input-field news-letter-pad">
                @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
                {
                    <div class="input-group" id="newsletter">
                        @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.TextEmail, @data_test_selector = "txtNewsLetterEmail", @class = "form-control" })
                        <div class="btn-newsletter">
                            <button class="btn btn-primary" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp">Subscribe</button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4 col-lg-3 d-none d-lg-block"></div>
        </div>
    </div>
    <div class="text-center"><p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p></div>
</div>
