﻿// |
// | BASE SASS
// | Global variables and mixins For Windy City Theme
// | 2016-17; Znode, Inc.
// | 

// Font Variable.
$base-font-family: Roboto-Regular, Arial, sans-serif;
$base-font-family-medium: Roboto-Medium, Arial, sans-serif;
$base-font-family-bold: Roboto-Bold, Arial, sans-serif;
$base-font-size:14px;

$base-font-normal: 500;
$base-font-bold:   700;
$base-font-light:  300;

// Color Variable.
$base-color-primary:#0aa9c7;
$base-color-secondary:#333333;
$base-color-tertiary:#a1a1a1;

$text-fgcolor-default:#333333;
$base-bgcolor-button-default:#0aa9c7;
$base-bgcolor-button-primary:#ffffff;
$base-fgcolor-input:#333333;
$shopping-summary-bgcolor:#ebebeb;

//  Navigation
$nav-bgcolor: #0aa9c7;
$nav-bgcolor-hover: #2D94AE;

// General Variable. 
$required-star:#cc0000;
$error-msg-fgcolor:#cc0000;
$success-msg-fgcolor:#008300;
$base-color-white:#fff;
$base-color-black:#000000;

$border-bgcolor-default:#e1e1e1;
$border-bgcolor-primary:#c3c3c3;

$checkbox-radio-color:#0aa9c7;
$checkbox-radio-label:#666;

$select-dropdown-color:#292a2a;

$anchor-tag-fgcolor:#0aa9c7;
$anchor-tag-fgcolor-hover:#0994ae;

$base-heading-font-primary:30px;
$base-heading-font-secondary:27px;

$alert-msg-danger:#d8929c;
$alert-msg-success:#5cb85c;
$alert-msg-info:#79cff7;

$shipping-progress-bar:#e5e5e5;
$shipping-fill-bar:#008300;
$text-placeholder:#999;

// Znode Icon Variable.
$znode-icon-font:'znode-web-store';


$zf-order-view:"\e905";
$zf-arrow-left:"\e900";
$zf-delete:"\e901";
$zf-edit:"\e902";
$zf-manage:"\e903";
$zf-view:"\e904";
$zf-fedex:"\e612";
$zf-shere:"\e613";
$zf-ups:"\e614";
$zf-grid-view:"\e60b";
$zf-list-view:"\e60c";
$zf-text-view:"\e60d";
$zf-cart:"\e600";
$zf-checkout:"\e601";
$zf-close:"\e602";
$zf-compare:"\e603";
$zf-home:"\e604";
$zf-login:"\e605";
$zf-quick-order:"\e606";
$zf-search:"\e607";
$zf-share:"\e608";
$zf-shipping:"\e609";
$zf-small-arrow:"\e60a";
$zf-login-user:"\f007";
$zf-twitter:"\f081";
$zf-facebook:"\f082";
$zf-arrow-circle-right:"\f0a9";
$zf-google-plus-square:"\f0d4";
$zf-caret-right:"\f0da";
$zf-youtube-square:"\f166";
$zf-visa-payment:"\f1f0";
$zf-mastercard-payment:"\f1f1";
$zf-amex-payment:"\f1f3";
$zf-paypal-payment:"\f1f4";
$zf-envelope-o:"\f003";
$zf-heart:"\f004";
$zf-lock:"\f023";
$zf-check-box-check:"\f046";
$zf-backward:"\f04a";
$zf-forward:"\f04e";
$zf-calendar:"\f073";
$zf-random:"\f074";
$zf-check-box:"\f096";
$zf-pinterest-square:"\f0d3";
$zf-first:"\f0d9";
$zf-last:"\f0db";
$zf-envelope:"\f0e0";
$zf-arrow-right-small:"\f105";
$zf-arrow-down-small:"\f107";
$zf-radio-button:"\f10c";
$zf-radio-button-check:"\f192";
$zf-printer:"\e60f";
$zf-key:"\e610";
$zf-key-2:"\e611";
$zf-checkbox-checked:"\e60e";
$zf-google:"\e615";
$zf-facebook-simple:"\e616";
$zf-pdf-file:"\e906";
$zf-word-file:"\e907";
$zf-excel-file:"\e908";
$zf-down: "\e909";
$zf-up:"\e90a";
$zf-refresh: "\f021";
$zf-close-circle:"\f057";
$zf-orders:"\e90b";
$zf-refund-order:"\e90c";
$zf-star-empty:"\e90d";
$zf-star-full:"\e90e";
$zf-star-half:"\e90f";
$zf-view-details:"\e910";
$zf-active:"\e911";
$zf-inactive:"\e912";

// For WCN
$zf-wcn-nav-menu:"\e914";
$zf-wcn-phone:"\e915";
$zf-wcn-search:"\e916";
$zf-wcn-shopping-cart:"\e917";
$zf-wcn-close:"\e918";
$zf-wcn-arrow-right-bold:"\e913";
$zf-wcn-cancel-circle:"\e91a";
$zf-wcn-view:"\e91b";
$zf-wcn-envelope:"\e91c";
$zf-wcn-facebook:"\e91d";
$zf-wcn-heart:"\e91e";
$zf-wcn-pinterest:"\e91f";
$zf-wcn-star:"\e920";
$zf-wcn-twitter:"\e921";
$zf-wcn-arrow-left-bold:"\e922";
$zf-wcn-arrow-left:"\e923";
$zf-wcn-arrow-right: "\e919";
$zf-wcn-arrow-up: "\e924";
$zf-wcn-arrow-down: "\e925";
$zf-wcn-swatch-image: "\f0c8";
$zf-wcn-check-circle: "\e927";
$zf-wcn-youtube: "\e926";
$zf-chat: "\e928";


// Mixins.
@mixin -webkit-text-size-adjust{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@mixin btn-text{
  display:inline-block;min-width:70px;
  text-align:center;
  font:{
    family:$base-font-family;
  }
  border:none;
  color:$base-color-white;  
  border-radius: 4px;
  text-transform: capitalize;
}
@mixin input-field{
  color:$base-fgcolor-input; 
  padding:0 5px;
  font:{
    family: $base-font-family;
    size:$base-font-size;   
  }
  width:100%; 
  border:1px solid $border-bgcolor-default; 
  box-shadow:none;  
  outline: medium none;  
}
@mixin icon($content) {
	font-family: $znode-icon-font;
	content: $content;    
}

// Responsive screen sizes.
$base-screen-x-small: 320px;
$base-screen-xl-small: 480px;
$base-screen-small: 768px;
$base-screen-medium: 992px;
$base-screen-desktop: 1200px;
$base-screen-large: 1300px;
$base-screen-x-large: 1500px;

@mixin screensize($size) {
    @if $size == x-small {
        @media all and (min-width: $base-screen-x-small) { @content; }
    }
    @if $size == xl-small {
        @media all and (min-width: $base-screen-xl-small) { @content; }
    }
    @if $size == small {
        @media all and (min-width: $base-screen-small) { @content; }
    }     
    @if $size == medium {
        @media all and (min-width: $base-screen-medium) { @content; }
    }
    @else if $size == desktop {
        @media all and (min-width: $base-screen-desktop) { @content; }
    }
    @else if $size == large {
        @media all and (min-width: $base-screen-large) { @content; }
    }
    @else if $size == x-large {
        @media all and (min-width: $base-screen-x-large) { @content; }
    }
    @else if $size == xl-small-max {
        @media all and (max-width: $base-screen-xl-small) { @content; }
    }
}