﻿@import "_base.scss";
.wcn-nav-button{position:relative;background-color:transparent;border:0;font-family:$base-font-family-bold;font-size:$base-font-size + 3;background-color:transparent;color:$base-color-primary;display:inline-block;vertical-align:middle;padding-left:10px;padding-right:0;outline:none;
     i{left:20px;top:13px;background-color:transparent!important;
           &:before,&:after{top:0;}
           &:before{transform:rotate(45deg);}
           &:after{transform:rotate(-45deg);}
     }
     i,i:before,i:after{cursor:pointer;border-radius:1px;height:2px;width:13px;background:$base-color-primary;position:absolute;display:block;content:'';transition:all 300ms ease-in-out;-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;}
     &.collapsed i{background-color:$base-color-primary!important;
           &:before{top:-4px;}
           &:after{top:4px;}
           &:before{transform:rotate(0);}
           &:after{transform:rotate(0);}
     }
}
.header-nav-container{background-color:$nav-bgcolor;min-height:0;
    .navbar-header .navbar-toggle{cursor:pointer;position:fixed;top:0;left:130px;margin:10px 0;border:1px solid $base-color-primary;
        .icon-bar{background-color:$base-color-primary;}
    }
    .header-nav .navbar-collapse .navbar-nav{
        .dropdown{
            > .dropdown-menu{position:absolute;
                > li{display:block;position:relative;
                    > a{font-family:$base-font-family-bold;font-size:$base-font-size + 2;}
                    &:first-child::before{display:none;}
                    > .sub-menu-child > li{
                        a{font-weight:$base-font-light;color:$text-fgcolor-default;font-size:$base-font-size;
                            &:hover{color:$base-color-primary;}
                        }
                    }
                }
            }
        }
    }
}
.navbar-nav{
    > li {
        &.activeList {background-color:$nav-bgcolor-hover !important;}
        &:first-child > a::after{display:none;}
        > a {padding:0;font-size:$base-font-size + 1;color:$base-color-white;line-height: 16px;position:relative;font-family:$base-font-family-bold;
            &:hover,&:active,&:focus{background-color:inherit;}
        }
        .brand-filter a{font-size:18px;text-align:center;
            &:hover{background-color:#f4f4f4;}
        }
    }
}
.dropdown-menu ul {padding: 0 0 10px 15px;
    li {line-height: 40px;}
}
.view-all{color:$base-color-primary !important;font-weight:$base-font-light !important;}
.navbar-collapse{padding:0;}
.yamm .nav {position: relative;}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left:auto;right:0;}
.yamm .yamm-content {padding:20px;}
.yamm .dropdown ul li {background-color:transparent;display:inline-block;vertical-align:top;line-height:24px;
    &.view-all a {color:$base-color-primary;}
    a {background-color:transparent;color:#333;white-space:normal !important}
    .sub-menu-child {padding-left:20px;
        li {width:100%;list-style:none; 
             a {color:#999;background-color:transparent;}
             ul li a {font-weight:normal;}
        }
    }    
    i {padding-right:10px;color:$base-color-primary;}
}
.yamm .dropdown ul li a:hover, .yamm .dropdown ul li .sub-menu-child li a:hover {color:$base-color-primary;}

// Media Query.
@include screensize(x-small) {
    .navbar-nav{height:auto !important;}
    .header-nav-container .header-nav .navbar-collapse{max-height:65vh;z-index:9999 !important;
        .navbar-nav{display:block;margin:0;z-index:9999 !important;
            > .dropdown{max-width:100%;width:100%;border-bottom:1px solid $border-bgcolor-default;display:block;text-align:left;float:left;
                &:hover{background-color:inherit;
                    >.dropdown-menu{display:none;}
                }
                > a{padding:15px;float:left;width:100%;}
                span{position:absolute;right:0;width:15%;padding:15px 5px;text-align:center;color:$base-color-white;font-size:14px;font-weight:bold;z-index:9999 !important;}            
                >.dropdown-menu{position:relative;border-radius:0;box-shadow:none;-webkit-box-shadow:none;width:100%;
                    > li {padding:10px 5px;}
                }
                
            }
            > .activeList{
                .dropdown-menu{display:block !important;} 
            }
        }
    }
}
@include screensize(small) {
    .navbar-collapse.collapse{display:none !important;overflow:auto !important;
        &.in{display:block !important;}
    }
}
@include screensize(medium) {
    .wcn-nav-button{display:none;}
    .navbar-nav{height:50px !important;}
    .yamm .dropdown.yamm-fw .dropdown-menu {overflow-y:auto;}
    .navbar-collapse.collapse{display:block !important;overflow:visible !important;}
    .header-nav-container .header-nav .navbar-collapse{
        .navbar-nav{margin:0;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;
            > .dropdown{border-bottom:0;width:auto;position:initial;
                &:hover {background-color:$nav-bgcolor-hover;
                    >.dropdown-menu{display:-webkit-box;display:-ms-flexbox;display:flex;}
                } 
                > a{padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;padding:0 15px;height:100%;text-align:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;pointer-events:all;
                    &::after{content:"";background-color:#fff;min-width:1px;width:1px;height:calc(100% - 20px);background:$base-color-white;position:absolute;left:0;top:10px;opacity:0.5;}
                }
                .dropdown-click{display:none;}
                >.dropdown-menu{padding:0 10px;position:absolute;height:450px;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:auto;box-shadow:0px 500px 0px 500px rgba(0,0,0,0.175);-webkit-box-shadow:0px 500px 0px 500px rgba(0,0,0,0.175);-moz-box-shadow:0px 500px 0px 500px rgba(0,0,0,0.175);box-shadow:0px 100vw 0px 100vw rgba(0,0,0,0.175);-webkit-box-shadow:0px 100vw 0px 100vw rgba(0,0,0,0.175);-moz-box-shadow:0px 100vw 0px 100vw rgba(0,0,0,0.175);max-width:935px;
                    .drop-down-break{position:absolute;width:1px;margin:0;padding:0;background-color:$border-bgcolor-default;height:100%;
                        &.first-break{left:232px;}
                        &.second-break{left:465px;}
                        &.third-break{left:695px;}
                    }
                    > li {padding:15px 20px 0px;line-height:20px;width:230px;
                        > .sub-menu-child li{line-height:20px;margin-bottom:3px;}
                        > a{padding:0;}
                        > ul{padding:0;}
                    }
                }
            }
        }
    }
}