﻿@import "_base.scss";

.blog-news{padding:0;margin:0;list-style:none;
    li{width:100%;border:1px solid $border-bgcolor-default;margin-bottom:15px;border-radius:3px;display:flex;align-items:center;
       img{width:100%;max-width:250px;}
       .blog-news-title{
           a{color:$base-color-secondary;
               h2{color:$anchor-tag-fgcolor;
                  &:hover{color:$anchor-tag-fgcolor-hover;}
               }
            }
       }
       .blog-news-date-time{padding:5px 10px;background-color:lighten( $base-color-primary, 50% );}
    }
}

.blog-news-details{
    .blog-news-title{padding:10px 0;float: left;width: 100%;
        h1{color:$anchor-tag-fgcolor;margin:0;}
    }
    img{padding:5px 0;margin:auto;max-height:500px;}
    .blog-news-date-time{padding:5px 10px;background-color:lighten( $base-color-primary, 50% );
        p{float:left;}
        a{cursor:pointer;
            i:before{font-size:$base-font-size - 2;}
        } 
    }
    .back-btn{
        button{margin-top:5px;}
    }
    .blog-news-text{padding:10px 0;
        p{text-align:justify;padding:5px 0;}
    }
    form{float:left;width:100%;margin-top:20px;
         textarea{padding:5px;margin-top:10px;}
         button{margin-left:0;}
    }
    .comments-display-section{float:left;width:100%;
        .comment-list{padding:10px 0 0;border-bottom:1px solid $border-bgcolor-default;
            &:last-child{border-bottom:none;}
            .blog-comment{
                 .comment-info{line-height:30px;}
                 .comment-date-time{padding:5px 10px;background-color:lighten( $base-color-primary, 50% );}
                 .comment-text{padding:10px;
                        p{text-align:justify;}
                   }
            }
        }
    }
}


@include screensize(x-small) {
    .blog-news{
        li{
            .blog-news-text{padding:10px 15px;align-self:flex-start;
                .overview{display:flex;flex-wrap:wrap;
                    .blog-text{display: block;display: -webkit-box;height:33px;margin: 0 auto;line-height: 1.2;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;font-weight:normal;}
                }
                .blog-news-title{padding-bottom:5px;}
            }
            button{margin: 0;padding: 0;height: auto;line-height:1;background-color:transparent;border:none;color:#0aa9c7;text-transform:lowercase;width:fit-content;width:-moz-fit-content;font-size:14px;
                &:hover{color:$base-color-primary;background-color:transparent;border-color:transparent;}
            }
        }
    }
}

@include screensize(xl-small) {
    .blog-news li .blog-news-text{padding:15px 25px;
        .blog-news-title{padding-bottom:20px;}
    }
}

@include screensize(medium){
    .blog-news li button{margin-top:20px;height:48px;padding:6px 40px;line-height:34px;font-size:17px;background-color:$base-color-primary;border:1px solid $base-color-primary;color:$base-color-white;text-transform:capitalize;display:block;
        &:hover{color: #fff;background-color: #088096;border-color: #07788d;}
    }
}

@include screensize(desktop){
    .blog-news li button{margin-top:70px;}
}