﻿@import "_base.scss";

.shopping-cart{
    .wcn-cart-title{border:1px double $border-bgcolor-default;border-radius:5px;outline:1px solid $border-bgcolor-default;outline-offset:-5px;
        .page-title{padding:15px;font-family:$base-font-family-bold;font-size:$base-font-size + 8;margin:0;}
    }
    .wcn-shopping-summary{background:$shopping-summary-bgcolor;
        .wcn-summary-heading{border-bottom:1px solid $border-bgcolor-default;
            .page-title{margin:0;padding:20px 0;}
        }
        .wcn-cart-title{
            .page-title{padding:15px;}
        }
    }
    .cart-total-title h2{border:1px solid $border-bgcolor-default;font-size:16px;color:$base-color-primary;font-family:$base-font-family-bold;padding:15px; background: $base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f0f0f0 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -o-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f0f0f0 100%);background: linear-gradient(to bottom,  #ffffff 0,#f0f0f0 100%);}
    .cart-products{
        .cart-item-quantity{
            .quantity-spinner{
                .quantity-plus-spinner{border-top-right-radius:4px;}
                .quantity-minus-spinner{border-bottom-right-radius:4px;}
            }
        }
        table{margin-bottom:0;font-size:$base-font-size + 2;
              thead{border-top:0;
                tr th{padding:15px 5px;font-family:$base-font-family-bold;font-size:$base-font-size + 1;}
              }
              tr{border-bottom:1px solid $border-bgcolor-default;}
              tr td,tr th{vertical-align:top;}
              tr th:first-child{width:30px;}
              .remove-item .cart-item-remove i{color:$base-color-secondary;font-size:18px;}
        }
    } 
    .remove-item a{float:left; width:100%; text-align:center;color:$base-color-primary;}
    .cart-item-details{
        .cart-item-description{font-size:$base-font-size;line-height:26px;
            .action-ui li:first-child{padding-left:0;}
            .action-ui li a.cart-item-title{font-family:$base-font-family;font-size:$base-font-size;color:$anchor-tag-fgcolor;vertical-align:initial;}
        }
        a{font-size:$base-font-size + 1;font-family:$base-font-family-medium;line-height:1;vertical-align:super;overflow:hidden;width:100%;color:$base-color-secondary;}
        .group-product-list p{line-height:32px;font-family:$base-font-family-bold;
            i{font-size:13px;color:$base-color-primary;}
        }
        .cart-image {
            img {width:100%;}
            a {max-height:100%;overflow:visible;}
        }
    }    
    .cart-summary{border-top:0;padding:20px 0;
        .cart-total{color:$base-color-secondary;
            .form-group{float:left;width:100%;margin-bottom:5px;line-height:25px;font-family:$base-font-family-medium;font-size:$base-font-size;}
            .total{float:left;width:100%;padding:5px 0;}
            .order-total{border-top:1px solid $border-bgcolor-default;padding:15px 0;}
        }   
        .discount-amount{text-align:right;}    
    }
    .cart-promocode,.cart-giftcart{padding-right:25px;
        p{font-family:$base-font-family-bold;padding:10px 0;}
        .input-group{max-width:300px;}
    }
    .shipping-estimate-details{line-height:20px;
        .styled-input input[type=radio] + label {padding-right:10px;margin-bottom:0;}
    }
    .cart-apply-promocode {
        .right-inner-icon{
            i {line-height:1;}
            .cancel-shipping-estimator {position:absolute; top:0; right:0; padding:9px 15px; height:34px;}
        } 
    }
}

.wcn-update-cart-btn{padding-right:2px;
    a{background-color:$base-color-primary;padding:3px;margin-top:2px;display:block;color:$base-color-white;border-radius:4px;text-align:center;}
}

//  Removing Signup from Cart page
#Cart .footer-container .news-letter{border-top:none;padding-top:0;
    .newsletter-container{display:none;}
}
.cart-item-quantity{        
        input[type="text"]{width:48px;}
}
//Mini Cart 
.mini-cart-popup{
    .wcn-shipping-progress{padding:30px 0 20px 0;}
    .wcn-block-in-minicart{display:block;}
    .wcn-shipping-progress > .wcn-progress-step .wcn-step-title,.shipping-bar-status{font-size:$base-font-size;}
    .wcn-shipping-progress>.wcn-progress-step{
        .permanent-popover{display:none;}
        &.wcn-free-shipping a.wcn-step-dot{pointer-events:all;}
    }
    .starting-point{left:10%;}
    .ending-point{right:3%;}
    .wcn-shipping-progress > .wcn-progress-step > .wcn-step-dot{left:40%;}
    .mini-cart{
        .mini-cart-price{text-align:center;
            .input-group-btn-vertical,.qty{display:none;}
            .cart-item-quantity { input[type="text"]{width:44px;height:22px;}
                a{display:none;}
            }
        }
        .mini-cart-row {  
            a{color:$base-color-secondary;font-size:15px;font-family:$base-font-family-bold;}  
            .cart-item-title{line-height:12px;vertical-align:super;}
        }
        .checkout-button{padding:0 20px 20px;border-bottom:1px solid $border-bgcolor-default;}
        .checkout{padding:10px 20px;}
        .total{
            p{font-size:$base-font-size + 4;}
        }              
        .cart-total{padding:20px 0;
            .sub-total{display:none;}
            .form-group{margin-bottom:0;}
            .discount-block{display:none;}
        }
        .discount-block{font-size:$base-font-size + 4;padding:10px 20px;border-bottom:1px solid $border-bgcolor-default;
            .discount-amount{text-align:right;}
        }
        .cart-item-description .action-ui li:first-child{padding-left:0;}
        .cart-item-description .action-ui li a.cart-item-title{font-family:$base-font-family;font-size:$base-font-size;color:$anchor-tag-fgcolor;vertical-align:initial;}
    }
    .sub-total{padding:10px 20px;margin-bottom:0;}
    .order-total{padding:0 20px;}
    .main-wrapper{padding-top:0;}
    .wcn-cart-title{border-bottom:1px solid $border-bgcolor-default;padding-left:10px;
        h1{font-family:$base-font-family-bold;font-size:$base-font-size + 8;text-align:center;}
    }
    .cart-total-title h2{border:1px solid $border-bgcolor-default;font-size:16px;color:$base-color-primary;font-family:$base-font-family-bold;padding:15px; background: $base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f0f0f0 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -o-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f0f0f0 100%);background: linear-gradient(to bottom,  #ffffff 0,#f0f0f0 100%);}
        .cart-products{
        table{margin-bottom:0;font-size:$base-font-size + 2;
            thead{border-top:0;}
            tr{border-bottom:1px solid $border-bgcolor-default;}
            tr td,tr th{vertical-align:top;}
            .remove-item .cart-item-remove i{color:$base-color-secondary;font-size:18px;}
        }
    } 
    .disable-anchor{color:#000;}
}
.coupon-successful{color:$success-msg-fgcolor;}
//Mini Cart Row 
.mini-cart-price{
    .cart-item-quantity {
         input[type="text"]{background-color:transparent;border:0;}
        .spinner{pointer-events:none;}
        .error-msg{width:250px;text-align:left;}
    }
    border-bottom:1px solid $border-bgcolor-default;
}
#Cart .main-wrapper{padding:0;}

// Media Query
@include screensize(x-small) {
    .shopping-cart{padding:0 15px;
        .wcn-shopping-details .table-responsive .table{
            thead{display:none;}
            tbody{border:0;
                tr{position:relative;float:left;width:100%;
                    td{display:block;float:left;width:70%;text-align:left;padding:10px 5px;
                        &.remove-item{position:absolute;z-index:1;padding:10px;width:auto;top:0;left:0;}
                        .cart-description{padding:10px 0 0;white-space:normal;
                            label{padding-right:5px;}
                        }
                        &.cart-item-quantity,&.cart-item-unitprice,&.cart-item-total{float:right;clear:right;width:30%;min-width:90px;}
                    }
                }
            }
        }
        .advertisement-zwidget{display:none;}
        .wcn-shopping-summary{
            .wcn-cart-title{
                .page-title{display:none;}
            }
        }
        .wcn-cart-title{border:none;outline:none;text-align: center;}
        .cart-summary{/*padding:5px;*/
            .btn{padding:6px 0;}
        }
        .cart-item-details{
            .cart-image {
                img {max-width:50px;text-align:center;margin:0 auto;}
            }
        }
        .cart-promocode,.cart-giftcart{padding-right:0;
            p{font-family:$base-font-family-bold;padding:10px 0;}
            .input-group{max-width:335px;}
        }
    }
    //Artifi Preview Popup
    .artifi-preview-popup .popup-container iframe{height:85vh;}
    .mini-cart-popup .wcn-shipping-progress>.wcn-progress-step.wcn-free-shipping .wcn-step-title{visibility:hidden;}
}
@include screensize(xl-small){
    .mini-cart-popup .wcn-shipping-progress>.wcn-progress-step.wcn-free-shipping .wcn-step-title{visibility:visible;position:relative;left:-10px;}
}
@include screensize(small) {
    .shopping-cart{padding:0;
        .wcn-shopping-details{padding-right:20px;
            .table-responsive .table{
                thead{display:table-header-group;}
                tbody{border-top:1px solid $border-bgcolor-default;border-bottom:1px solid $border-bgcolor-default;
                    tr{float:none;
                        td{display:table-cell;float:none;width:auto;text-align:left;padding:20px 5px;
                            &.remove-item{position:relative;padding:20px 5px;}
                            .cart-description{padding:0 0 0 10px;}
                            &.cart-item-quantity,&.cart-item-unitprice,&.cart-item-total{float:none;clear:none;width:auto;}
                        }
                    }
                }
            }
        }
        .advertisement-zwidget{display:block;}  
        .wcn-shopping-summary{
            .wcn-cart-title{
                .page-title{display:block;}
            }
        }
        .wcn-cart-title{border:1px double $border-bgcolor-default;border-radius:5px;outline:1px solid $border-bgcolor-default;outline-offset:-5px;text-align: left;
            .cart-item-quantity{max-width:60px;}
        }
        /*.cart-summary{padding:10px;}*/
        .cart-item-details{
            .cart-image {
                img {max-width:79px;text-align:left;}
            }
        }
        .cart-promocode,.cart-giftcart{padding-right:25px;
            .input-group{max-width:300px;}
        }
    }
    .artifi-preview-popup .popup-container iframe{height:530px;}
}
@include screensize(medium) {
/*.shopping-cart{
        .cart-summary{padding:20px;}
    }*/
}