﻿@import "_base.scss";

.wcn-page-title-container{
    h1,h2{font-family:$base-font-family-bold;font-size:22px;text-align:center;}
    p{font-family:$base-font-family-medium;font-size:14px;padding-bottom:10px;}
}

.wcn-aside-box{padding:0;display:block;
    .wcn-sub-category{padding:0; margin:0;
       .category-text{cursor:default;}
        li{list-style:none;display:block;border-bottom:1px solid $border-bgcolor-default;
           a{padding:12px 30px 12px 15px;display:block;cursor:pointer;font-size:15px;color:$base-color-secondary;font-family:$base-font-family-medium;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
              i{float:right;font-size:12px;line-height:24px;color:$base-color-secondary;position:absolute;right:0;}
            }
           &.aside-category-back {display:none;
                a {color:$base-color-primary;padding:12px 15px 12px 30px;
                   i{color:$base-color-primary;position:absolute;left:10px;line-height:20px}
                }
            }
           &:first-child{border-top:1px solid $border-bgcolor-default;}
        }
    }
}
.wcn-category-product-landing{flex:1;-webkit-flex:1;-ms-flex: 1;overflow:hidden;}
.wcn-long-description p{padding-bottom:10px !important;}
.category-pagination-arrow{border:1px solid $border-bgcolor-default;padding:10px 0;border-radius:2px;margin:5px 0;display:flex;flex-wrap:wrap;align-items:center;
    li{border:1px solid $border-bgcolor-default;border-radius:4px;list-style:none;display:inline-block;text-align:center;
        a{width:32px;height:32px;display:inline-block;line-height:34px;
            &.disabled{cursor: not-allowed;background-color:#efefef;pointer-events:none;
                i{color:#c3c3c3;}
            }
            &.wcn-current-page{background-color:$base-color-primary;color:$base-color-white;border-radius:4px;}
        }
    }
}
.wcn-category-landing{flex:1;-webkit-flex:1;-ms-flex: 1;overflow:hidden;
    .product-list-widget{
         h3{font-family:$base-font-family-bold;font-size:21px;text-align:center;margin-bottom:15px;}
        .owl-theme .owl-controls{top:-39px;}   
        .owl-wrapper-outer{border-bottom:1px solid $border-bgcolor-default;}        
    }
    .product-grid {
        .collapse.in{
            .product-view{
                         .product-item .view-item{
                                 .category-details{
                                     h4{position:relative;}
                                    .popover{margin-top:-22px;border-radius:3px;padding:0;border:0;left:0;right:0;color:$base-color-primary;
                                        .arrow{display:none;}
                                        .popover-content{padding:2px 5px;}
                                    }   
                                    .popover.bottom{margin-top:-22px !important;}
                                   }
                                 }
                             }
                }
        }
    }

.category-landing-container{padding-right:0;}

.narrow-results-pane{margin-top:14px;display:block;}
.wcn-aside-box .wcn-facet-panel .panel-body{padding:10px 15px;}

.search-result{padding-top:20px;font-size:20px;float:left;
    b{color:$base-color-primary;}
}
// Media Query
@include screensize(x-small) {    
    .category-recent-view-list{padding:0 5px;
        .product-list-widget{padding:0;}
    }
    .category-landing-container{padding-right:5px;padding-left:5px;} 
    .wcn-aside-box{width:300px; overflow: scroll;-webkit-overflow-scrolling: touch;padding-bottom:60px;}
    .wcn-page-title-container{padding:5px 15px;
      h1,h2{font-size:$base-font-size + 4px;}
      p{font-size:$base-font-size;}
    }   
    .wcn-category-landing,.wcn-category-product-landing{margin-left:0;}
    .wcn-seemore-category .category-list-widget ul {padding:0 !important;
            li{width:48% !important;}
    } 
    .wcn-aside-box .wcn-sub-category li a{padding:12px 50px 12px 15px;}
}
@include screensize(small) {        
    .category-landing-container{padding-right:0;padding-left:15px;}
    .category-recent-view-list{padding:0;}
    .wcn-page-title-container{
      h1,h2{font-size:$base-font-size + 8px;}
      p{font-size:$base-font-size;}
    }
    .wcn-seemore-category .category-list-widget ul {padding:0 !important;
        li{width:24% !important;margin:0 0.5% 15px !important;}
    }
}
@include screensize(medium){
    .wcn-page-title-container{padding:20px;}
    .narrow-results-pane{display:block;}
    .wcn-aside-box .wcn-facet-panel .panel-body{padding:10px 5px;}
    .wcn-aside-box{width:240px;overflow: auto;padding-bottom:0;
        .wcn-sub-category{display:block;
            > li.aside-category-back{display:block;}
        }
    }  
    .wcn-aside-box .wcn-sub-category li a{padding:12px 30px 12px 15px;}
    .category-pagination-arrow{
        .text-md-left{text-align:left;margin-bottom:0;}
        .text-md-right{text-align:right;}
    }
    .wcn-category-landing,.wcn-category-product-landing{margin-left:15px;}
}

@include screensize(xl-small-max) {
    /*.wcn-aside-box{position:fixed;height:100%;top:0;bottom:0;background:$base-color-white;left:-300px;}*/
}
