﻿@import "_base.scss";

.wcn-signin-container{padding:15px;
    input[type="text"],input[type="password"]{padding:0 20px;font-size:$base-font-size + 3;}    
    .login-form-forgotpassword{text-align:right;cursor:pointer;}
    .wcn-register{
        h6{font-size:15px;}
        .wcn-register-link{border:1px solid $base-color-primary;color:$base-color-primary}         
    }    
}
.wcn-socal-media-login{border-bottom:1px solid $border-bgcolor-default;padding-bottom:25px;margin-bottom:20px;    
    h4{font-size:21px;font-family:$base-font-family-bold;padding-bottom:20px;}
    .btn-social-login{border:none;background-color:transparent;padding:0;display:inline-block;
        img{max-width:134px;}
    }
    .or-separator{position:absolute;bottom:-11px;left:0;right:0;text-align:center;
        span{background-color:$base-color-white;font-size:17px;padding:15px;}
    }
}

.wcn-register-container,.wcn-forgot-password{padding:15px;    
    input[type="text"],input[type="password"]{padding:0 20px;font-size:$base-font-size + 3;}    
    h4{font-size:21px;font-family:$base-font-family-bold;padding-bottom:20px;}
    .btn-back-link{border-bottom:1px solid $border-bgcolor-default;border-top:1px solid $border-bgcolor-default;margin-bottom:15px; 
        a{padding:10px 0;font-size:18px;display:inline-block;vertical-align:middle;
            i{font-size:14px;}
        }
    }    
}

// Socal Media
.Facebook-btn,.Google-btn,.Amazon-btn{margin-bottom:5px;}
.social-login{width:150px !important;}

// Password Hide/Show
.password-display {position: absolute;top: 0;right: 0;padding: 15px;
    &:hover {text-decoration: underline;cursor: pointer;}
}
//Register Confirmation
.confirmation{padding: 10px;text-align: center;font-size: $base-font-size + 3;}
.register-button{padding: 0 20px 20px;}
.register-container .create-account .btn {padding:6px 28px;}