﻿@import "_base.scss";

// Product Overview Details
.product-view-details .related-products{border:1px solid $border-bgcolor-default;border-radius:5px;}
.related-products{
    .product-list-title {padding: 15px 0;text-align: center;font-size: $base-font-size + 8px;font-family: $base-font-family-bold;margin-bottom:0;}
    .product-list-widget{
        .product-list-title {display:none;}
        .owl-theme{
            .owl-controls{display:none!important;}
        }
    }
}
.product-details.product-detail-info{text-align:left;}
.product-view-details .product-overview { line-height:26px;color:#252525;font-size:$base-font-size + 1; 
    .product-price { 
        .wcn-uom{font-family:$base-font-family;font-size:12px;text-transform:lowercase;color:$base-color-secondary;}
        h2{color:#cc0000;font-family:$base-font-family-bold;font-size:26px;}
        .black-price{color:$base-color-secondary !important;}
        .cut-price{font-family: HelveticaNeue, Arial, sans-serif;font-size:$base-font-size;text-transform:lowercase;color:#000000;}
    }
    .product-rating{padding-top:12px;
        .star-rating{font-size:$base-font-size + 2;}
        a{font-size:$base-font-size + 2;letter-spacing:1px;padding-left:8px;cursor:pointer;}
        span{color:$base-color-primary;}
        .review-text{text-decoration:underline;padding-left:5px;}
    }                                      
    .product-availablity,.product-sku{float:left;line-height:20px;display:block;padding:0;}        
    .product-availablity span,.product-sku span,.product-vendor span{font-family:$base-font-family-bold;font-size:16px;}   
    .btn-add-to-cart .btn-lable{min-width:250px;}           
    .product-status{background-color:#f8f8f8;border:1px solid $border-bgcolor-default;padding:6px 0;
        p{color:#05901b;font-size:12px;line-height:20px;margin-bottom:0;}
        i{font-size:30px;color:#05901b;vertical-align:middle;padding:0 5px;line-height:58px;}
    }
    .product-bundles{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;padding:5px;max-height:300px;overflow-y:auto;
        img{margin:0 auto;}            
        .status-outofstock{font-size:12px;font-family:$base-font-family-bold;color:$base-color-primary;}
        ul{margin:0;padding:0;
            li{display:inline-block;vertical-align:top;width:24%;margin-bottom:10px;
                h5{font-size:$base-font-size;}
            }
        }
    } 
    .product-details-qty, .group-item-details {
        .error-msg{font-size:12px;font-family:$base-font-family-bold;color:$base-color-primary;} 
    }
         
    .btn-wishlist{display:inline-block;background-color:transparent;border:0;font-family:$base-font-family;text-align:center;line-height:1;height:48px;font-size:10px;vertical-align:top;padding:0;margin-left:12px;outline:none;
        i{display:block;font-size:20px;}
    }    
        
    .product-wishlist{
        label{display:inline-block;font-weight:normal;margin-bottom:0;vertical-align:super;float:left;}
        .wcn-social-share{
            z-widget{display:inline-block;}
            .wcn-email-to-friend {padding:0;margin:0;display:inline-block;float:left;
                li{display:inline-block;list-style:none;padding:0 3px;float:left;margin-left:8px;
                    a{cursor:pointer;}
                }
                i{font-size:26px;color:#787878;}
            }
            .link-panel-widget{padding:0;display:inline-block;margin-top:2px;
                li{display:inline-block;list-style:none;padding:0 1px;margin:0;}
                i{font-size:26px;color:#787878;}
                img{height:24px;width:24px;}
            }
        }    
    }
}
.recently-viewed-products .recent-view-items{
    h3{border-bottom:1px solid $border-bgcolor-default;margin-bottom:14px;padding:15px 0;text-transform:capitalize;font-size:$base-font-size + 8;font-family:$base-font-family-bold;color:$base-color-black;text-align:center;}
}
.product-view-details .product-info{padding:0;margin:0;
        .product-price{
            h2{font-size:26px;font-family:$base-font-family-bold;margin:5px 0;}
            .cut-price{color:#9f9f9f; padding-left:5px;text-decoration:line-through;font-size:20px;}
            .wcn-uom{font-family:$base-font-family;font-size:12px;text-transform:lowercase;}
        }  
        .product-variations{
            .product-customize{
                  .addons-attributs{padding:0;
                      h4{font-size:$base-font-size + 1;font-family:$base-font-family-bold;min-height:20px;}
                      label{font-size:$base-font-size;display:inline-block;vertical-align:top;}
                      .form-group{float:left;width:100%;padding-left:0; margin-bottom:5px;
                            .cut-price {padding-right:0;}
                            .original-price {padding-left:5px;}
                      }
                      .quantity{width:50px;}
                      select{width:50%;}
                  }
                  .swatch-img-container{padding:0;
                        label{display:block;font-size:$base-font-size;text-transform: capitalize;font-weight:normal;}
                        ul{padding:0;margin:0;
                           li{display:inline-block;cursor:pointer;}
                           img{border:1px solid $border-bgcolor-default;margin:0 5px 5px 0;max-height:40px;max-width:40px;
                               &:hover{border:1px solid $base-color-primary;}
                           }
                        }
                        // Color Swatch Img.
                        .color-swatch li label{                                                
                            &:before,&:after{color:transparent;}
                            img{margin-left:-26px;}
                        }
                        .color-swatch li label.active img{border:1px dashed $base-color-primary;}
                        .color-swatch li label img.scratchattribute{opacity:0.3;border:1px solid $border-bgcolor-default !important;background:url('../../Images/scratch.png');background-size:100% 100%;}
                    }
                    // Color Swatch Img.
                    .size-swatch{padding:0;margin:0;
                           li{display:inline-block;cursor:pointer;margin:0 5px 10px 0;line-height:26px;position:relative;
                              &.scratch-attribute-img label.scratch-image .swatch-tick{top:-45px;left:14px;}
                              .swatch-tick{position:relative;top: -12px;left:15px;color:$text-fgcolor-default;background-color:$base-color-white;border-radius: 26px;opacity:0;font-size:17px;}
                              label{text-align:center;margin:0;background-color:$base-color-white;
                                    &:before,&:after{color:transparent;}                            
                                }
                              label.active{
                              .swatch-tick{opacity:1;}

                              }
                              label.scratch-image{padding:0;width:28px;height:28px;
                                  &.scratchattribute:before{background:none;position:absolute;content:"";left:0;top:50%;right:0;color:#c3c3c3;padding:0;margin:0;-webkit-transform:rotate(-50deg);-moz-transform:rotate(-50deg);-ms-transform:rotate(-50deg);-o-transform:rotate(-50deg);transform:rotate(-50deg);border-top:1px solid #c3c3c3;}
                              }
                              label.scratch-text{padding:0 10px;border:2px solid $border-bgcolor-default;border-radius:5px;
                                  &.scratchattribute:before{background:none;position:absolute;content:"";left:3px;top:50%;right:0;color:#c3c3c3;padding:0;margin:0;border-top:1px solid #c3c3c3;-webkit-transform:rotate(-17deg);-moz-transform:rotate(-17deg);-ms-transform:rotate(-17deg);-o-transform:rotate(-17deg);transform:rotate(-17deg);}
                              }
                              .SwatchImage{border-radius:5px;box-shadow:0px 1px 3px #9e9e9e;color:$base-color-white !important}
                           }
                    }
                    .color-swatch li{
                        label{width:38px !important;height:34px !important;cursor:pointer !important;
                              i{font-size:40px;line-height:28px;}
                        } 
                        .swatch-tick{position:relative;top:-25px;left:-10px;color:$text-fgcolor-default;background-color:$base-color-white;border-radius: 26px;opacity:0;font-size:17px;}
                    } 
                  // Swatch Img default
                  .swatch-img li img{max-width:34px;max-height:34px;}

                  .group-product-list{border-bottom:1px solid $border-bgcolor-default;padding:5px 0;margin:0;line-height:32px;
                        img{width:65px;max-height:65px;float:left;}
                        .group-item-details{padding-left:20px;padding-right:5px;}
                        .quantity-state{padding-left:10px;font-size:12px;}
                        .dynamic-product-price{font-family:$base-font-family-bold;}
                  }  
                  //Size Attribute Code  
                  .size-attr-table{border-bottom: 1px solid #e1e1e1;border-left: 1px solid #e1e1e1;border-right: 1px solid #e1e1e1;border-radius: 4px;
                      table{
                          thead{border-top:0;}
                                .styled-radio{position:relative;width:25px;height:30px;margin:0 auto;
                               .input-control + .input-label::before{display: block;content: '';position: absolute;top: 5px;left: 0;width: 19px;height: 19px;background-color: #fff;border-radius: 50%;transition: border-color 150ms ease-in;}
                               .input-control{position: absolute;cursor: pointer;opacity: 0;z-index:1;width:19px;height:19px;}
                               .input-label{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;position: relative;display: block;cursor: pointer;padding: 0 6px 3px 28px;font-weight: normal;width: fit-content;width: -moz-fit-content;width: intrinsic;}
                                label{display:block !important;text-align:center}
                       }         
                      .thead {
                          td{text-align:center;background-color: #e1e1e1;font-family: Roboto-Medium,Arial,sans-serif;font-size: 17px;padding: 15px;border: 0;}   
                      }  
                      tbody{text-align:center;border-bottom:0;
                          tr{border-bottom:1px solid $border-bgcolor-default;}
                          tr:last-child{border-bottom:0;}
                      }
                    }          
                  } 
            }
            .wishlist-status .success-msg{padding:2px;}
           .wcn-tier-price table{
                thead{border-top-left-radius:4px;border-top-right-radius:4px;border:0;
                    .thead td{text-align:center;background-color:#e1e1e1;font-family:$base-font-family-medium;font-size:17px;padding:15px;border:0;border-top-left-radius:4px;border-top-right-radius:4px;}
                }
                tbody{border:0;
                    .sub-head td{font-family:$base-font-family-bold;font-size:15px;color:$base-color-secondary !important;}
                    td{padding-left:10px;}
                    td:nth-child(3){color:#008300;}
                }                
            } 
            
           .wcn-tier-price{
               .bulk-pricing-table {border-bottom:1px solid $border-bgcolor-default;border-left:1px solid $border-bgcolor-default;border-right:1px solid $border-bgcolor-default;border-radius:4px;}
               .bulk-pricing-table.bulk-view-more{border-bottom:none;}
                .modal{padding-right:0!important;
                   .modal-dialog{top:19vh;
                        .modal-header{border-top-left-radius:4px;border-top-right-radius:4px;background-color:$border-bgcolor-default;
                            .close{color:$base-color-black;}
                            h4{color:$base-color-black;text-align:center;}
                        }
                        .modal-body{
                            thead{
                                tr{
                                    th{font-family:$base-font-family-bold;}
                                }
                            }
                        }
                        .modal-footer{border-radius: 5px;
                            .close{opacity: 1;text-shadow: none;color: $base-color-primary;width: 100%;border: 1px solid;
                                   &:hover{background-color:$base-color-white;}
                            }
                        }
                   }
                }
                
           } 
                       
        }
}
.longDescription {height:80px;overflow:hidden;
    &.dynamicHeight {height:auto;}
}
// Customer Review
.write-review .form-group{float:left;width:100%;}
.write-review .setrating{
    input {position: absolute;top: 0;left: -9999px;}
    label{cursor:pointer;}    
} 
.write-review {
    .write-review-button{ button{width:49%;margin:0;}
                          a{width:49%;margin:0 0 0 4px;}
    }
} 
.compare-product-popup input{padding:0 20px;}
// PDP Static Bar.
.wcn-static-bar{position:fixed;top:110px;left:0;right:0;width:100%;min-height:78px;background-color:$base-color-white;z-index:1024;visibility:hidden;opacity:0;transition:opacity 0.5s linear;-webkit-transition:opacity 0.5s linear;-moz-transition:opacity 0.3s linear;padding:10px 80px;
   .wcn-padding{padding-top:4px;}
   .wcn-tab{display: table-cell;vertical-align: middle;padding:10px 0;}
   .wcn-tab .tab-panel-heading {
            display:flex; align-items:center;
           a:hover{color:$base-color-primary;}
          .active a{color: $base-color-primary !important;}
         li {list-style: none;display: inline-block;white-space:nowrap;text-transform: capitalize;font-size: 21px;font-family:$base-font-family-bold;color:$base-color-secondary;
             &:last-child{overflow:hidden; text-overflow:ellipsis;}
         }
         a{text-transform: capitalize;font-size: 21px;font-family:$base-font-family;color:$base-color-secondary;cursor:pointer;
           .zf-wcn-arrow-right{font-size:11px;font-weight:600;padding-left:10px;}
         }
         .product-details{display:flex; align-items:center;}
 }
   .btn-wishlist{display: inline-block;background-color: transparent;border: 0;font-family:$base-font-family;text-align: center;line-height: 1;height: 48px;font-size: 10px;vertical-align: bottom;padding: 0;margin-left: 12px;
                 i{display: block;font-size:$base-font-size+6;}
   }
   .product-price{float:left;
              h2{line-height:45px;padding-right:15px;font-size:26px;color:#cc0000;font-family:$base-font-family-bold;}
              .wcn-uom{font-family:$base-font-family;font-size:12px;text-transform:lowercase;color:$base-color-secondary !important;}
              .black-price{color:$base-color-secondary;}
    }
   .btn-add-to-cart .error-msg{display:none !important;}
}
.stick{visibility:visible;opacity:1;box-shadow:5px 5px 10px 0 #b9b9b9;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}

//Sticky Notification bar
.sticky-bar{visibility: visible;opacity: 1;box-shadow: 5px 5px 10px 0 #b9b9b9;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px; min-height:55px !important;
    .image{width:55px;height:55px;border:2px solid $success-msg-fgcolor;float:left;display:block;}
    .wcn-product-detail{
        div{display:inline-block;font-size:$base-font-size + 1;vertical-align:middle;line-height:56px;
                 span{border-right:1px solid $border-bgcolor-default;padding:0 15px;}
                  .sku-label {border-right:none;padding:0}
                  .addtocart-label{color:$success-msg-fgcolor;font-weight:bold;padding-left:10px;}                                                      
        }        
    }   
   .zf-active{color:$success-msg-fgcolor;font-size:18px;}
   .close-btn{line-height:32px;vertical-align:middle;color:$base-color-primary;font-size:22px;cursor:pointer;}                                                    
   .checkout-btn{margin:0 10px;}
   .wcn-product-info {display:flex;align-items:center;justify-content:flex-start;
        .btn{height:38px;line-height:22px;}
    }
}

.wcn-product-info-btn{justify-content:flex-end !important;}
.big-view-template .product-view-details .product-info .product-variations .product-customize .color-swatch li .swatch-tick {top: -24px;left: -11px;}
@import "widgets/_tabs.scss";
@import "widgets/_image-zoom.scss";

// Media Query
@include screensize(x-small) {
.desktop-padding-right{padding-right:0;}
.product-view-details .product-overview {
    .product-bundles ul li{width:48%;}
    .overview-small-view{padding:0;}       
}
.product-view-details .product-info{
    .product-variations .product-customize .group-product-list .group-item-details{padding-left:5px;padding-right:5px;}    
    .personlised-attribute{
            input[type="text"]{width:75%;}
    }
}
.write-review {
    .write-review-button{ button{width:100%;margin:0;}
                          a{width:100%;margin:5px 0px;}
    }
} 

  // PDP Static Bar.
    .wcn-static-bar{display:none;}

    .medium-view-template,.big-view-template{
        .product-view-details{padding:0 15px;
            #divproductview{padding:0;}
            .wcn-image-view{padding-right:0;
                .easyzoom{
                    .easyzoom-img{
                        img{max-height:505px;margin:auto;width:100%;}
                    }
                }
            }
            .product-overview{
                .product-name{padding-top:15px;}
                .btn-add-to-cart{
                    .btn-lable{padding:6px 0;min-width:180px;}
                }
            }
            .wcn-product-details-tabs{padding-right:0;
                .wcn-tab{display:none;
                    .tab-panel-heading{
                        li{display:block;border-left:none;}
                    }
                }
                .wcn-tab-panel{
                    .panel-body{
                        .inner-container{padding:20px 0;
                            //  Hide Content to be shown on read more button click
                            ul{display:none;padding-left:20px;}
                            .morecontent span{display: none;}
                            .ask-que-button{
                                .btn-text{margin-left: 0;min-width: 100%;line-height:49px;}
                            }
                        }
                    }
                }
                .panel-products-link{
                    &.active .inner-container-panel .product-list-widget h2{color:$base-color-primary;}
                    .inner-container-panel{border:1px solid $border-bgcolor-default;border-radius:4px;
                        .product-list-widget{
                            .owl-buttons{padding:15px 0;}
                             h2{padding:15px 0;text-transform:capitalize;font-size:$base-font-size + 8;font-family:$base-font-family-bold;color:$base-color-black;text-align:center;}
                             .product-img:hover{box-shadow:1px 1px 15px #c6c6c6;}
                         }                     
                    }
                }
            }
        }
    }
    .product-details.product-detail-info{text-align:center;}
    .wcn-tier-price table tbody .sub-head td , .wcn-tier-price .modal .modal-dialog .modal-body thead tr th{width:37%;}

    .sticky-bar{display:block !important;padding:5px 0 !important;top:102px;
        .wcn-product-info-btn button{display:none;}
        .wcn-product-detail div{line-height:34px;
            .sku-label{padding-left:10px !important;}
            span{border-right:none;}
        } 
        .wcn-padding{padding-top:0;}
        .close-btn{position:relative;right:0;top:22px;}
    }

}
@include screensize(xl-small) {
    .write-review {
        .write-review-button{ button{width:49%;margin:0;}
                            a{width:49%;margin:0 0 0 4px;}
        }
    }
    .wcn-tier-price table tbody .sub-head td , .wcn-tier-price .modal .modal-dialog .modal-body thead tr th{width:40%;}
    .sticky-bar .close-btn{top:15px;}
}
@include screensize(small) {
.product-view-details{padding:0;}
.product-view-details .product-overview {
    .product-bundles ul li{width:24%;}    
}
.product-view-details .product-info{
    .product-variations .product-customize .group-product-list .group-item-details{padding-left:20px;}
    // Personlised Attributs
    .personlised-attribute{
            input[type="text"]{width:50%;}
    }
}
.write-review {
    .write-review-button{ button{width:49%;margin:0;}
                        a{width:49%;margin:0 0 0 4px;}
    }
} 
 .product-details.product-detail-info{text-align:left;}
 
    .medium-view-template,.big-view-template{
        .product-view-details{padding:0;            
            #divproductview{padding:0 15px;}
            .product-overview{
                .btn-add-to-cart{
                    .btn-lable{padding:6px 30px 6px 40px;min-width:250px;}
                }
            }
            .wcn-product-details-tabs{
                .wcn-tab{display:block;
                    .tab-panel-heading{
                        li{display:inline-block;border-left: 1px solid $border-bgcolor-default;
                           &:first-child{border-left:none;}
                        }
                    }
                }
                .wcn-tab-panel{
                    .panel-body{
                        .inner-container{padding:20px;
                            //  Remmove read more in desktop and tablet
                            .moreellipses, .morelink{display:none !important;}
                            ul{display:block;}
                            .morecontent span{display:inline !important;}
                            .ask-que-button{
                                .btn-text{margin-left: 5px;min-width: 340px;line-height:49px;}
                            }
                        }
                    }
                }
            }
        }
    }
    .wcn-tier-price .modal .modal-dialog .modal-body thead tr th{width:43%;}
    .wcn-tier-price table tbody .sub-head td{width:39%;}
    .sticky-bar{top:106px;
        .wcn-product-detail div{line-height:34px;
            .sku-label{padding-left:0 !important;}
            span{border-right:1px solid $border-bgcolor-default;}
        } 
        .wcn-padding{padding-top:4px;}
    }
}

@include screensize(medium) {
    .desktop-padding-right{padding-right:15px;}
    .product-view-details .product-overview {padding-left:10px;
        .overview-small-view{padding:0 5px 0 0;}
    }
    // PDP Static Bar.
    .wcn-static-bar{padding:10px;min-height:78px;display:block;
        .wcn-padding {padding-top: 4px;}
        .wcn-tab{
             .tab-panel-heading{
                  a{font-size:21px;}
             }
        }
        .pull-right.padding-right{padding-right:20px;
            .product-price{
                h2{padding-right: 15px;}
            }
            .btn-add-to-cart{
                button.btn-lable{padding:6px 30px 6px 40px;}
            }
            .btn-wishlist{margin-left:13px;}
        }
    }
    .medium-view-template ,.big-view-template{
        .breadcrumb-container{padding-left:2px;}
        .product-view-details{
            .wcn-image-view{padding-right: 60px;}
            .wcn-product-details-tabs{padding-right:20px;
                .panel-products-link{
                    .inner-container-panel{
                        .product-list-widget{
                            .owl-buttons{display:none;}
                             .Link_Products_Widget .owl-wrapper-outer .owl-wrapper{width:100%!important;transform:none!important;transition:none!important;
                                .owl-item{width:100%!important;display:none;transform:none!important;transition:none!important;
                                    &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){display:block;}
                                }
                             }
                         }
                    }
                }
            }
            .product-overview{
                .product-name{padding-top:0px;}
            }
        }
    }
    .related-products{ 
        .product-list-widget{
            .owl-theme{
                .owl-wrapper {width: 100%!important;transform: none!important;transition: none!important;
                    .owl-item {width: 100%!important;display:none;
                        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){display:block;}
                    }
                }
            }
        }
    }
    .wcn-tier-price .bulk-pricing-table .table tbody .sub-head td{width:36%;}
    .sticky-bar{top:109px;
        .wcn-product-info-btn button{display:inline-block;}
        .close-btn{top:0;}
    } 
    .longDescription {height:auto;}
}

@include screensize(desktop){
    // PDP Static Bar.
    .wcn-static-bar{padding:10px 80px;}
    .wcn-tier-price .bulk-pricing-table .table tbody .sub-head td{width:39%;}
}

@media print{
    .btn-text, .product-view-details .product-rating a,.header-nav {display:none;}
    .product-details-tab .nav-tabs > li.active > a, .product-details-tab .nav-tabs > li.active > a:hover, .product-details-tab .nav-tabs > li.active > a:focus {font-family:$base-font-family-bold;}
    .product-details-tab ul li {width:auto;
        a{font-weight:normal;}
    }
}
@include screensize(xl-small-max){
    .fast-imprinting-more{display:block;}
}