﻿@import "_base.scss";

// Product List Widgets.
.template-product-list{padding:10px;display:inline-block;
    .item{float:left;min-width:25%;text-align:center;}
} 

.default-template .product-list-widget .owl-theme .owl-controls{position:static;margin-bottom:10px;}

@include screensize(x-small) {
    .wcn-std{padding:0 15px;
        ul{padding-left:25px;}
        img{width:100%;}
    }
    .page-404{
        .text-404{position:absolute;top:0;left:0;width:100%;
            .wcn-404{width:265px;margin:auto;margin-top:30px;
                .page-title{font-size:26px;margin:12px 0;text-transform:capitalize;}
                .page-text{line-height:22px;}
            }
        }
        img{width:100%;}
    }
}

@include screensize(xl-small) {
    .page-404 .text-404 .wcn-404{margin-top:40px;}
}

@include screensize(small) {
    .page-404 .text-404 .wcn-404{margin:15px;}
}

@include screensize(medium){
    .wcn-std{padding:0;}
    .page-404 .text-404 .wcn-404{margin:0;margin-top:20px;width:300px;float:right;}
}

@include screensize(desktop){
    .page-404 .text-404 .wcn-404{width:350px;}
}
