﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@using CaptchaMvc.HtmlHelpers
@using Znode.Libraries.Resources
@model CaseRequestViewModel
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    ViewBag.Title = "Contact Us";
    Layout = @_fileLocation + "/Views/Shared/_Layout.cshtml";
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool hasError = (Model?.HasError).GetValueOrDefault();
}
<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.LinkTextContactus</h1>
            </div>

            <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
                @using (Html.BeginForm("contactus", "WCNCaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                {

                    @Html.AntiForgeryToken()
                    <p class="margin-bottom">@WebStore_Resources.HeaderTextContactUs</p>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                            <span id="valFirstNameErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelLastName, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName" })
                            @Html.ValidationMessageFor(model => model.LastName)
                            <span id="valLastNameErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.ColumnCompanyName)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100 })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail" })
                            <span id="valEmailErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(WebStore_Resources.LabelPhoneNumber, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum" })
                            <span id="valPhoneNumErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(x => x.Description, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.Description, new { @id = "valComment" })
                            <span id="valCommentErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div id="div-captcha">
                        @Html.Partial(_fileLocation + "/Views/Shared/_Captcha.cshtml")
                    </div>

                    if (hasError && !string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="col-xs-12 nopadding" id="contact-captcha">
                            @Html.ValidationMessage("", Model.ErrorMessage, new { @style = "color:#c00" })
                        </div>
                    }

                    <div class="form-group">
                        <div class="pull-right margin-top-bottom">
                            <button type="submit" class="btn btn-default btn-text red" id="contact-us">@WebStore_Resources.ButtonSubmit</button>
                            <a href="/Home/Index" class="btn btn-tertiary btn-text grey">@WebStore_Resources.ButtonCancel</a>
                        </div>
                    </div>

                }
                @if (!hasError && Model?.CaseRequestID > 0)
                {
                    <div class="col-xs-12 nopadding">
                        @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                    </div>
                }
                else if (hasError && string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="col-xs-12 nopadding">
                        @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                    </div>
                }
            </div>
            <div class="col-xs-12 col-md-5 col-lg-6 nopadding">
                <z-widget>@Html.WidgetPartial("TextEditor", "ContactInfo", "7892", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
    </div>
</div>
<script>
    $("#frmCreateCaseRequest").submit(function (event) {
        var captcha = $("#CaptchaInputText").val();
        if (typeof captcha != undefined && captcha != null && captcha != "") {
            $("#contact-us").prop("disabled", true).addClass("disabled");
        }
        $("#contact-captcha").html("");
    });
</script>